{% load core %}
<div id="{{ formset.prefix }}_formset" class="inline_formset">
    {{ formset.management_form }}
    {% for form in formset.forms %}
        <ol class="form">
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form %}
                {% if not field.is_hidden %}
                    <li class="{{ field.field|type_name }}{% if field.field.required %} required{% endif %}">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                        <span class="errors">
                            {{ field.errors }}
                        </span>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ol>
    {% endfor%}
</div>
