{% extends 'core.html' %}
{% load i18n %}

{% block headertitle %}{% trans "medical_categories" %}{% endblock %}

{% block content %}


<div class="container">
    <button class="btn btn-primary mr-3" onclick="window.location='/core/medical-category/new'">{% trans "create_new_category" %}</button>

    {% include 'paginator.html' with page=medical_category %}
    <ul class="list-group mb-3">
        {% for singleCategory in medical_category %}
            <li class="list-group-item d-block">
                <div class="d-flex justify-content-between">
                    <span>{{ singleCategory.name }} ({{ singleCategory.abbrev }})</span>
                    <div>
                        <button class="btn btn-primary mr-3" onclick="window.location='/core/medical-category/{{ singleCategory.id }}'">{% trans 'edit' %}</button>
                        <button class="btn btn-secondary">{% trans 'Deactivate' %}</button>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>    
    {% include 'paginator.html' with page=medical_category %}

</div>

{% endblock %}