{% extends 'core.html' %}
{% load core i18n %}

{% block title %}ECS Elektronische Einreichung{% endblock %}

{% block headernav %}
    <ul class="tab_header_groups">
        <li>
            <a href="#">{% trans "New Notification" %}</a>
            <ul class="tab_headers">
            {% for tab, fieldsets in tabs %}
                <li><a href="#tabs-{{ forloop.counter }}">{{ tab }}</a></li>
            {% endfor %}
            </ul>
        </li>
    </ul>
    {{ block.super }}
{% endblock %}

{% block headertitle %}
    Neu: {{ notification_type.name }}
{% endblock %}

{% block header_actions %}
    {{ block.super }}
    <div class="header_actions">
      <a href="" id="save-button" class="button_save">{% trans "Save" %}</a>
      <a href="" id="submit-button" class="button_submit">{% trans "Submit" %}</a>
    </div>
{% endblock %}

{% block content %}
<div class="form_main">
<form action="" method="post" enctype="multipart/form-data">
    <div id="tabs">
        {% for tab, fieldsets in tabs %}
            <div id="tabs-{{ forloop.counter }}" class="tab">
                {% ifequal tab "Unterlagen" %}
                    <div class="field">
                        <iframe class="upload" src="{% url ecs.notifications.views.upload_document_for_notification docstash_key=request.docstash.key %}" frameborder=0>{% trans "Your browser does not support iframes." %}</iframe>
                    </div>
                {% endifequal %}
                
                {% ifequal tab "Änderungen" %}
                    <div class="field">
                        {{ request.docstash.extra.diff|safe }}
                    </div>
                {% endifequal %}
                
                {% for legend, fields in fieldsets %}
                    <div class="fieldset_{{ forloop.counter }}">
                        {% if legend %}
                            <h3>{{ legend }}</h3>
                        {% endif %}
                        <ol>
                            {% for field_name in fields %}
                                {% with form|getitem:field_name as field %}
                                    {% include "forms/field.html" %}
                                {% endwith %}
                            {% endfor %}
                        </ol>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <input type="submit" value="submit" name="submit" class="hidden" />
    <input type="submit" value="validate" name="validate" class="hidden" />
</form>
</div>
{% endblock %}

{% block menuSelection %}notifications{% endblock %}
{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript">
        window.addEvent('domready', function(){
            ecs.setupForms();
            $('save-button').addEvent('click', function(){
                ecs.mainForm.save(true);
                return false;
            });
            $('submit-button').addEvent('click', function(){
                ecs.mainForm.submit('submit');
                return false;
            });

            $$('*[widgeturl]').each(function(w){
                var widgeturl = w.getAttribute('widgeturl');
                new ecs.widgets.Widget(w, {url: widgeturl});
            }, this);

            var submissionFormsSelect = $('id_submission_forms');
            var submissionFormSelect = $('id_submission_form');
            var submissionDataDisplay = new Element('div', {'class': 'submission_data'});
            if(submissionFormSelect || submissionFormsSelect){
                (submissionFormSelect || submissionFormsSelect).getParent('li').grab(submissionDataDisplay);
            }

            function loadSubmissionFormData(pks){
                var request = new Request.HTML({
                    url: '{% url ecs.notifications.views.submission_data_for_notification %}',
                    data: 'submission_form=' + pks.join('&submission_form='),
                    method: 'get',
                    evalScripts: false,
                    update: submissionDataDisplay
                });
                request.send();
            }
            if(submissionFormsSelect){
                submissionFormsSelect.addEvent('change', function(){
                    loadSubmissionFormData(submissionFormsSelect.getSelected().map(function(option){
                        return option.value;
                    }));
                });
                submissionFormsSelect.fireEvent('change');
            }
            if(submissionFormSelect){
                submissionFormSelect.addEvent('change', function(){
                    loadSubmissionFormData([submissionFormSelect.value])
                });
                submissionFormSelect.fireEvent('change');
            }

            ecs.setupDocumentUploadIframe();
        });
    </script>
{% endblock %}

