{% extends 'core.html' %}
{% load core i18n %}

{% block htmltitle %}{{ title }} | {{ block.super }}{% endblock %}

{% block headertitle %}{{ title }}{% endblock %}

{% block headernav %}
{% endblock %}

{% block content %}
<div class="container">

    {% if stashed_notifications %}
    <div>
      <h4 class="my-1">Nicht eingereichte Meldungen</h4>
      {% include 'notifications/stashed_notification_list.html' %}
    </div>
    {% endif %}

    <ul class="list-group">
        {% for notification in notifs %}
            <li class="list-group-item">
                <h5>{{ notification.timestamp|date:'d.m.Y' }}
                    <a href="{% url 'ecs.notifications.views.view_notification' notification_pk=notification.pk %}">
                        <strong>{{ notification.short_name }}</strong>
                    </a>
                </h5>
                <ul class="list-unstyled">
                {% for submission_form in notification.submission_forms.all %}
                    <li>
                        <a href="{% url 'readonly_submission_form' submission_form_pk=submission_form.pk %}">
                            {{ submission_form.submission|ec_number }}
                        </a>
                        {{ submission_form.german_project_title|default:submission_form.project_title }}
                    </li>
                {% endfor %}
                </ul>
            </li>
        {% empty %}
            <li class="list-group-item text-xs-center">
                <em>{% trans 'There are no notifications yet.' %}</em>
            </li>
        {% endfor %}
    </ul>

</div>
{% endblock %}

{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript">
        $(function(){
            $('a.delete_docstash').click(function(ev) {
                ev.preventDefault();
                var href = $(this).attr('href');
                ecs.confirm({
                    question: '{% trans 'Do you want to delete the notification draft?' %}',
                    ok: '{{ _("Delete")|escapejs }}',
                    cancel: '{{ _("Don't Delete")|escapejs }}',
                    success: function() {
                        window.location.href = href;
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block menuSelection %}notifications{% endblock %}
