{% extends 'core.html' %}
{% load i18n %}

{% block htmltitle %}{% trans "New Notification" %} | {{ block.super }}{% endblock %}

{% block headertitle %}
  Neue Meldung zur laufenden Studie(n)
{% endblock %}

{% block content %}
    <ul>
    {% for notification_type in notification_types %}
        <li><a href="{% url ecs.notifications.views.create_notification notification_type_pk=notification_type.pk %}">{{ notification_type.name }}</a></li>
    {% endfor %}
    </ul>
    
    <div class="info">
        <span class="icon_comment"></span>Um eine Protokolländerung zu machen, gehen Sie in die betreffende Studie und klicken Sie auf den Knopf Amendment.
    </div>
{% endblock %}

{% block menuSelection %}notifications{% endblock %}
