{% if submission_forms %}
<table class="notif_meta" style="clear:both">
    <tr><th>Studie</th><th>Protokoll Nr.</th><th>EudraCT-Nr.</th><th>Ethik-Kommission</th><th>Prüfer</th></tr>
    {% for submission_form in submission_forms %}
        <tr>
           <td><a href="{% url ecs.core.views.view_submission submission_pk=submission_form.submission.pk %}{% if not notification.answer %}#pending_notifications_tab{% else %}#answered_notifications_tab{% endif %}">{{ submission_form.submission }} {{ submission_form.project_title_display }}</a></td>
           <td>{{ submission_form.submission.current_submission_form.protocol_number|default:'<em>nicht vorhanden</em>' }}</td>
           <td>{{ submission_form.submission.current_submission_form.eudract_number|default:'<em>nicht vorhanden</em>' }}</td>
           <td>{{ submission_form.submission.main_ethics_commission }}</td>
           <td>{{ submission_form.submission.primary_investigator.contact }}</td>
        </tr>
    {% endfor %}
</table>
{% endif %}
