{% extends "submissions/readonly_form.html" %}
{% load core %} 

{% block headertitle %}
  <div id="info" style="display: none;"></div>
{% endblock %}

{% block tab_headers %}
    <li><a href="#checklist_review_tab">{{ checklist_name }} Review</a></li>
    {{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}
    <div id="checklist_review_tab" class="tab">
        <form action="" method="post">

	    <span class="checklist_name">Checkliste {{ checklist_name }}<span>

            <table>
                {{ checklist_review_form }}
            </table>

            <input type="submit" value="Speichern" />
        </form>
    </div>
{% endblock %}

{% block jsbottom %}
    {{ block.super }}
{% endblock %}
