{% load feedback %}

{% url feedback_input type page as fb_url %}

<hr>
page: {{ page }}
pages: {{ pages }}
<hr>

<title>Feedback</title>

<h1>Feedback: Teilen Sie {{ type|fb_type_your }} {{ type|fb_type }} mit</h1>

<form action="{{ fb_url }}" method="post" enctype="multipart/form-data" class="main">

  <div class="fb_new">

    <div class="fb_types">
  {% for t in types %}
    {% ifequal type t %}
      <div class="fb_type_selected"><img src="{{ MEDIA_URL }}images/feedback.png" alt="Feedback {{ t|fb_type }}"/>{{ t|fb_type }}</div>
    {% else %}
      <div class="fb_type"><a href="{% url feedback_input t page %}" id="idea-button"><img src="{{ MEDIA_URL }}images/feedback.png" alt="Feedback {{ t|fb_type }}"/>{{ t|fb_type }}</a></div>
    {% endifequal %}
  {% endfor %}
    </div>

    <div><textarea id="description" cols="30" rows="6" name="description">Beschreibung {{ type|fb_type_of_your }}</textarea></div>

    <div><input id="summary" type="text" size="30" maxlength="80" name="summary" value="Zusammenfassung" /></div>

    <div><input type="submit" value="Abschicken" name="submit" /></div>
  </div>

  <div class="fb_old">
    <div class="fb_list_top"><h2>{{ type|fb_type_many }} anderer Benutzer</h2></div>
  {% if list %}
    <div class="fb_list">
    {% for fb in list %}
      <div class="fb_summary">
        {{ fb.index }}. {{ fb.summary }}
      {% ifequal fb.me2 'yours' %}
	<div class="fb_yours">von Ihnen</div>
      {% endifequal %}
      {% ifequal fb.me2 'u2' %}
        <div class="fb_u2">Sie auch!</div>
      {% endifequal %}
      {% ifequal fb.me2 'me2' %}
	<div class="fb_me2"><a href="" id="me2">Ich auch!</a></div>
      {% endifequal %}
      </div>
      <div class="fb_description">{{ fb.description }}</div>
      <div class="fb_others">X Personen gefällt {{ type|fb_type_this }}</div>
      <div class="fb_separator"><hr></div>
    {% endfor %}
    </div>
    <div class="fb_bottom">
    {% if page|greater:'1' %}
      <div class="fb_nav"><a href="{% url feedback_input type page|add:'-1' %}" id="prev-button"><img src="{{ MEDIA_URL }}images/feedback.png" alt="prev"/>prev</a></div>
    {% endif %}
    {% if page|less:pages %}
      <div class="fb_nav"><a href="{% url feedback_input type page|add:'1'%}" id="next-button"><img src="{{ MEDIA_URL }}images/feedback.png" alt="next"/>next</a></div>
    {% endif %}
      Seite {{ page }} von {{ pages }}
    </div>
  {% else %}
    <div class="fb_nolist">
      Keine {{ type|fb_type_many }} anderer Benutzer.
    </div>
  {% endif %}
  </div>

</form>

