<!-- feedback input -->

{% load feedback %}
{% url feedback_input type page origin as fb_url %}

<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}feedback/css/feedback.css" />
  <title>Feedback Eingabe</title>
</head>

<body>

<span class="fb_title">Feedback: Teilen Sie {{ type|fb_type_your }} {{ type|fb_type }} mit</span>

<form action="{{ fb_url }}" method="post" enctype="multipart/form-data" class="main">

  <div class="fb_new">
    <ol class="fb_types">
  {% for t in types %}
    {% ifequal type t %}
      <li class="fb_type_{{ t }} fb_type_selected">{{ t|fb_type }}</li>
    {% else %}
      <li class="fb_type_{{ t }}"><a href="{% url feedback_input t 1 origin %}">{{ t|fb_type }}</a></li>
    {% endifequal %}
  {% endfor %}
    </ol>
    <ol class="fb_form">
      <li><textarea id="description" cols="30" rows="6" name="description">Beschreibung {{ type|fb_type_of_your }}</textarea></li>
      <li><input id="summary" type="text" size="30" maxlength="80" name="summary" value="Zusammenfassung" /></li>
      <li><input type="submit" value="Abschicken" name="submit" /></li>
    </ol>
  </div>

  <ol class="fb_old">
    <li class="fb_list_top">{{ type|fb_type_many }} anderer Benutzer</li>
    <li class="fb_separator"><hr></li>
  {% if list %}
    <li class="fb_list">
    {% for fb in list %}
      <span class="fb_summary">{{ fb.index }}. {{ fb.summary }}</span>
    {% ifequal fb.me2 'yours' %}
      <span class="fb_yours">(von Ihnen)</span>
    {% endifequal %}
    {% ifequal fb.me2 'u2' %}
      <span class="fb_u2">(Sie auch!)</span>
    {% endifequal %}
    {% ifequal fb.me2 'me2' %}
      <span class="fb_me2">&lt;<a href="" id="me2">Ich auch!</a>|</div>
    {% endifequal %}
      <br/>
      <span class="fb_description">{{ fb.description }}</span>
      <br/>
      <span class="fb_others">{{ fb.count|fb_count_persons }} gefällt {{ type|fb_type_this }}</span>
      <span class="fb_separator"><hr></span>
    </li>
    {% endfor %}
    <li class="fb_bottom">
    {% if page|greater:1 %}
      <span class="fb_nav_prev"><a href="{% url feedback_input type page|add:'-1' origin %}"></a></span>
    {% endif %}
    {% if page|less:pages %}
      <span class="fb_nav_next"><a href="{% url feedback_input type page|add:'1' origin %}"></a></span>
    {% endif %}
      <span class="fb_nav_info">Seite {{ page }} von {{ pages }} ({{ items }} {{ type|fb_type_items:items }} insgesamt)</span>
    </li>
  {% else %}
    <li class="fb_nolist">
      Keine {{ type|fb_type_many }} anderer Benutzer.
    </li>
  {% endif %}
  </ol>

</form>

</body>

</html>
