<!-- feedback origins -->

{% load feedback %}

<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}feedback/css/feedback.css" />
  <title>Feedback Origins</title>
</head>

<body>
  <span class="fb_title">Übersicht: Feedback nach Herkunft</span>

  <ol>
  {% for item in list %}
    <li class="fb_field">
      <div class="fb_field_name">
        <a href="{% url feedback_input 'i' 1 item.origin %}">{{ item.origin|fb_origin }}</a>
      </div>
      <div class="fb_field_value">
        <ol>
        {% for type, count in item.stats %}
          <li>{{ count }} {{ type|fb_type_items:count }}</li>
        {% endfor %}
        </ol>
      </div>
    </li>
  {% empty %}
    <li class="fb_field">Es scheint kein Feedback vorhanden zu sein.</li>
  {% endfor %}
  </ol>

</body>

</html>

