/* 
 * core.css 
 */

body {
  color: black; background-color: white;
  font-size: 100%;
  font-family: Helvetica,Arial,sans-serif;
  margin: 0; padding: 1em;
}

/* CSS layouts for the various Django boxes */

/*
 * header
 */

div#header {
  font-size: 0.9em;
  margin: 0; padding: 0.1em;
  text-align: center;
  background-color: #ddf; 
  border: 1px solid silver;
}


/*
 * footer
 */

div#footer {
  clear: both;
  font-size: 0.9em;
  margin: 0; padding: 0.1em;
  text-align: center;
  background-color: #ddf; 
  border: 1px solid silver;
}


/* 
 * sidebar
 */

div#sidebar {
  font-size: 0.91em;
  float: left; width: 22em;
  margin: 0; padding: 0;
  border: 1px dashed silver;
}
div#sidebar li {
  list-style: none;
  margin: 0; padding: 0.25em;
}
div#sidebar a {
  display: block;
  padding: 0.2em;
  font-weight: bold;
}
div#sidebar a:link {
  color: black; background-color: #eee;
}
div#sidebar a:visited {
  color: #666; background-color: #eee;
}
div#sidebar a:hover {
  color: black; background-color: white;
}
div#sidebar a:active {
  color: white; background-color: gray;
}


/*
 * content
 */

div#content {
  margin-left: 22em;
  padding: 0 1em;
  border: 1px dashed silver;
  min-width: 16em;
}
div#content h1 {
  font-size: 1.5em;
  margin: 0 0 1em;
}
div#content h2 {
  font-size: 1.2em;
  margin: 0 0 1em;
}
div#content p {
  font-size: 1em;
  margin: 1em 0;
}


/*
 * head
 */

div#head {
  float: both;
  padding: 0 1em;
  border: 1px dashed silver;
  min-width: 16em;
}


/*
 * notification stuff
 */

div#n1s1 {
  float: left;
  padding: 1em 2em;
  border: 1px dashed silver;
}

div#n1s2 {
  float: left;
  padding: 1em 2em;
  border: 1px dashed silver;
}

div#n1s3 {
  float: left;
  padding: 1em 2em;
  border: 1px dashed silver;
}


div#n2s1 {
  padding: 1em 2em;
  border: 1px dashed silver;
}

div#n2s2 {
  padding: 1em 2em;
  border: 1px dashed silver;
}

div#n2s3 {
  padding: 1em 2em;
  border: 1px dashed silver;
}


div#n3s1 {
  padding: 1em 2em;
  border: 1px dashed silver;
}

div#n3s2 {
  padding: 1em 2em;
  border: 1px dashed silver;
}

div#n3s3 {
  padding: 1em 2em;
  border: 1px dashed silver;
}

div#n3s4 {
  padding: 1em 2em;
  border: 1px dashed silver;
}

div#n3s5 {
  padding: 1em 2em;
  border: 1px dashed silver;
}


