/* Created by Arian Stolwijk <http://www.aryweb.nl> */

.MooDialog {
  top: 80px !important;
	background: #fff !important;
	color: black;
	padding: 10px;
	border-radius: 7px; 
	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px; 
	border-radius: 7px; 
	-moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.8);
	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.8);
	box-shadow: 1px 1px 5px rgba(0,0,0,0.8);
}

.MooDialogTitle {
	padding-top: 30px;
}

.MooDialog .title {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 5px 20px;
	background: #B7D4E5;
	font-weight: bold; 
	color: black;
	border-top-left-radius: 7px;
  border-top-left-radius: 7px; 
	-moz-border-radius-topleft: 7px;
  -moz-border-radius-topright: 7px;
	-webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;  
}

.MooDialog .close {
	background: url("/static/images/icons.png") no-repeat scroll 0 -192px transparent;
	width: 16px;
	height: 16px;
	display: block;
	cursor: pointer;
	top: 5px;
  right: 10px;
	position: absolute;
}

.MooDialog .buttons {
	text-align: right;
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
}

.MooDialog .MooDialogAlert, .MooDialog .MooDialogConfirm, .MooDialog .MooDialogPromt, .MooDialog .MooDialogError {
	background: url(dialog-warning.png) no-repeat;
	padding-left: 40px;
	min-height: 40px;
}

.MooDialog .MooDialogConfirm, .MooDialog .MooDialogPromt {
	background: url(dialog-question.png) no-repeat;
}

.MooDialog .MooDialogError {
	background: url(dialog-error.png) no-repeat;
}

