{% load i18n %}

{% with tags=submission.tags.all %}
    {% if tags %}
        {% include 'tags/list.inc' with tags=tags only %}
    {% else %}
        <em>{% trans 'No tags yet.' %}</em>
    {% endif %}
{% endwith %}

<a data-toggle="collapse" href="#tag_assign_form">
    <span class="fa fa-pencil"></span>
    {% trans 'edit' %}
</a>

<div id="tag_assign_form" class="collapse">
    <form action="{{ request.path }}" method="POST" class="open-in-widget">
        {% csrf_token %}
        {{ form.tags }}
        <input type="submit" class="btn btn-primary submit-in-widget" value="{% trans 'save' %}"/>
    </form>
</div>

<script type="text/javascript">
    /*
     * Initialize select2 the first time the form is shown. Otherwise
     * select2 exhibits display bugs due to the target element not being
     * visible.
     */
    $('#tag_assign_form').one('shown.bs.collapse', function() {
        $('#{{ form.tags.id_for_label|escapejs }}').select2({'width': '100%'});
    });
</script>
