{% load i18n %}

{% with tags=submission.tags.all %}
    {% if tags %}
        {% include 'tags/list.inc' with tags=tags only %}
    {% else %}
        <em>{% trans 'No tags yet.' %}</em>
    {% endif %}
{% endwith %}

<a data-toggle="collapse" href="#tag_assign_form">
    <span class="fa fa-pencil"></span>
    {% trans 'edit' %}
</a>

<div id="tag_assign_form" class="collapse">
    <form action="{{ request.path }}" method="POST" class="open-in-widget">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-9">
                {{ form.tags }}
            </div>
            <div class="col-md-3">
                <input type="submit" class="btn btn-primary btn-block submit-in-widget" value="{% trans 'save' %}"/>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    (function() {
        var input = $('#{{ form.tags.id_for_label }}');
        input.select2({
            width: '100%',
            dropdownParent: input.parent(),
        });
    })();
</script>
