{% load core i18n %}

{% include 'documents/compact_list.html' %}

<div class="form">
    <form action="{{ action }}" method="post" enctype="multipart/form-data" class='document_upload'>
        <ol>
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form %}
                {% if not field.is_hidden %}
                    {% include "forms/field.html" %}
                {% endif %}
            {% endfor %}
            <li style="display:none;">
                {% trans "Replaces document" %} <span id="replaced_document_name"></span>
                <a href="" class="new_document">{% trans "New Document" %}</a>
            </li>
        </ol>
        <input type="submit" name="upload" value="Upload" />
    </form>
</div>

<script type="text/javascript"> 
    window.addEvent('domready', function(){
        ecs.setupDocumentUploadForms();
    });
</script>
