{% extends 'documents/compact_list.html' %}
{# context: documents, document_formset #}
{% load pdfviewer i18n %}

{% block actions %}
    {{ block.super }}
    | <a href="" class="delete_document">{% trans "Delete" %}</a>
    <input type="hidden" name="documents" value="{{ doc.pk }}" />
{% endblock %}

{% block document_list %}
    {{ block.super }}
    <div class="form">
        {% with document_form as form %}
        <ol>
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form %}
                {% if not field.is_hidden %}
                    {% include "forms/field.html" %}
                {% endif %}
            {% endfor %}
        </ol>
        {% endwith %}
    </div>
    <input type="submit" id="document_upload_button" name="upload" value="Upload" />
{% endblock %}
