{% extends 'meetings/assistant/base.html' %}
{% load core %}

{% block meeting_assistant_body %}
    <form id="meeting_comments_form" action="{% url ecs.meetings.views.meeting_assistant_comments meeting_pk=meeting.pk %}" method="post" class="open-in-widget">
        {{ form.comments }}
        <input type="submit" value="Speichern und Zurück" />
    </form>

    <script type="text/javascript">
        $(window).addEvent('unload', function(){
            var request = new Request({
                url: '{{ request.path }}',
                data: $extend($('meeting_comments_form').toQueryString().parseQueryString(), {
                    autosave: '1'
                })
            });
            request.send();
        });
    </script>
{% endblock %}
