{% extends 'meetings/assistant/base.html' %}
{% load core i18n %}

{% block meeting_assistant_body %}
    <form action="{% url ecs.meetings.views.meeting_assistant_retrospective_thesis_expedited meeting_pk=meeting.pk %}" method="post" class="open-in-widget">
        <h3>{% trans "Retrospective Thesis Submissions" %}</h3>
        {% if retrospective_thesis_entries %}
          <div class="inline_element odd">
            <h4>{% trans "Approved" %}</h4>
            <ul>
            {% for entry in retrospective_thesis_entries %}
                <li>
                    {{ entry.submission|ec_number }}
                    {{ entry.submission.project_title_display|default:'<i>{% trans "No title." %}</i>' }}
                </li>
            {% endfor %}
            </ul>
          </div>
        {% endif %}
        <div class="inline_element even">
        <h4>{% trans "Not Approved" %}</h4>
          {{ form.retrospective_thesis_entries }}
        </div>

        <h3>{% trans "Expedited Submissions" %}</h3>
        {% if expedited_entries %}
          <div class="inline_element odd">
            <h4>{% trans "Approved" %}</h4>
            <ul>
            {% for entry in expedited_entries %}
                <li>
                    {{ entry.submission|ec_number }}
                    {{ entry.submission.project_title_display|default:'<i>{% trans "No title." %}</i>' }}
                </li>
            {% endfor %}
            </ul>
          </div>
        {% endif %}
        <div class="inline_element even">
        <h4>{% trans "Not Approved" %}</h4>
          {{ form.expedited_entries }}
        </div>

        <h3>{% trans "Local-EC Submissions" %}</h3>
        {% if localec_entries %}
          <div class="inline_element odd">
            <h4>{% trans "Approved" %}</h4>
            <ul>
            {% for entry in localec_entries %}
                <li>
                    {{ entry.submission|ec_number }}
                    {{ entry.submission.project_title_display|default:'<i>{% trans "No title." %}</i>' }}
                </li>
            {% endfor %}
            </ul>
          </div>
        {% endif %}
        <div class="inline_element even">
        <h4>{% trans "Not Approved" %}</h4>
          {{ form.localec_entries }}
        </div>

        <input type="submit" value="{% trans "Approve" %}" />
        <a class="open-in-widget" href="{% url ecs.meetings.views.meeting_assistant meeting_pk=meeting.pk %}">{% trans "Go Back" %}</a>
    </form>
{% endblock %}
