{% extends 'meetings/assistant/base.html' %}
{% load core i18n %}

{% block meeting_assistant_body %}
    <h3>{% trans "Retrospective Thesis Submissions" %}</h3>
    <h4>{% trans "Approved" %}</h4>
    <ul>
    {% for submission in retrospective_thesis_submissions %}
        <li>
            {{ submission|ec_number }}
            {{ submission.project_title_display|default:'<i>{% trans "No title." %}</i>' }}
        </li>
    {% endfor %}
    </ul>
    <h4>{% trans "Not Approved" %}</h4>
    <form action="" method="post">
        {{ form.submissions }}
        <input type="submit" value="{% trans "Approve" %}" />
    </form>
{% endblock %}
