{% extends 'meetings/assistant/base.html' %}
{% load core i18n %}

{% block meeting_assistant_body %}
  <div class="column_main">
    <form id="meeting_assistant_form" action="" method="post">
        <h3>{{ top }}, {{ submission|ec_number|default:top.title }}</h3>
        {{ submission.project_title_display|default:top.title }}
        <span class="meta">
            Geplante Startzeit: {{ top.start|date:'H:i:s' }} Uhr, Geplante Dauer: {{ top.duration|simple_timedelta_format }}
        </span>
    {% if not top.submission %}
        <div class="meeting_assistant_block">
            <div class="block_left">
                {% if top.is_break %}
                    <div style="font-size:80px;color:#cc0000;position:relative">PAUSE<div style="font-size:80px;color:#ff6600;position:absolute;left:-3px;top:-3px">PAUSE</div></div>
                {% endif %}
            </div>
            <div class="block_right">
                <div class="buttons">
                  <ul>
                      <li><a id="complete" href="">Fertig</a></li>
                  </ul>
                </div>
            </div>
        </div>
    {% else %}
        <input id="id_executive_review_required" type="hidden" name="executive_review_required" value="" />
        <input id="id_close_top" type="hidden" name="close_top" value="1" />
        <input id="id_simple_save" type="hidden" name="simple_save" value="" />
          <h3>Votum</h3>
            <div class="meeting_assistant_block">
                          
              <div class="block_left">
                  {% if form.result.errors %}
                      <span class="errors">{{ form.result.errors }}</span>
                  {% endif %}
                  {{ form.result }}
              </div>
  
              <div class="block_right">
      
                <div class="buttons">
                   <ul>
                      <li><a id="complete_executive" href=""{% if vote and not top.is_open and form|form_value:'executive_review_required' %} class="selected"{% endif %}>Fertig<span class="details">Executive Review</span></a></li>
                      <li><a id="complete_office" href=""{% if vote and not top.is_open and not form|form_value:'executive_review_required' %} class="selected"{% endif %}>Fertig<span class="details">Office Review</span></a></li>
                      <li><a id="save" href="">Nur Speichern<span class="details">Nicht abgeschlossen</span></a></li>
                   </ul>
                </div>
              </div>
              
            </div>
            
            {{ form.text }}
            
    {% endif %}

    </form>
            
  </div>
{% endblock %}

{% block meeting_assistant_navigation %}
    {% if top.next_open %}
        <a href="{% url ecs.meetings.views.meeting_assistant_top meeting_pk=meeting.pk,top_pk=top.next_open.pk %}">Nächstes offenes TOP ({{ top.next_open }})</a>
    {% endif %}
    {% if top.previous_open %}
        <a href="{% url ecs.meetings.views.meeting_assistant_top meeting_pk=meeting.pk,top_pk=top.previous_open.pk %}">Vorheriges offenes TOP ({{ top.previous_open }})</a>
    {% endif %}
    {% if top.next %}
        <a href="{% url ecs.meetings.views.meeting_assistant_top meeting_pk=meeting.pk,top_pk=top.next.pk %}">Nächstes TOP ({{ top }})</a>
    {% endif %}
    {% if top.previous %}
        <a href="{% url ecs.meetings.views.meeting_assistant_top meeting_pk=meeting.pk,top_pk=top.previous.pk %}">Vorheriges TOP ({{ top.previous }})</a>
    {% endif %}
    {% if last_top %}
        <a href="{% url ecs.meetings.views.meeting_assistant_top meeting_pk=meeting.pk,top_pk=last_top.pk %}">Letztbesprochenes TOP ({{ last_top }})</a>
    {% endif %}
    {{ block.super }}
{% endblock %}

{% block meeting_assistant_sidebar %}
      <div class="column">
        <div class="reviews">
          <ul>
          {% for blueprint, checklists in checklist_review_states %}
            {% for checklist in checklists %}
              <li class="{{ checklist.is_positive|yesno:'positive,negative' }} {{ checklist.is_complete|yesno:'complete,incomplete' }}">
                  {{ checklist }}
                  {% if checklist.has_positive_comments %}
                      <a class="textblock" href="{% url ecs.core.views.checklist_comments flavour='positive',checklist_pk=checklist.pk %}">copy positive</a>
                  {% endif %}
                  {% if checklist.has_negative_comments %}
                      <a class="textblock" href="{% url ecs.core.views.checklist_comments flavour='negative',checklist_pk=checklist.pk %}">copy negative</a>
                  {% endif %}
              </li>
             {% endfor %}
          {% endfor %}
          </ul>
        </div>
      </div>
{% endblock %}

{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript">
        window.addEvent('domready', function(){
            /* ecs.setupForms(); */ /* do we need this? */
            var meetingAssistantForm = $('meeting_assistant_form');
            {% if not top.submission %}
                $('complete').addEvent('click', function(){
                    meetingAssistantForm.submit();
                    return false;
                });
            {% else %}
                $('complete_executive').addEvent('click', function(){
                    $('id_executive_review_required').value = '1';
                    meetingAssistantForm.submit();
                    return false;
                });
                $('complete_office').addEvent('click', function(){
                    $('id_executive_review_required').value = '0';
                    meetingAssistantForm.submit();
                    return false;
                });
                $('save').addEvent('click', function(){
                    $('id_close_top').value = '0';
                    $('id_simple_save').value = '1';
                    meetingAssistantForm.submit();
                    return false;
                });
                $(window).addEvent('unload', function(){
                    var request = new Request({
                        url: '{{ request.path }}',
                        data: $extend(meetingAssistantForm.toQueryString().parseQueryString(), {
                            autosave: '1',
                            close_top: '0',
                            simple_save: '1'
                        })
                    });
                    request.send();
                });
            {% endif %}
            $$('a.textblock').each(function(link){
                link.addEvent('click', function(){
                    var request = new Request({
                        url: link.href,
                        onSuccess: function(responseText){
                            $('id_text').value += "\n\n" + responseText;
                        }
                    });
                    request.send();
                    return false;
                });
            });
        });
    </script>
{% endblock %}
