psycopg2<2.4.2
pytz

# python docutils, needed by django, ecs, and others
docutils

# django main
Django==1.2.3
South<2.0
django-extensions==0.8
django-picklefield==0.1.9	# for docstash
django-dbtemplates==0.7.4
python-memcached		# for caching

# preprocessing, combining, compressing of js and css
django_compressor<1.2
pyScss

# queuing: celery
celery<2.4
django-celery<2.4

# mail: ecsmail, communication: lamson mail server
mock<1.1.3
lamson
BeautifulSoup==3.0.8
# from http://github.com/downloads/enki/beautifulcleaner/BeautifulCleaner-2.0dev.tar.gz
BeautifulCleaner==2.0dev

# search
Whoosh==2.3.2
# pysolr uses beautiful soup optional for solr error support
# pysolr uses httplib2 with fallback to httplib
httplib2==0.7.3
# we use == for pysolr because we dont want 2.1beta
pysolr==2.0.15
django-haystack==1.2.6

xlwt	# excel generation

# ecs.help needs reversion from now on
django-reversion==1.3.3

# django-rosetta is used only for doc.ecsdev.ep3.at , but we keep it in the main requirements for now
django-rosetta==0.6.2

# browser detection
httpagentparser
