psycopg2
pytz

# django main
Django>=1.4,<1.5
South<2.0
django-extensions<1.6
django-picklefield		# for docstash
django-dbtemplates
django-reversion==1.6.6
pylibmc				# for caching
docutils			# for ecs.help
httpagentparser			# for ecs.utils.browserutils

# preprocessing, combining, compressing of js and css
django_compressor
pyScss

# queuing: celery
celery<2.4
django-celery<2.4

# mail: ecsmail, communication: lamson mail server
mock<1.1.3
lamson
#BeautifulSoup==3.0.8
# from http://github.com/downloads/enki/beautifulcleaner/BeautifulCleaner-2.0dev.tar.gz
#BeautifulCleaner==2.0dev

# search
Whoosh==2.4
pysolr
django-haystack==2.1.0

xlwt	# excel generation

# django-rosetta is used only for doc.ecsdev.ep3.at , but we keep it in the main
# requirements for now
django-rosetta==0.7.6
