psycopg2
pytz

# django main
Django>=1.8,<1.9
django-extensions
django-picklefield		# for docstash
django-reversion
pylibmc				# for caching
docutils			# for ecs.help
httpagentparser			# for ecs.utils.browserutils
diff-match-patch		# for ecs.core.diff
django-countries
celery
raven				# for sentry integration

# preprocessing, combining, compressing of js and css
django_compressor
pyScss

# search
Whoosh
pysolr
django-haystack

xlwt	# excel generation

# django-rosetta is used only for doc.ecsdev.ep3.at , but we keep it in the main
# requirements for now
django-rosetta
