{% load i18n feedback %}
<div class="feedback" id="feedback{{ feedback_ID }}">
 <h4>Feedback</h4>
 <div class="feedback-left">
  <div class="feedback-type">
    <a href="#" class="feedback-type-selected feedback-type-idea" data-defaulttext="{% trans "Describe your idea" %}">{% trans "Idea" %}</a>
    <a href="#" class="feedback-type-question" data-defaulttext="{% trans "Describe your question" %}">{% trans "Question" %}</a>
  </div>
  <div class="feedbackform">
   <form class="comment" id="feedback-form{{ feedback_ID }}" method="POST" action="{{ feedback_URL }}">
    <textarea name="comment">{% trans "Describe your idea" %}</textarea><br />
    {% trans "Sum it up with a short title" %}:<br />
    <input type="text" name="summary" value="" /><br />
    <input type="submit" value="{% trans "Post Comment" %}" />
   </form>
  </div>
  <div class="feedback-summary">
  {% feedback_summary object %}
  </div>
 </div>
</div>
