{% extends "core.html" %}
{% load core i18n %}

{% block headertitle %}
  <div id="info" style="display: none;"></div>
{% endblock %}

{% block headernav %}
    <div class="tab_header_groups">
        {% block tab_header_groups %}
            <a href="#tabs_submission">{% trans "Submission" %}</a>
        {% endblock %}
    </div>

    {% block tab_headers %}
        <div id="tabs_submission" class="tab_headers collapse">
            {% for tab, fieldsets in tabs %}
                <a href="#tabs-{{ forloop.counter }}">{{ tab }}</a>
            {% endfor %}
        </div>
    {% endblock %}

    {{ block.super }}
{% endblock %}

{% block content %}
      <div class="form_main{% if readonly %} readonly{% endif %}">
        <div id="tabs">
          {% block tabs %}
            {% for tab in tabs %}
                <div id="tabs-{{ forloop.counter }}" class="tab collapse">
                    {% if unacknowledged_forms %}
                    <div class="text-xs-center font-weight-bold m-b-1">
                        <span class="fa fa-info text-info" title="Neue Versionen werden erst nach Bestätigung der EK angezeigt. Um Änderungen zu kontrollieren verwenden Sie bitte die Versionsgeschichte im Generell-Status Reiter."></span>
                        {% if unacknowledged_forms == 1 %}
                            Es gibt eine neuere, unbestätigte Version.
                        {% else %}
                            Es gibt {{ unacknowledged_forms }} neuere, unbestätigte Versionen.
                        {% endif %}
                    </div>
                    {% endif %}
                    {% if tab.slug == 'measures' %}
                        <div class="field">
                            <h3>Ausschließlich studienbezogene Maßnahmen <span class="paperform_number">6.1</span></h3>
                            {% block section_6_1 %}
                            {% with measure_formset as formset %}
                                {% include "forms/tables/inline_formset.html" %}
                            {% endwith %}
                            {% endblock %}
                        </div>
                        <div class="field">
                            <h3>Invasive/strahlenbelastende Maßnahmen im Rahmen der Routineversorgung während der Studiendauer <span class="paperform_number">6.2</span></h3>
                            {% with routinemeasure_formset as formset %}
                                {% include "forms/tables/inline_formset.html" %}
                            {% endwith %}
                        </div>
                        <div class="field">
                            <h3>Im Rahmen der Studie verabreichte Medikamente, deren Wirksamkeit und/oder Sicherheit nicht Gegenstand der Prüfung sind <span class="paperform_number">3b</span></h3>
                            {% with nontesteduseddrug_formset as formset %}
                                {% include "forms/tables/inline_formset.html" %}
                            {% endwith %}
                        </div>
                    {% endif %}

                    {% if tab.slug == 'documents' %}
                        {% if not readonly %}
                            {% if not protocol_uploaded %}
                                <div class="errors">
                                    <ul class="errorlist">
                                        <li>{% trans "At least on protocol is required." %}</li>
                                    </ul>
                                </div>
                            {% endif %}
                            <div class="upload_container"></div>
                        {% else %}
                            {% include "documents/compact_list.html" %}
                        {% endif %}
                    {% endif %}

                    {% if tab.slug == 'centers' %}
                        <h3>{% trans 'centers (subject)' %}</h3>

                        {% if investigator_formset.non_form_errors %}
                            <div class="errors">
                                <ul class="errorlist">
                                    {% for error in investigator_formset.non_form_errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                        <ul class="investigator_list"></ul>

                        {{ investigator_formset.management_form }}
                        {{ investigatoremployee_formset.management_form }}

                        {% for form in investigator_formset.forms %}
                            {% with forloop.counter0 as investigator_index %}
                            <div class="investigator" id="investigator{{ forloop.counter0 }}">
                                {% if form.non_field_errors %}
                                    <div class="errors">
                                        <ul class="errorlist">
                                            {% for error in form.non_field_errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                                <div class="field">
                                    {% if form.close_date %}
                                        <p class="text-xs-center font-weight-bold">
                                            <span class="fa fa-info"></span>
                                            Dieses Zentrum wurde am {{ form.close_date|date:'d.m.Y' }} geschlossen.
                                        </p>
                                    {% endif %}

                                    <div class="investigator_form">
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                        <ol>
                                            {% for field in form %}
                                                {% if not field.is_hidden %}
                                                    {% include "forms/field.html" %}
                                                {% endif %}
                                            {% endfor %}
                                        </ol>
                                    </div>
                                </div>
                                <div class="field">
                                    <h4>Verantwortliche Mitarbeiter/innen an der klinischen Studie (an Ihrer Prüfstelle)</h4>
                                    {% if investigatoremployee_formset.non_form_errors %}
                                        <div class="errors">
                                            <ul class="errorlist">
                                                {% for error in investigatoremployee_formset.non_form_errors %}
                                                    <li>{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}

                                    {# XXX: reuse forms/tables/inline_formset.html (FMD2) #}
                                    <table class="inline_formset investigatoremployee_formset">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            {% for field in investigatoremployee_formset.empty_form %}
                                                {% if not field.is_hidden and not field.html_name|endswith:'-DELETE' %}
                                                    {% with field|get_field_info as field_info %}
                                                    <th{% if field.field.required %} class="required"{% endif %}>
                                                        {{ field_info.label|default:field.label }}
                                                        {% if field_info.number %}
                                                            <span class="paperform_number">{{ field_info.number }}</span>
                                                        {% endif %}
                                                        {% if field_info.help_text %}
                                                        <span class="help_text">
                                                            {{ field_info.help_text }}
                                                        </span>
                                                        {% endif %}
                                                    </th>
                                                    {% endwith %}
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if not readonly and forloop.first %}
                                        {% with investigatoremployee_formset.empty_form as form %}
                                            <tr class="form template">
                                                <td>
                                                    {% for hidden in form.hidden_fields %}
                                                        {{ hidden }}
                                                    {% endfor %}
                                                </td>
                                                {% for field in form %}
                                                    {% if not field.is_hidden and not field.html_name|endswith:'-DELETE' %}
                                                        {% with field|get_field_info as field_info %}
                                                        <td class="{{ field.field|type_name }}{% if field.field.required %} required{% endif %}">
                                                            {{ field }}
                                                        </td>
                                                        {% endwith %}
                                                    {% endif %}
                                                {% endfor %}
                                            </tr>
                                        {% endwith %}
                                        {% endif %}
                                        {% for form in investigatoremployee_formset.forms %}
                                            {% if form|form_value:'investigator_index'|default:0|add:0 == investigator_index %}
                                                <tr class="form">
                                                    {% include "forms/tables/row.html" %}
                                                </tr>
                                            {% endif %}
                                        {% endfor%}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            {% endwith %}
                        {% endfor%}
                    {% endif %}

                    {% for legend, fields in tab.fieldsets %}
                        <div class="field fieldset_{{ forloop.counter }}">
                            {% if legend %}
                                <h3>{{ legend }}</h3>
                            {% endif %}
                            {% if fields.name == 'centers_abroad' %}
                                {% with foreignparticipatingcenter_formset as formset %}
                                    {% include "forms/tables/inline_formset.html" %}
                                {% endwith %}
                            {% endif %}
                            {% if fields.name == 'centers_non_subject' %}
                                {% with participatingcenternonsubject_formset as formset %}
                                    {% include "forms/tables/inline_formset.html" %}
                                {% endwith %}
                            {% endif %}
                            <ol>
                                {% for field_name in fields %}
                                    {% with form|getitem:field_name as field %}
                                        {% include "forms/field.html" %}
                                    {% endwith %}
                                {% endfor %}
                            </ol>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
          {% endblock %}
        </div>
     </div>
{% endblock %}

{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript">
        $(function() {
            /*
             * Initialize select2 the first time the tab is shown. Otherwise
             * select2 exhibits display bugs due to the target element not being
             * visible.
             */
            $('#tabs-6').one('tab-show', function() {
                $('#id_substance_registered_in_countries').select2();
                $('#id_substance_p_c_t_countries').select2();
            });
        });
    </script>
{% endblock %}

{% block menuSelection %}submissions{% endblock %}
