{% extends "core.html" %}
{% load core i18n %} 

{% block headertitle %}
  <div id="info" style="display: none;"></div>
{% endblock %}

{% block headernav %}
    <ul class="tab_header_groups">
        {% block tab_header_groups %}
        <li>
            <a href="#">{% trans "Submission" %}</a>
            <ul class="tab_headers" id="submission_headers">
                {% block submission_tab_headers %}
                    {% for tab, fieldsets in tabs %}
                        <li><a href="#tabs-{{ forloop.counter }}">{{ tab }}</a></li>
                    {% endfor %}
                {% endblock %}
                {% block center_tabs %}
                {% endblock %}
            </ul>
        </li>
        {% endblock %}
    </ul>
    {{ block.super }}
{% endblock %}

{% block content %}
      <div class="form_main{% if readonly %} readonly{% endif %}">
        <div id="tabs">
          {% block tabs %}
            {% for tab, fieldsets in tabs %}
                <div id="tabs-{{ forloop.counter }}" class="tab">
                    {% ifequal tab "Maßnahmen" %}
                        {# FIXME (FMD2) #}
                        <div class="field">
                            <h3>Studienbezogen durchzuführende Therapie und Diagnostik <span class="paperform_number">6.1</span></h3>
                            {% with measure_formset as formset %}
                                {% include "forms/tables/inline_formset.html" %}
                            {% endwith %}
                        </div>
                        <div class="field">
                            <h3>Routinemäßig durchzuführende Therapie und Diagnostik <span class="paperform_number">6.2</span></h3>
                            {% with routinemeasure_formset as formset %}
                                {% include "forms/tables/inline_formset.html" %}
                            {% endwith %}
                        </div>
                        <div class="field">
                            <h3>Im Rahmen der Studie verabreichte Medikamente, deren Wirksamkeit und/oder Sicherheit nicht Gegenstand der Prüfung sind <span class="paperform_number">3b</span></h3>
                            {% with nontesteduseddrug_formset as formset %}
                                {% include "forms/tables/inline_formset.html" %}
                            {% endwith %}
                        </div>
                    {% endifequal %}
                                        
                    {% ifequal tab "Unterlagen" %}
                        {# FIXME (FMD2) #}
                        {% if not readonly %}
                            <iframe class="upload" src="{% url ecs.core.views.upload_document_for_submission docstash_key=request.docstash.key %}" frameborder=0>{% trans "Your browser does not support iframes." %}</iframe>
                        {% else %}
                            {% include "documents/compact_list.html" %}
                        {% endif %}
                    {% endifequal %}

                    {% ifequal tab "Zentren" %}
                        {% if investigator_formset.non_form_errors %}
                            <div class="errors">
                            <ul class="errorlist">
                            {% for error in investigator_formset.non_form_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                            </ul>
                            </div>
                        {% endif %}

                        <ul class="investigator_list"></ul>
                        <div class="investigator_list_clear"></div>

                        {{ investigator_formset.management_form }}
                        {{ investigatoremployee_formset.management_form }}

                        <div class="investigator_header">
                            <h3>Kein Zentrum</h3>
                        </div>
                        {% for form in investigator_formset.forms %}
                            {% with forloop.counter0 as investigator_index %}
                            <div class="investigator" id="investigator{{ forloop.counter0 }}">
                                <div class="field">
                                    <div class="investigator_form">
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                        <ol>
                                            {% for field in form %}
                                                {% if not field.is_hidden %}
                                                    {% include "forms/field.html" %}
                                                {% endif %}
                                            {% endfor %}
                                        </ol>
                                    </div>
                                </div>
                                <div class="field">
                                    <h3>Verantwortliche Mitarbeiter/innen an der klinischen Studie (an Ihrer Prüfstelle)</h3>
                                    {# XXX: reuse forms/tables/inline_formset.html (FMD2) #}
                                    <table class="inline_formset investigatoremployee_formset">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            {% for field in investigatoremployee_formset.empty_form %}
                                                {% if not field.is_hidden and not field.html_name|endswith:'-DELETE' %}
                                                    {% with field|get_field_info as field_info %}
                                                    <th class="label">
                                                        {{ field_info.label|default:field.label }}
                                                        {% if field_info.number %}
                                                            <span class="paperform_number">{{ field_info.number }}</span>
                                                        {% endif %}
                                                        {% if field_info.help_text %}
                                                        <span class="help_text">
                                                            {{ field_info.help_text }}
                                                        </span>
                                                        {% endif %}
                                                    </th>
                                                    {% endwith %}
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for form in investigatoremployee_formset.forms %}
                                            {% ifequal form|form_value:'investigator_index'|default:0|add:0 investigator_index %}
                                            <tr class="form">
                                                {% include "forms/tables/row.html" %}
                                            </tr>
                                            {% endifequal %}
                                        {% empty %}
                                            {% if not readonly %}
                                                {% with investigatoremployee_formset.empty_form as form %}
                                                    <tr class="form template">
                                                        {% include "forms/tables/row.html" %}
                                                    </tr>
                                                {% endwith %}
                                            {% endif %}
                                        {% endfor%}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            {% endwith %}
                        {% endfor%}
                    {% endifequal %}
                    
                    {% for legend, fields in fieldsets %}
                        <div class="field fieldset_{{ forloop.counter }}">
                            {% if legend %}
                                <h3>{{ legend }}</h3>
                            {% endif %}
                            {% ifequal legend "Zentren im Ausland" %}
                                {# FIXME (FMD2) #}
                                {% with foreignparticipatingcenter_formset as formset %}
                                    {% include "forms/tables/inline_formset.html" %}
                                {% endwith %}                            
                            {% endifequal %}                            
                            <ol>
                                {% for field_name in fields %}
                                    {% with form|getitem:field_name as field %}
                                        {% include "forms/field.html" %}
                                    {% endwith %}
                                {% endfor %}
                            </ol>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
          {% endblock %}
        </div>
     </div>
{% endblock %}

{% block menuSelection %}submissions{% endblock %}
{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript">
        window.addEvent('domready', function(){
            var setup = ecs.setupForms();

            new ecs.FormFieldController(['id_project_type_reg_drug'], {
                disable: true,
                sourceFieldClass: 'subchoice',
                sources: ['id_project_type_reg_drug_within_indication', 'id_project_type_reg_drug_not_within_indication']
            });

            new ecs.FormFieldController(['id_project_type_medical_device'], {
                disable: true,
                sourceFieldClass: 'subchoice',
                sources: [
                    'id_project_type_medical_device_with_ce', 
                    'id_project_type_medical_device_without_ce',
                    'id_project_type_medical_device_performance_evaluation'
                ],
                toggleTab: {
                    tab: setup.tabController.getTabForElement($('tabs-7')),
                    message: '% trans "This tab may only be used when 2.1.4 is selected." %}',
                    requiredFields: [
                        'id_medtech_checked_product', 'id_medtech_reference_substance', 'id_medtech_product_name', 'id_medtech_manufacturer',
                        'id_medtech_certified_for_exact_indications', 'id_medtech_certified_for_other_indications', 'id_medtech_ce_symbol', 
                        'id_medtech_manual_included', 'id_medtech_technical_safety_regulations', 'id_medtech_departure_from_regulations'
                    ]
                }
            });
            
            new ecs.FormFieldController(['id_project_type_reg_drug', 'id_project_type_non_reg_drug'], {
                sources: [],
                toggleTab: {
                    tab: setup.tabController.getTabForElement($('tabs-6')),
                    message: '{% trans "This tab may only be used when 2.1.2 is selected." %}',
                    requiredFields: [
                        'id_substance_preexisting_clinical_tries', 'id_substance_p_c_t_phase', 'id_substance_p_c_t_period',
                        'id_substance_p_c_t_application_type', 'id_substance_p_c_t_gcp_rules', 'id_substance_p_c_t_final_report',
                        'id_submission_type', 'id_eudract_number', 'id_pharma_checked_substance', 'id_pharma_reference_substance'
                    ]
                }
            });

            new ecs.FormFieldController(['id_study_plan_abort_crit'], {
                sources: ['id_study_plan_interim_evaluation'],
                auto: function(values, initial){
                    var abort_crit = $('id_study_plan_abort_crit');
                    this.requireField(abort_crit, values[0]);
                    this.setDisabled(!values[0]);
                }
            });

            new ecs.FormFieldController(['id_study_plan_multiple_test_correction_algorithm'], {
                sources: ['id_study_plan_multiple_test'],
                auto: function(values, initial){
                    var abort_crit = $('id_study_plan_multiple_test_correction_algorithm');
                    this.requireField(abort_crit, values[0]);
                    this.setDisabled(!values[0]);
                }
            });

            new ecs.FormFieldController(['id_study_plan_dataprotection_reason', 'id_study_plan_dataprotection_dvr'], {
                sources: ['id_study_plan_dataprotection_choice'],
                auto: function(values, initial){
                    this.setDisabled(values[0] != 'personal');
                    ['id_study_plan_dataprotection_reason', 'id_study_plan_dataprotection_dvr'].map($).each(function(f){
                        this.requireField(f, values[0] == 'personal');
                    }, this);
                }
            });

            new ecs.FormFieldController(['id_study_plan_dataprotection_anonalgoritm'], {
                sources: ['id_study_plan_dataprotection_choice'],
                auto: function(values, initial){
                    this.setDisabled(values[0] != 'non-personal');
                    ['id_study_plan_dataprotection_anonalgoritm'].map($).each(function(f){
                        this.requireField(f, values[0] == 'non-personal');
                    }, this);
                }
            });

            new ecs.FormFieldController(['id_insurance_name', 'id_insurance_address', 'id_insurance_phone', 'id_insurance_contract_number', 'id_insurance_validity'], {
                sources: ['id_insurance_not_required'],
                auto: function(values, initial){
                    this.setDisabled(values[0]);
                }
            });

            new ecs.FormFieldController([
                    'id_invoice_name', 'id_invoice_contact_gender', 'id_invoice_contact_title', 'id_invoice_contact_first_name',
                    'id_invoice_contact_last_name', 'id_invoice_address', 'id_invoice_zip_code', 'id_invoice_city', 'id_invoice_phone',
                    'id_invoice_fax', 'id_invoice_email', 'id_invoice_uid'
                ], {
                    sources: ['id_invoice_differs_from_sponsor'],
                    auto: function(values, initial){
                        var requiredFields = [
                            'id_invoice_name', 'id_invoice_address', 'id_invoice_zip_code', 'id_invoice_city', 'id_invoice_phone',
                            'id_invoice_email'
                        ];

                        if(values[0]){
                            $('tabs-4').getElement('.fieldset_2').show();
                            this.setDisabled(false);
                        } else {
                            $('tabs-4').getElement('.fieldset_2').hide();
                            this.setDisabled(true);
                        }

                        requiredFields.map($).each(function(f){
                            this.requireField(f, values[0]);
                        }, this);
                    }
            });
            
            ecs.setupDocumentUploadIframe();
        });
    </script>
{% endblock %}
