{% extends 'shell.html' %}
{% load core i18n staticfiles %}

{% block htmlcss %}
    {{ block.super }}
    <style type="text/css">
        html {
            font-size: 75%;     /* 12px, assuming a default font size of 16px */
        }

        div.card div.testinginfo {
            border-left: solid 0.5rem #0275d8;
        }
    </style>
{% endblock %}

{% block htmlbody %}
<div class="mx-2 mt-1">
    <div>
        <a href="/">
            <img class="logo" src="{% url 'ecs.core.views.logo' %}" alt="Logo"/>
        </a>
    </div>

    <div class="row mb-1">
        <div class="mx-auto"><h1>{% trans "Catalog of Approved Studies" %}</h1></div>
        <div class="btn-group mx-auto" role="group" aria-label="{% trans 'Years' %}">
            {% for date in years %}
                <a class="px-2 btn btn-primary{% if date.year == year %} active{% endif %}" href="{% url 'ecs.core.views.submissions.catalog' year=date.year %}">{{ date.year }}</a> 
            {% endfor %}
        </div>
    </div>
    
    {% for vote in votes %}
        {% with vote.submission_form as sf %}
            <div class="card card-outline-primary">
                <div class="card-block">
                    <h2 class="card-title font-weight-normal">
                        {{ sf.german_project_title }}
                        <small class="font-weight-normal d-block mt-1">{{ sf.project_title }}</small>
                    </h2>
                    <hr>
                    <ul class="list-inline">
                        <li class="list-inline-item"><strong>Sponsor:</strong> {{ sf.sponsor_name }}</li>
                    {% if sf.project_type_education_context %}
                        <li class="list-inline-item"><strong>{{ sf.get_project_type_education_context_display }}:</strong> {{ sf.submitter_contact }}</li>
                    {% endif %}
                    </ul>
                    <ul class="list-inline">
                        <li class="list-inline-item"><strong>EK-Nr:</strong> {{ sf.submission.get_ec_number_display }}</li>
                        <li class="list-inline-item"><strong>Sitzung:</strong> {{ vote.first_meeting_start|date:'d.m.Y' }}</li>
                        <li class="list-inline-item"><strong>Votum:</strong> {{ vote.published_at|date:'d.m.Y' }}</li>
                        {% if sf.is_categorized_multicentric_and_local %}
                            <li class="list-inline-item">(lokale EK nach §41b AMG)</li>
                        {% endif %}
                    </ul>
                    {% for investigator in sf.system_ec_investigators %}
                        <div class="testinginfo pl-1">
                            <p><strong>Prüfzentrum:</strong> {{ investigator.organisation }}</p>
                            <p><strong>Verantwortliche/r Prüfärtzin/arzt:</strong> {{ investigator.contact }}</p>
                        </div>
                    {% endfor %}
                    {% with sf.non_system_ec_investigators|length as other_ec_count %}
                      {% if other_ec_count %}
                        <div class="testinginfo mb-1 pl-1">
                            &hellip;
                            {% blocktrans trimmed count other_ec_count=other_ec_count %}
                                and one other study site
                                {% plural %}
                                and {{ other_ec_count }} other study sites
                            {% endblocktrans %}
                        </div>
                      {% endif %}
                    {% endwith %}
                </div>
            </div>
        {% endwith %}
    {% endfor %}

    <div class="row mb-2">
        <div class="mx-auto">
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/at/">
                <img alt="CC BY-SA 3.0 AT" src={% static 'images/by-sa-3.0-at-80x15.png' %} />
                &copy; {% ec_name %}
            </a>
        </div>
        <div class="btn-group mx-auto" role="group" aria-label="Years">
            {% for date in years %}
                <a class="px-2 btn btn-primary{% if date.year == year %} active{% endif %}" href="{% url 'ecs.core.views.submissions.catalog' year=date.year %}">{{ date.year }}</a>
            {% endfor %}
        </div>
    </div>
</div>

{% include 'imprint.html' %}

{% endblock %}
