{% extends "core.html" %}
{% load core %}

{% block title %}ECS Elektronische Einreichung{% endblock %}

{% block headertitle %}
    EK-Nr. {{ submission.ec_number }}
{% endblock %}

{% block content %}
    {% include "submissions/diff.inc" %}
    {% if new_documents|length %}
    Neue Dokumente:
    {% for doc in new_documents %}
        <div>
            <a href="{% url pdf_show doc.pk 1 1 %}" target="_blank"">
                Version {{ doc.version }} vom {{ doc.date|date:'d.m.Y' }}
                {% if doc.original_file_name %}(Dateiname: {{ doc.original_file_name }}){% endif %}
            </a>
            {% if doc.replaces_document %}
                Ersetzt: <a href="{% url pdf_show doc.replaces_document.pk 1 1 %}" target="_blank"">
                    Version {{ doc.replaces_document.version }} vom {{ doc.replaces_document.date|date:'d.m.Y' }}
                    {% if doc.replaces_document.original_file_name %}(Dateiname: {{ doc.replaces_document.original_file_name }}){% endif %}
                </a>
            {% endif %}
        </div>
    {% endfor %}
    {% endif %}
{% endblock %}

{% block menuSelection %}submissions{% endblock %}

