{% extends 'core.html' %}

{% block htmltitle %}ECS Elektronische Einreichung{% endblock %}

{% block headertitle %}
Edit {{ submission }}
{% endblock %}

{% block content %}

<h3>{{ submission.current_submission_form.project_title }}</h3>
<div>
    {{ submission.current_submission_form.german_project_title }}
</div>
<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <input type="submit" value="Speichern" />
</form>

{% endblock %}

{% block menuSelection %}submissions{% endblock %}
