{% extends 'core.html' %}
{% load i18n widget_tweaks %}

{% block htmltitle %}{% trans "Import" %} | {{ block.super }}{% endblock %}
{% block headertitle %}{% trans "Import" %}{% endblock %}

{% block content %}
<div class="my-1 container">
    <form action="{{ request.path }}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-9">
                {% include 'bootstrap/form_field.html' with field=form.file inline=True %}
            </div>
            <div class="col-md-3">
                <button type="submit" class="mx-1 btn btn-block btn-primary">
                    Importieren
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block menuSelection %}submissions{% endblock %}
