{% extends 'core.html' %}
{% load i18n %}

{% block htmltitle %}ECS Elektronische Einreichung{% endblock %}

{% block headertitle %}
Liste aller Studien
{% endblock %}

{% block content %}

{% include "submissions/filterform.inc" %}

<ol class="submission_list">
{% for submission in submissions.object_list %}
    <li class="{% cycle 'even' 'odd' %}">
        {% with submission.current_submission_form as submission_form %}
            <a href="{% url ecs.core.views.readonly_submission_form submission_form_pk=submission_form.pk %}">{{ submission.get_ec_number_display }}</a>
        {% endwith %}
        {{ submission.project_title|default:'<i>{% trans "No title." %}</i>' }}
        {% with submission.medical_categories.all as categories %}
            {% if categories %}
                <div class="info">{% trans "Categories" %}: {% for cat in categories %}<i>{{ cat }}</i>{% if not forloop.last %}, {% endif %}{% endfor %}</div>
            {% endif %}
        {% endwith %}
        {% with submission.expedited_review_categories.all as er_categories %}
            {% if categories %}
                <div class="info">{% trans "ExpeditedReviewCategories" %}: {% for cat in categories %}<i>{{ cat }}</i>{% if not forloop.last %}, {% endif %}{% endfor %}</div>
            {% endif %}
        {% endwith %}
    </li>
{% endfor %}
{% if not submissions.object_list|length %}
    <li><em>{% trans "No Submissions." %}</em></li>
{% endif %}
</ol>
<div class="paginator">
    {% trans "Page" %} {{ submissions.number }} {% trans "of" %} {{ submissions.paginator.num_pages }}
    {% if not submissions.number == 1 %}
        <a href="#" id="submission_list_first_page"><img src="{{ MEDIA_URL }}/images/core/control-skip-180.png" alt="first page" /></a>
    {% endif %}
    {% if submissions.has_previous %}
        <a href="#" id="submission_list_prev_page"><img src="{{ MEDIA_URL }}/images/core/control-double-180.png" alt="previous page" /></a>
    {% endif %}
    {% if submissions.has_next %}
        <a href="#" id="submission_list_next_page"><img src="{{ MEDIA_URL }}/images/core/control-double.png" alt="next page" /></a>
    {% endif %}
    {% if not submissions.number == submissions.paginator.num_pages %}
        <a href="#" id="submission_list_last_page"><img src="{{ MEDIA_URL }}/images/core/control-skip.png" alt="last page" /></a>
    {% endif %}
</div>

{% endblock %}

{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript">
      window.addEvent('domready', function(){
          var form = $('submission_list_filter');
          var page_input = form.getElement('input[name="page"]');
          $$('#submission_list_filter input').each(function(input){
              input.addEvent('change', function(){
                  form.submit();
              });
          });
    {% if not submissions.number == 1 %}
          $('submission_list_first_page').addEvent('click', function(){
              page_input.value = 1;
              form.submit();
          });
    {% endif %}
    {% if submissions.has_previous %}
          $('submission_list_prev_page').addEvent('click', function(){
              page_input.value = parseInt(page_input.value, 10) - 1;
              form.submit();
          });
    {% endif %}
    {% if submissions.has_next %}
          $('submission_list_next_page').addEvent('click', function(){
              page_input.value = parseInt(page_input.value, 10) + 1;
              form.submit();
          });
    {% endif %}
    {% if not submissions.number == submissions.paginator.num_pages %}
          $('submission_list_last_page').addEvent('click', function(){
              page_input.value = {{ submissions.paginator.num_pages }};
              form.submit();
          });
    {% endif %}
      });
    </script>
{% endblock %}

{% block menuSelection %}submissions{% endblock %}


