{% extends "submissions/base_form.html" %}
{% load core i18n userutils %}


{% block htmltitle %}… | {{ submission_form.submission|ec_number }} | {{ block.super }}{% endblock %}

{% block headertitle %}
    <a href="{% url 'readonly_submission_form' submission_form_pk=submission_form.pk %}" target="_blank">
        <span class="fa fa-search"></span>
        {{ submission_form.submission|ec_number }}
    </a>
    <small title="{{ submission.project_title_display }}">
        {{ submission.project_title_display }}
        {% if submission.is_finished %}
            ({% trans 'finished' %})
        {% endif %}
    </small>
{% endblock %}


{% block header_actions %}
    {{ block.super }}
    <div class="header_actions">
        {% if submission_form|allows_edits_by:user %}
            <a href="{% url 'ecs.core.views.submissions.copy_latest_submission_form' submission_pk=submission.pk %}">{% trans 'Edit' %}</a>
        {% endif %}
        {% if submission_form|allows_amendments_by:user %}
            {% for notification_type in diff_notification_types %}
                <a href="{% url 'ecs.core.views.submissions.copy_latest_submission_form' submission_pk=submission.pk notification_type_pk=notification_type.pk %}">{{ notification_type.name }}</a>
            {% endfor %}
        {% endif %}
        
        {% if not request.task_management.form %}
            {% if not open_checklist %}
                {% with submission.external_review_task as external_review_task %}
                    {% if external_review_task %}
                        <a href="{{ external_review_task.url }}">{% trans 'Start External Review' %}</a>
                    {% endif %}
                {% endwith %}
            {% endif %}
            {% for checklist, checklist_review_form in checklist_reviews %}
                {% if not checklist_review_form.readonly %}
                    {% if checklist_review_form.related_task %}
                        <a class="review button_save" id="save_checklist_{{ checklist.pk }}_review_form" href="">{% blocktrans with checklist_review_form.related_task.task_type as review %}save {{ review }}{% endblocktrans %}</a>
                        <a class="review button_submit" id="close_checklist_{{ checklist.pk }}_review_form" href="">{% blocktrans with checklist_review_form.related_task.task_type as review %}complete {{ review }}{% endblocktrans %}</a>
                    {% else %}
                        <a class="review button_save" id="save_checklist_{{ checklist.pk }}_review_form" href="">{% blocktrans with checklist.blueprint.name as review %}save {{ review }}{% endblocktrans %}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}


{% block headernav %}
  <div class="readonly">
    <div class="tab_header_groups">
    {% block tab_header_groups %}
        <a href="#tabs_general">{% trans "General" %}</a>
        {{ block.super }}
        {% if checklist_reviews or user.profile.is_internal %}
            <a href="#tabs_checklists">{% trans "Evaluations" %}</a>
        {% endif %}
        <a href="#tabs_votes">{% trans "Votes" %}</a>
        <a href="#tabs_notifications">{% trans "Notifications" %}</a>
        <a href="#tabs_communication">{% trans "Communication" %}</a>
    {% endblock %}
    </div>

    {% block tab_headers %}
        <div id="tabs_general" class="tab_headers collapse">
            <a href="#status_tab">{% trans 'Status' %}</a>
            {% if categorization_form %}
                <a href="#categorization_tab"{% if not categorization_form.readonly or categorization_review %} class="readonly_review active"{% endif %}>{% trans "Categorization" %}</a>
            {% endif %}
            {% if user.profile.show_worklow_widget %}
                <a href="#tasks_tab">{% trans 'Tasks' %}</a>
                {% if user.profile.is_internal %}
                    <a href="#workflow_log">{% trans 'Workflow' %}</a>
                {% endif %}
            {% endif %}
            {% if user not in submission_form.get_presenting_parties %}
                <a href="#involved_parties_tab">{% trans 'Involved Parties' %}</a>
            {% endif %}
        </div>

        {{ block.super }}

        {% if checklist_reviews or user.profile.is_internal %}
        <div id="tabs_checklists" class="tab_headers collapse">
            {% if user.profile.is_internal %}
                <a href="#checklist_summary_tab">{% trans "Checklist Summary" %}</a>
            {% endif %}
            {% for checklist, checklist_review_form in checklist_reviews %}
                <a href="#checklist_{{ checklist.pk }}_review_form"{% if not checklist_review_form.readonly %} class="readonly_review active"{% endif %}{% if active_checklist == checklist.pk %} class="active"{% endif %}>{{ checklist.short_name }}</a>
            {% endfor %}
        </div>
        {% endif %}

        <div id="tabs_votes" class="tab_headers collapse">
            <a href="#published_votes_tab">{% trans "Published Votes" %}</a>
            {% if vote_review_form %}
                <a href="#vote_review_tab"{% if not vote_review_form.readonly %} class="readonly_review active"{% endif %}>Votum</a>
            {% endif %}
        </div>

        <div id="tabs_notifications" class="tab_headers collapse">
            <a href="#pending_notifications_tab">{% trans "Pending Notifications" %}</a>
            <a href="#answered_notifications_tab">{% trans "Answered Notifications" %}</a>
        </div>

        <div id="tabs_communication" class="tab_headers collapse">
            <a href="#communication_tab">{% trans "My Communication" %}</a>
            {% if user.profile.is_internal %}
                <a href="#communication_overview_tab">{% trans "Communication Overview" %}</a>
            {% endif %}
        </div>
    {% endblock %}
  </div>
{% endblock %}

{% block content %}
    <div class="readonly">
        {{ block.super }}
    </div>
{% endblock %}

{% block tabs %}
    <div id="status_tab" class="collapse">
        {% include 'submissions/tabs/status.html' %}
    </div>

    {% if categorization_form %}
        <div id="categorization_tab" class="tab collapse">
            <p>
                Typ:
                {% if submission_form.is_amg %}
                    {% trans "AMG" %}(ECT:{{submission_form.eudract_number }}, {{ submission_form.get_submission_type_display }})
                {% endif %}
                {% if submission_form.is_mpg %}{% trans "MPG" %}{% endif %}
                {% if submission_form.is_thesis %}{{ submission_form.get_project_type_education_context_display }}{% endif %}
                {% if submission_form.includes_minors %}{% trans "minors" %}{% endif %}
            </p>
            {% with categorization_form as review_form %}
                {% include 'submissions/review_form.inc' %}
            {% endwith %}
            {% if categorization_form.reopen_task %}
                <p><a class="btn btn-outline-primary" href="{% url 'ecs.core.views.submissions.reopen_categorization' submission_pk=submission.pk %}">{% trans 'Reopen' %}</a></p>
            {% endif %}
            {% if categorization_task %}
                <p>
                    <a href="{% url 'ecs.communication.views.new_thread' submission_pk=submission.pk to_user_pk=categorization_task.assigned_to_id %}" target="_blank">
                        <span class="fa fa-envelope-o"></span>
                        {% blocktrans with user=categorization_task.assigned_to|full_name trimmed %}
                            Send Message to {{ user }}
                        {% endblocktrans %}
                    </a>
                </p>
            {% endif %}
            {% if user.profile.is_internal %}
                <div data-widget-url="{% url 'ecs.checklists.views.categorization_tasks' submission_pk=submission.pk %}"></div>
            {% endif %}
        </div>
    {% endif %}

    {% if user not in submission_form.get_presenting_parties %}
        <div id="involved_parties_tab" class="collapse">
            {% include 'submissions/tabs/involved_parties.html' %}
        </div>
    {% endif %}
    <div id="pending_notifications_tab" class="tab collapse">
        <h3>{% trans "Open Notifications" %}</h3>
        <ul class="list-group">
            {% for notification in open_notifications %}
                <li class="list-group-item">
                    <h5>
                        {{ notification.timestamp|date:'d.m.Y' }}
                        <a href="{% url 'ecs.notifications.views.view_notification' notification_pk=notification.pk %}">
                            <strong>{{ notification.short_name }}</strong>
                        </a>
                    </h5>
                    von {{ notification.user }}
                </li>
            {% empty %}
                <li class="list-group-item text-xs-center">
                    <em>{% trans "There are no open notifications." %}</em>
                </li>
            {% endfor %}
        </ul>
        {% if stashed_notifications %}
            <h3>Nicht eingereichte Meldungen</h3>
            {% include 'notifications/stashed_notification_list.html' %}
        {% endif %}
        {% if submission.presenter == user or submission.susar_presenter == user %}
            {% url 'ecs.notifications.views.select_notification_creation_type' as create_url %}
            <a class="btn btn-outline-primary mt-1" href="{{ create_url }}">
                {% trans "Create a new notification" %}
            </a>
        {% endif %}
    </div>
    <div id="answered_notifications_tab" class="tab collapse">
        <h3>{% trans "Answered Notifications" %}</h3>
        <ul class="list-group">
            {% for notification in answered_notifications %}
                <li class="list-group-item {% if notification.answer.is_rejected %}list-group-item-danger{% endif %}">
                    <h5>
                        {{ notification.timestamp|date:'d.m.Y' }}
                        <a href="{% url 'ecs.notifications.views.view_notification' notification_pk=notification.pk %}">
                            <strong>{{ notification.short_name }}</strong>
                        </a>
                    </h5>
                    von {{ notification.user }}
                    {% if notification.is_rejected %}({% trans 'rejected' %}){% endif %}
                    {% if user.profile.is_internal %}
                    | <a href="javascript:void(ecs.fieldhistory.show('{% url 'ecs.core.views.fieldhistory.field_history' model_name='notification_answer' pk=notification.answer.pk %}'))">{% trans 'History' %}</a>
                    {% endif %}
                </li>
            {% empty %}
                <li class="list-group-item text-xs-center">
                    <em>{% trans "There are no answered notifications." %}</em>
                </li>
            {% endfor %}
        </ul>
        {% if submission.presenter == user %}
            {% url 'ecs.notifications.views.select_notification_creation_type' as create_url %}
            <a class="btn btn-outline-primary mt-1" href="{{ create_url }}">
                {% trans "Create a new notification" %}
            </a>
        {% endif %}
    </div>
    {% if vote_review_form %}
        <div id="vote_review_tab" class="tab collapse">
            {% with vote=vote_review_form.instance %}
                <h3>B{{ vote.result }} Votum{% if vote.top %} der Sitzung {{ vote.top.meeting.title }} am {{ vote.top.meeting.start|date:'d.m.Y' }}{% endif %}{% if vote.changed_after_voting %} <span style="color:red;">!!{% trans 'Changed after voting' %}!!</span>{% endif %}</h3>
            {% endwith %}
            <form action="" method="post" class="review vote{% if vote_review_form.bound_to_task %} bound_to_task{% endif %}">
                {% csrf_token %}
                {% with vote_review_form as review_form %}
                    {% if review_form.is_preparation %}
                        {% include 'submissions/review_form.inc' %}
                    {% else %}
                        {% include 'submissions/vote_review_form.inc' %}
                    {% endif %}
                {% endwith %}
            </form>

            {% if debug and vote_review_form.instance.pk %}
                <a href="{% url 'ecs.votes.views.vote_pdf_debug' vote_pk=vote_review_form.instance.pk %}">
                    PDF Debug
                </a>
            {% endif %}
        </div>
    {% endif %}

    <div id="published_votes_tab" class="tab collapse">
        <h3>{% trans "Published Votes" %}</h3>
        {% if published_votes %}
            <ul class="list-group">
                {% for vote in published_votes %}
                    <li class="list-group-item {% if vote == submission.current_published_vote %}list-group-item-info{% endif %}">
                        {{ vote.result_text }}
                        {% if vote.top %}
                             (in der Sitzung am {{ vote.top.meeting.start|date:'d.m.Y' }})
                        {% endif %}
                        {% if vote.valid_until %}
                             {% trans 'valid until' %} {{ vote.valid_until|date:'d.m.Y' }}
                        {% endif %}
                        <a href="{% url 'ecs.votes.views.download_vote' vote_pk=vote.pk %}">
                            {% trans "Download" %}
                        </a>
                    {% if user.profile.is_internal %}
                        | <a href="javascript:void(ecs.fieldhistory.show('{% url 'ecs.core.views.fieldhistory.field_history' model_name='vote' pk=vote.pk %}'))">
                            {% trans 'History' %}
                        </a>
                    {% endif %}
                    {% if debug %}
                        | <a href="{% url 'ecs.votes.views.vote_pdf_debug' vote_pk=vote.pk %}">
                            PDF Debug
                        </a>
                    {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>{% trans "There are no published votes." %}</p>
        {% endif %}
    </div>

    {% if user.profile.is_internal %}
        <div id="checklist_summary_tab" class="tab collapse">
            {% include 'submissions/checklist_summary.inc' %}
        </div>
    {% endif %}

    {% for checklist, formset in checklist_reviews %}
    <div id="checklist_{{ checklist.pk }}_review_form" class="checklist_review_tab collapse">
        {% if formset.readonly and checklist.blueprint.allow_pdf_download and checklist.pdf_document and not checklist.status == 'new'%}
            {% if checklist.status == 'review_ok' or user.profile.is_internal %}
                {% url 'ecs.checklists.views.checklist_pdf' checklist_pk=checklist.pk as pdf_url %}
                <p>
                    <a class="btn btn-outline-primary" href="{{ pdf_url }}">
                        <span class="fa fa-file-pdf-o"></span>
                        <span>
                            {% if checklist.status == 'review_ok' %}
                                {% trans "Download PDF" %}
                            {% else %}
                                {% trans 'Download unpublished Version as PDF' %}
                            {% endif %}
                        <span>
                    </a>

                    {% if debug %}
                        {% url 'ecs.checklists.views.checklist_pdf_debug' checklist_pk=checklist.pk as pdf_url %}
                        <a class="btn btn-outline-primary" href="{{ pdf_url }}">
                            <span class="fa fa-file-pdf-o"></span>
                            PDF Debug
                        </a>
                    {% endif %}
                </p>
            {% endif %}
        {% endif %}
        {% include 'submissions/checklist_review_form.inc' %}
        {% if formset.reopen_task and formset.readonly %}
            {% url 'ecs.tasks.views.reopen_task' task_pk=formset.reopen_task.pk as reopen_url %}
            <p>
                <a class="btn btn-outline-primary" href="{{ reopen_url }}">
                    {% trans 'Reopen' %}
                </a>
            </p>
        {% endif %}
    </div>
    {% endfor %}
    
    <div id="communication_tab" class="tab collapse">
        <div data-widget-url="{% url 'ecs.communication.views.dashboard_widget' submission_pk=submission.pk %}"></div>
        <a class="btn btn-outline-primary" href="{% url 'ecs.communication.views.new_thread' submission_pk=submission.pk %}" target="_blank">{% trans "Write a new message" %}</a>
    </div>
    {% if user.profile.is_internal %}
        <div id="communication_overview_tab" class="tab collapse">
            <div data-widget-url="{% url 'ecs.communication.views.communication_overview_widget' submission_pk=submission.pk %}"></div>
        </div>
    {% endif %}
    {% if user.profile.show_worklow_widget %}
        <div id="tasks_tab" class="tab collapse">
            <div data-widget-url="{% url 'ecs.tasks.views.my_tasks' submission_pk=submission.pk %}"></div>
        </div>
        {% if user.profile.is_internal %}
            <div id="workflow_log" class="tab collapse">
                <div data-widget-url="{% url 'ecs.tasks.views.task_backlog' submission_pk=submission.pk %}"></div>
                <div class="mt-2" data-widget-url="{% url 'ecs.checklists.views.create_task' submission_pk=submission.pk %}"></div>
            </div>
        {% endif %}
    {% endif %}
    {{ block.super }}
{% endblock %}

{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript"> 
        $(function(){
            /*
             * Initialize select2 the first time the tab is shown. Otherwise
             * select2 exhibits display bugs due to the target element not being
             * visible.
             */
            $('#categorization_tab').one('tab-show', function() {
                $('#id_medical_categories').select2();
            });
            $('#involved_parties_tab').one('tab-show', function() {
                $('#id_user').select2({'minimumInputLength': 3});
            });

            ecs.setupForms();
            ecs.setupWidgets();

            $('form.review .CharField textarea').each(function(){
                ecs.textarea.installToolbar(this, [
                    {% if user.profile.is_internal %}
                        ecs.textarea.toolbarItems.boilerplate(
                            "{% trans 'Insert Boilerplate' %}",
                            "{% url 'ecs.boilerplate.views.select_boilerplate' %}"
                        )
                    {% endif %}
                ]);
            });

            {% for checklist, formset in checklist_reviews %}
                {% if not formset.readonly %}
                    {% if user.profile.is_internal or checklist.last_edited_by == user %}
                        {% for form in formset %}
                            ecs.textarea.installToolbarItem('#{{ form.comment.id_for_label }}',
                                ecs.textarea.toolbarItems.versionHistory(
                                    "{% trans 'History' %}",
                                    "{% url 'ecs.core.views.fieldhistory.field_history' model_name='checklist_answer' pk=form.instance.pk %}"
                                )
                            );
                        {% endfor %}
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if user.profile.is_internal and vote_review_form and vote_review_form.instance.pk %}
                $('form.review.vote .CharField textarea').each(function(){
                    ecs.textarea.installToolbarItem(this,
                        ecs.textarea.toolbarItems.versionHistory(
                            "{% trans 'History' %} ({{ vote_version }})",
                            "{% url 'ecs.core.views.fieldhistory.field_history' model_name='vote' pk=vote_review_form.instance.pk %}"
                        )
                    );
                });
            {% endif %}


            $('.header_actions a.review[id^=save_]').click(function(ev) {
                ev.preventDefault();
                var tab = $(this).attr('id').substring('save_'.length);
                $('#' + tab).find('input[type="submit"][name="save"]').click();
            });

            $('.header_actions a.review[id^=close_]').click(function(ev) {
                ev.preventDefault();
                var tab = $(this).attr('id').substring('close_'.length);
                $('#' + tab).find('input[type="submit"][name="complete_task"]').click();
            });

            {% if review_complete %}
                ecs.confirm({
                    question: '{{ _("Do you want to close the review and send it to the EC?")|escapejs }}',
                    ok: '{{ _("Yes")|escapejs }}',
                    cancel: '{{ _("No")|escapejs }}',
                    success: function() {
                        $('#checklist_{{ review_complete }}_review_form')
                            .find('input[type="submit"][name="really_complete_task"]')
                            .click();
                    }
                });
            {% endif %}

            if (!$('#id_invoice_differs_from_sponsor').is(':checked'))
                $('#tabs-4 .fieldset_2').hide();

            $('#tabs_submission a').each(function() {
                var container = $($(this).attr('href'));
                container.find('input[type="checkbox"]').each(function() {
                    var input = $(this);
                    if (!input.is(':checked'))
                        input.parent('li.BooleanField').hide();
                });
            });

            $('.expand_submission_forms').click(function(ev) {
                ev.preventDefault();
                var tr = $(this);
                tr.siblings().removeClass('collapse');
                tr.remove();
            }).hover(function(ev) {
                $(this).toggleClass('table-active', ev.type == 'mouseenter');
            });
        });
    </script>
{% endblock %}
