{% load core i18n %}

{% if form.errors %}
    <div class="alert alert-danger text-center">
        {{ form.errors }}
    </div>
{% endif %}

{% if not review_form.readonly %}
    <form action="{{ request.path }}" method="post" class="bound_to_task">
    {% csrf_token %}
{% endif %}

{% for field_name in review_form.fields %}
    {% with review_form|getitem:field_name as field %}
        {% include "submissions/review_field.html" %}
    {% endwith %}
{% endfor %}

{% if not review_form.readonly %}
    </form>
{% endif %}
