{% extends 'core.html' %}

{% block htmltitle %}ECS Elektronische Einreichung{% endblock %}

{% block headertitle %}
Schedule {{ submission }}
{% endblock %}

{% block content %}

<div class="form_main">
  <h2>{{ submission.project_title }}</h2>
  
  <h3>{{ submission.german_project_title }}</h3>
  
  <form action="" method="post">
      <table>
          {{ form }}
      </table>
      <input type="submit" value="Speichern" />
  </form>
</div>
{% endblock %}

{% block menuSelection %}submissions{% endblock %}
