{% extends 'core.html' %}

{% block htmltitle %}ECS Elektronische Einreichung{% endblock %}

{% block headertitle %}
Liste aller Studien
{% endblock %}

{% block content %}

<form action="" method="post" enctype="multipart/form-data" style="margin-bottom:50px;">
    <input type="text" name="keyword" />
    <input type="submit" value="Suchen" />
</form>

{% if submissions %}
    {% include 'submissions/list.inc' %}
{% else %}
    <p>
        Keine Einreichung gefunden.
    </p>
{% endif %}

{% endblock %}

{% block menuSelection %}demo{% endblock %}

