{% load i18n core userutils %}

<h3>{% trans 'Studies' %}</h3>

<div id="submission_widget">

{% include "submissions/filterform.inc" %}

<ol class="submission_widget_list">
{% for submission in submissions.object_list %}
    <li class="submission_item">
    {% if submission|is_docstash %}
        {% with submission as docstash %}
        <a href="{% url 'ecs.core.views.submissions.create_submission_form' docstash_key=docstash.key %}">
            <span class="fa fa-wrench text-info"></span>
        </a>
        {% if docstash.value.notification_type %}
            <b>{{ docstash.value.notification_type }}</b> für
        {% endif %}
        {{ docstash.name|default:"<i>Unbenannt</i>" }}
        <div class="info">Letzte Änderung: {{ docstash.modtime|date:"d.m.Y, H:i:s" }} Uhr</div>
        {% endwith %}
    {% else %}
    
        {% if submission.resubmission_task %}
            <span class="fa fa-exclamation-triangle text-danger"></span>
        {% endif %}
        {% if submission.b2_resubmission_task %}
            <span class="fa fa-exclamation-triangle text-danger"></span>
        {% endif %}
        
        {% with submission.get_current_docstash as docstash %}
        {% if docstash %}
            <span class="fa fa-wrench text-info"></span>
        {% endif %}
        {% endwith %}

        {% with submission.current_submission_form as submission_form %}
        {% with submission.external_review_task as external_review_task %}
            <a href="{% url 'view_submission' submission_pk=submission.pk %}">
                {% if external_review_task %}<span class="fa fa-cog text-info"></span>{% endif %}
                {{ submission|ec_number }}
            </a>
        {% endwith %}
        {{ submission.project_title_display|default:'<i>{% trans "No title." %}</i>' }}
        {% with submission.medical_categories.all as categories %}
            {% if categories and user.profile.is_internal %}
                <div class="info">{% trans "Categories" %}: {% for cat in categories %}<i>{{ cat }}</i>{% if not forloop.last %}, {% endif %}{% endfor %}</div>
            {% endif %}
        {% endwith %}
        {% endwith %}

        {% if user.profile.is_internal %}
            <div>
                {% include 'tags/list.inc' with tags=submission.tags.all only %}
            </div>
        {% endif %}
    {% endif %}
    </li>
{% empty %}
    <li><em>{% trans "No Submissions." %}</em></li>
{% endfor %}
</ol>

{% include 'paginator.inc' with page=submissions %}

</div>

<script type="text/javascript">
    $(function(){
        var form = $('#submission_list_filter');
        var page_input = form.find('input[name="page"]');
        $('#submission_widget .paginator a').click(function(ev) {
            ev.preventDefault();
            page_input.val($(this).data('page'));
            form.submit();
        });
        form.find('input').change(function(){
            form.submit();
        });
    });
</script>
