{% load i18n core userutils %}

<div id="submission_widget">

{% include "submissions/filterform.inc" %}

<ol class="submission_widget_list">
{% for submission in submissions.object_list %}
    <li class="submission_item">
    {% if submission|is_docstash %}
        {% with submission as docstash %}
        <a href="{% url ecs.core.views.create_submission_form docstash_key=docstash.key %}"> <span class="submission_inprogress"></span> </a>
        {% if docstash.current_value.notification_type %}
            <b>{{ docstash.current_value.notification_type }}</b> für
        {% endif %}
        {{ docstash.current_name|default:"<i>Unbenannt</i>" }}
        <div class="info">Letzte Änderung: {{ docstash.modtime|date:"d.m.Y, H:i:s" }} Uhr (Version {{ docstash.current_version }})</div>
        {% endwith %}
    {% else %}
        {% with submission.get_current_docstash as docstash %}
        {% if docstash %}
            <a href="{% url ecs.core.views.create_submission_form docstash_key=docstash.key %}"> <span class="submission_inprogress"></span> </a>
        {% endif %}
        {% endwith %}

        {% with submission.current_submission_form as submission_form %}
        {% with submission|external_review:user as external_review_task %}
            {% if external_review_task %}
                <span class="submission_review"></span>
                <a href="{{ external_review_task.url }}">{{ submission|ec_number }}</a>
            {% else %}
                <a href="{% url ecs.core.views.readonly_submission_form submission_form_pk=submission_form.pk %}">{{ submission|ec_number }}</a>
            {% endif %}
        {% endwith %}
        {{ submission.project_title_display|default:'<i>{% trans "No title." %}</i>' }}
        {% with submission.medical_categories.all as categories %}
            {% if categories and user|has_flag:'internal' %}
                <div class="info">{% trans "Categories" %}: {% for cat in categories %}<i>{{ cat }}</i>{% if not forloop.last %}, {% endif %}{% endfor %}</div>
            {% endif %}
        {% endwith %}
        {% with submission.expedited_review_categories.all as er_categories %}
            {% if categories and user|has_flag:'internal' %}
                <div class="info">{% trans "ExpeditedReviewCategories" %}: {% for cat in categories %}<i>{{ cat }}</i>{% if not forloop.last %}, {% endif %}{% endfor %}</div>
            {% endif %}
        {% endwith %}
        <div class="actions">
            {% if submission|resubmission:user %}<span class="submission_resubmission"></span>{% endif %}
        </div>
        {% endwith %}
    {% endif %}
    </li>
{% empty %}
    <li><em>{% trans "No Submissions." %}</em></li>
{% endfor %}
</ol>

<div class="paginator">
    {% if user|has_flag:"internal" %}
        <a href="{% url ecs.core.views.all_submissions %}">{% trans "More" %}</a>
    {% else %}
        <a href="{% url ecs.core.views.my_submissions %}">{% trans "More" %}</a>
    {% endif %}

    {% if not submissions.number == 1 %}
        <a href="#" class="first_page open-in-widget">first</a>
    {% endif %}
    {% if submissions.has_previous %}
        <a href="#" class="prev_page open-in-widget">previous</a>
    {% endif %}
    {% trans "Page" %} {{ submissions.number }} {% trans "of" %} {{ submissions.paginator.num_pages }}
    {% if submissions.has_next %}
        <a href="#" class="next_page open-in-widget">next</a>
    {% endif %}
    {% if not submissions.number == submissions.paginator.num_pages %}
        <a href="#" class="last_page open-in-widget">last</a>
    {% endif %}
</div>

</div>

<script type="text/javascript">
  window.addEvent('domready', function(){
      var widget = $('submission_widget');
      var form = $('submission_list_filter');
      form.getElements('input').each(function(input){
          input.addEvent('change', function(){
              form.submit();
          });
      });
      var page_input = form.getElement('input[name="page"]');
{% if not submissions.number == 1 %}
      widget.getElement('a.first_page').addEvent('click', function(){
          page_input.value = 1;
          form.submit();
      });
{% endif %}
{% if submissions.has_previous %}
      widget.getElement('a.prev_page').addEvent('click', function(){
          page_input.value = parseInt(page_input.value, 10) - 1;
          form.submit();
      });
{% endif %}
{% if submissions.has_next %}
      widget.getElement('a.next_page').addEvent('click', function(){
          page_input.value = parseInt(page_input.value, 10) + 1;
          form.submit();
      });
{% endif %}
{% if not submissions.number == submissions.paginator.num_pages %}
      widget.getElement('a.last_page').addEvent('click', function(){
          page_input.value = {{ submissions.paginator.num_pages }};
          form.submit();
      });
{% endif %}
  });
</script>
