{% extends 'core.html' %}
{% load core i18n %}

{% block htmltitle %}Antwort: {{ notification }} | {{ block.super }}{% endblock %}

{% block headertitle %}
{% endblock %}

{% block content %}
<div class="notification">
<h2>Antwort auf <a target="_blank" href="{% url ecs.notifications.views.view_notification notification_pk=notification.pk %}">{{ notification }}</a> vom {{ notification.timestamp|date:'d.m.Y' }}</h2>

<p>
{% block notification_answer_head %}
    <h3>Eingereicht von: {{ notification.user }}</h3>
{% endblock %}
</p>

{% with 1 as target_blank %}
    {% with notification.submission_forms.all as submission_forms %}
        {% include "notifications/submission_data.html" %}
    {% endwith %}
{% endwith %}

{% block notification_answer_body %}
{% endblock %}

{% if notification.type.grants_vote_extension %}
<br />
<p>Die aktuelle Gültigkeit des Votums endet mit
    <b>{{ notification.get_submission.votes.positive.permanent.latest.valid_until|date:'d.m.Y'  }} </b></p>
{% endif %}

</div>
{% endblock %}

{% block menuSelection %}notifications{% endblock %}

