{% extends 'core.html' %}
{% load core i18n %}

{% block title %}ECS Elektronische Einreichung{% endblock %}

{% block headertitle %}
{% endblock %}

{% block content %}
<h2>Antwort auf <a href="{% url ecs.notifications.views.view_notification notification_pk=notification.pk %}">{{ notification }}</a> für {% for sf in notification.submission_forms.all %}<a href="{% url ecs.core.views.view_submission submission_pk=sf.submission.pk %}">{{ sf.submission }}</a>{% if not forloop.last %}, {% endif %}{% endfor %} vom {{ notification.timestamp|date:'d.m.Y' }}</h2>
User: {{ notification.user }}

{% with notification.submission_forms.all as submission_forms %}
    {% include "notifications/submission_data.html" %}
{% endwith %}

{% block notification_answer_body %}
{% endblock %}

{% endblock %}

{% block menuSelection %}notifications{% endblock %}

