{% extends 'core.html' %}
{% load core i18n %}

{% block htmltitle %}Antwort: {{ notification }} | {{ block.super }}{% endblock %}

{% block headertitle %}
{% endblock %}

{% block content %}
<div class="notification">
<h2>Antwort auf <a href="{% url ecs.notifications.views.view_notification notification_pk=notification.pk %}">{{ notification }}</a> vom {{ notification.timestamp|date:'d.m.Y' }}</h2>

<p>
{% block notification_answer_head %}
    <strong>Eingereicht von: {{ notification.user }}</strong>
{% endblock %}
</p>

{% with notification.submission_forms.all as submission_forms %}
    {% include "notifications/submission_data.html" %}
{% endwith %}

{% block notification_answer_body %}
{% endblock %}

</div>
{% endblock %}

{% block menuSelection %}notifications{% endblock %}

