{% extends 'core.html' %}
{% load core i18n %}

{% block menuSelection %}notifications{% endblock %}

{% block htmltitle %}Antwort: {{ notification }} | {{ block.super }}{% endblock %}
{% block headertitle %}{% endblock %}

{% block content %}
<div class="notification">
    <h2>Antwort auf <a target="_blank" href="{% url 'ecs.notifications.views.view_notification' notification_pk=notification.pk %}">{{ notification }}</a> vom {{ notification.timestamp|date:'d.m.Y' }}</h2>

    <p>
    {% block notification_answer_head %}
        <h3>Eingereicht von: {{ notification.user }}</h3>
    {% endblock %}
    </p>

    {% with notification.submission_forms.all as submission_forms %}
        {% include "notifications/submission_data.html" %}
    {% endwith %}

    <form action="" method="post" enctype="multipart/form-data" class="form_main{% if form.bound_to_task %} bound_to_task{% endif %}">
        {% csrf_token %}
        {% for field in form %}
            {% include 'bootstrap/form_field.html' %}
        {% endfor %}
        {% if not form.bound_to_task %}
            <input class="btn btn-primary" type="submit" value="Speichern" />
        {% endif %}
    </form>

    {% if notification.type.grants_vote_extension %}
        <br>
        <p>
            Die aktuelle Gültigkeit des Votums endet mit
            <b>{{ notification.get_submission.votes.positive.permanent.latest.valid_until|date:'d.m.Y' }}</b>
        </p>
    {% endif %}
</div>
{% endblock %}

{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript"> 
        $(function(){
            ecs.setupFormFieldHelpers();
            var toolbar_items = [
                {% if answer and user.profile.is_internal %}
                    ecs.textarea.toolbarItems.versionHistory(
                        "{{ _('History')|escapejs }} ({{ answer_version }})",
                        "{% url 'ecs.core.views.fieldhistory.field_history' model_name='notification_answer' pk=answer.pk %}"
                    ),
                {% endif %}
                ecs.textarea.toolbarItems.boilerplate(
                    "{{ _('Insert Boilerplate')|escapejs }}",
                    "{% url 'ecs.boilerplate.views.select_boilerplate' %}"
                )
            ];
            ecs.textarea.installToolbar('#id_text', toolbar_items);
        });
    </script>
{% endblock %}