{% extends 'notifications/answers/base.html' %}
{% load core i18n userutils %}

{% block notification_answer_body %}

<form action="" method="post" enctype="multipart/form-data" class="form_main{% if form.bound_to_task %} bound_to_task{% endif %}">
    {% csrf_token %}
    <ol>
    {% for field in form %}
        {% include 'forms/field.html' %}
    {% endfor %}
    </ol>
    {% if not form.bound_to_task %}
        <input type="submit" value="Speichern" />
    {% endif %}
</form>

{% endblock %}

{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript"> 
        $(function(){
            ecs.setupFormFieldHelpers();
            var toolbar_items = [
                {% if answer and user.profile.is_internal %}
                    ecs.textarea.toolbarItems.versionHistory(
                        "{{ _('History')|escapejs }} ({{ answer_version }})",
                        "{% url 'ecs.core.views.fieldhistory.field_history' model_name='notification_answer' pk=answer.pk %}"
                    ),
                {% endif %}
                ecs.textarea.toolbarItems.boilerplate(
                    "{{ _('Insert Boilerplate')|escapejs }}",
                    "{% url 'ecs.boilerplate.views.select_boilerplate' %}"
                )
            ];
            ecs.textarea.installToolbar('#id_text', toolbar_items);
        });
    </script>
{% endblock %}

