{% extends "core.html" %}
{% load core i18n %}

{% block menuSelection %}administration{% endblock %}

{% block htmltitle %}Rechnungsstellung - Gutachten | {{ block.super }}{% endblock %}

{% block headertitle %}
    Rechnungsstellung - Gutachten
{% endblock %}

{% block content %}
    <div class="container my-3">
        <a class="btn btn-secondary" href="{% url 'ecs.billing.views.checklist_payment_pdf' payment_pk=payment.pk %}">
            {% trans 'Download payment as xls file' %}
        </a>

        <h2 class="mt-3">{% blocktrans with payment.created_at|date:'d.m.Y' as date %}Payment of {{ date }}{% endblocktrans %}</h2>
        <table class="table table-sm">
            <tr>
                <th>{% trans 'Reviewer' %}</th>
                <th>{% trans 'Study' %}</th>
            </tr>
            {% for checklist in payment.checklists.all %}
                <tr>
                    <td>{{ checklist.user }}</td>
                    <td>{{ checklist.submission|ec_number }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
