{% extends "core.html" %}
{% load core i18n %}

{% block menuSelection %}administration{% endblock %}

{% block htmltitle %}Rechnungsstellung - Gutachten | {{ block.super }}{% endblock %}

{% block headertitle %}
    Rechnungsstellung - Gutachten
{% endblock %}

{% block content %}
    <div class="container">
        <p>
            <a class="btn btn-secondary btn-sm" href="{% url 'ecs.billing.views.checklist_payment_list' %}">
                {% trans 'Old Payments' %}
            </a>
        </p>

        <h2>{% trans 'Unbilled Reviews' %}</h2>

        {% if checklists %}
            <form action="" method="post">
                {% csrf_token %}
                <ul class="form-check list-group mb-3">
                    {% for checklist in checklists %}
                        {% with checklist.submission as submission %}
                            <li class="list-group-item d-block">
                                <label class="d-block form-check-label">
                                    <input class="form-check-input" type="checkbox" name="pay_{{ checklist.pk }}" checked="checked" /> 
                                    <div class="ml-3">
                                        {{ checklist }} ({{ submission|ec_number }}: {{ submission.project_title_display }})
                                    </div>
                                    <div class="ml-3 mt-3">
                                        <strong>{{ price.price|euro }}</strong> ({{ price.text }})
                                    </div>
                                </label>
                            </li>
                        {% endwith %}
                    {% endfor %}
                </ul>
                <input class="btn btn-primary" type="submit" value="{% trans 'Create settlement' %}"/>
            </form>
        {% else %}
            <ul class="list-group mb-3">
                <li class="list-group-item d-block text-center">
                    <em>{% trans 'No review yet.' %}</em>
                </li>
            </ul>
        {% endif %}
    </div>
{% endblock %}
