{% extends "core.html" %}
{% load core i18n %}

{% block menuSelection %}administration{% endblock %}

{% block htmltitle %}Rechnungsstellung - Gutachten | {{ block.super }}{% endblock %}

{% block headertitle %}
    Rechnungsstellung - Gutachten
{% endblock %}

{% block content %}
    <p><a href="{% url ecs.documents.views.download_document document_pk=payment.document.pk %}" class="button_submit">{% trans 'Download payment as xls file' %}</a></p>

    <h2>{% blocktrans with payment.created_at|date:'d.m.Y' as date %}Payment of {{ date }}{% endblocktrans %}</h2>
    <table class="billing_summary">
        <tr>
            <th>{% trans 'Reviewer' %}</th>
            <th>{% trans 'Study' %}</th>
        </tr>
        {% for checklist in payment.checklists.all %}
            <tr>
                <td>{{ checklist.user }}</td>
                <td>{{ checklist.submission|ec_number }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
