{% extends "core.html" %}
{% load core i18n %}

{% block menuSelection %}administration{% endblock %}

{% block htmltitle %}Rechnungsstellung - External Review | {{ block.super }}{% endblock %}

{% block headertitle %}
    Rechnungsstellung - External Review
{% endblock %}

{% block content %}
    <p><a href="{% url ecs.billing.views.checklist_payment_list %}">{% trans 'Old Payments' %}</a></p>

    <h2>{% trans 'Unbilled Reviews' %}</h2>
    {% if debug %}
        <a href="{% url ecs.billing.views.reset_external_review_payment %}" class="button_submit">reset</a>
    {% endif %}

    {% if checklists %}
        <div class="billing_list">
            <form action="" method="post">
                <ol>
                {% for checklist in checklists %}
                    {% with checklist.submission as submission %}
                    <li>
                        <input type="checkbox" name="pay_{{ checklist.pk }}" checked="checked" /> 
                        <span class="indent">
                            {{ checklist }} ({{ submission|ec_number }}: {{ submission.project_title_display }})
                            <span class="price">{{ price.price|euro }}</span> ({{ price.text }})
                        </span>
                    </li>
                    {% endwith %}
                {% endfor %}
                </ol>
                <input type="submit" value="{% trans 'Create settlement' %}"/>
            </form>
        </div>
    {% else %}
        <em>{% trans 'No review yet.' %}</em>
    {% endif %}
{% endblock %}
