{% extends "core.html" %}
{% load core %}

{% block menuSelection %}administration{% endblock %}

{% block htmltitle %}Rechnungsstellung - External Review{% endblock %}

{% block headertitle %}
    Rechnungsstellung - External Review
{% endblock %}

{% block content %}
    <a href="{% url ecs.billing.views.reset_external_review_payment %}">reset</a>
    <form action="" method="post">
    {% for submission in submissions %}
        <div class="{% cycle 'even' 'odd' %}">
            <input type="checkbox" name="pay_{{ submission.pk }}" checked="checked" /> {{ submission.external_reviewer_name }} ({{ submission|ec_number }}: {{ submission.project_title }})
            <div><span class="price">{{ price.price|euro }}</span> ({{ price.text }})</div>
        </div>
    {% endfor %}
    <input type="submit">
    </form>
{% endblock %}

