{% extends "core.html" %}
{% load core i18n %}

{% block menuSelection %}administration{% endblock %}

{% block htmltitle %}Rechnungsstellung - Einreichungen | {{ block.super }}{% endblock %}

{% block headertitle %}
    Rechnungsstellung - Einreichungen
{% endblock %}

{% block content %}
    <div class="container">
        <h2>{% trans 'Old Invoices' %}</h2>

        {% include 'paginator.html' with page=invoices %}

        <ul class="list-group mb-3">
            {% for invoice in invoices.object_list %}
                <li class="list-group-item d-block">
                    <a href="{% url 'ecs.billing.views.view_invoice' invoice_pk=invoice.pk %}">
                        {% blocktrans with invoice.created_at|date:'d.m.Y' as date %}Invoice of {{ date }}{% endblocktrans %}
                    </a>:
                    {% with invoice.submissions.count as count %}
                        {% if count == 1 %}
                            {% trans '1 Submission' %}
                        {% else %}
                            {% blocktrans with count as count %}{{ count }} Submissions{% endblocktrans %}
                        {% endif %}
                        -
                    {% endwith %}
                    {{ invoice.stats.total|euro }}
                </li>
            {% empty %}
                <li class="list-group-item d-block text-center">
                    <em>{% trans 'No invoice yet.' %}</em>
                </li>
            {% endfor %}
        </ul>
        {% include 'paginator.html' with page=invoices %}
    </div>
{% endblock %}
