{% extends "core.html" %}
{% load core i18n %}

{% block menuSelection %}administration{% endblock %}

{% block htmltitle %}Rechnungsstellung - Einreichungen{% endblock %}

{% block headertitle %}
    Rechnungsstellung - Einreichungen
{% endblock %}

{% block content %}
    {% if debug %}
        <a href="{% url ecs.billing.views.reset_submissions %}">reset</a>
    {% endif %}
    <form action="" method="post">
    {% for submission in submissions %}
        <div>
            <a href="{% url ecs.core.views.readonly_submission_form submission_form_pk=submission.current_submission_form.pk %}">{{ submission|ec_number }} </a>
            &nbsp;
            {# <a href="{% url ecs.core.views.vote_show meeting_pk=1 vote_pk=vote.pk %}" target="_blank">{% trans "Ansehen" %}</a> #}
            <input type="checkbox" name="bill_{{ submission.pk }}" checked="checked" /> {{ submission.project_title_display }}
            <div><span class="price">{{ submission.price.price|euro }}</span> ({{ submission.price.text }})</div>
        </div>
    {% endfor %}
    <input type="submit">
    </form>
{% endblock %}
