{% extends "core.html" %}
{% load core i18n %}

{% block menuSelection %}administration{% endblock %}

{% block htmltitle %}Rechnungsstellung - Einreichungen | {{ block.super }}{% endblock %}

{% block headertitle %}
    Rechnungsstellung - Einreichungen
{% endblock %}

{% block content %}
    <div class="container">
        <p>
            <a class="btn btn-secondary btn-sm" href="{% url 'ecs.billing.views.invoice_list' %}">
                {% trans 'Old Invoices' %}
            </a>
        </p>

        <h2>{% trans 'Unbilled Submissions' %}</h2>
        {% if submissions %}
            <form action="" method="post">
                {% csrf_token %}
                <ul class="form-check list-group mb-3">
                    {% for submission in submissions %}
                        <li class="list-group-item d-block">
                            <label class="d-block form-check-label">
                                <input class="form-check-input" type="checkbox" name="bill_{{ submission.pk }}" checked="checked" />
                                <div class="ml-3">
                                    <a href="{% url 'view_submission' submission_pk=submission.pk %}">{{ submission|ec_number }} </a>
                                    {{ submission.project_title_display }}
                                </div>
                                <div class="row mt-3 px-3">
                                    <div class="col-sm-6">
                                        <strong>{% trans 'Sponsor' %}:</strong> {{ submission.current_submission_form.sponsor_name }}
                                    </div>
                                    <div class="col-sm-6">
                                        <strong class="price">{{ submission.price.price|euro }}</strong> 
                                        ({{ submission.price.text }})
                                    </div>
                                </div>
                            </label>
                        </li>
                    {% endfor %}
                </ul>
                <input class="btn btn-primary" type="submit" value="{% trans 'Create settlement' %}"/>
            </form>
        {% else %}
            <ul class="list-group mb-3">
                <li class="list-group-item d-block text-center">
                    <em>{% trans 'No submission yet.' %}</em>
                </li>
            </ul>
        {% endif %}
    </div>
{% endblock %}
