{% extends "core.html" %}
{% load core %}

{% block menuSelection %}administration{% endblock %}

{% block htmltitle %}Rechnungsstellung - Einreichungen | {{ block.super }}{% endblock %}

{% block headertitle %}
    Rechnungsstellung - Einreichungen
{% endblock %}

{% block content %}
    <p><a href="{% url ecs.documents.views.download_document document_pk=invoice.document.pk %}" class="button_submit">Detailierte Auflistung</a></p>

    <h2>Zusammenfassung</h2>
    {% with invoice.stats as stats %}
    <table class="billing_summary">
        {% for item in stats.summary.values %}
            <tr>
                <td>{{ item.label }}</td>
                <td>{{ item.count }}</td>
                <td><span class="price">{{ item.price.price|euro }}</span></td>
                <td><span class="price">{{ item.price.text }}</span></td>
                <td><span class="price">{{ item.price.price|multiply:item.count|euro }}</span></td>
            </tr>
        {% endfor %}
        <tr>
            <td><strong>(brutto = netto)</strong></td>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>{{ stats.total|euro }}</strong></td>
        </tr>
    </table>
    {% endwith %}
{% endblock %}

