{% extends "core.html" %}
{% load core %}

{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/forms.js"></script>
{% endblock %}

{% block content %}
    <form action="" method="post">
        <div id="tabs">
            <ul>
            {% for tab, fieldsets in tabs %}
                <li><a href="#tabs-{{ forloop.counter }}">{{ tab }}</a></li>
            {% endfor %}
            </ul>
            {% for tab, fieldsets in tabs %}
                <div id="tabs-{{ forloop.counter }}" class="tab">
                    {% ifequal tab "Massnahmen" %}
                        {# FIXME #}
                        <fieldset>
                            <legend>Angaben zur durchzuführenden Therapie und Diagnostik</legend>
                            {% with measure_formset as formset %}
                                {% include "submissions/inline_formset.html" %}
                            {% endwith %}
                        </fieldset>
                        <fieldset>
                            <legend>Sonstige im Rahmen der Studie verabreichte Medikamente, deren Wirksamkeit und/oder Sicherheit nicht Gegenstand der Prüfung sind</legend>
                            {% with nontesteduseddrug_formset as formset %}
                                {% include "submissions/inline_formset.html" %}
                            {% endwith %}
                        </fieldset>                        
                    {% endifequal %}
                    
                    {% ifequal tab "Eckdaten" %}
                        {# FIXME #}
                        <fieldset>
                            <legend>Ausländische teilnehmende Zentren</legend>
                            {% with foreignparticipatingcenter_formset as formset %}
                                {% include "submissions/inline_formset.html" %}
                            {% endwith %}                            
                        </fieldset>
                    {% endifequal %}
                    
                    {% for legend, fields in fieldsets %}
                        <fieldset class="fieldset_{{ forloop.counter }}">
                            {% if legend %}
                                <legend>{{ legend }}</legend>
                            {% endif %}
                            <ol>
                                {% for field_name in fields %}
                                    {% with form|getitem:field_name as field %}
                                        <li class="{{ field.field|type_name }}{% if field.field.required %} required{% endif %}">
                                            <label for="id_{{ field_name }}">
                                                {{ field.label }}
                                                {% if field_name|paperform_number %}
                                                    <span class="paperform_number">{{ field_name|paperform_number }}</span>
                                                {% endif %}
                                            </label>
                                            {{ field }}
                                            {% if field.errors %}
                                            <span class="errors">
                                                {{ field.errors }}
                                            </span>
                                            {% endif %}
                                        </li>
                                    {% endwith %}
                                {% endfor %}
                            </ol>
                        </fieldset>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <script type="text/javascript">
            $(function(){
                $("#tabs").tabs();
               
                $('#measure_formset .form').formset({
                    prefix: '{{ measure_formset.prefix }}',
                    formCssClass: 'measure_formset',
                });
                
                $('#foreignparticipatingcenter_formset .form').formset({
                    prefix: '{{ foreignparticipatingcenter_formset.prefix }}',
                    formCssClass: 'foreignparticipatingcenter_formset',
                });

                $('#nontesteduseddrug_formset .form').formset({
                    prefix: '{{ nontesteduseddrug_formset.prefix }}',
                    formCssClass: 'nontesteduseddrug_formset',
                });
                
                $('fieldset').each(function(){
                    var fieldset = $(this);
                    var autofillLink = $('<a href="#">auto fill</a>');
                    autofillLink.click(function(){
                        $('input[type=text], textarea', fieldset).each(function(){
                            var val = this.name;
                            var maxlength = $(this).attr('maxlength');
                            if(val.indexOf('email') != -1){
                                val += '@example.com';
                            }
                            else if(maxlength){
                                val = val.substring(val.length - maxlength);
                            }
                            $(this).val(val);
                        });
                    });
                    fieldset.prepend(autofillLink);
                });
                
                $("#tabs .tab").each(function(){
                    if($('.errors', $(this)).length){
                        $('#tabs ul li a[href=#' + this.id + ']').addClass('errors');
                    }
                });
            });
        </script>
    <input type="submit" value="Speichern" />
    </form>
{% endblock %}