{% extends "core.html" %}
{% load core %}

{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/forms.js"></script>
{% endblock %}

{% block headernav %}
    <ul class="tab_headers">
    {% for tab, fieldsets in tabs %}
        <li><a href="#tabs-{{ forloop.counter }}">{{ tab }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        <div id="tabs">
            {% for tab, fieldsets in tabs %}
                <div id="tabs-{{ forloop.counter }}" class="tab">
                    {% ifequal tab "Massnahmen" %}
                        {# FIXME #}
                        <fieldset>
                            <legend>Angaben zur durchzuführenden Therapie und Diagnostik</legend>
                            {% with measure_formset as formset %}
                                {% include "forms/inline_formset.html" %}
                            {% endwith %}
                        </fieldset>
                        <fieldset>
                            <legend>Sonstige im Rahmen der Studie verabreichte Medikamente, deren Wirksamkeit und/oder Sicherheit nicht Gegenstand der Prüfung sind</legend>
                            {% with nontesteduseddrug_formset as formset %}
                                {% include "forms/inline_formset.html" %}
                            {% endwith %}
                        </fieldset>                        
                    {% endifequal %}
                                        
                    {% ifequal tab "Unterlagen" %}
                        {# FIXME #}
                        <fieldset>
                            {% include "documents/upload_form.html" %}
                            {% with document_formset as formset %}
                                {% include "forms/inline_formset.html" %}
                            {% endwith %}
                        </fieldset>
                    {% endifequal %}
                    
                    {% for legend, fields in fieldsets %}
                        <fieldset class="fieldset_{{ forloop.counter }}">
                            {% ifequal legend "Zentren im Ausland" %}
                                {# FIXME #}
                                {% with foreignparticipatingcenter_formset as formset %}
                                    {% include "forms/inline_formset.html" %}
                                {% endwith %}                            
                            {% endifequal %}                            
                            {% if legend %}
                                <legend>{{ legend }}</legend>
                            {% endif %}
                            <ol>
                                {% for field_name in fields %}
                                    {% with form|getitem:field_name as field %}
                                        {% include "forms/field.html" %}
                                    {% endwith %}
                                {% endfor %}
                            </ol>
                        </fieldset>
                    {% endfor %}

                {% ifequal tab 'Prüfer' %}
                  <fieldset>
                    <legend>Teil B</legend>
                    {% with investigator_formset as formset %}
<div id="{{ formset.prefix }}_formset" class="inline_formset">
    {{ formset.management_form }}
    {% for form in formset.forms %}
        <ol class="form">
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form %}
                {% if not field.is_hidden %}
                    {% ifequal field.name 'name' %}
                      <fieldset class="fieldset_i">
                        <legend>Angaben zur Prüferin/zum Prüfer</legend>
                    {% endifequal %}
                    {% ifequal field.name 'subject_count' %}
                      </fieldset>
                      <fieldset class="fieldset_ii">
                        <legend>Geplante Anzahl derPatient/inn/en bzw. Proband/inn/en an dieser Prüfstelle</legend>
                    {% endifequal %}
                    {% include "forms/field.html" %}
                {% endif %}
            {% endfor %}
                      </fieldset>
                      <fieldset class="fieldset_iii">
                        <legend>Verantwortliche Mitarbeiter/innen an der klinischen Studie (an Ihrer Prüfstelle)</legend>
                        {# receive hidden fields here via JS #}
                      </fieldset>
        </ol>
    {% endfor%}
</div>
                    {% endwith %}
                  </fieldset>

                  <fieldset>
                    {% with investigatoremployee_formset as formset %}
                    {% include "forms/inline_formset.html" %}
                    {% endwith %}
                  </fieldset>

                {% endifequal %}

                </div>
            {% endfor %}
        </div>
        <script type="text/javascript">
            jQuery(function($){
                ecs.setupFormSetHelpers('{{ measure_formset.prefix }}');
                ecs.setupFormSetHelpers('{{ foreignparticipatingcenter_formset.prefix }}');
                ecs.setupFormSetHelpers('{{ nontesteduseddrug_formset.prefix }}');
                ecs.setupFormSetHelpers('{{ document_formset.prefix }}');
                ecs.setupFormSetHelpers('{{ investigator_formset.prefix }}');
                ecs.setupFormSetHelpers('{{ investigatoremployee_formset.prefix }}');
                
                $('a.delete_document').click(function(){
                    $(this).parent('div').remove();
                    return false;
                });
                
                $('fieldset').each(function(){
                    var fieldset = $(this);
                    var autofillLink = $('<a href="#">auto fill</a>');
                    autofillLink.click(function(){
                        $('input[type=text], textarea', fieldset).each(function(){
                            var val = this.name;
                            var maxlength = $(this).attr('maxlength');
                            if(val.indexOf('email') != -1){
                                val += '@example.com';
                            }
                            else if(maxlength){
                                val = val.substring(val.length - maxlength);
                            }
                            $(this).val(val);
                        });
                    });
                    fieldset.prepend(autofillLink);
                });
                
            });
        </script>
    <input type="submit" value="Speichern" name="save" />
    <input type="submit" value="Submit" name="submit" />
    </form>
{% endblock %}
