{% extends "core.html" %}
{% load core %} 

{% block headertitle %}
  <div id="info" style="display: none;"></div>
{% endblock %}

{% block headernav %}
    <ul class="tab_headers">
    {% for tab, fieldsets in tabs %}
        <li><a href="#tabs-{{ forloop.counter }}">{{ tab }}</a></li>
    {% endfor %}
    </ul>
    {{ block.super }}
{% endblock %}

{% block header_actions %}
    {{ block.super }}
    <div class="header_actions"><a href="" class="submit_main_form">Abschicken</a></div>
{% endblock %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data" class="tabbed main">
        <div id="tabs">
            {% for tab, fieldsets in tabs %}
                <div id="tabs-{{ forloop.counter }}" class="tab">
                    {% ifequal tab "Massnahmen" %}
                        {# FIXME #}
                        <div class="field">
                            <h3>Angaben zur durchzuführenden Therapie und Diagnostik</h3>
                            {% with measure_formset as formset %}
                                {% include "forms/inline_formset.html" %}
                            {% endwith %}
                        </div>
                        <div class="field">
                            <h3>Sonstige im Rahmen der Studie verabreichte Medikamente, deren Wirksamkeit und/oder Sicherheit nicht Gegenstand der Prüfung sind</h3>
                            {% with nontesteduseddrug_formset as formset %}
                                {% include "forms/tables/inline_formset.html" %}
                            {% endwith %}
                        </div>
                    {% endifequal %}
                                        
                    {% ifequal tab "Unterlagen" %}
                        {# FIXME #}
                        <div class="field">
                            {% include "documents/upload_form.html" %}
                        </div>
                    {% endifequal %}
                    
                    {% for legend, fields in fieldsets %}
                        <div class="field fieldset_{{ forloop.counter }}">
                            {% if legend %}
                                <h3>{{ legend }}</h3>
                            {% endif %}
                            {% ifequal legend "Zentren im Ausland" %}
                                {# FIXME #}
                                {% with foreignparticipatingcenter_formset as formset %}
                                    {% include "forms/inline_formset.html" %}
                                {% endwith %}                            
                            {% endifequal %}                            
                            <ol>
                                {% for field_name in fields %}
                                    {% with form|getitem:field_name as field %}
                                        {% include "forms/field.html" %}
                                    {% endwith %}
                                {% endfor %}
                            </ol>
                        </div>
                    {% endfor %}

                    {% ifequal tab 'Zentrum' %}
                    <div class="partb">
                      <div class="field">
                        <h3 class="partbno">Zentrum</h3>
                        <ol class="partb_navi">
                          <li><a class="partb_add" href="#">Neues Zentrum hinzufügen</a></li>
                          <li><a class="partb_remove" href="#">Dieses Zentrum löschen</a></li> <!-- TODO deaktivieren, wenn erster Tab -->
                        </ol>
                        <div id="investigator_formset">
                        {{ investigator_formset.management_form }}
                        {% with investigator_formset as formset %}
                          {% for form in formset.forms %}
                            {# Investigator #}
                            <div class="form">
                              <ol>
                                {% for hidden in form.hidden_fields %}
                                  {{ hidden }}
                                {% endfor %}
                                {% for field in form %}
                                  {% if not field.is_hidden %}
                                    {% include "forms/field.html" %}
                                  {% endif %}
                                {% endfor %}
                              </ol> {# Investigator #}
                            </div>
                          {% endfor%}
                        {% endwith %}
                        </div>
                      </div>

                      <div class="field">
                        <h3>Verantwortliche Mitarbeiter/innen an der klinischen Studie (an Ihrer Prüfstelle)</h3>
                          {% with investigatoremployee_formset as formset %}
                            {% include "forms/tables/inline_formset.html" %}
                          {% endwith %}
                      </div>
                    </div>
                    {% endifequal %}
                </div>
            {% endfor %}
        </div>
    <div class="button"><input type="button" value="Speichern" name="save" id="save-button" /></div>
    <div class="button"><input type="submit" value="Validieren" name="save" /></div>
    <input type="submit" value="Submit" name="submit" />
    </form>
{% endblock %}

{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/forms.js"></script>
    <script type="text/javascript"> 
        window.addEvent('domready', function(){
            var formsets = [
                '{{ measure_formset.prefix }}', 
                '{{ nontesteduseddrug_formset.prefix }}', 
                '{{ foreignparticipatingcenter_formset.prefix }}', 
                '{{ investigator_formset.prefix }}', 
                '{{ investigatoremployee_formset.prefix }}'
            ].map(function(prefix){
                return new ecs.InlineFormSet($(prefix + '_formset'), {
                    prefix: prefix
                });
            });
            $('save-button').addEvent('click', function(){
                ecs.mainForm.autosave(true);
            });
            [
                'id_project_type_misc', 
                'id_pharma_checked_substance', 
                'id_pharma_reference_substance', 
                'id_substance_p_c_t_period',
                'id_medtech_checked_product',
                'id_medtech_reference_substance',
                'id_medtech_technical_safety_regulations',
                'id_medtech_departure_from_regulations',
                'id_additional_therapy_info',
                
            ].each(function(id){
                ecs.setupRichTextEditor($(id));
            });
        });
    </script>
{% endblock %}
