{% load core %}
<div id="{{ formset.prefix }}_formset" class="inline_formset">
    {{ formset.management_form }}
    {% for form in formset.forms %}
        <div class="form">
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form %}
                {% if not field.is_hidden %}
                    <div class="field {{ field.field|type_name }}">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                        <div class="errors">
                            {{ field.errors }}
                        </div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor%}
</div>
