{% extends 'core.html' %}

{% block htmltitle %}ECS Elektronische Einreichung{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ MEDIA_URL }}core/css/notification_new.css" media="screen"/>
{% endblock %}

{% block headertitle %}

<h1>Liste aller Studien</h1>
{% endblock %}

{% block content %}
{% if submission_forms %}
<div>
<h2>Eingereichte Studien</h2>
    {% for submission_form in submission_forms %}
        {% ifchanged submission_form.submission %}
            <h3>{{ submission_form.submission.ec_number }}
                <a href="{% url ecs.core.views.copy_latest_submission_form submission_pk=submission_form.submission.pk %}">Bearbeiten</a>
                 | <a href="{% url ecs.core.views.schedule_submission submission_pk=submission_form.submission.pk %}">Schedule</a>
            </h3>
            {% with submission_form.submission.medical_categories.all as categories %}
                {% if categories %}
                    <div>Kategorien: {% for cat in categories %}<i>{{ cat }}</i>{% if not forloop.last %}, {% endif %}{% endfor %}</div>
                {% endif %}
            {% endwith %}
            {% with submission_form.submission.expedited_review_categories.all as er_categories %}
                {% if categories %}
                    <div>ExpeditedReviewCategories: {% for cat in categories %}<i>{{ cat }}</i>{% if not forloop.last %}, {% endif %}{% endfor %}</div>
                {% endif %}
            {% endwith %}
            {% with submission_form.submission.meetings.distinct as meetings %}
                {% if meetings %}
                    <div>Sitzungen: {% for meeting in meetings %}<a href="{% url ecs.core.views.timetable_editor meeting_pk=meeting.pk %}">{{ meeting }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</div>
                {% endif %}
            {% endwith %}
        {% endifchanged %}
        <div>
            <a href="{% url ecs.core.views.view_submission_form submission_form_pk=submission_form.pk %}">{{ submission_form }}</a>
            (<a href="{% url ecs.core.views.submission_pdf submission_form_pk=submission_form.pk %}">Download PDF</a>
            | <a href="{% url pdf_show 3 1 1 %}">View PDF</a>
            <!--| <a href="{% url ecs.core.views.copy_submission_form submission_form_pk=submission_form.pk %}">Copy</a>-->
            | <a href="{% url ecs.core.views.readonly_submission_form submission_form_pk=submission_form.pk %}">Review</a>
            | <a href="{% url ecs.core.views.executive_review submission_form_pk=submission_form.pk %}">Executive Review</a>
            | <a href="{% url ecs.core.views.retrospective_thesis_review submission_form_pk=submission_form.pk %}">Thesis Review</a>
            | <a href="{% url ecs.core.views.checklist_review submission_form_pk=submission_form.pk blueprint_pk=1 %}">Statistik Review</a>)
        </div>
    {% endfor %}
{% endif %}
</div>

{% if stashed_submission_forms%}
<div style="margin-top: 4em">
    <h2>Offene Studien</h2>
    <ul>
        {% for docstash in stashed_submission_forms %}
            {% if docstash.current_value %}
                <li>
                    <a href="{% url ecs.core.views.create_submission_form docstash_key=docstash.key %}">
                        {{ docstash.current_name|default:"<i>Unbenannt</i>" }}
                    </a>
                    ({{ docstash.modtime|date:"d.m.Y, H:i:s" }} Uhr) (Version {{ docstash.current_version }})
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endif %}

{% endblock %}

{% block menuSelection %}submissions{% endblock %}
