{% extends "submissions/base_form.html" %}
{% load core %} 

{% block headertitle %}
  <div id="info" style="display: none;"></div>
{% endblock %}

{% block content %}
    <div class="form main">
        {{ block.super }}
    </div>
{% endblock %}

{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript"> 
        window.addEvent('domready', function(){
            [
                'id_project_type_misc', 
                'id_pharma_checked_substance', 
                'id_pharma_reference_substance', 
                'id_substance_p_c_t_period',
                'id_medtech_checked_product',
                'id_medtech_reference_substance',
                'id_medtech_technical_safety_regulations',
                'id_medtech_departure_from_regulations',
                'id_additional_therapy_info',
        
            ].each(function(id){
                ecs.setupRichTextEditor($(id), true);
            });
        });
    </script>
{% endblock %}
