{% extends 'core.html' %}

{% block htmltitle %}ECS Elektronische Einreichung{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ MEDIA_URL }}core/css/notification_new.css" media="screen"/>
{% endblock %}

{% block headertitle %}
<h1>Liste aller noch nicht eingereichten Studien</h1>
{% endblock %}

{% block content %}
<ul>
    {% for stash in stashed_submission_forms %}
        <li><a href="{% url ecs.core.views.create_submission_form docstash_key=stash.key %}">{{ stash.value.project_title.0 }} ({{ stash.key }}, version={{ stash.version }})</a></li>
    {% endfor %}
</ul>

{% endblock %}
