{% load core %}

<div class="message_display">
  <h3>{{ thread.subject }} ({{ message_list|length }})</h3>
  {% for message in message_list %}
  <div class="item">
    <ol>
      <li><strong>Von:</strong> {{ message.sender }}</li>
      <li><strong>An:</strong> {{ message.receiver }}</li>
      <li><strong>Datum:</strong> {{ message.timestamp|date:'d.m.Y H:i' }} Uhr</li>
      <li><strong>Betreff:</strong> 
          {% if message.thread.submission %}
              {{ message.thread.submission|ec_number }} -
          {% endif %}
          {{ message.thread.subject }}
      </li>
      <li class="actions">
          {% ifequal message.sender request.user %}
              <a class="open-in-widget icon_bump" href="{% url ecs.communication.views.send_message bump_message_pk=message.pk %}?next={{ request.path|urlencode }}" title="Bump">bump</a>
          {% else %}
              <a class="open-in-popup icon_answer" href="{% url ecs.communication.views.send_message reply_to_pk=message.pk %}" title="Antworten">answer</a>
          {% endifequal %}
          <a class="close-popup icon_done" href="{% url ecs.communication.views.close_thread thread_pk=message.thread.pk %}" title="Erledigt">done</a>
      </li>
      <li style="border-top: 1px solid #999999">
          <pre>{{ message.text|safe }}</pre>
      </li>
    </ol>
  </div>
  {% endfor %}
</div>
