{% extends "core.html" %}
{% load i18n core communication %}

{% block htmltitle %}{% trans 'New Message' %} | {{ block.super }}{% endblock %}
{% block menuSelection %}communication{% endblock %}

{% block headertitle %}
    {% trans "New Message" %}
    {% if submission %}
        -
        <a href="{% url 'view_submission' submission_pk=submission.pk %}#communication_tab" target="_blank">
            {{ submission|ec_number }}
        </a>
        <small title="{{ submission.project_title_display }}">
            {{ submission.project_title_display }}
        </small>
    {% endif %}
{% endblock %}

{% block content %}
<div class="message_display container">
  <form action="{{ request.path }}" method="post" class="form message open-in-widget">
      {% csrf_token %}

      {% include 'bootstrap/form_field.html' with field=form.subject inline=True %}

      {% include 'communication/send_base.html' %}
      <input type="submit" class="btn btn-primary" value="Nachricht abschicken" />
  </form>
</div>
{% endblock %}

{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript">
        $(function(){
            var container = $('.message_display');
            ecs.setupMessagePopup(container);

            var input_involved = $('#{{ form.receiver_involved.id_for_label }}');
            input_involved.select2({
                dropdownParent: input_involved.parent(),
            });

            var input_person = $('#{{ form.receiver_person.id_for_label }}');
            input_person.select2({
                minimumInputLength: 3,
                dropdownParent: input_person.parent(),
            });

            new ecs.textarea.TextArea(container.find('textarea[name="text"]'), [
                {% if user.profile.is_internal %}
                    ecs.textarea.toolbarItems.boilerplate(
                        "{{ _('Insert Boilerplate')|escapejs }}",
                        "{% url 'ecs.boilerplate.views.select_boilerplate' %}"
                    )
                {% endif %}
            ]);
        });
    </script>
{% endblock %}
