{% extends "core.html" %}
{% load i18n core userutils communication %}

{% block menuSelection %}communication{% endblock %}

{% block headertitle %}
    {% if submission %}
        {{ thread.submission|ec_number }} -
    {% endif %}
    {% trans "New Message" %}
{% endblock %}

{% block content %}
<div class="message_display">
  <a href="{% url 'ecs.communication.views.list_threads' %}">
      <span class="fa fa-backward"></span>
      {% trans "Back to the communication overview" %}
  </a>
  {% if submission %}
      <br>
      <a href="{% url 'view_submission' submission_pk=submission.pk %}#communication_tab">
          <span class="fa fa-backward"></span>
          {% trans "Back to the Study" %}
      </a>
  {% endif %}
  <form action="{{ request.path }}" method="post" class="form message open-in-widget">
      {% csrf_token %}
      {% if submission %}
          <h4>Studie {{ submission|ec_number }}: {{ submission.project_title_display }}</h4>
      {% endif %}

      {% if task %}
      <p>
          <label>Task</label>
          <span>{{ task }}</span>
      </p>
      {% endif %}

      {% if form.subject %}
      <p>
          <label for="{{ form.subject.auto_id }}">Betreff</label>
          {{ form.subject }}
          {% if form.subject.errors %}
              <span class="errors">{{ form.subject.errors }}</span>
          {% endif %}
      </p>
      {% endif %}

      {% if form.instance.thread %}
        <p>
        <label for="id_participants">antworten an:</label><br />
        </p>
        {% for user in thread.get_participants %}
          <p>
          <input id="id_{{ user.pk }}" type="checkbox" name="{{ user.pk }}"/>
          {% if user|has_flag:'is_internal' %}
            <label for="id_{{ user.pk }}">{{ user.first_name }} {{ user.last_name }}</label><br />
          {% else %}
            <label for="id_{{ user.pk }}">External: {{ user.first_name }} {{ user.last_name }} ({{ user.email }})</label><br />
          {% endif %}
          </p>
        {% endfor %}
      {% endif %}

      {% include 'communication/send_base.inc' %}
      <input type="submit" class="btn btn-sm btn-primary" value="Nachricht abschicken" />
  </form>
</div>
{% endblock %}

{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript">
        $(function(){
            var container = $('.message_display');
            ecs.setupMessagePopup(container);
            $('#id_receiver_involved').select2();
            $('#id_receiver_person').select2({'minimumInputLength': 3});

            new ecs.textarea.TextArea(container.find('textarea[name="text"]'), [
                {% if user|has_flag:'is_internal' %}
                    ecs.textarea.toolbarItems.boilerplate(
                        "{{ _('Insert Boilerplate')|escapejs }}",
                        "{% url 'ecs.boilerplate.views.select_boilerplate' %}"
                    )
                {% endif %}
            ]);
        });
    </script>
{% endblock %}
