{% load core %}
<div class="message_display">
  <form action="{{ request.path }}" method="post" class="form message open-in-widget">
      <ol>
          {% if submission %}
          <li>
              <label>Studie</label>
              <span>{{ submission|ec_number }} {{ submission.project_title_display|smart_truncate:50 }}</span>
          </li>
          {% endif %}

          {% if task %}
          <li>
              <label>Task</label>
              <span>{{ task }}</span>
          </li>
          {% endif %}

          {% if form.subject %}
          <li>
              <label for="id_subject">Betreff</label>
              {{ form.subject }}
              {% if form.subject.errors %}
                  <span class="errors">{{ form.subject.errors }}</span>
              {% endif %}
          </li>
          {% endif %}

          {% if form.instance.thread and not bump %}
            <li>
            <label for="id_participants">antworten an:</label><br>
            </li>
            {% for user in thread.get_participants %}
              <li>
              <input id="id_{{ user.pk }}" type="checkbox" name="{{ user.pk }}"/>
              {% if user.internal %}
                <label for="id_{{ user.pk }}">{{ user.first_name }} {{ user.last_name }}</label><br>
              {% else %}
                <label for="id_{{ user.pk }}">External: {{ user.first_name }} {{ user.last_name }} ({{ user.email }})</label><br>
              {% endif %}
              </li>
            {% endfor %}
          {% endif %}
          
          {% if form.receiver %}
          <li>
              <label for="id_receiver">Empfänger</label>
              {% if to_user %}
                <div class="input">
                    {{ to_user }}
                    <input type="hidden" name="receiver" value="{{ to_user.pk }}"/>
                </div>
              {% else %}
                  {% if submission or task %}
                      <div class="input">
                      {% if submission %}
                          <input type="radio" value="" name="receiver_type" checked="checked" disabled="disabled"/> Einreicher ({{ submission.current_submission_form.submitter }}) <br/>
                      {% endif %}

                      {% if task %}
                          {% for t in task.trail %}
                              <input type="radio" value="" name="receiver_type" /> {{ t.assigned_to }} ({{ t }}) <br/>
                          {% endfor %}
                      {% endif %}
                      <input type="radio" value="" name="receiver_type" /> Andere {{ form.receiver }}
                      </div>
                  {% else %}
                      {{ form.receiver }}
                  {% endif %}
                  {% if form.receiver.errors %}
                      <span class="errors">{{ form.receiver.errors }}</span>
                  {% endif %}
              {% endif %}
          </li>
          {% endif %}
          <li>
              <label for="id_text">Nachricht</label>
              {{ form.text }}
              {% if form.text.errors %}
                  <span class="errors">{{ form.text.errors }}</span>
              {% endif %}
          </li>
      </ol>
      
      {% if thread.last_message %}
        <ol>
        <li><span>Letze Meldung</span></li>
        <li><span>Betreff: {{thread.subject}}</span></li>
        <li><span>Von: {{ thread.last_message.sender }}</span></li>
        <li><span>{{ thread.last_message.timestamp|date:'d.m.Y, H:i:s' }}</span></li>
        <li><span>{{ thread.last_message.text }}</span></li>
        </ol>
      {% endif %}

      <input type="submit" value="Abschicken" />
  </form>
</div>
