{% extends "core.html" %}
{% load i18n core userutils communication humanize %}

{% block menuSelection %}communication{% endblock %}

{% block htmltitle %}{{ thread|remote:user }} - "{{ thread.subject }}" | {{ block.super }}{% endblock %}
{% block headertitle %}
    {{ thread|remote:user }} -
    {% if thread.submission %}
        {{ thread.submission|ec_number }} -
    {% endif %}
    {{ thread.subject }}
    ({{ thread.message_list|length }})
{% endblock %}

{% block content %}
<div class="communication_thread">

<a href="{% url ecs.communication.views.list_threads %}" class="button_submit">{% trans "To the communication overview" %}</a>
{% if thread.submission %}
<a href="{% url view_submission submission_pk=thread.submission.pk %}#communication_tab" class="button_submit">{% trans "To the Study" %}</a>
{% endif %}

<ul class="thread">
{% for message in thread.message_list %}
    <li class="message">
        <div class="head">
            <span class="sender">{% if message.sender == user %}{% trans 'Me' %}{% else %}{{ message.sender }}{% endif %}</span>
            <span class="preview">{{ message|preview:80 }}</span>
            {% if not thread|closed_by:user %}
                <span class="message_done">als erledigt markieren: <a class="icon_done" href="{% url ecs.communication.views.close_thread thread_pk=thread.pk %}?next={{ request.path|urlencode }}" title="Erledigt">done</a></span>
            {% endif %}
            <span class="time">{{ message.timestamp|naturalday:'d.m.Y' }} {{ message.timestamp|date:'H:i' }} Uhr</span>
        </div>
        <pre class="body">{{ message.text|urlize }}</pre>
    </li>
{% endfor %}
</ul>
<div class="related_thread">
{% if thread.related_thread %}
{% if user == thread.related_thread.sender or user == thread.related_thread.receiver %}
    Den betreffenden Nachrichtenstrang finden sie <a href="{% url ecs.communication.views.read_thread thread_pk=thread.related_thread.pk %}" target="_blank">hier</a>
{% endif %}
{% endif %}
</div>
<div class="expand_collapse">
    <a href="" class="collapse_all">{% trans "Collapse all" %}</a>
    | <a href="" class="expand_all">{% trans "Expand all" %}</a>
</div>

<form class="send" method="post">
    <table>
        {{ form.as_p }}
    </table>
    <input type="submit" value="{% trans "Send" %}">
</form>

<a href="{% url ecs.communication.views.list_threads %}" class="button_submit">{% trans "To the communication overview" %}</a>
{% if thread.submission %}
<a href="{% url view_submission submission_pk=thread.submission.pk %}#communication_tab" class="button_submit">{% trans "To the Study" %}</a>
{% endif %}

</div>
{% endblock %}

{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript">
      window.addEvent('domready', function(){
        var communication_thread = $$('.communication_thread')[0];
        var container = communication_thread.getElement('ul');
        var collapse_link = communication_thread.getElement('.collapse_all');
        var expand_link = communication_thread.getElement('.expand_all');
        var thread = new ecs.communication.Thread(container, collapse_link, expand_link);
        thread.scroll_to_last_message();

        var messageToolbarItems = [];

        {% if thread.submission %}
            messageToolbarItems.push(ecs.textarea.toolbarItems.annotations("{% trans 'Insert Annotations' %}", '{% url ecs.pdfviewer.views.copy_annotations %}?submission_form_pk={{ thread.submission.current_submission_form.pk }}'));
        {% endif %}

        {% if user|has_flag:'is_internal' %}
            messageToolbarItems.push(ecs.textarea.toolbarItems.boilerplate("{% trans 'Insert Boilerplate' %}", "{% url ecs.boilerplate.views.select_boilerplate %}"));
        {% endif %}

        var textarea = communication_thread.getElement('textarea[name="text"]');
        new ecs.textarea.TextArea(textarea);
        ecs.textarea.installToolbar(textarea, messageToolbarItems);
        ecs.setupAutocomplete();

        textarea.focus();
        textarea.selectRange(0, 0);
      });
    </script>
{% endblock %}

