{% extends "communication/list.html" %}
{% load i18n %}

{% block content %}
<div class="messages_overview">
  <div class="messages_header">
    <form id="thread_list_filter" action="" method="post">
        <div class="thread_list_choose">
            {{ filterform.incoming }} <label for="id_incoming" class="thread_incoming"><span class="icon_in"></span>{% trans "Incoming" %}</label>
            {{ filterform.outgoing }} <label for="id_outgoing" class="thread_outgoing"><span class="icon_out"></span>{% trans "Outgoing" %}</label>
        </div>
        <div class="thread_list_choose">
            {{ filterform.pending }} <label for="id_pending" class="thread_outgoing"><span class="icon_pending"></span>{% trans "Pending" %}</label>
            {{ filterform.closed }} <label for="id_closed" class="thread_outgoing"><span class="icon_done"></span>{% trans "Closed" %}</label>
        </div>
    </form>
    <div class="sort_options">
        {% include 'communication/sort_options.inc' %}
    </div>
</div>
{{ block.super }}
</div>
{% endblock %}

{% block extra_message_table_headers %}
    <th>{% trans "Von/An" %}</th>
{% endblock %}

{% block extra_message_table_cells %}
    {% load userutils %}
    {% if thread.last_message.sender == request.user %}
        <td>{% trans "an" %} {{ thread.last_message.receiver }}</td>
    {% else %}
        <td>{% trans "von" %} {{ thread.last_message.sender }}</td>
    {% endif %}
{% endblock %}

{% block hint %}
    <span class="icon_comment"></span>
    {% blocktrans %}
        To write a message, open the read-only view of a study and change to the communication tab.
        For general Questions write an email to the <a href="http://ethikkommission.meduniwien.ac.at/ethik-kommission/kontakt/">Ethics-Commission</a>.
    {% endblocktrans %}
{% endblock %}

{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript">
      window.addEvent('domready', function(){
          $$('#thread_list_filter input').each(function(input){
              input.addEvent('change', function(){
                  ecs.stopPageLoad();
                  $('thread_list_filter').submit();
              });
          });
      });
    </script>
{% endblock %}

