{% extends "core.html" %}
{% load i18n core userutils communication humanize %}

{% block menuSelection %}communication{% endblock %}

{% block htmltitle %}{{ thread|remote:user }} - "{{ thread.subject }}" | {{ block.super }}{% endblock %}
{% block headertitle %}
    {{ thread|remote:user }} -
    {% if thread.submission %}
        {{ thread.submission|ec_number }} -
    {% endif %}
    {{ thread.subject }}
    ({{ thread.message_list|length }})
{% endblock %}

{% block content %}
<div class="communication_thread">

<a href="{% url 'ecs.communication.views.list_threads' %}">
    <span class="fa fa-backward"></span>
    {% trans "To the communication overview" %}
</a>
{% if thread.submission %}
    <br>
    <a href="{% url 'view_submission' submission_pk=thread.submission.pk %}#communication_tab">
        <span class="fa fa-backward"></span>
        {% trans "To the Study" %}
    </a>
{% endif %}

<ul class="thread">
{% for message in thread.message_list %}
    <li class="message {% if not forloop.last %}collapsed{% endif %}">
        <div class="head">
            <span class="sender">{% if message.sender == user %}{% trans 'Me' %}{% else %}{{ message.sender }}{% endif %}</span>
            <span class="preview">{{ message|preview:80 }}</span>
            <span class="time">{{ message.timestamp|naturalday:'d.m.Y' }} {{ message.timestamp|date:'H:i' }} Uhr</span>
        </div>
        <pre class="body">{{ message.text|urlize }}</pre>
    </li>
{% endfor %}
</ul>
<div class="related_thread">
{% if thread.related_thread %}
{% if user == thread.related_thread.sender or user == thread.related_thread.receiver %}
    Den betreffenden Nachrichtenstrang finden sie <a href="{% url 'ecs.communication.views.read_thread' thread_pk=thread.related_thread.pk %}" target="_blank">hier</a>
{% endif %}
{% endif %}
</div>
<div class="expand_collapse">
    <a href="" class="collapse_all">{% trans "Collapse all" %}</a>
    | <a href="" class="expand_all">{% trans "Expand all" %}</a>
</div>
{% if not thread|closed_by:user %}
    <div class="message_done">
        <a href="{% url 'ecs.communication.views.close_thread' thread_pk=thread.pk %}?next={{ request.path|urlencode }}"><span class="fa fa-check-square-o"></span> {% trans 'mark as done' %}</a>
    </div>
{% endif %}

<form class="send" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-sm btn-primary" value="{% trans "Send" %}">
</form>

</div>
{% endblock %}

{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript">
        $(function(){
            var thread = $('.communication_thread');
            ecs.communication.init_thread(thread);

            var last_message = thread.find('.message').last();
            last_message.offsetParent().scrollTop(last_message.position().top);

            var textarea = thread.find('textarea[name="text"]');
            new ecs.textarea.TextArea(textarea, [
                {% if user|has_flag:'is_internal' %}
                    ecs.textarea.toolbarItems.boilerplate(
                        "{{ _('Insert Boilerplate')|escapejs }}",
                        "{% url 'ecs.boilerplate.views.select_boilerplate' %}"
                    )
                {% endif %}
            ]);
            $('#id_to').select2();

            textarea.focus();
        });
    </script>
{% endblock %}

