{% extends "communication/list.html" %}
{% load i18n %}

{% block content %}
<div class="messages_overview">
  <div class="messages_header">
    <form id="thread_list_filter" action="" method="post">
        <div class="thread_list_choose">
            {{ filterform.incoming }} <label class="thread_incoming">{% trans "Incoming" %}</label>
            {{ filterform.outgoing }} <label class="thread_outgoing">{% trans "Outgoing" %}</label>
        </div>
    </form>

    <a class="open-in-popup" href="{% url ecs.communication.views.send_message %}">{% trans "New Message" %}</a>
    <span class="icon_sort">{% trans "sort" %}</span>
    <a href="{{ request.path }}?sort={% ifequal sort 'user' %}-{% endifequal %}user">{% trans "Person" %}</a> 
    | <a href="{{ request.path }}?sort={% ifequal sort 'timestamp' %}-{% endifequal %}timestamp">{% trans "Old/New" %}</a>
  </div>
{{ block.super }}
</div>
{% endblock %}


{% block message_actions %}
    {{ block.super }}
    {% if thread.last_message.sender == request.user %}
        <a class="icon_bump" href="{% url ecs.communication.views.bump_message message_pk=thread.last_message.pk %}?next={{ request.path|urlencode }}" title="Bump">bump</a>
    {% else %}
        <a class="open-in-popup icon_answer" href="{% url ecs.communication.views.send_message reply_to_pk=thread.last_message.pk %}" title="{% trans 
        "answer" %}">answer</a>
    {% endif %}
{% endblock %}

{% block extra_message_table_headers %}
    <th>{% trans "Von/An" %}</th>
{% endblock %}

{% block extra_message_table_cells %}
    {% load userutils %}
    {% if thread.last_message.sender == request.user %}
        <td>{% trans "an" %} {{ thread.last_message.receiver }}</td>
    {% else %}
        <td>{% trans "von" %} {{ thread.last_message.sender }}</td>
    {% endif %}
{% endblock %}

{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript">
      window.addEvent('domready', function(){
          $$('#thread_list_filter input').each(function(input){
              input.addEvent('change', function(){
                  $('thread_list_filter').submit();
              });
          });
      });
    </script>
{% endblock %}

