{% load humanize i18n core communication %}

<h3>{% trans "Communication" %} ({% unread_msg_count %})</h3>

<br />
<div class="messages_header mb-1">
    {% include 'communication/sort_options.inc' %}
</div>

<ul class="list-group">
{% for thread in page.object_list %}
    <li class="list-group-item {% if thread.last_message.unread and thread.last_message.receiver_id == user.id %}font-weight-bold{% endif %}">
        <div>
            {% if thread.submission %}{{ thread.submission|ec_number }} - {% endif %}
            {{ thread.last_message.timestamp|naturalday:'d.m.Y' }}, {{ thread.last_message.timestamp|date:'H:i'}}
            {% if thread.last_message.sender == user %}
                {% trans "an" %} {{ thread.last_message.receiver }}
            {% else %}
                {% trans "von" %} {{ thread.last_message.sender }}
            {% endif %}
        </div>
        {% if thread|starred_by:user %}
            {% url 'ecs.communication.views.unstar' thread_pk=thread.pk as unstar_url %}
            <a class="open-in-widget fa fa-star text-warning" href="{{ unstar_url }}?next={{ request.path|urlencode }}"></a>
        {% else %}
            {% url 'ecs.communication.views.star' thread_pk=thread.pk as star_url %}
            <a class="open-in-widget fa fa-star-o text-muted" href="{{ star_url }}?next={{ request.path|urlencode }}"></a>
        {% endif %}
        {% url 'ecs.communication.views.read_thread' thread_pk=thread.pk as read_url %}
        <a class="ml-1" href="{{ read_url }}" title="{{ thread.last_message|preview:1000 }}">
            {{ thread.subject|truncatewords:10 }}
        </a>
    </li>
{% endfor %}
</ol>

<div class="paginator text-xs-center mt-1">
    {% if page.has_previous %}
        <a class="open-in-widget fa fa-fast-backward" href="{{ request.path }}?p=1"></a>
        <a class="open-in-widget fa fa-backward" href="{{ request.path }}?p={{ page.previous_page_number }}&amp;sort={{ sort }}"></a>
    {% endif %}
    {% trans "Page" %} {{ page.number }} {% trans "of" %} {{ page.paginator.num_pages }}
    {% if page.has_next %}
        <a class="open-in-widget fa fa-forward" href="{{ request.path }}?p={{ page.next_page_number }}&amp;sort={{ sort }}"></a>
        <a class="open-in-widget fa fa-fast-forward" href="{{ request.path }}?p={{ page.paginator.num_pages }}&amp;sort={{ sort }}"></a>
    {% endif %}
</div>
