{% extends 'db/wkhtml2pdf/skeleton.html' %}
{% load core i18n %}

{% block title %}Meeting Agenda{% endblock %}

{% block inline_css %}
    {{ block.super }}
    <style type="text/css">
        .checklist .entry {
            padding-bottom: 0.5cm;
        }
        .checklist .question {
            font-weight: bold;
        }
        .checklist .question .number {
            font-size: 110%;
        }
        .checklist .answer {
            padding-left: 0.2cm;
        }
        .checklist .comment {
            padding-top: 0.1cm;
            padding-left: 0.7cm;
            overflow: hidden;
            white-space: pre-wrap;
        }
    </style>
{% endblock %}

{% block content %}
    {% include 'db/wkhtml2pdf/ec_head.inc' %}
    <div class="center_bold">
        {{ checklist.blueprint }} für {{ checklist.submission }}
        {% with checklist.submission as submission %}
        {% if submission %}
            <br />für {{ submission|ec_number }} {{ submission.project_title_display|default:'<i>{% trans "No title." %}</i>' }}
        {% endif %}
        {% endwith %}
    </div>

    <ul class="checklist">
    {% for answer in checklist.answers.all %}
        <li class="entry">
            <span class="question"><span class="number">{{ answer.question.number }}.</span> {{ answer.question.text }}</span>
            <span class="answer">{{ answer.answer|yes_no_unknown }}</span>
            {% if answer.comment %}
                <pre class="comment">{{ answer.comment }}</pre>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}
