{% extends 'notifications/view/base.html' %}

{% block table_rows %}
    {{ block.super }}
    {% with notification_form.extendednotificationform as notification_form %}
        <tr><th>Grund warum noch nicht begonnen</th><td>{{ notification_form.reason_for_not_started }}</td></tr>
        <tr><th>Angeworbene Versuchspersonen</th><td>{{ notification_form.recruited_subjects }}</td></tr>
        <tr><th>Beendete Versuchspersonen</th><td>{{ notification_form.finished_subjects }}</td></tr>
        <tr><th>Abgebrochene Versuchspersonen</th><td>{{ notification_form.aborted_subjects }}</td></tr>
        <tr><th>SAE Zahl</th><td>{{ notification_form.SAE_count }}</td></tr>
        <tr><th>SUSAR Zahl</th><td>{{ notification_form.SUSAR_count }}</td></tr>
        <tr><th>Laeuft bis</th><td>{{ notification_form.runs_till }}</td></tr>
        <tr><th>Beendet am</th><td>{{ notification_form.finished_on }}</td></tr>
        <tr><th>Abgebrochen am</th><td>{{ notification_form.aborted_on }}</td></tr>
        <tr><th>Antrag auf Verlaengerung</th><td>{{ notification_form.extension_of_vote }}</td></tr>
    {% endwith %}
{% endblock %}
