{% extends 'core.html' %}
{% load core %}

{% block title %}ECS Elektronische Einreichung{% endblock %}

{% block headernav %}
    <ul class="tab_headers">
    {% for tab, fieldsets in tabs %}
        <li><a href="#tabs-{{ forloop.counter }}">{{ tab }}</a></li>
    {% endfor %}
    </ul>
    {{ block.super }}
{% endblock %}

{% block headertitle %}
    Neu: {{ notification_type.name }}
{% endblock %}

{% block header_actions %}
    {{ block.super }}
    <div class="header_actions">
      <a href="" id="save-button" class="button_save">Speichern</a>
      <a href="" id="validate-button" class="button_validate">Validieren</a>
      <a href="" id="submit-button" class="button_submit">Einreichen</a>
    </div>
{% endblock %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data" class="tabbed main">
    <div id="tabs">
        {% for tab, fieldsets in tabs %}
            <div id="tabs-{{ forloop.counter }}" class="tab">
                {% ifequal tab "Unterlagen" %}
                    {# FIXME #}
                    <div class="field">
                        {% include "documents/upload_form.html" %}
                    </div>
                {% endifequal %}
                
                {% for legend, fields in fieldsets %}
                    <div class="fieldset_{{ forloop.counter }}">
                        {% if legend %}
                            <h3>{{ legend }}</h3>
                        {% endif %}
                        <ol>
                            {% for field_name in fields %}
                                {% with form|getitem:field_name as field %}
                                    {% include "forms/field.html" %}
                                {% endwith %}
                            {% endfor %}
                        </ol>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <input type="submit" value="submit" name="submit" class="hidden" />
    <input type="submit" value="validate" name="validate" class="hidden" />
</form>

{% endblock %}

{% block jsbottom %}
    <script type="text/javascript"> var accordionitem = 1;     </script>
    {{ block.super }}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/forms.js"></script>
    <script type="text/javascript">
        window.addEvent('domready', function(){
            $('save-button').addEvent('click', function(){
                ecs.mainForm.autosave(true);
                return false;
            });
            $('validate-button').addEvent('click', function(){
                ecs.mainForm.submit('validate');
                return false;
            });
            $('submit-button').addEvent('click', function(){
                ecs.mainForm.submit('submit');
                return false;
            });

            ecs.setupRichTextEditor($('id_comments'));

            var submissionFormsSelect = $('id_submission_forms');
            var submissionDataDisplay = new Element('div', {'class': 'submission_data'});
            submissionFormsSelect.getParent('li').grab(submissionDataDisplay);

            function loadSubmissionFormData(){
                var querystring = [];
                submissionFormsSelect.getSelected().each(function(option){
                    querystring.push('submission_form=' + option.value);
                });
                var request = new Request.HTML({
                    url: '/core/submission_data_for_notification/',
                    data: querystring.join('&'),
                    method: 'get',
                    evalScripts: false,
                    update: submissionDataDisplay
                });
                request.send();
            }
            submissionFormsSelect.addEvent('change', loadSubmissionFormData);
            loadSubmissionFormData();


        });
    </script>
{% endblock %}

