{% extends 'core.html' %}
{% load core %}

{% block title %}ECS Elektronische Einreichung{% endblock %}

{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/forms.js"></script>
{% endblock %}

{% block headernav %}
    <ul class="tab_headers">
    {% for tab, fieldsets in tabs %}
        <li><a href="#tabs-{{ forloop.counter }}">{{ tab }}</a></li>
    {% endfor %}
    </ul>
    {{ block.super }}
{% endblock %}

{% block headertitle %}
    Neu: {{ notification_type.name }}
{% endblock %}

{% block header_actions %}
    {{ block.super }}
    <div class="header_actions"><a href="" class="submit_main_form">Abschicken</a></div>
{% endblock %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data" class="tabbed main">
    <div id="tabs">
        {% for tab, fieldsets in tabs %}
            <div id="tabs-{{ forloop.counter }}" class="tab">
                {% ifequal tab "Unterlagen" %}
                    {# FIXME #}
                    <div class="field">
                        {% include "documents/upload_form.html" %}
                    </div>
                {% endifequal %}
                
                {% for legend, fields in fieldsets %}
                    <div class="fieldset_{{ forloop.counter }}">
                        {% if legend %}
                            <h3>{{ legend }}</h3>
                        {% endif %}
                        <ol>
                            {% for field_name in fields %}
                                {% with form|getitem:field_name as field %}
                                    {% include "forms/field.html" %}
                                {% endwith %}
                            {% endfor %}
                        </ol>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div class="button"><input type="submit" value="Speichern" name="save" /></div>
    <input type="submit" value="Submit" name="submit"/>
    
    <script type="text/javascript">
        jQuery(function($){
            $('#id_submission_forms').bind('change', function(){
                var submission_ids = $(this).val();
                var querystring = [];
                for(var i=0;i<submission_ids.length;i++){
                    querystring.push('submission_form=' + submission_ids[i]);
                }
                $.ajax({
                    url: '/core/submission_data_for_notification/',
                    data: querystring.join('&'),
                    context: this,
                    success: function(data){
                        var li = $('#id_submission_forms').parent('li');
                        var display = li.find('.submission_data');
                        if(display.length){
                            display.replaceWith($(data));
                        }
                        else{
                            li.append($(data));
                        }
                    }
                });
            });
            //ecs.setupFormSetHelpers('{{ document_formset.prefix }}');
        });
    </script>
</form>

{% endblock %}
