{% extends 'core.html' %}

{% block htmltitle %}ECS Elektronische Einreichung{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ MEDIA_URL }}core/css/notification_new.css" media="screen"/>
{% endblock %}

{% block headertitle %}
<h1>Liste aller Meldungen</h1>
{% endblock %}

{% block headernav %}
{% endblock %}

{% block content %}

{% if notifications %}
<h2>Eingereichte Meldungen</h2>
<ul>
    {% for notification in notifications %}
        <li>
            <a href="{% url ecs.core.views.view_notification notification_pk=notification.pk %}">{{ notification }}</a>
            für {% for submission_form in notification.submission_forms.all %}
                <a href="{% url ecs.core.views.view_submission_form submission_form_pk=submission_form.pk %}">{{ submission_form }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </li>
    {% endfor %}
</ul>
{% endif %}

{% if stashed_notifications %}
<h2>Offene Meldungen</h2>
<ul>
    {% for docstash in stashed_notifications %}
        {% if docstash.current_value %}
            <li>
                <a href="{% url ecs.core.views.create_notification notification_type_pk=docstash.current_value.type_id,docstash_key=docstash.key %}">
                    {{ docstash.current_name|default:"<i>Unbenannt</i>" }}
                </a>
                ({{ docstash.modtime|date:"d.m.Y, H:i:s" }} Uhr) (Version {{ docstash.current_version }})
            </li>
        {% endif %}
    {% endfor %}     
</ul>
{% endif %}

{% endblock %}

{% block menuSelection %}notifications{% endblock %}
