<div class="submission_data">
    <table class="notif_meta">
        <tr><th>Studie</th><th>Protokoll Nr.</th></tr>
        {% for submission_form in submission_forms %}
        <tr>
           <td>
               <a href="{% url ecs.core.views.view_submission_form submission_form_pk=submission_form.pk %}">{{ submission_form }}</a>
           </td>
           <td>
               {{ submission_form.protocol_number|default:'<i>nicht vorhanden</i>' }}
           </td>
        </tr>
        {% endfor %}
    </table>

    <table class="notif_meta">
        <tr><th>Ethik-Komission</th><th>Prüfer</th></tr>
        {% for investigator in investigators %}
        <tr>
            <td>{{ investigator.ethics_commission.name }}</td>
            <td>{{ investigator.name }}</td>
        </tr>
        {% endfor %}
    </table> 
</div>