{# notification_new1.html #}

{% extends 'core.html' %}

{% block title %}ECS Elektronische Einreichung{% endblock %}

{% block jshead2 %}
  <script type="text/javascript" src="{{ MEDIA_URL }}core/js/notification_new1.js"></script>
{% endblock %}

{% block content %}
{% if documents %}
<ul> 
    {% for doc in documents %}
        <li><a href="{% url ecs.core.views.download_document document_pk=doc.pk %}">{{ doc.version }}; {{ doc.file.name }}</li>
    {% endfor %}
</ul>
{% endif %}

<form action="" method="post" enctype="multipart/form-data">
<table>
	{{ form }}
</table>
<input type="submit" value="Upload" />
</form>

{% endblock %}
