{# notification_new01.html #}

{% extends 'core_new.html' %}

{% block htmltitle %}ECS Elektronische Einreichung{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ MEDIA_URL }}core/css/notification_new.css" media="screen"/>
{% endblock %}

{% block headertitle %}
<h1>Meldungen zur laufenden Studie(n)</h1>
{% endblock %}

{% block headernav %}
{% endblock %}

{% block content %}
{% if notification %}
<ul>
	<li><a href="{% url ecs.core.views.notification_pdf notification_pk=notification.pk %}">Download PDF</a></li>
	<li><a href="{% url ecs.core.views.upload_document_for_notification notification_pk=notification.pk %}">Upload Document</a></li>
</ul>
<table>
<tr><th>Submission</th><td>{{ notification.submission.sets.get.submissionform.project_title }}</td></tr>
<tr><th>Protokoll Nr.</th><td>{{ notification.submission.sets.get.submissionform.protocol_number }}</td></tr>
<tr><th>Pr&uuml;fer</th><td>{{ notification.form.investigator }}</td></tr>
<tr><th>Grund warum noch nicht begonnen</th><td>{{ notification.form.reason_for_not_started }}</td></tr>
<tr><th>Angeworbene Versuchspersonen</th><td>{{ notification.form.recruited_subjects }}</td></tr>
<tr><th>Beendete Versuchspersonen</th><td>{{ notification.form.finished_subjects }}</td></tr>
<tr><th>Abgebrochene Versuchspersonen</th><td>{{ notification.form.aborted_subjects }}</td></tr>
<tr><th>SAE Zahl</th><td>{{ notification.form.SAE_count }}</td></tr>
<tr><th>SUSAR Zahl</th><td>{{ notification.form.SUSAR_count }}</td></tr>
<tr><th>Laeuft bis</th><td>{{ notification.form.runs_till }}</td></tr>
<tr><th>Beendet am</th><td>{{ notification.form.finished_on }}</td></tr>
<tr><th>Abgebrochen am</th><td>{{ notification.form.aborted_on }}</td></tr>
<tr><th>Kommentare</th><td>{{ notification.form.comments }}</td></tr>
<tr><th>Antrag auf Verlaengerung</th><td>{{ notification.form.extension_of_vote }}</td></tr>
<tr><th>Unterzeichnet am</th><td>{{ notification.form.signed_on }}</td></tr>
</table>

{% else %}
    <p>No notification???</p>
{% endif %}

{% endblock %}
