{% extends 'core.html' %}
{% load core i18n %}

{% block htmltitle %}{% blocktrans %}Statistics {{ current_year }}{% endblocktrans %} | {{ block.super }}{% endblock %}
{% block headertitle %}{% blocktrans %}Statistics for the year of {{ current_year }}{% endblocktrans %}{% endblock %}

{% block content %}
    <div class="statistics">
        <ol class="years">
        {% for year in years %}
            <li>
                {% if year == current_year %}
                    {{ year }}
                {% else %}
                    <a href="{% url ecs.statistics.views.stats year=year %}">{{ year }}</a>
                {% endif %}
            </li>
        {% endfor %}
        </ol>

        {% for section in stats.itervalues %}
            <h2>{{ section.label }}</h2>
            <table>
            {% for entry in section %}
                <tr>
                    <th>{{ entry.label }} ({{ entry.paper_number }})</th>
                    <td>{{ entry.count }}</td>
                    <td>
                        {% if entry.with_listing %}
                        {% for submission in entry.submissions %}
                            <a href="{% url view_submission submission_pk=submission.pk %}">
                                {{ submission|ec_number }}
                            </a>
                        {% endfor %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </table>
        {% endfor %}
    </div>
{% endblock %}

{% block menuSelection %}administration{% endblock %}
