{% extends 'core.html' %}
{% load core i18n %}

{% block htmltitle %}{% blocktrans %}Statistics {{ current_year }}{% endblocktrans %} | {{ block.super }}{% endblock %}
{% block headertitle %}{% blocktrans %}Statistics for the year of {{ current_year }}{% endblocktrans %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="btn-group mb-1">
            {% for year in years %}
                {% if year == current_year %}
                    <button class="btn btn-primary active">{{ year }}</button>
                {% else %}
                    <a class="btn btn-primary" href="{% url 'ecs.statistics.views.stats' year=year %}">{{ year }}</a>
                {% endif %}
            {% endfor %}
        </div>

        {% for section in stats.values %}
            <h2>
                {{ section.label }}
            </h2>
            <ul class="list-group mb-1">
                {% for entry in section %}
                    <li class="list-group-item">
                        {{ entry.label }} <small class="text-muted">({{ entry.paper_number }})</small>
                        <span class="tag tag-default tag-pill float-xs-right">{{ entry.count }}</span>
                        {% if entry.with_listing %}
                            <p class="mb-0">
                                {% for submission in entry.submissions %}
                                    <a href="{% url 'view_submission' submission_pk=submission.pk %}">{{ submission|ec_number }}</a>{% if not forloop.last %},{% endif %}
                                {% endfor %}
                            </p>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
{% endblock %}

{% block menuSelection %}administration{% endblock %}
