/* 
 * core.css 
 */

/* jQuery ui tabs widget */

.ui-tabs .ui-tabs-hide .ui-tabs-panel {
  display: none;
  padding: 0px;
}
.ui-tabs-nav {
  height: 3em;
  display: block;
  padding: 0px;
}

div#ecs-core-tabs {
  height: 3em;
  border: none;
  padding: 0px;
}


/* jQuery ui selectables (generalized list views) */
#ecs-core-selectable1 .ui-selecting  { background: #FECA40; }
#ecs-core-selectable1 .ui-selected  { background: #F39814; color: white; }
#ecs-core-selectable1  { list-style-type: none; margin: 0; padding: 0; }
#ecs-core-selectable1 li  { margin: 3px; padding: 0.4em; height: 18px; }

#ecs-core-selectable2 .ui-selecting  { background: #FECA40; }
#ecs-core-selectable2 .ui-selected  { background: #F39814; color: white; }
#ecs-core-selectable2  { list-style-type: none; margin: 0; padding: 0; }
#ecs-core-selectable2 li  { margin: 3px; padding: 0.4em; height: 18px; }


/* headernav */

.tab_headers li {
  display: inline;
  line-height: 30px;
}
ul.tab_headers {
  float: left;
  width: 88%;
}
.tab_headers li a {
  text-decoration: none;
  padding: 3px 5px;
  border: 1px solid #b7d4e5;
  background: #e2eaf0;
  color: #2b558e;
}
.tab_headers .active a {
  background: #2b558e;
  color: #e2eaf0;
}
.tab_headers .active.errors a {
  color: #fff;
  background: #ff8000;
}
.tab_headers .errors a {
  background: #fb6464;
  color: #fff !important;
  border: 1px solid #ff0000;
}
.header_actions {
  float: left;
  display: block;
  width: 10%;
  padding: 4px 5px;
  margin-top: 2px;
  background: #4dc21b;
  border: 1px solid #ccc;
  text-align: center;
}
.submit_main_form {
  text-decoration: none;
  color: #fff;
}

/* form layout hacks */

.ui-tabs .ui-tabs-nav li a {
    /* FIXME: this is a hack */
    font-size: 12px;
}

form .field, form .tab {
  border: 1px solid #eee;
  background: #f9feff;
  min-width: 700px;
}
form .field h3, form .tab h3 {
  font-size: 12pt;
  letter-spacing: 1px;
  padding: 5px 0 0 5px;
}

form, form * {
  font-size: 12px;
}
form fieldset {
  border: 1px solid #eeeeee;
  background: #f9feff;
}
form legend {
  font-size: 12pt;
  margin-left: 10px;
  padding: 3px;
}
form legend span {
  display: block;
}

form ol {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  margin-top: 20px;
}
/*
form ol:last-child {
  padding: 10px 0;
  border-bottom: none;
}
*/
form ol li {
  padding-top: 10px;
  clear: both;
  display: block;
}

form ol li input[type=text], form ol li textarea {
  width: 30em;
  font-size: 1em;
}

form ol li textarea {
  height: 4em;
  width: 30em;
}

form ol li .mooeditable-container{
    left: 21em;
	border: 1px solid #666666;
}
form ol li .mooeditable-ui-toolbar .toolbar-item,
form ol li .mooeditable-ui-toolbar .toolbar-separator{
	display: block;
	float: left;
	vertical-align: none;
	margin-left: 0px;
}
form ol li .rte_display{
	margin-left: 21em;
	width: 29em;
	padding: 0.5em;
	height: auto;
	min-height: 4em;
	background-color: #ffffff;
	border: 1px solid #666666;
}
form ol li .rte_display *{
	margin: 0;
	padding: 0;
}

form ol li > label {
  width: 20em;
  padding-right: 1em;
  text-align: right;
  float: left;
}
form ol li > label:after {
  content: ":";
}
form th.label{
	text-align: left;
}

form ol li > .errors {
  margin-left: 21em;
}

form ol li.BooleanField {
  padding-left: 21em;
}

form ol li.BooleanField > label {
  float: none;
  padding-left: 1em;
  text-align: left;
}
form ol li.BooleanField > label:after {
  content: none;
}
form ol li.BooleanField > input {
  float: left;
}

form ol li .paperform_number {
  color: #666666;
  font-size: 0.9em;
}
form ol li .paperform_number:before {
  content: "[";
}
form ol li .paperform_number:after {
  content: "]";
}

form .notes{
  font-size: 0.9em;
  color: #666666;
  font-weight: normal
}
from ol li .notes{
  float: right;
}
form th.label .notes{
  display: block;
}

form ol li.focus {
  background-color: #eeeeff;
}
.inline_formset .form {
    position: relative;
    padding-top: 20px;
}
.inline_formset .form a.delete_row {
  background: url(/static/core/images/remove.png) no-repeat;
  background-position: 0 5px;
  padding: 5px 0 5px 20px;
  margin-left: 10px;
}
div.inline_formset .form a.delete_row{
    display: block;
    height: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
}
form a.add_row {
  background: url(/static/core/images/add.png) no-repeat;
  padding-left: 20px;
  margin-left: 10px;
}
#content a.delete_row:hover, #content a.add_row:hover {
  border-bottom: 0 none !important;
}

fieldset.disabled{
    display: none;
}
/* // alternative version of
fieldset.disabled > ol{
    display: none;
}

fieldset.disabled > .disabled_hint{
    display: block;
    font-style: italic;
}
*/

/* documents */

.doclist {
  border: 1px solid #666666;
}

.doclist h3 {
  font-size: 1em;
  background-image: url(/static/core/images/icon-triangle.png);
  background-repeat: no-repeat;
  padding-left: 24px;
}

.doclist div {
  display: block;
  margin-left: 2em;
  padding-left: 24px;
  background-image: url(/static/core/images/icon-doc.png);
  background-repeat: no-repeat; 
}

/* notifications */
table.notification th{
    text-align: right;
    padding-right: 1em;
}

table.notif_meta{
    border: 1px solid #cccccc;
    border-left: none;
    border-collapse: collapse;
    margin-bottom: 1em;
    width: 100%;
}
table.notif_meta td, table.notif_meta th{
    border-left: 1px solid #cccccc;
    padding: 0.2em;
}
table.notif_meta th{
    text-align: left;
    border-bottom: 1px solid #cccccc;
}

/* meeting editor */
#meeting_editor #userlist{
	list-style: none;
	background-color: #eeeeee;
}

#meeting_editor #userlist li{
	border-top: 1px solid #ffffff;
	padding: 5px;
}

#meeting_editor #userlist .info{
	background-color: #ffffff;
	font-size: 0.8em;
}

#meeting_editor #userlist .info .constraints{
	margin-bottom: 0px;
}

#meeting_editor #userlist .info .constraints li{
	padding: 0px;
}


#meeting_constraint_editor #constraint_formset{
	width: 800px;
}
#meeting_constraint_editor form ol li{
	width: 100px;
	float: left;
	clear: none;
	display: block;
	height: 50px;
}
#meeting_constraint_editor form ol{
	margin: 0px;
	height: 50px;
}
#meeting_constraint_editor form ol li label{
	width: auto;
	float: none;
	display: block;
	text-align: left;
}
#meeting_constraint_editor form ol li input[type=text]{
	width: 7em;
}
#meeting_constraint_editor form .inline_formset .form{
	padding: 0px;
	clear: both;
}
#meeting_constraint_editor form .inline_formset .form a.delete_row{
	width: 100px;
	float: right;
	display: block;
}

#meeting_editor .constraint_status{
	width: 10px;
	height: 10px;
	text-indent: -20px;
	display: block;
	float: left;
	overflow: hidden;
}

#meeting_editor #userlist .constraints{
	list-style: none;
	margin-left: 0px;
}

#meeting_editor .entry{
	border: 1px solid #eeeeee;
	margin: 3px;
	display: block;
	height:55px;
	background-color:#ffffff;
	position: relative;
}

#meeting_editor .entry.break{
	background-color: #ffffcc;
}

#meeting_editor .entry a.remove{
	position: absolute;
	top: 0px;
	right: 0px;
	display: inline-block;
	width: 16px;
	height: 16px;
	text-indent: -200px;
	overflow: hidden;
	background: url(/static/core/images/remove.png) no-repeat;
}
#meeting_editor .entry .dragHandle{
	float:left;
	width:50px;
	background-color:#cccccc;
	height:100%;
}

#meeting_editor .entry input.duration{
	width: 5em;
}

#meeting_editor .entry input.optimal_start{
	width: 5em;
}

#meeting_editor .entry h3{
	font-size: 1em;
}

#meeting_editor #timetable{
	list-style: none;
	width:550px;
	font-size:13px;
	margin: 0px;
}

#meeting_participation_editor form{
	float: none;
	display: inline;
}

#meeting_participation_editor .entry{
	clear: both;
}

#meeting_participation_editor .entry h2{
	margin: 0px;
}

#meeting_participation_editor .entry a.remove{
  background: url(/static/core/images/remove.png) no-repeat;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
  text-indent: -200px;
  overflow: hidden;
  display: inline-block;
}
#meeting_participation_editor .entry a.add{
  background: url(/static/core/images/add.png) no-repeat;
  width: 16px;
  height: 16px;
  text-indent: -200px;
  overflow: hidden;
  display: inline-block;
}
#content #meeting_participation_editor .entry a.remove:hover,
#content #meeting_participation_editor .entry a.add:hover{
  text-decoration: none;
  border-bottom: 0px;
}

#meeting_participation_editor .entry .user_list > span{
	margin-right: 0.5em;
	padding: 2px;
	border: 1px solid #ccccff;
	background-color: #eeeeff;
}
