/* 
 * core.css 
 */

/* jQuery ui tabs widget */

.ui-tabs .ui-tabs-hide .ui-tabs-panel {
  display: none;
  padding: 0px;
}
.ui-tabs-nav {
  height: 3em;
  display: block;
  padding: 0px;
}

div#ecs-core-tabs {
  height: 3em;
  border: none;
  padding: 0px;
}


/* jQuery ui selectables (generalized list views) */
#ecs-core-selectable1 .ui-selecting { background: #FECA40; }
#ecs-core-selectable1 .ui-selected { background: #F39814; color: white; }
#ecs-core-selectable1 { list-style-type: none; margin: 0; padding: 0; }
#ecs-core-selectable1 li { margin: 3px; padding: 0.4em; height: 18px; }

#ecs-core-selectable2 .ui-selecting { background: #FECA40; }
#ecs-core-selectable2 .ui-selected { background: #F39814; color: white; }
#ecs-core-selectable2 { list-style-type: none; margin: 0; padding: 0; }
#ecs-core-selectable2 li { margin: 3px; padding: 0.4em; height: 18px; }

/* form layout hacks */
.ui-tabs .ui-tabs-nav li a{
    /* FIXME: this is a hack */
    font-size: 12px;
}

form, form *{
	font-size: 12px;
}

form legend{
    font-size: 14px;
    margin-left: 10px;
    padding: 3px;
}

form .field{
	clear: both;
}

form .field input[type=text], form .field textarea{
	width: 30em;
}

form .field > label{
	width: 20em;
	padding-right: 1em;
	text-align: right;
	float: left;
}
form .field > label:after{
	content: ":";
}
form .field > .errors{
	margin-left: 21em;
}

form .field.BooleanField{
	padding-left: 21em;
}

form .field.BooleanField > label{
	float: none;
	padding-left: 1em;
	text-align: left;
}
form .field.BooleanField > label:after{
	content: none;
}
form .field.BooleanField > input{
	float: left;
}

form #tabs-1 .fieldset_2 .content{
	padding-left: 21em;
}
form #tabs-1 .fieldset_2 .field.BooleanField{
    float: left;
    width: auto;
    clear: none;
	padding-left: 0;
}


/* documents */
.doclist{
	border: 1px solid #666666;
}

.doclist h3{
	font-size: 1em;
	background-image: url(/static/core/images/icon-triangle.png);
	background-repeat: no-repeat;
	padding-left: 24px;
}

.doclist div{
	display: block;
	margin-left: 2em;
	padding-left: 24px;
	background-image: url(/static/core/images/icon-doc.png);
	background-repeat: no-repeat;	
}