{% load core i18n %}
  
{% if expert_formset.total_form_count %}
    <form method="post">
        {% csrf_token %}
        {{ expert_formset.management_form }}
        <ul class="list-group m-b-1">
        {% for form in expert_formset.forms %}
            <li class="list-group-item">
                <div>
                    <strong>{{ form.instance.category }}</strong>
                    [Einreichungen:
                    {% for submission in form.submissions %}
                         <a href="{% url 'view_submission' submission_pk=submission.pk %}">
                            {{ submission }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}]
                </div>
                <div>
                    {% if meeting.started %}
                        {{ form.instance.board_member|default:'<em>Niemand zugeteilt!</em>' }}
                    {% else %}
                        {{ form.id }}
                        {{ form.board_member }}
                    {% endif %}
                </div>
            </li>
        {% endfor %}
        </ul>
        {% if not meeting.started %}
            <input class="btn btn-sm btn-primary" type="submit" value="{% trans 'save' %}" />
        {% endif %}
    </form>
{% else %}
    <em>{% trans 'no board member required' %}</em>
{% endif %}
