{% load core i18n %}

<div id="meeting_list">
  
{% if expert_formset.total_form_count %}
    <form method="post">
    {{ expert_formset.management_form }}
    <ol>
    {% for form in expert_formset.forms %}
        <li>
            <span>
                <strong>{{ form.instance.category }}</strong>
                [Einreichungen:
                {% for submission in form.submissions %}
                     <a href="{% url view_submission submission_pk=submission.pk %}">
                        {{ submission }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}]
            </span>
            <span>
                {% if meeting.started %}
                    {{ form.instance.board_member }}
                {% else %}
                    {{ form.id }}
                    {{ form.board_member }}
                {% endif %}
            </span>
        </li>
    {% endfor %}
    </ol>
    {% if not meeting.started %}
        <input type="hidden" name="submitted_form" value="expert_formset" />
        <input type="submit" value="Speichern" />
    {% endif %}
    </form>
{% else %}
    <em>{% trans 'no board member required' %}</em>
{% endif %}
</div>