{% load i18n %}

{% if substantial_amendments.exists %}
    <h2>Substanzielle Amendments</h2>

    <ul class="list-group mb-4">
        {% for amendment in substantial_amendments %}
            <li class="list-group-item">
                {% with submission=amendment.get_submission %}
                    <strong>{{ submission.get_ec_number_display }}</strong>
                    {{ submission.project_title_display }}
                {% endwith %}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if b1ized.exists %}
    <h2>Zwischenzeitlich positiv erledigte Einreichungen</h2>

    <ul class="list-group mb-4">
        {% for b1 in b1ized.all %}
            <li class="list-group-item">
                {% with sf=b1.submission_form %}
                    <strong>{{ sf.submission.get_ec_number_display }}</strong>
                    {{ sf.german_project_title|default:sf.project_title }}

                    <div class="row mt-3">
                        <div class="col-md-4 col-12">
                            <strong>{% trans 'Submitter' %}</strong>
                            <div>
                                {% if not sf.submitter.first_name or not sf.submitter.last_name %}
                                    {{ sf.submitter_contact }}
                                {% else %}
                                    {{ sf.submitter }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <strong>{% trans 'Sponsor/CRO' %}</strong>
                            <div>{{ sf.sponsor_name }}</div>
                        </div>
                        <div class="col-md-4 col-12">
                            <strong>{% trans 'Submitter Organisation' %}</strong>
                            <div>{{ sf.submitter_organisation }}</div>
                        </div>
                    </div>
                {% endwith %}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% regroup answers by notification.type as answer_list %}
{% for type in answer_list %}
    <h2>{{ type.grouper }}</h2>
    <ul class="list-group mb-4">
        {% for answer in type.list %}
            {% with notification=answer.notification %}
                <li class="list-group-item">
                    {% if notification.safetynotification %}
                        <h6 class="list-group-item-heading">
                            {{ notification.safetynotification.get_safety_type_display }}
                        </h6>
                    {% endif %}
                    <div class="list-group-item-text">
                        <ul class="list-unstyled">
                            {% for sf in notification.submission_forms.all %}
                                <li>
                                    <strong>{{ sf.submission.get_ec_number_display }}</strong>
                                    {{ sf.german_project_title|default:sf.project_title }}
                                </li>
                            {% endfor %}
                        </ul>

                        {% if notification.centerclosenotification %}
                            {% with ccn=notification.centerclosenotification %}
                                <div class="row my-3">
                                    <div class="col-md-4 col-12">
                                        <strong>{% trans 'Investigator Organisation' %}</strong>
                                        <div>{{ ccn.investigator.organisation }}</div>
                                    </div>
                                    <div class="col-md-4 col-12">
                                        <strong>{% trans 'Ethics Commission' %}</strong>
                                        <div>{{ ccn.investigator.ethics_commission }}</div>
                                    </div>
                                    <div class="col-md-4 col-12">
                                        <strong>{% trans 'Investigator contact' %}</strong>
                                        <div>{{ ccn.investigator.contact }}</div>
                                    </div>
                                </div>
                            {% endwith %}
                        {% endif %}

                        <div>
                            {% with publish_date=answer.published_at|date:'d.m.Y' %}
                                {% if answer.is_rejected %}
                                    {% blocktrans trimmed %}
                                        <span class="text-danger">rejected</span>
                                        on the {{ publish_date }}
                                    {% endblocktrans %}
                                {% else %}
                                    {% blocktrans trimmed %}
                                        <span class="text-success">acknowledged</span>
                                        on the {{ publish_date }}
                                    {% endblocktrans %}
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                </li>
            {% endwith %}
        {% endfor %}
    </ul>
{% endfor %}
