{% load core i18n userutils %}

<table>
    <tr><th>{% trans "Title" %}:</th><td>{{ meeting.title|default:"<em>Unbenannt</em>" }}</td></tr>
    <tr><th>{% trans "Scheduled for" %}:</th><td>{{ meeting.start|date:'d.m.Y H:i' }}{% if not meeting.started %} <a href="{% url ecs.meetings.views.edit_meeting meeting_pk=meeting.pk %}">{% trans "edit" %}</a>{% endif %}</td></tr>
    <tr><th>{% trans "Deadline for Submission" %}:</th><td>{{ meeting.deadline|date:'d.m.Y' }}</td></tr>
    <tr><th>{% trans "Deadline for Thesis Submission" %}:</th><td>{{ meeting.deadline_diplomathesis|date:'d.m.Y' }}</td></tr>
    <tr>
        <th>{% trans "Status" %}:</th>
        <td>
            {% if meeting.started and meeting.ended %}
                {% trans "Ended" %}
            {% else %}{% if meeting.started %}
                {% trans "Started" %}
            {% else %}
                {% trans "New" %}
            {% endif %}
            {% endif %}
        </td>
    </tr>
    {% if meeting.started %}
        <tr><th>{% trans "Started at" %}:</th><td>{{ meeting.started|date:'d.m.Y H:i' }}</td></tr>
    {% endif %}
    {% if meeting.ended %}
        <tr><th>{% trans "Ended at" %}:</th><td>{{ meeting.ended|date:'d.m.Y H:i' }}</td></tr>
    {% endif %}
    <tr>
        <th>{% trans "Agenda" %}:</th>
        <td>
            <a href="{% url ecs.meetings.views.agenda_pdf meeting_pk=meeting.pk %}">{% trans "Agenda PDF" %}</a>
            {% if user|is_member_of:'EC-Office' %}
                | <a href="{% url ecs.meetings.views.send_agenda_to_board meeting_pk=meeting.pk %}">{% trans "Send agenda to board" %}</a>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{% trans "Timetable" %}:</th>
        <td><a href="{% url ecs.meetings.views.timetable_pdf meeting_pk=meeting.pk %}">{% trans "Timetable PDF" %}</a></td>
    </tr>
    <tr>
        <th>{% trans "Protocol" %}:</th>
        <td>
            <a href="{% url ecs.meetings.views.protocol_pdf meeting_pk=meeting.pk %}">{% trans "Protocol PDF" %}</a>
            {% if user|is_member_of:'EC-Office' %}
                | <a href="{% url ecs.meetings.views.send_protocol meeting_pk=meeting.pk %}">{% trans 'Send protocol' %}</a>
            {% endif %}
        </td>
    </tr>
</table>

<h2>{% trans 'Statistics' %}</h2>

<p><strong>{% trans 'Gesamt' %}:</strong> {{ cumulative_count }}</p>
<table>
    <tr>
        <th>{% trans "Normal" %}</th>
        <td>{{ board_submissions|length }}</td>
        <td>{% for submission in board_submissions %}<a href="{% url ecs.core.views.readonly_submission_form submission_form_pk=submission.current_submission_form.pk %}" target="_blank">{{ submission|ec_number }}</a> {% if not forloop.last %}, {% endif %}{% endfor %}</td>
    </tr>
    <tr class="sub">
        <th>- {% trans "AMG" %}</th>
        <td>{{ amg_submissions|length }}</td>
        <td>{% for submission in amg_submissions %}<a href="{% url ecs.core.views.readonly_submission_form submission_form_pk=submission.current_submission_form.pk %}" target="_blank">{{ submission|ec_number }}</a> {% if not forloop.last %}, {% endif %}{% endfor %}</td>
    </tr>
    <tr class="sub">
        <th>- {% trans "MPG" %}</th>
        <td>{{ mpg_submissions|length }}</td>
        <td>{% for submission in mpg_submissions %}<a href="{% url ecs.core.views.readonly_submission_form submission_form_pk=submission.current_submission_form.pk %}" target="_blank">{{ submission|ec_number }}</a> {% if not forloop.last %}, {% endif %}{% endfor %}</td>
    </tr>
    <tr class="sub">
        <th>- {% trans "AMG/MPG" %}</th>
        <td>{{ amg_mpg_submissions|length }}</td>
        <td>{% for submission in amg_mpg_submissions %}<a href="{% url ecs.core.views.readonly_submission_form submission_form_pk=submission.current_submission_form.pk %}" target="_blank">{{ submission|ec_number }}</a> {% if not forloop.last %}, {% endif %}{% endfor %}</td>
    </tr>
    <tr class="sub">
        <th>- {% trans "Andere" %}</th>
        <td>{{ not_amg_and_not_mpg_submissions|length }}</td>
        <td>{% for submission in not_amg_and_not_mpg_submissions %}<a href="{% url ecs.core.views.readonly_submission_form submission_form_pk=submission.current_submission_form.pk %}" target="_blank">{{ submission|ec_number }}</a> {% if not forloop.last %}, {% endif %}{% endfor %}</td>
    </tr>
    <tr>
        <th>{% trans "Retro. Thesis" %}</th>
        <td>{{ retrospective_thesis_submissions|length }}</td>
        <td>{% for submission in retrospective_thesis_submissions %}<a href="{% url ecs.core.views.readonly_submission_form submission_form_pk=submission.current_submission_form.pk %}" target="_blank">{{ submission|ec_number }}</a> {% if not forloop.last %}, {% endif %}{% endfor %}</td>
    </tr>
    <tr>
        <th>{% trans "Expedited" %}</th>
        <td>{{ expedited_submissions|length }}</td>
        <td>{% for submission in expedited_submissions %}<a href="{% url ecs.core.views.readonly_submission_form submission_form_pk=submission.current_submission_form.pk %}" target="_blank">{{ submission|ec_number }}</a> {% if not forloop.last %}, {% endif %}{% endfor %}</td>
    </tr>
    <tr>
        <th>{% trans "Local EC" %}</th>
        <td>{{ localec_submissions|length }}</td>
        <td>{% for submission in localec_submissions %}<a href="{% url ecs.core.views.readonly_submission_form submission_form_pk=submission.current_submission_form.pk %}" target="_blank">{{ submission|ec_number }}</a> {% if not forloop.last %}, {% endif %}{% endfor %}</td>
    </tr>
    <tr>
        <th>{% trans "Other" %}</th>
        <td>{{ other_submissions|length }}</td>
        <td>{% for submission in other_submissions %}<a href="{% url ecs.core.views.readonly_submission_form submission_form_pk=submission.current_submission_form.pk %}" target="_blank">{{ submission|ec_number }}</a> {% if not forloop.last %}, {% endif %}{% endfor %}</td>
    </tr>
</table>
<table>
    <tr>
        <th>{% trans "Dissertation" %}</th>
        <td>{{ dissertation_submissions|length }}</td>
        <td>{% for submission in dissertation_submissions %}<a href="{% url ecs.core.views.readonly_submission_form submission_form_pk=submission.current_submission_form.pk %}" target="_blank">{{ submission|ec_number }}</a> {% if not forloop.last %}, {% endif %}{% endfor %}</td>
    </tr>
    <tr>
        <th>{% trans "Diploma Thesis" %}</th>
        <td>{{ diploma_thesis_submissions|length }}</td>
        <td>{% for submission in diploma_thesis_submissions %}<a href="{% url ecs.core.views.readonly_submission_form submission_form_pk=submission.current_submission_form.pk %}" target="_blank">{{ submission|ec_number }}</a> {% if not forloop.last %}, {% endif %}{% endfor %}</td>
    </tr>
    <tr>
        <th>{% trans "Multicentric, Main EC" %}</th>
        <td>{{ amg_multi_main_submissions|length }}</td>
        <td>{% for submission in amg_multi_main_submissions %}<a href="{% url ecs.core.views.readonly_submission_form submission_form_pk=submission.current_submission_form.pk %}" target="_blank">{{ submission|ec_number }}</a> {% if not forloop.last %}, {% endif %}{% endfor %}</td>
    </tr>
    <tr>
        <th>{% trans "Remission" %}</th>
        <td>{{ remission_submissions|length }}</td>
        <td>{% for submission in remission_submissions %}<a href="{% url ecs.core.views.readonly_submission_form submission_form_pk=submission.current_submission_form.pk %}" target="_blank">{{ submission|ec_number }}</a> {% if not forloop.last %}, {% endif %}{% endfor %}</td>
    </tr>
    <tr>
        <th>{% trans "B3 (examined)" %}</th>
        <td>{{ b3_examined_submissions|length }}</td>
        <td>{% for submission in b3_examined_submissions %}<a href="{% url ecs.core.views.readonly_submission_form submission_form_pk=submission.current_submission_form.pk %}" target="_blank">{{ submission|ec_number }}</a> {% if not forloop.last %}, {% endif %}{% endfor %}</td>
    </tr>
    <tr>
        <th>{% trans "B3 (not examined)" %}</th>
        <td>{{ b3_not_examined_submissions|length }}</td>
        <td>{% for submission in b3_not_examined_submissions %}<a href="{% url ecs.core.views.readonly_submission_form submission_form_pk=submission.current_submission_form.pk %}" target="_blank">{{ submission|ec_number }}</a> {% if not forloop.last %}, {% endif %}{% endfor %}</td>
    </tr>
</table>
