{% load core i18n userutils %}

{% if next_tops %}
<h2>{% trans 'Next TOPs' %}</h2>
<ul>
{% for top in next_tops %}
    <li>
        {{ top }} - {{ top.submission|ec_number }} {{ top.submission.project_title_display|default:'<i>Unbenannt.</i>' }}<br>
        <a href="{% url ecs.core.views.readonly_submission_form submission_form_pk=top.submission.current_submission_form.pk %}" target="_blank">Ansehen</a>
        | <a href="{% url ecs.scratchpad.views.popup %}?submission={{ top.submission.pk }}" class="open-in-popup">{% trans 'Scratchpad' %}</a>
    </li>
{% endfor %}
</ul>
{% endif %}

{% if open_tops %}
<h2>{% trans "Open TOPs" %}</h2>
<ul>
{% for board_members, tops in open_tops.iteritems %}
    <li>
        {% if board_members %}
            {% for bm in board_members %}{{ bm }}{% if not forloop.last %}, {% endif %}{% endfor %}
        {% else %}
            <i>{% trans "No board member." %}</i>
        {% endif %}
        <ul>
        {% for top in tops %}
            <li>
                {{ top }} - 
                {% if top.submission %}
                    {{ top.submission|ec_number }} {{ top.submission.project_title_display|default:'<i>Unbenannt.</i>' }}<br>
                    <a href="{% url ecs.core.views.readonly_submission_form submission_form_pk=top.submission.current_submission_form.pk %}" target="_blank">Ansehen</a>
                    | <a href="{% url ecs.scratchpad.views.popup %}?submission={{ top.submission.pk }}" class="open-in-popup">{% trans 'Scratchpad' %}</a>
                {% else %}
                    {{ top.title }}
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>
{% endif %}


{% if closed_tops %}
<h2>{% trans "Finished TOPs" %}</h2>
<ul>
{% for top in closed_tops %}
    <li>
        {{ top }} - 
        {% if top.submission %}
            {{ top.submission|ec_number }} ({% if top.vote.result %}B{{ top.vote.result }}{% else %}<i>{% trans "No Vote yet!" %}</i>{% endif %})
        {% else %}
            {{ top.title }}
        {% endif %}
    </li>
{% endfor %}
</ul>
{% endif %}
