@import "variables.scss";

.boilerplate_container {
    display: none;
    position: relative;

    .boilerplate_selector {
        position: absolute;
        width: 100%;
        z-index: 1000;

        a:hover {
            text-decoration: none;
            background: $lightskyblue;
            cursor: pointer;
        }

        .resultlist {
            max-height: 20rem;
            overflow: auto;
        }
    }
}
