@import "variables.scss";

.field_history .change {
    padding: 5px;

    .diff{
        .inserted, .deleted{
            display: inline;
        }
    }
}

ul.diff {
    list-style: none;

    li{
        margin-bottom: 10px;
    }
}

.diff{
    .deleted, .inserted{
        display: block;
    }
    .deleted{
        color: #d50000;
        text-decoration: line-through;
    }
    .inserted{
        color: #00a400;
        font-weight: bold;
    }
    .indent {
        margin-left: 20px;
    }

    .elem {
        border: 1px solid;
        padding: 10px;
        margin: 10px;
    }

    .field {
        display: block;
        margin-bottom: 10px;
    }

    .item {
        margin: 5px 10px 0;
        padding: 5px;
        background: $white;
        border: 1px dotted $grey-80;

        .title{
            display: inline-block;
            font-size: 16px;
            padding-bottom: 5px;
        }

        .item .title{
            font-size: 14px;
        }
    }

    .atomic {
        display: block;
        margin: 5px 10px 0;

        & > div {
            display: inline;
        }
    }
}
