/* login */

* html body { /*IE6 hack*/
  padding: 0 !important; /*Set value to (0 WidthOfFrameDiv 0 0)*/
  text-align: center;
}
#header, #toggle_sidebar_button {
  display: none;
}
#content {
  position: absolute;
  right: 0 !important;
  top: 0 !important;
  overflow: hidden;
  height: 100% !important;
  width: 100% !important;
}
#sidebar {
  position: relative;
  display: none !important;
  width: 0 !important;
  height: 0px !important;
  top: 0 !important;
  left: 0 !important;
}
#toggle_sidebar_button {
  display:none !important;
}
.wrapper {
  margin: 100px auto;
  width: 300px;
  text-align: left;
}
.wrapper h1, #content h1 {
  background: url(../images/logo.png) no-repeat;
  width: 200px;
  height: 48px;
  margin: 0 0 10px 10px;
  text-indent: -9999px;
}
#content form {
  float: none;
}
#content p {
  margin-bottom: 5px;
}
.login_screen {
  display: block;
  background: #D8E6EF;
  padding: 20px 20px 40px;
  border: 1px solid #b7d4e5;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.login_screen p {
  display: block;
}
.login_screen label {
  font-size: 11pt;
	font-weight: bolder;
}
.login_screen input {
  padding: 5px;
  font-size: 11pt;
  width: 245px;
}
.login_screen input[type=submit] {
  width: 70px;
  margin: 5px 0 0 0;
  padding: 4px 7px;
  float: right;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.pw_reg {
  margin: 5px 0 0 10px;
  font-size: 10pt;
}

#browser_warning{
  border: 1px solid #ff0000;
  background-color: #ffcccc;
  padding: 20px;
  margin-bottom: 10px;
}
#public_area {
	display: block;
	margin: 0 0 5px 10px;
}
