/* login */

#header {
  display: none;
}
#content {
  right: 0 !important;
  top: 0 !important;
}
#sidebar {
  display: none;
}
.innertube {
  float: none;
}
.wrapper {
  margin: 150px auto;
  width: 300px;
}
.wrapper h1 {
  background: url(../images/logo.png) no-repeat;
  width: 200px;
  height: 48px;
  text-indent: -9999px;
}
#content form {
  float: none;
}
#content p {
  margin-bottom: 5px;
}
.login_screen {
  display: block;
  height: 100%;
  background: #D8E6EF;
  padding: 20px 20px 40px;
  border: 1px solid #2B558E;
}
.login_screen p {
  display: block;
}
.login_screen label {
  font-size: 12pt;
}
.login_screen input {
  padding: 5px;
  font-size: 11pt;
  width: 250px;
}
.login_screen input[type=submit] {
  width: 50px;
  float: right;
}
