@import "variables.scss";

/* notifications */

.notification {
    label {
        font-weight: bolder;
        display: inline-block;
    }
    input[type="submit"] {
        margin-left: 120px;
    }
    textarea {
        display: inline-block;
    }
    ul {
        margin: 0 !important;
    }
    ul.errorlist li {
        margin-left: 120px;
    }
    .item {
        border-top: 1px solid $grey-80;
        margin: 2px 0;
        padding: 2px 0;
    }
    .form_main {
        li.BooleanField {
            padding-left: 10px;
        }

        li.CharField {
            margin-top: 5px;

            label {
                width: auto;
                float: left;
                display: block;
                padding: 0 0 0 10px;
                margin-right: 10px;
            }
            textarea {
                display: block;
                clear: both;
                margin-left: 10px;
            }
            .boilerplate_selector {
                left: 90px;
            }
        }

    }
}
