/* public */

/* reset base.css classes */

* html body {
	margin: 0;
	padding: 0;
}
#header, #toggle_sidebar_button {
  display: none;
}
#content {
  position: absolute;
  right: 0 !important;
  top: 0 !important;
  overflow: auto;
  height: 100% !important;
  width: 100% !important;
}
.innerwrap {
  background: none;
  border: none;
  margin: 100px auto 0;
  min-width: 340px;
  width: 340px;
  text-align: left;
}
#sidebar {
  position: relative;
  display: none !important;
  width: 0 !important;
  height: 0px !important;
  top: 0 !important;
  left: 0 !important;
}
#toggle_sidebar_button {
  display:none !important;
}

/* login and register forms */

.innerwrap img,
.innerwrap a img {
  border: none;
  margin-left: 10px;
}
#content .innerwrap form {
  padding: 20px 20px 50px;
  background: #D8E6EF;
  border: 1px solid #b7d4e5;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
#content .innerwrap p {
  display: block;
  margin-bottom: 5px;
}
.innerwrap label {
  font-size: 14px;
  font-weight: bolder;
  display: block;
  margin-bottom: 2px;
  clear: both;
}
.innerwrap input {
  display: block;
  padding: 5px;
  font-size: 14px;
  width: 286px;
}
.innerwrap input[type=submit] {
	display: block;
	width: 100%;
  margin: 5px 0;
  padding: 4px 7px;
  float: right;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
#content form {
  float: none;
}
#content h2 {
	margin-bottom: 20px;
}
#id_gender {
  width: 100px;
}
.pw_reg {
  margin: 5px 0 0 10px;
  font-size: 12px;
}

/* catalogue list */

#header_public {
  position: absolute;
  top: 25px;
  left: 0;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #999;
}
#content .catalogue_list {
  position: absolute;
  top: 120px;
  left: 86px;
  min-width: 700px;
  float: left;
}
.catalogue_list li {
  margin-bottom: 3px;
  font-size: 14px;
}
