{% extends "core.html" %}
{% load core i18n %}

{% block htmltitle %}{{ submission|ec_number }} | {{ block.super }}{% endblock %}

{% block headertitle %}
    EK-Nr. {{ submission|ec_number }}
{% endblock %}

{% block content %}

    {% if diff %}
        <a href="{% url 'view_submission' submission_pk=submission.pk %}#status_tab" class="button_submit">{% trans "Back to the Study" %}</a>

        <div class="diff_toggles">
            <a href="#" id="diff_show_old">{% trans "old" %}</a>
            <a href="#" id="diff_show_new">{% trans "new" %}</a>
            <a href="#" id="diff_show_all">{% trans "all" %}</a>
        </div>
        
        <div class="diff">
            {{ diff.html|safe }}
        </div>
    {% else %}
        <div class="diff"><em>{% trans 'No changes.' %}</em></div>
    {% endif %}

    <a href="{% url 'view_submission' submission_pk=submission.pk %}#status_tab" class="button_submit">{% trans "Back to the Study" %}</a>
    
{% endblock %}

{% block menuSelection %}submissions{% endblock %}

{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript">
        jQuery(function(){
            jQuery('#diff_show_old').click(function(ev) {
                ev.preventDefault();
                jQuery('.diff .deleted').show();
                jQuery('.diff .inserted').hide();
            });
            jQuery('#diff_show_new').click(function(ev) {
                ev.preventDefault();
                jQuery('.diff .deleted').hide();
                jQuery('.diff .inserted').show();
            });
            jQuery('#diff_show_all').click(function(ev) {
                ev.preventDefault();
                jQuery('.diff .deleted').show();
                jQuery('.diff .inserted').show();
            });
        });
    </script>
{% endblock %}

