{% extends "core.html" %}
{% load core i18n %}

{% block title %}{% trans "ECS Elektronische Einreichung" %}{% endblock %}

{% block headertitle %}
    EK-Nr. {{ submission|ec_number }}
{% endblock %}

{% block htmlcss %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ecs/diff.css" />
{% endblock %}

{% block content %}
    <div class="diff_toggles">
        <a href="#" id="diff_show_old">{% trans "old" %}</a>
        <a href="#" id="diff_show_new">{% trans "new" %}</a>
        <a href="#" id="diff_show_all">{% trans "all" %}</a>
    </div>
    
    <div class="diff">
        {{ diff.html|safe }}
    </div>
    
{% endblock %}

{% block menuSelection %}submissions{% endblock %}

{% block jsbottom %}
  {{ block.super }}
  <script type="text/javascript">
  window.addEvent('domready', function(){
    $('diff_show_old').addEvent('click', function() {
      $$('.diff .deleted').show();
      $$('.diff .inserted').hide();
    });
    $('diff_show_new').addEvent('click', function() {
      $$('.diff .deleted').hide();
      $$('.diff .inserted').show();
    });
    $('diff_show_all').addEvent('click', function() {
      $$('.diff .deleted').show();
      $$('.diff .inserted').show();
    });
  });
  </script>
{% endblock %}

