<ul class="diff">
{% for field, diff in diffs %}
    <li>
        <div>{{ field|escape }}:</div>
        <div class="indent">
        {% for type, content in diff %}
            {% if type == 0 %}
                <span>{{ content|safe }}</span>
            {% endif %}
            {% if type == -1 %}
                <span class="deleted">{{ content|safe }}</span>
            {% endif %}
            {% if type == 1 %}
                <span class="inserted">{{ content|safe }}</span>
            {% endif %}
        {% endfor %}
        </div>
    </li>
{% endfor %}
</ul>
