{% load core %}
<div id="{{ formset.prefix }}_formset" class="inline_formset">
    {{ formset.management_form }}
    {% for form in formset.forms %}
    <div class="form">
        <ol>
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form %}
                {% if not field.is_hidden %}
                    {% include "forms/field.html" %}
                {% endif %}
            {% endfor %}
        </ol>
    </div>
    {% endfor%}
</div>
