{% load i18n userutils %}
<table>
    <tr><th>Formulare:</th><td colspan="3">
        <table>
            <tr>
                <th>Version</th>
                <th>Eingereicht von</th>
                <th>Eingereicht am</th>
                <th colspan="2">Versionen</th>
            </tr>
            {% for sf in submission_forms %}
            <tr class="version">
                <td>{{ forloop.revcounter }}</td>
                <td>{{ sf.presenter }}</td>
                <td>{{ sf.created_at|date:'d.m.Y, H:i' }} Uhr</td>
                <td>
                    {% if sf.previous_form %}
                        <span class="icon_diff"></span><a href="{% url ecs.core.views.diff old_submission_form_pk=sf.previous_form.pk,new_submission_form_pk=sf.pk %}">aktuelle Änderungen</a>
                    {% endif %}
                </td>
                <td>
                    {% if sf != submission_form %}
                        <span class="icon_diff"></span><a href="{% url ecs.core.views.diff old_submission_form_pk=sf.pk,new_submission_form_pk=submission_form.pk %}">Unterschiede zur neuesten Version</a>
                    {% endif %}
                    {% if sf.is_notification_update %}
                        {% with sf.new_for_notification.all.0 as notif %}
                            {% if notif %}
                            <a href="{% url ecs.notifications.views.view_notification notification_pk=notif.pk %}">{{ notif }}</a>
                            {% endif %}
                        {% endwith %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </td></tr>
    <tr><th>Eingereicht von:</th><td colspan="3">?</td></tr>
    <tr><th>Akzeptiert:</th><td>{{ submission_form.acknowledged|yesno }}</td>
        <th class="small">Aktiv:</th><td>{{ submission_form.submission.is_active|yesno }}</td></tr>
    <tr><th>Monozentrisch:</th><td>{{ submission_form.monocentric|yesno }}</td>
        <th class="small">Multizentrisch:</th><td>{{ submission_form.multicentric|yesno }}</td></tr>
    <tr><th>Ethikkommission:</th><td colspan="3">{{ submission_form.main_ethics_commission|default:'<em>Keine Angabe</em>' }}</td></tr>
    <tr><th>Sitzungen:</th><td colspan="3">
        <ul>
            {% for meeting in submission_form.submission.meetings.all %}
                <li><a href="{% url ecs.meetings.views.timetable_editor meeting_pk=meeting.pk %}">{{ meeting.start|date:'d.m.Y' }} {{ meeting.title }}</a></li>
            {% endfor %}
        </ul>
        {% if user|has_flag:'executive_board_member' %}
            <a href="{% url ecs.meetings.views.reschedule_submission submission_pk=submission_form.submission.pk %}">{% trans 'Reschedule' %}</a>
        {% endif %}
    </td></tr>
    <tr><th>Voten:</th><td colspan="3">
        <ul>
            {% for vote in submission_form.submission.votes.all %}
                <li>{{ vote.result_text }}{% if vote.top %} (in der Sitzung am {{ vote.top.meeting.start|date:'d.m.Y' }}){% endif %}</li>
            {% endfor %}
        </ul>
    </td>
    </tr>
    <tr><th>Kategorien:</th><td colspan="3">
        {% for cat in submission_form.submission.medical_categories.all %}
            {{ cat }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </td></tr>
    <tr><th>Exedited Review:</th><td colspan="3">{{ submission_form.submission.expedited|yesno }}</td></tr>
</table>

{% if user|has_flag:'internal' %}
<ul>
{% for task in cancelable_tasks %}
    <li>
        {% blocktrans with task.task_type as task_name and task.assigned_to as assigned_to and task.assigned_at|date:'d.m.Y' as assigned_at %}
            {{ task_name }} ({{ assigned_to }}), invited at {{ assigned_at }}
        {% endblocktrans %}
        <a href="{% url ecs.core.views.delete_task submission_form_pk=submission_form.pk task_pk=task.pk %}">{% trans "delete" %}</a>
    </li>
{% empty %}
    <li><i>{% trans "No additional/external review" %}</i></li>
{% endfor %}
</ul>
{% endif %}


<a href="{% url ecs.core.views.export_submission submission_pk=submission_form.submission.pk %}"><button>Export</button></a>
{% if show_reviews and befangene_review_form %}
<a href="{% url ecs.core.views.befangene_review submission_form_pk=submission_form.pk %}#involved_parties_tab"><button>Befangene Review</button></a>
{% endif %}


