{% load i18n userutils %}
<table>
    <tr><th>Formulare:</th><td colspan="3">
        <table>
            <tr>
                <th>Version</th>
                <th>Eingereicht von</th>
                <th>Eingereicht am</th>
                <th colspan="2">Versionen</th>
                <th></th>
            </tr>
            {% with submission_form.submission.get_current_docstash as docstash %}
            {% if docstash %}
                <tr class="version">
                    <td>{{ submission_form.submission.forms.count|add:1 }}</td>
                    <td colspan="2"><i>{% trans "This form has not been submitted yet." %}</i></td>
                    <td colspan="2"></td>
                    <td>
                        <a href="{% url ecs.core.views.create_submission_form docstash_key=docstash.key %}" class="button_submit">{% trans 'Edit' %}</a>
                    </td>
                </tr>
            {% endif %}
            {% endwith %}
            {% for sf in submission_forms %}
            <tr class="version">
                <td>{{ sf.version }}</td>
                <td>{{ sf.presenter }}</td>
                <td>{{ sf.created_at|date:'d.m.Y, H:i' }} Uhr</td>
                <td>
                    {% if sf.previous_form %}
                        <span class="icon_diff"></span><a href="{% url ecs.core.views.diff old_submission_form_pk=sf.previous_form.pk,new_submission_form_pk=sf.pk %}">aktuelle Änderungen</a>
                    {% endif %}
                </td>
                <td>
                    {% if sf != submission_form.submission.newest_submission_form %}
                        <span class="icon_diff"></span><a href="{% url ecs.core.views.diff old_submission_form_pk=sf.pk,new_submission_form_pk=submission_form.pk %}">Unterschiede zur neuesten Version</a><br>
                    {% endif %}
                    {% if sf.is_notification_update %}
                        {% with sf.new_for_notification.all.0 as notif %}
                            {% if notif %}
                            <a href="{% url ecs.notifications.views.view_notification notification_pk=notif.pk %}">{{ notif }}</a>
                            {% endif %}
                        {% endwith %}
                    {% endif %}
                </td>
                <td>
                    {% if sf == submission_form.submission.newest_submission_form %}
                        <a href="{% url ecs.core.views.submission_pdf submission_form_pk=sf.pk %}" class="button_submit">{% trans "Download PDF" %}</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </td></tr>
    <tr>
        <th>Eingereicht von:</th>
        {% with submission_form.presenter.get_profile.organisation as organisation%}
            <td colspan="3">{{ submission_form.presenter }}{% if organisation %} ({{organisation}}){% endif %}</td>
        {% endwith %}
    </tr>
    <tr>
        <th>Antragsteller:</th>
        {% with submission_form.submitter.get_profile.organisation as organisation%}
            <td colspan="3">{{ submission_form.submitter }}{% if organisation %} ({{organisation}}){% endif %}</td>
        {% endwith %}
    </tr>
    <tr>
        <th>Sponsor:</th>
        {% with submission_form.sponsor.get_profile.organisation as organisation%}
            <td colspan="3">{{ submission_form.sponsor }}{% if organisation %} ({{organisation}}){% endif %}</td>
        {% endwith %}
    </tr>
    <tr>
        <th>Rechnungsempfänger:</th>
        {% with submission_form.invoice.get_profile.organisation as organisation%}
            <td colspan="3">
            {% if submission_form.invoice %}
                {{ submission_form.invoice }}{% if organisation %} ({{organisation}}){% endif %}
            {% else %}
                <em>{% trans "same as sponsor" %}</em>
            {% endif %}
            </td>
        {% endwith %}
    </tr>
    <tr>
        <th>Hauptprüfer:</th>
        {% with submission_form.primary_investigator.get_profile.organisation as organisation%}
            <td colspan="3">
            {% if submission_form.primary_investigator %}
                {{ submission_form.primary_investigator.contact.full_name }}{% if organisation %} ({ organisation }}){% endif %}
            {% else %}
                <em>{% trans "No Primary Investigator" %}</em>
            {% endif %}
            </td>
        {% endwith %}
    </tr>
    <tr>
        <th>Phase:</th>
        <td colspan="3">
            {% if submission_form.submission.is_active %}
                {% trans "Aktiv" %}
            {% else %}
                {% if submission_form.acknowledged %}
                    {% trans "Akzeptiert" %}
                {% else %}
                    {% trans "Neu" %}
                {% endif %}
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Typ:</th>
        <td colspan="3">
            {% if submission_form.submission_type %}
                {{ submission_form.get_submission_type_display }}
            {% else %}
                {% trans "Other" %}
            {% endif %}
            {% if submission_form.amg %}{% trans "AMG" %}(ECT:{{submission_form.eudract_number }}, {{ submission_form.get_submission_type_display }}){% endif %}
            {% if submission_form.mpg %}{% trans "MPG" %}{% endif %}
            {% if submission_form.thesis %}{{ submission_form.get_project_type_education_context_display }}{% endif %}
            {% if submission_form.subject_minage > 0 and submission_form.subject_minage < 18 %}{% trans "minors" %}{% endif %}
        </td>
    </tr>
    <tr>
        <th>Ethikkommission:</th>
        <td colspan="3">{{ submission_form.main_ethics_commission|default:'<em>Keine Angabe</em>' }}</td>
    </tr>
    <tr>
        <th>Sitzungen:</th>
        <td colspan="3">
            <ul>
                {% for meeting in submission_form.submission.meetings.all %}
                    <li><a href="{% url ecs.meetings.views.timetable_editor meeting_pk=meeting.pk %}">{{ meeting.start|date:'d.m.Y' }} {{ meeting.title }}</a></li>
                {% endfor %}
            </ul>
            {% if user|has_flag:'executive_board_member' %}
                <a href="{% url ecs.meetings.views.reschedule_submission submission_pk=submission_form.submission.pk %}">{% trans 'Reschedule' %}</a>
            {% endif %}
        </td>
    </tr>
    {% if user|has_flag:'internal' %}
    <tr>
        <th>Voten:</th>
        <td colspan="3">
            <ul>
                {% for vote in submission_form.submission.votes.all %}
                    {% if vote.result %}
                    <li>{{ vote.result_text }}{% if vote.top %} (in der Sitzung am {{ vote.top.meeting.start|date:'d.m.Y' }}){% endif %}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </td>
    </tr>
    {% endif %}
    <tr>
        <th>Kategorien:</th>
        <td colspan="3">
            {% for cat in submission_form.submission.medical_categories.all %}
                {{ cat }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>Exedited Review:</th>
        <td colspan="3">{{ submission_form.submission.expedited|yesno }}</td>
    </tr>
</table>

{% if user|has_flag:'internal' %}
<ul>
{% for task in cancelable_tasks %}
    <li>
        {% blocktrans with task.task_type as task_name and task.assigned_to as assigned_to and task.assigned_at|date:'d.m.Y' as assigned_at %}
            {{ assigned_to }} invited at {{ assigned_at }} for {{ task_name }} 
        {% endblocktrans %}
        | <a href="{% url ecs.core.views.delete_task submission_form_pk=submission_form.pk task_pk=task.pk %}">{% trans "delete" %}</a>
    </li>
{% empty %}
    <li><i>{% trans "No additional/external review" %}</i></li>
{% endfor %}
</ul>
{% endif %}


<a href="{% url ecs.core.views.export_submission submission_pk=submission_form.submission.pk %}" class="button_submit">{% trans "Export" %}</a>

