{% load i18n userutils core %}
<table>
    <tr><th>Formulare:</th><td colspan="3">
        <table>
            <tr>
                <th>Version</th>
                <th>von</th>
                <th>am</th>
                <th>zur Vorversion</th>
                <th>zur Neuesten</th>
                <th>{% trans 'Amendment' %}</th>
                <th>{% trans 'Download PDF' %}</th>
            </tr>
            {% with submission.get_current_docstash as docstash %}
            {% if docstash %}
                <tr class="version">
                    <td>{{ submission.forms.count|add:1 }}</td>
                    <td colspan="2"><i>{% trans "This form has not been submitted yet." %}</i></td>
                    <td colspan="3"></td>
                    <td>
                        <a href="{% url ecs.core.views.create_submission_form docstash_key=docstash.key %}" class="button_submit">{% trans 'Edit' %}</a>
                    </td>
                </tr>
            {% endif %}
            {% endwith %}
            {% with submission.newest_submission_form as newest_form %}
                {% for sf in submission_forms %}
                <tr class="version{% if not sf.is_acknowledged %} rejected{% endif %}">
                    <td>{{ sf.version }}</td>
                    <td>{{ sf.presenter }}</td>
                    <td>{{ sf.created_at|date:'d.m.Y, H:i' }} Uhr</td>
                    <td>
                        {% if sf.previous_form %}
                            <span class="icon_diff"></span><a href="{% url ecs.core.views.diff old_submission_form_pk=sf.previous_form.pk,new_submission_form_pk=sf.pk %}">Unterschiede zur Vorversion</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if sf != newest_form %}
                            <span class="icon_diff"></span><a href="{% url ecs.core.views.diff old_submission_form_pk=sf.pk,new_submission_form_pk=newest_form.pk %}">Unterschiede zur neuesten Version</a><br>
                        {% endif %}
                    </td>
                    <td>
                        {% if sf.is_notification_update %}
                            {% with sf.new_for_notification.all.0 as notif %}
                                {% if notif %}
                                <a href="{% url ecs.notifications.views.view_notification notification_pk=notif.pk %}">{{ notif }}</a>
                                {% endif %}
                            {% endwith %}
                        {% else %}
                            –
                        {% endif %}
                    </td>
                    <td>
                        {% if sf == submission.newest_submission_form %}
                            <a href="{% url ecs.core.views.submission_pdf submission_form_pk=sf.pk %}" class="icon_pdf">{% trans "Download PDF" %}</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            {% endwith %}
        </table>
    </td></tr>
    <tr>
        <th>Eingereicht von:</th>
        <td colspan="3">
            {% with submission.presenter.get_profile.organisation as organisation%}
                {{ submission.presenter }}{% if organisation %} ({{organisation}}){% endif %}
            {% endwith %}
            {% if user|has_flag:'is_executive_board_member' or user == submission.presenter %}
                | <a href="{% url ecs.core.views.change_submission_presenter submission_pk=submission.pk %}">{% trans "change" %}</a>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Sicherheitsmeldungsersteller:</th>
        <td colspan="3">
            {% with submission.susar_presenter.get_profile.organisation as organisation%}
                {{ submission.susar_presenter }}{% if organisation %} ({{organisation}}){% endif %}
            {% endwith %}
            {% if user|has_flag:'is_executive_board_member' or user == submission.susar_presenter %}
                | <a href="{% url ecs.core.views.change_submission_susar_presenter submission_pk=submission.pk %}">{% trans "change" %}</a>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Antragsteller:</th>
        {% with submission_form.submitter_organisation as organisation%}
            <td colspan="3">{{ submission_form.submitter }}{% if organisation %} ({{organisation}}){% endif %}</td>
        {% endwith %}
    </tr>
    <tr>
        <th>Sponsor:</th>
        {% with submission_form.sponsor_name as organisation%}
            <td colspan="3">{{ submission_form.sponsor }}{% if organisation %} ({{organisation}}){% endif %}</td>
        {% endwith %}
    </tr>
    <tr>
        <th>Rechnungsempfänger:</th>
        {% with submission_form.invoice_name as organisation%}
            <td colspan="3">
            {% if submission_form.invoice %}
                {{ submission_form.invoice }}{% if organisation %} ({{organisation}}){% endif %}
            {% else %}
                <em>{% trans "same as sponsor" %}</em>
            {% endif %}
            </td>
        {% endwith %}
    </tr>
    <tr>
        <th>Hauptprüfer:</th>
        {% with submission_form.primary_investigator.organisation as organisation%}
            <td colspan="3">
            {% if submission_form.primary_investigator %}
                {{ submission_form.primary_investigator.contact.full_name }}{% if organisation %} ({{ organisation }}){% endif %}
            {% else %}
                <em>{% trans "No Primary Investigator" %}</em>
            {% endif %}
            </td>
        {% endwith %}
    </tr>
    <tr>
        <th>Phase:</th>
        <td colspan="3">
            {{ submission.lifecycle_phase }}
        </td>
    </tr>
    <tr>
        <th>Typ:</th>
        <td colspan="3">
            {% if submission_form.is_amg %}
                {% trans "AMG" %}(ECT:{{submission_form.eudract_number }}, {{ submission_form.get_submission_type_display }})
            {% endif %}
            {% if submission_form.is_mpg %}{% trans "MPG" %}{% endif %}
            {% if submission_form.is_thesis %}{{ submission_form.get_project_type_education_context_display }}{% endif %}
            {% if submission_form.includes_minors %}{% trans "minors" %}{% endif %}
        </td>
    </tr>
    <tr>
        <th>Kategorien:</th>
        <td colspan="3">
            {% for cat in submission.medical_categories.all %}
                {{ cat }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>Ethikkommission:</th>
        <td colspan="3">{{ submission_form.main_ethics_commission|default:'<em>Keine Angabe</em>' }}</td>
    </tr>
    {% if user|has_flag:'is_internal' %}
    <tr>
        <th>Arbeitsablauf:</th>
        <td colspan="3">
            {% if submission.workflow_lane %}
                {{ submission.get_workflow_lane_display }}
            {% else %}
                {% trans 'New/Undecided' %}
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Sitzungen:</th>
        <td colspan="3">
                {% for meeting in submission.meetings.all %}
                    <div>
                        {% if user|has_flag:'is_internal' %}
                            <a href="{% url ecs.meetings.views.meeting_details meeting_pk=meeting.pk %}">{{ meeting.start|date:'d.m.Y' }} {{ meeting.title }}</a>
                        {% else %}
                            {{ meeting.start|date:'d.m.Y' }} {{ meeting.title }}
                        {% endif %}
                    </div>
                {% endfor %}
            {% if user|has_flag:'is_executive_board_member' %}
                <a href="{% url ecs.meetings.views.reschedule_submission submission_pk=submission.pk %}">{% trans 'Reschedule' %}</a>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Voten:</th>
        <td colspan="3">
                {% for vote in submission.votes.all %}
                    {% if vote.result %}
                    <div>{{ vote.result_text }}{% if vote.top %} (in der Sitzung am {{ vote.top.meeting.start|date:'d.m.Y' }}){% endif %}</div>
                    {% endif %}
                {% endfor %}
        </td>
    </tr>
    {% endif %}
    {% if user|has_flag:'is_internal' and external_review_checklists %}
    <tr>
        <th>Gutachten:</th>
        <td>
            {% for checklist in external_review_checklists %}
                <div>{{ checklist }} [{{ checklist.get_status_display }}]
                {% if checklist.status == 'new' or checklist.status == 'review_fail' %}
                    | <a href="{% url ecs.core.views.drop_checklist_review submission_form_pk=submission_form.pk checklist_pk=checklist.pk %}">{% trans "drop" %}</a>
                {% endif %}</div>
            {% endfor %}
        </td>
    </tr>
    {% else %}
        {% if not request.user|is_presenting_party:submission_form %}
            <tr>
                <th>Gutachten erforderlich:</th>
                <td>{{ submission.external_reviewers.exists|yesno }}</td>
            </tr>
        {% endif %}
    {% endif %}
</table>

{% if submission_form|allows_export_by:request.user %}
    <a href="{% url ecs.core.views.export_submission submission_pk=submission.pk %}" class="button_submit">{% trans "Export" %}</a>
{% endif %}
