{% load core i18n %}

<html>
    <head></head>
    <body>
        <p>
{% if invitation_text %}
    <pre>{{ invitation_text }}</pre>
{% else %}
    Sie wurden als beteiligte Person in einem Antrag an die {% ec_name %} angegeben.<br />
    <br />
    Aus diesem Grund wurde für Sie ein Zugang zum elektronischen Einreich- und Verwaltungssystem (ECS) angelegt.<br />
    <br />
    Um den Zugang zu aktivieren und Ihr Passwort zu setzen klicken Sie <a href="{{ link }}">hier</a>.
    <br />
    <br />
    {% db_setting 'signature_block' as signature_block %}
    {{ signature_block|linebreaksbr }}
{% endif %}
        </p>
    </body>
</html>
