{% extends 'administration/detail.html' %}
{% load i18n %}

{% block htmltitle %}{% trans "Invite User" %} | {{ block.super }}{% endblock %}

{% block administration_detail %}
<h2>{% trans "Invite User" %}</h2>

<form action="" method="post">
    {% csrf_token %}
    {% for field in form %}
        {% include "bootstrap/form_field.html" with inline=True %}
    {% endfor %}
    <div class="my-2">
        <input class="btn btn-primary" type="submit" value="{% trans "Invite" %}" />
    </div>
</form>
{% endblock %}

{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript">
        $(function(){
            new ecs.textarea.TextArea('#id_invitation_text', [
                ecs.textarea.toolbarItems.boilerplate(
                    "{% trans 'Insert Boilerplate' %}",
                    "{% url 'ecs.boilerplate.views.select_boilerplate' %}"
                )
            ]);

            $('#id_groups, #id_medical_categories, #id_task_types').select2();
        });
    </script>
{% endblock %}
