{% load core corepdf %}

{% tcwrap border1 %}
    <h1>Antrag</h1>
    {% tcwrap plain %}
        Version 6.0 vom 03.07.2009
    {% endtcwrap %}
{% endtcwrap %}

<div class="infotext">
    Dieses Formular soll für Einreichungen bei &ouml;sterreichischen Ethikkommissionen verwendet werden. <br/>
    Es setzt sich aus einem allgemeinen <span class="underline">Teil A</span> - Angaben zur Studie und zum Sponsor - <br/>
    und aus einem speziellen <span class="underline">Teil B</span> - Angaben zu der/den einzelnen Pr&uuml;fstelle(n) - zusammen. <br/>
    Bei Einreichungen für mehrere Zentren (Pr&uuml;fer) muss nur der Teil B an das jeweilige Zentrum angepasst werden.
</div>

<table>
    <colgroup>
        <col width="49%" />
        <col width="2%">
        <col width="49%" />
    </colgroup>
    <tr>
        <td style="border:1px solid #000000;padding:0.5mm">
            <span style="font-size:7pt">Adresse der Ethikkommission (optional)</span>
            <!-- FIXME: why has 'height' no effect on table cells? -->
            {{ '<br/>'|repeat:8 }}
            <!--<br/>
            An die<br/>
            Ethikkommission<br/>
            der Medizinischen Universität Wien<br/>
            Borschkegasse 8b<br/>
            1090 Wien<br/>
            -->
        </td>
        <td width="2%" ></td>
        <td style="border:1px solid #000000;padding:0.5mm">
            {% tcwrap plain %}
                <span style="font-size:7pt">Raum für Eingangsstempel, EK-Nummer, etc.</span>
            </td>
            <td style="text-align:right">
                <span style="font-size:7pt">Bitte freilassen!</span>
            {% endtcwrap %}
        </td>
    </tr>
</table>

<div style="font-size:12pt;font-weight:bold">ANTRAG AUF BEURTEILUNG EINES KLINISCHEN FORSCHUNGSPROJEKTES</div>

<div>
    für folgende Prüfer bei folgenden österreichischen Ethikkommissionen:<br/>
  ► Bitte alle Ethikkommissionen eintragen, an die der Antrag gesendet wird (<b>Kurzbezeichnung!</b>) ◄<br/>
  ► Im Falle einer multizentrischen Arzneimittelstudie ist die Leitethikkommission als erste anzuführen! ◄
</div>

<table class="padded withborders">
    <tr>
        <th>Zuständige Ethikkommission</th>
        <th>Zentrum</th>
        <th>Prüfer (lokale Studienleitung)</th>
    </tr>
    {% for inv in submission_form.investigators.all %}
        <tr>
            <td>{{ inv.ethics_commission.name }}</td>
            <td>{{ inv.organisation }}</td>
            <td>{{ inv.contact }}</td>
        </tr>
    {% endfor %}
</table>
