{% load core corepdf %}

<table class="withrowborders">
    <tr><td width="0.5cm">
        7.1
    </td><td>
        Wenn Original-Projekttitel nicht in Deutsch: Deutsche Übersetzung des Titels:
        <div class="value">
            {{ submission_form.german_project_title }}
        </div>
    </td></tr><tr><td>
        7.2
    </td><td>
        Zusammenfassung des Projektes (Rechtfertigung, Relevanz, Design, Maßnahmen und Vorgehensweise):
        <div class="value">
            {{ submission_form.german_summary }}
        </div>
    </td></tr><tr><td>
        7.3
    </td><td>
        Ergebnisse der präklinischen Tests oder Begründung für den Verzicht auf präklinischen Tests:
        <div class="value">
            {{ submission_form.german_preclinical_results }}
        </div>
    </td></tr><tr><td>
        7.4 
    </td><td>
        Primäre Hypothese der Studie (wenn relevant auch sekundäre Hypothesen): 
        <div class="value">
            {{ submission_form.german_primary_hypothesis }}
        </div>
    </td></tr><tr><td>
        7.5 
    </td><td>
        Relevante Ein- und Ausschlusskriterien:
        <div class="value">
            {{ submission_form.german_inclusion_exclusion_crit }}
        </div>
    </td></tr><tr><td>
        7.6
    </td><td>
        Ethische Überlegungen<br/>
        (Identifizieren und beschreiben Sie alle möglicherweise auftretenden Probleme. Beschreiben Sie den möglichen Wissenszuwachs, 
        der durch die Studie erzielt werden soll und seine Bedeutung, sowie mögliche Risiken für Schädigungen oder Belastungen der 
        Prüfungsteilnehmer/innen. <b>Legen Sie Ihre eigene Bewertung des Nutzen/Risiko-Verhältnisses dar</b>):
        <div class="value">
            {{ submission_form.german_ethical_info }}
        </div>
    </td></tr><tr><td>
        7.7 
    </td><td>
        Begründung für den Einschluss von Personen aus geschützten Gruppen<br/>
        (z.B. Minderjährige, temporär oder permanent nicht-einwilligungsfähige Personen; wenn zutreffend): 
        <div class="value">
            {{submission_form.german_protected_subjects_info }}
        </div>
    </td></tr><tr><td>
        7.8
    </td><td>
        Beschreibung des Rekrutierungsverfahrens<br/>
        (alle zur Verwendung bestimmte Materialien, z.B. Inserate <b>inkl. Layout</b> müssen beigelegt werden):
        <div class="value">
            {{ submission_form.german_recruitment_info }}
        </div>
    </td></tr><tr><td>
        7.9
    </td><td>
        Vorgehensweise an der/den Prüfstelle(n) zur Information und Erlangung der informierten Einwilligung von Prüfungsteilnehmer/inne/n, bzw.
        Eltern oder gesetzlichen Vertreter/inne/n, wenn zutreffend (wer wird informieren und wann, Erfordernis für gesetzliche Vertretung, Zeugen, etc.):
        <div class="value">
            {{ submission_form.german_consent_info }}
        </div>
    </td></tr><tr><td>
        7.10 
    </td><td>
        Risikoabschätzung, vorhersehbare Risiken der Behandlung und sonstiger Verfahren, die
        verwendet werden sollen (inkl. Schmerzen,
        Unannehmlichkeiten, Verletzung der persönlichen Integrität und
        Maßnahmen zur Vermeidung und/oder Versorgung von unvorhergesehenen / unerwünschten Ereignissen):
        <div class="value">
            {{ submission_form.german_risks_info }}
        </div>
    </td></tr><tr><td>
        7.11
    </td><td>
        Voraussichtliche Vorteile für die eingeschlossenen Prüfungsteilnehmer/innen: 
        <div class="value">
            {{ submission_form.german_benefits_info }}
        </div>
    </td></tr><tr><td>
        7.12
    </td><td>
        Relation zwischen Prüfungsteilnehmer/in und Prüfer/in (z.B. Patient/in -
        Ärztin/Arzt, Student/in - Lehrer/in, Dienstnehmer/in - Dienstgeber/in, etc.): <div class="value">
        <div class="value">
            {{ submission_form.german_relationship_info }}
        </div>
    </td></tr><tr><td>
        7.13
    </td><td>
        Verfahren an der/den
        Prüfstelle(n) zur Feststellung, ob eine einzuschließende Person
        gleichzeitig an einer anderen Studie teilnimmt oder ob eine
        erforderliche Zeitspanne seit einer Teilnahme an einer anderen
        Studie verstrichen ist<br/> (von besonderer Bedeutung, wenn
        gesunde Proband/inn/en in pharmakologische Studien eingeschlossen werden):
        <div class="value">
            {{ submission_form.german_concurrent_study_info }}
        </div>
    </td></tr><tr><td>
        7.14
    </td><td>
        Methoden, um unerwünschte Effekte ausfindig zu machen, sie aufzuzeichnen und zu berichten<br/>
        (Beschreiben Sie wann, von wem und wie, z.B. freies Befragen und/oder an Hand von Listen):
        <div class="value">
            {{ submission_form.german_sideeffects_info }}
        </div>
    </td></tr><tr><td>
        7.15
    </td><td>
        Optional: Statistische Überlegungen und Gründe für die Anzahl der Personen, die in die
        Studie eingeschlossen werden sollen (ergänzende informationen zu Punkt 8, wenn erforderlich):
        <div class="value">
            {{ submission_form.german_statistical_info }}
        </div>
    </td></tr><tr><td>
        7.16
    </td><td>
        Optional: Verwendete Verfahren zum Schutz der Vertraulichkeit der erhobenen Daten, der
        Quell­dokumente und von Proben (ergänzende Informationen zu
        Punkt 8, wenn erforderlich):
        <div class="value">
            {{ submission_form.german_dataprotection_info }}
        </div>
    </td></tr><tr><td>
        7.17
    </td><td>
        Plan zur Behandlung oder versorgung Nachdem die Personen ihre Teilnahme an der Studie
        beendet haben (wer wird verantwortlich sein und wo):
        <div class="value">
            {{ submission_form.german_aftercare_info }}
        </div>
    </td></tr><tr><td>
        7.18
    </td><td>
        Betrag und Verfahren der Entschädigung oder Vergütung an die Prüfungsteilnehmer/innen<br/>
        (Beschreibung des Betrages, der während der Prüfungsteilnahme bezahlt wird und wofür, z.B.
        Fahrtspesen, Einkommensverlust, Schmerzen und Unannehmlichkeiten, usw.):
        <div class="value">
            {{ submission_form.german_payment_info }}
        </div>
    </td></tr><tr><td>
        7.19 
    </td><td>
        Regeln für das Aussetzen oder vorzeitige Beenden der Studie an der/den
        Prüfstelle(n) in diesem Mitgliedstaat oder der gesamten Studie: 
        <div class="value">
            {{ submission_form.german_abort_info }}
        </div>
    </td></tr><tr><td>
        7.20
    </td><td>
        Vereinbarung über den Zugriff der Prüferin/des Prüfers/der Prüfer auf Daten, 
        Publikationsrichtlinien, etc. (wenn nicht im Protokoll dargestellt):
        <div class="value">
            {{ submission_form.german_dataaccess_info }}
        </div>
    </td></tr><tr><td>
        7.21
    </td><td>
        Finanzierung der Studie (wenn nicht im Protokoll dargestellt) und Informationen über finanzielle oder andere Interessen der Prüferin/des Prüfers/der Prüfer: 
        <div class="value">
            {{ submission_form.german_financing_info }}
        </div>
    </td></tr><tr><td>
        7.22 
    </td><td>
        Weitere Informationen (wenn erforderlich):
        <div class="value">
            {{ submission_form.german_additional_info }}
            </div>
    </td></tr>
</table>


