<p style="margin-left: 0.6cm; text-indent: -0.6cm; margin-top: 0.21cm; page-break-before: always; page-break-after: avoid">
<b>7. Strukturierte Kurzfassung des Projektes (<i><u>in deutscher Sprache, kein Verweis
auf das Protokoll</u></i>)</b></p>

<p style="margin-left: 0.75cm; text-indent: -0.75cm; margin-top: 0.11cm; margin-bottom: 0.11cm; page-break-after: avoid">
7.1 Wenn Original-Projekttitel nicht in Deutsch: Deutsche Übersetzung des Titels: <br/> 
 <b>{{ submission_form.german_project_title }}</b> </p>

<p style="margin-left: 0.75cm; text-indent: -0.75cm; margin-bottom: 0.11cm; padding-top: 0.04cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0cm">
7.2 Zusammenfassung des Projektes (Rechtfertigung, Relevanz, Design, Maßnahmen und
Vorgehensweise):<br/>
<b>{{ submission_form.german_summary }}</b>
</p>

<p style="margin-left: 0.75cm; text-indent: -0.75cm; margin-bottom: 0.11cm; padding-top: 0.04cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0cm">
7.3 Ergebnisse der präklinischen Tests oder Begründung für den Verzicht auf präklinischen Tests: <br/>
<b>{{ submission_form.german_preclinical_results }}</b></p>

<p style="margin-left: 0.75cm; text-indent: -0.75cm; margin-bottom: 0.11cm; padding-top: 0.04cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0cm">
7.4 Primäre Hypothese der Studie (wenn relevant auch sekundäre Hypothesen): <br/>
<b>{{ submission_form.german_primary_hypothesis }}</b> </p>

<p style="margin-left: 0.75cm; text-indent: -0.75cm; margin-bottom: 0.11cm; padding-top: 0.04cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0cm">
7.5 Relevante Ein- und Ausschlusskriterien: <br/>
 <b>{{ submission_form.german_inclusion_exclusion_crit }}</b> </p>

<p style="margin-left: 0.75cm; text-indent: -0.75cm; margin-bottom: 0.11cm; padding-top: 0.04cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0cm">
7.6 Ethische Überlegungen<br> (Identifizieren und beschreiben Sie alle
möglicherweise auftretenden Probleme. Beschreiben Sie den
möglichen Wissenszuwachs, der durch die Studie erzielt werden soll
und seine Bedeutung, sowie mögliche Risiken für Schädigungen
oder Belastungen der Prüfungsteilnehmer/innen. <b>Legen Sie Ihre
eigene Bewertung des Nutzen/Risiko-Verhältnisses
dar</b>): <br>
<b>{{ submission_form.german_ethical_info }}</b> </p>

<p style="margin-left: 0.75cm; text-indent: -0.75cm; margin-bottom: 0.11cm; padding-top: 0.04cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0cm">
7.7 Begründung für den Einschluss von Personen aus geschützten Gruppen<br> (z.B. Minderjährige, temporär oder permanent nicht-einwilligungsfähige Personen; wenn zutreffend): <br/>
<b>{{submission_form.german_protected_subjects_info }}</b> </p>

<p style="margin-left: 0.75cm; text-indent: -0.75cm; margin-bottom: 0.11cm; padding-top: 0.04cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0cm"> 7.8 Beschreibung des
Rekrutierungsverfahrens<br/> (alle zur Verwendung bestimmte
Materialien, z.B. Inserate <b>inkl. Layout</b> müssen beigelegt
werden):<br> <b>{{ submission_form.german_recruitment_info }}</b> </p>

<p style="margin-left: 0.75cm; text-indent: -0.75cm; margin-bottom: 0.11cm; padding-top: 0.04cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0cm"> 7.9 Vorgehensweise an
der/den Prüfstelle(n) zur Information und Erlangung der
informierten Einwilligung von Prüfungsteilnehmer/inne/n, bzw.
Eltern oder gesetzlichen Vertreter/inne/n, wenn zutreffend 
(wer wird informieren und wann, Erfordernis für gesetzliche
Vertretung, Zeugen, etc.):<br/> <b>{{ submission_form.german_consent_info }}</b> </p>

<p style="margin-left: 0.75cm; text-indent: -0.75cm; margin-bottom: 0.11cm; padding-top: 0.04cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0cm">
 7.10 Risikoabschätzung,
vorhersehbare Risiken der Behandlung und sonstiger Verfahren, die
verwendet werden sollen (inkl. Schmerzen,
Unannehmlichkeiten, Verletzung der persönlichen Integrität und
Maßnah­men zur Vermeidung und/oder Versorgung von unvorhergesehenen
/ unerwünschten Ereignissen): <br/> <b>{{ submission_form.german_risks_info }}</b> </p>

<p style="margin-left: 0.75cm; text-indent: -0.75cm; margin-bottom: 0.11cm; padding-top: 0.04cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0cm">
7.11 Voraussichtliche Vorteile für die eingeschlossenen Prüfungsteilnehmer/innen: <br> {{ submission_form.german_benefits_info }} </p>

<p style="margin-left: 0.75cm; text-indent: -0.75cm; margin-bottom: 0.11cm; padding-top: 0.04cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0cm">
 7.12 Relation zwischen Prüfungsteilnehmer/in und Prüfer/in (z.B. Patient/in -
Ärztin/Arzt, Student/in - Lehrer/in, Dienstnehmer/in - Dienstgeber/in, etc.): <br>
<b>{{ submission_form.german_relationship_info }}</b> </p>

<p style="margin-left: 0.75cm; text-indent: -0.75cm; margin-bottom: 0.11cm; padding-top: 0.04cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0cm">
7.13 Verfahren an der/den
Prüfstelle(n) zur Feststellung, ob eine einzuschließende Person
gleichzeitig an einer anderen Studie teilnimmt oder ob eine
erforderliche Zeitspanne seit einer Teilnahme an einer anderen
Studie verstrichen ist<br> (von besonderer Bedeutung, wenn
gesunde Proband/inn/en in pharmakologische Studien eingeschlossen
werden): <br> <b>{{ submission_form.german_concurrent_study_info }}</b> </p>

<p style="margin-left: 0.75cm; text-indent: -0.75cm; margin-bottom: 0.11cm; padding-top: 0.04cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0cm">
7.14 Methoden, um unerwünschte Effekte ausfindig zu machen, sie aufzuzeichnen und zu
berichten<br> (Beschreiben Sie wann, von wem und wie, z.B. freies Befragen und/oder an Hand von Listen): <br>
<b>{{ submission_form.german_sideeffects_info }}</b> </p>

<p style="margin-left: 0.75cm; text-indent: -0.75cm; margin-bottom: 0.11cm; padding-top: 0.04cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0cm">
7.15 Optional: Statistische Überlegungen und Gründe für die Anzahl der Personen, die in die
Studie eingeschlossen werden sollen (ergänzende informationen zu Punkt 8, wenn erforderlich): <br>
<b>{{ submission_form.german_statistical_info }}</b></p>

<p style="margin-left: 0.75cm; text-indent: -0.75cm; margin-bottom: 0.11cm; padding-top: 0.04cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0cm">
7.16 Optional: Verwendete
Verfahren zum Schutz der Vertraulichkeit der erhobenen Daten, der
Quell­dokumente und von Proben (ergänzende Informationen zu
Punkt 8, wenn erforderlich): <br>
<b>{{ submission_form.german_dataprotection_info }}</b> </p>

<p style="margin-left: 0.75cm; text-indent: -0.75cm; margin-bottom: 0.11cm; padding-top: 0.04cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0cm">
7.17 Plan zur Behandlung oder versorgung Nachdem die Personen ihre Teilnahme an der Studie
beendet haben (wer wird verantwortlich sein und wo): <br/> <b>{{ submission_form.german_aftercare_info }}</b> </p>

<p style="margin-left: 0.75cm; text-indent: -0.75cm; margin-bottom: 0.11cm; padding-top: 0.04cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0cm">
7.18 Betrag und Verfahren der Entschädigung oder Vergütung an die Prüfungsteilnehmer/innen<br>
(Beschreibung des Betrages, der während der Prüfungsteilnahme bezahlt wird und wofür, z.B.
Fahrtspesen, Einkommensverlust, Schmerzen und Unannehmlichkeiten,
usw.): <b>{{ submission_form.german_payment_info }}</b> </p>

<p style="margin-left: 0.75cm; text-indent: -0.75cm; margin-bottom: 0.11cm; padding-top: 0.04cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0cm">7.19 Regeln für das
Aussetzen oder vorzeitige Beenden der Studie an der/den
Prüfstelle(n) in diesem Mitgliedstaat oder der gesamten
Studie: <br> <b>{{ submission_form.german_abort_info }}</b> </p>

<p style="margin-left: 0.75cm; text-indent: -0.75cm; margin-bottom: 0.11cm; padding-top: 0.04cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0cm">
7.20 Vereinbarung über den Zugriff der Prüferin/des Prüfers/der Prüfer auf Daten,
Publikationsricht­linien, etc. (wenn nicht im Protokoll dargestellt): <br>
<b>{{ submission_form.german_dataaccess_info }}</b>
</p>

<p style="margin-left: 0.75cm; text-indent: -0.75cm; margin-bottom: 0.11cm; padding-top: 0.04cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0cm">
7.21 Finanzierung der
Studie (wenn nicht im Protokoll dargestellt) und Informationen über finanzielle oder
andere Interessen der Prüferin/des Prüfers/der Prüfer: 
<br/> <b>{{ submission_form.german_financing_info }}</b>
<p style="margin-left: 0.75cm; text-indent: -0.75cm; margin-bottom: 0.11cm; padding-top: 0.04cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0cm">
7.22 Weitere
Informationen (wennerforderlich): <br> <b>{{ submission_form.german_additional_info }}</b> </p>

</p>
