{% load core corepdf %}
<center>
<table width="624" border="1" bordercolor="#000000" cellpadding="5"
cellspacing="1">
<col width="328">
<col width="178">
<col width="82">
<tr>
<th width="328" height="16">Dokument</th>
<th width="178">Version/Identifikation</th>
<th width="82">Datum</th>
</tr>
{% for doc in submission_form.documents.all %}
<tr>
<td width="328" height="13"><b>{{ doc.doctype.name }}</b></td>
</td>
<td width="178"><b>{{ doc.version }}</b></td>
</td>
<td width="82"><b>{{ doc.date }}</b></td>
</tr>
{% endfor %}
</table>
</center>


<h4>Name und Unterschrift der Antragstellerin/des Antragstellers</h4>

<p style="margin-left: 4.25cm; text-indent: -4.25cm; margin-bottom: 0.11cm; page-break-inside: avoid; page-break-after: avoid">
 9.1 Name: <b> {{ submission_form.submitter_contact }} </b> </p>

<p style="margin-left: 4.25cm; text-indent: -4.25cm; margin-bottom: 0.11cm; page-break-inside: avoid; page-break-after: avoid">
 9.2 Institution/ Firma: <b> {{ submission_form.submitter_organisation }} </b> </p>

<p style="margin-left: 4.25cm; text-indent: -4.25cm; margin-bottom: 0.11cm; page-break-inside: avoid; page-break-after: avoid">
 9.3 Position: <b> {{ submission_form.submitter_jobtitle }} </b> </p>

<table>
    <tr>
        <td width="4cm">
            9.4 Antragsteller/in ist
        </td>
        <td>
            {{ submission_form.submitter_is_coordinator|checkbox }} 9.4.1 koordinierende/r Prüfer/in (multizentrische Studie)
        </td>
    </tr>
    <tr>
        <td>(nur AMG-Studien)</td>
        <td>
            {{ submission_form.submitter_is_main_investigator|checkbox }} 9.4.2 Hauptprüfer/in (monozentrische Studie)
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            {{ submission_form.submitter_is_sponsor|checkbox }} 9.4.3 Sponsor bzw. Vertreter/in des Sponsors
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            {{ submission_form.submitter_is_authorized_by_sponsor|checkbox }} 9.4.4 vom Sponsor autorisierte Person/Organisation 
        </td>
    </tr>
</table>

<p style="margin-top: 0.21cm; margin-bottom: 0cm"> Ich bestätige hiermit, dass die in diesem
Antrag gemachten Angaben korrekt sind und dass ich der Meinung
bin, dass die Durchführung der Studie in Übereinstimmung mit dem
Protokoll, nationalen Regelun­gen und mit den Prinzipien der Guten
Klinischen Praxis möglich sein wird. </p>

<p style="{% if not submission_form.sponsor_agrees_to_publishing %}text-decoration:line-through{% endif %}">
    Weiters stimme ich mit meiner Unterschrift zu, dass folgende Daten aus meinem Antrag ggf. durch die
    Ethikkommission veröffentlicht werden, um die Anträge nach Zahl und Inhalt transparent zu machen:<br/>
    EK-Nummer, Einreich-Datum, Projekttitel, Hauptprüfer, Sponsor/CRO, weitere Zentren.<br/> 
    <i>(Im Falle der Nicht-Zustimmung bitte diesen Absatz durchzustreichen)</i>
</p>

<pdf:spacer height="2.0cm" />

<table width="624" border="0" cellpadding="5" cellspacing="0">
<col width="28">
<col width="302">
<col width="28">
<col width="188">
<col width="28">
<tr>
    <td width="28" height="11" valign="top">
    </td>
    <td width="302" style="border-top:1px solid #000000">
        Unterschrift der Antragstellerin/des Antragstellers
    </td>
    <td width="28" valign="top"></td>
    <td width="188" style="border-top:1px solid #000000">
        Datum
    </td>
    <td width="28"></td>
</tr>
</table>

<div class="infotext">!!! Achtung: Diese Unterschrift ist in jedem Fall erforderlich !!!</div>
