{% extends "submissions/readonly_form.html" %}
{% load core %} 

{% block headertitle %}
  <div id="info" style="display: none;"></div>
{% endblock %}

{% block tab_headers %}
    <li class="readonly_review"><a href="#checklist_review_tab">{{ checklist_name }} Review</a></li>
    {{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}
{% endblock %}

{% block tabs %}
    {{ block.super }}
      <div id="checklist_review_tab" class="tab">
          <form action="" method="post">
            <span class="checklist_name">Checkliste {{ checklist_name }}<span>
              <ol>
              {% for field_name in checklist_review_form.fields %}
                <div id="div_id_{{field_name}}" class="checklist_field{% if checklist_hidden|getitem:field_name %}_hidden{% endif %}">
                  {% with checklist_review_form|getitem:field_name as field %}
                     {% include "forms/field.html" %}
                  {% endwith %}
                </div>
              {% endfor %}
              </ol>
              <input type="submit" value="Speichern" />
          </form>
      </div>
{% endblock %}

{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript">
      window.addEvent('domready', function(){
        var questions = $('checklist_review_tab').getElements('.NullBooleanField>select');
        questions.addEvent('change', function(event) {
          questions.each(function(question) {
            var val = 'checklist_field';
            if (question.value != 3) {
              val += '_hidden';
            }
            var id_a = question.id.replace(/q/, 'c');
            var id_div = 'div_' + id_a;
            $(id_div).setAttribute('class', val);
          });
        });
      });
    </script>
{% endblock %}
