[Unit]
Description=ECS Developmentserver

[Service]
Type=simple
ExecStart=/app/ecs/manage.py runserver
WorkingDirectory=/app/ecs
Environment="HOME=/app"
Environment="USER=app"
Environment="VIRTUAL_ENV=/app/env"
Environment="PATH=/app/env/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Restart=always
User=app
Group=app
