{% extends 'db/notifications/wkhtml2pdf/base.html' %}
{% load core corepdf %}

{% block typeoptions %}<h1>1. Meldung einer Protokolländerung (Amendment) vom {{ notification.timestamp|date:'d.m.Y'}}</h1>{% endblock %}

{% block doclist %}
    <li>Liste der Änderungen</li>
    {{ block.super }}
{% endblock %}

{% block mainitem %}
    {{ block.super }}
    <h4>3.1 Liste der Änderungen</h4>
    {% with notification.amendmentnotification as notification %}
        <div class="diff">
            {{ notification.diff|safe }}
        </div>
    {% endwith %}
{% endblock %}
