{% extends 'db/notifications/wkhtml2pdf/base.html' %}

{% load core corepdf %}

{% block typeoptions %}
    <h2>{{ undefined|not|checkbox }} 1.1 MELDUNG einer PROTOKOLLÄNDERUNG (AMENDMENT)</h2>
    <p>
    Begründen Sie die vorgenommenen Protokolländerungen. Legen Sie ein Exemplar, sowie eine Liste der vorgenommenen Änderungen bei.<br/>
    Machen Sie exakte Angaben über die Bezeichnung des Amendments (falls erforderlich).
    </p>
{% endblock %}

{% block doclist %}
    <li>Liste der Änderungen</li>
    {{ block.super }}
{% endblock %}

{% block content %}

    {{ block.super }}
    
    <pdf:nextpage />
    
    <h2>Liste der Änderungen</h2>
    
    {% with notification.amendmentnotification as notification %}
        {{ notification.diff|safe }}
    {% endwith %}


{% endblock %}

