{% extends 'wkhtml2pdf/skeleton.html' %}
{% load core corepdf %}

{% block title %}Meldung{% endblock %}

{% block content %}
<div class="header withborder">
    <h1>{% block formtitle %}Meldung{% endblock %}</h1>
    <p class="center">{% block formname %}Formular für die Meldung von Amendments, SUSARs und für sonstige Mitteilungen an Österreichische Ethik-Kommissionen.
    <span class="small">Version 5.1 vom 25.08.2006</span>{% endblock %}</p>
</div>

<div class="two_columns">
    <div class="column_left">
      <span class="small">Adresse der Ethikkommission (optional)</span><br>
    </div>
    <div class="column_right">
       <span class="small">Raum für Eingangsstempel, EK-Nummer, etc.</span>
    </div>
</div>

{% block submission_table %}
<table class="full_width withborders">
<tr>
    <th width="215" height="24">Ethik-Kommission</th>
    <th width="50">EK-Nr</th>
    <th width="84">Datum des Votums</th>
    <th width="195">Koordinierendes Prüfzentrum</th>
    <th width="195">Prüfer</th>
</tr>
{% for sf in notification.submission_forms.all %}
<tr>
    <td>{{ sf.submission.main_ethics_commission }}</td>
    <td>{{ sf.submission|ec_number }}</a></td>
    <td>{{ sf.current_published_vote.signed_at|date:'d.m.Y' }}</td>
    <td>{{ sf.submission.primary_investigator.organisation|default:'<i>nicht vorhanden</i>' }}</td>
    <td>{{ sf.submission.primary_investigator.user|default:'<i>nicht vorhanden</i>' }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}

<p>{% block typeoptions %}{% endblock %}</p>

<h3>2. Angaben zur Studie</h3>
{% block submission_details %}
{% for sf in notification.submission_forms.all %}
    <table class="full_width">
        <tbody>
            <tr>
                <td width="25%">2.0 EK Nr:</td>
                <td class="value">{{ sf.submission|ec_number }}</td>
            </tr>
            <tr>
                <td colspan="2">2.1 Projekttitel: <span class="value">{{ sf.submission.project_title_display|default:'<i>nicht vorhanden</i>' }}</span></td>
            </tr>
            <tr>
                <td>2.3 Eudract Nr:</td>
                <td class="value">{{ sf.eudract_number|default:'<i>nicht vorhanden</i>' }}</td>
            </tr>
            <tr>
                <td>2.4 Antragsteller/in:</td>
                <td class="value">{{ sf.submitter }}</td>
            </tr>
        </tbody>
    </table>
    {% if not forloop.last %}
        <div style="height:0.5cm;"></div>
    {% endif %}
{% endfor %}
{% endblock %}

{% block mainitem %}
<h3>3. Begründung/Stellungnahme/Mitteilung</h3>
  <p>
    {{ notification.comments|linebreaksbr|default:"<i>nicht vorhanden</i>" }}
  </p>
{% endblock %}

{% block documents %}
    {% if documents %}
        <h3>Dokumente</h3>
        {% include 'wkhtml2pdf/documents.html' %}
    {% endif %}
{% endblock %}

<p>
    <b>Meldung erstellt am:</b> {{ notification.timestamp|date:'d.m.Y' }}
</p>
{% endblock %}
