{% extends 'db/notifications/wkhtml2pdf/base.html' %}
{% load i18n core corepdf %}

{% block formtitle %}Bericht{% endblock %}
{% block submission_table %}{% endblock %}

{% block typeoptions %}
    <h1>{{ notification.type.name }}</h1>
{% endblock %}

{% block submission_details %}
{% with notification.get_submission_form as sf %}
    <table class="full_width">
        <tbody>
            <tr>
                <td width="25%">2.1 Antragsteller/in:</td>
                <td class="value">{{ sf.submitter }}</td>
            </tr>
            <tr>
                <td>2.2 Prüfer/in:</td>
                <td class="value">{% if sf.primary_investigator %}{{ sf.primary_investigator.user }} ({{ sf.primary_investigator.organisation }}){% else %}<i>nicht vorhanden</i>{% endif %}</td>
            </tr>
            <tr>
                <td colspan="2">2.3 Projekttitel: <span class="value">{{ sf.submission.project_title_display|default:'<i>nicht vorhanden</i>' }}</span></td>
            </tr>
            <tr>
                <td>2.4 EK Nr:</td>
                <td class="value">{{ sf.submission|ec_number }}</td>
            </tr>
            <tr>
                <td>2.5 Datum des Votums:</td>
                <td class="value">{{ sf.current_published_vote.signed_at|date:'d.m.Y' }}</td>
            </tr>
        </tbody>
    </table>
{% endwith %}
{% endblock %}

{% block mainitem %}
    <h3>3. Angaben zum Studienverlauf</h3>
    {% with notification.progressreportnotification|default:notification.completionreportnotification as notification %}
    <table class="full_width">
        <tbody>
            <tr>
                <td>3.1 Wurde die Studie begonnen?:</td>
                <td width="35%" class="value">{{ notification.study_started|yesno:'Ja,Nein' }}</td>
            </tr>
            {% if not notification.study_started %}
                <tr>
                    <td>Warum wurde die Studie nicht begonnen:</td>
                    <td class="value">{{ notification.reason_for_not_started }}</td>
                </tr>
            {% endif %}
            <tr>
                <td>3.2 Rekrutierten Teilnehmer/innen:</td>
                <td class="value">{{ notification.recruited_subjects|default_if_none:"keine Angaben" }}</td>
            </tr>
            <tr>
                <td>3.3 Teilnehmer/innen die die Studie beendet haben:</td>
                <td class="value">{{ notification.finished_subjects|default_if_none:"keine Angaben" }}</td>
            </tr>
            <tr>
                <td>3.4 Studienabbrüche:</td>
                <td class="value">{{ notification.aborted_subjects|default_if_none:"keine Angaben" }}</td>
            </tr>
            <tr>
                <td colspan="2">3.5 SAEs: <span class="value">{{ notification.SAE_count }}</span>, SUSARs: <span class="value">{{ notification.SUSAR_count }}</span></td>
            </tr>
            <tr>
                <td colspan="2">3.6 Status der Studie: <span class="value">{% block study_status %}{% endblock %}</span></td>
            </tr>
        </tbody>
    </table>
    {% endwith %}

    <h3>4. Ergebnisse und Schlussfolgerungen</h3>
    <p>
        {% block comments %}{{ notification.comments|linebreaksbr|default:"<i>nicht vorhanden</i>" }}{% endblock %}
    </p>
{% endblock %}
