{% extends 'notifications/view/base.html' %}
{% load i18n notifications %}

{% block table_rows %}
    {{ block.super }}
    {% with notification.amendmentnotification as notification %}
        <tr>
            <th>{% trans 'Changes' %}</th>
            <td>
                {% with notification|diff as diff %}
                {% if diff %}
                    <div class="diff_toggles">
                        <a href="#" id="diff_show_old">{% trans "old" %}</a>
                        <a href="#" id="diff_show_new">{% trans "new" %}</a>
                        <a href="#" id="diff_show_all">{% trans "all" %}</a>
                    </div>
                    <div class="diff">
                        {{ diff|safe }}
                    </div>
                {% else %}
                    <em>{% trans 'No changes.' %}</em>
                {% endif %}
                {% endwith %}
            </td>
        </tr>
        {% if user.profile.is_internal %}
            <tr>
                <th>{% trans 'Substantial' %}</th>
                <td>{{ notification.is_substantial|yesno }}</td>
            </td>
            {% if notification.meeting %}
                <tr>
                    <th>{% trans 'Meeting' %}</th>
                    <td>
                        {{ notification.meeting.start|date:'d.m.Y' }}
                        {{ notification.meeting.title }}
                    </td>
                </tr>
            {% endif %}
        {% endif %}
    {% endwith %}
{% endblock %}

{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript">
        $(function(){
            $(function(){
                $('#diff_show_old').click(function(ev) {
                    ev.preventDefault();
                    $('.diff .deleted').show();
                    $('.diff .inserted').hide();
                });
                $('#diff_show_new').click(function(ev) {
                    ev.preventDefault();
                    $('.diff .deleted').hide();
                    $('.diff .inserted').show();
                });
                $('#diff_show_all').click(function(ev) {
                    ev.preventDefault();
                    $('.diff .deleted').show();
                    $('.diff .inserted').show();
                });
            });
        });
    </script>
{% endblock %}
