{% extends 'notifications/view/base.html' %}
{% load i18n %}

{% block table_rows %}
    {{ block.super }}
    <tr>
        <th>{% trans 'Changes' %}</th>
        <td>
            {% with notification.amendmentnotification as notification %}
                <a href="{% url ecs.core.views.readonly_submission_form submission_form_pk=notification.old_submission_form.pk %}">{% trans 'Old Version' %}</a>
                | <a href="{% url ecs.core.views.readonly_submission_form submission_form_pk=notification.new_submission_form.pk %}">{% trans 'New Version' %}</a>
                {{ notification.diff|safe }}
            {% endwith %}
        </td>
    </tr>
{% endblock %}
