{% extends 'notifications/view/base.html' %}
{% load i18n notifications %}

{% block table_rows %}
    {{ block.super }}
    <tr>
        <th>{% trans 'Changes' %}</th>
        <td>
            {% with notification.amendmentnotification as notification %}
                <a href="{% url 'readonly_submission_form' submission_form_pk=notification.old_submission_form.pk %}">{% trans 'Old Version' %}</a>
                | <a href="{% url 'readonly_submission_form' submission_form_pk=notification.new_submission_form.pk %}">{% trans 'New Version' %}</a>
                {% with notification|diff as diff %}
                {% if diff %}
                    <div class="diff_toggles">
                        <a href="#" id="diff_show_old">{% trans "old" %}</a>
                        <a href="#" id="diff_show_new">{% trans "new" %}</a>
                        <a href="#" id="diff_show_all">{% trans "all" %}</a>
                    </div>
                    <div class="diff">
                        {{ diff|safe }}
                    </div>
                {% else %}
                    <em>{% trans 'No changes.' %}</em>
                {% endif %}
                {% endwith %}
            {% endwith %}
        </td>
    </tr>
{% endblock %}

{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript">
        jQuery(function(){
            jQuery(function(){
                jQuery('#diff_show_old').click(function(ev) {
                    ev.preventDefault();
                    jQuery('.diff .deleted').show();
                    jQuery('.diff .inserted').hide();
                });
                jQuery('#diff_show_new').click(function(ev) {
                    ev.preventDefault();
                    jQuery('.diff .deleted').hide();
                    jQuery('.diff .inserted').show();
                });
                jQuery('#diff_show_all').click(function(ev) {
                    ev.preventDefault();
                    jQuery('.diff .deleted').show();
                    jQuery('.diff .inserted').show();
                });
            });
        });
    </script>
{% endblock %}
