{% extends 'core.html' %}

{% block htmltitle %}ECS Elektronische Einreichung{% endblock %}

{% block headertitle %}
Meldungen zur laufenden Studie(n)
{% endblock %}

{% block headernav %}
{% endblock %}

{% block content %}
<h2>{{ notification }} für {% for sf in notification.submission_forms.all %}{{ sf.submission }}{% if not forloop.last %}, {% endif %}{% endfor %} vom {{ notification.timestamp|date:'d.m.Y' }}</h2>
User: {{ notification.user }}
<a href="{% url ecs.notifications.views.notification_pdf notification_pk=notification.pk %}">Download PDF</a></li>
{% if notification.answer %}
| <a href="{% url ecs.notifications.views.view_notification_answer notification_pk=notification.pk %}">Answer</a>
{% endif %}

{% with notification.submission_forms.all as submission_forms %}
    {% include "notifications/submission_data.html" %}
{% endwith %}

<table class="notification">
    {% block table_rows %}
        <tr>
            <th>Kommentare</th>
            <td>{{ notification.comments }}</td>
        </tr>
        <tr>
            <th>Unterlagen</th>
            <td>
                {% if documents %}
                    {% include "documents/compact_list.html" %}
                {% else %}
                    <i>keine</i>
                {% endif %}
            </td>
        </tr>
    {% endblock %}
</table>

{% endblock %}
