{% extends 'notifications/view/base.html' %}
{% load i18n %}
{% block table_rows %}
    {{ block.super }}
    <tr><th>{% trans 'Reason for not started' %}:</th><td>{{ notification.reason_for_not_started }}</td></tr>
    <tr><th>{% trans 'Recruited subjects' %}: </th><td>{{ notification.recruited_subjects }}</td></tr>
    <tr><th>{% trans 'Finished subjects' %}: </th><td>{{ notification.finished_subjects }}</td></tr>
    <tr><th>{% trans 'Aborted subjects' %}: </th><td>{{ notification.aborted_subjects }}</td></tr>
    <tr><th>{% trans 'SAE count' %}: </th><td>{{ notification.SAE_count }}</td></tr>
    <tr><th>{% trans 'SUSAR count' %}: </th><td>{{ notification.SUSAR_count }}</td></tr> 
{% endblock %}
