{% extends 'base.html' %}
{% load i18n %}

{% block htmlcss %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/public.css" />
{% endblock %}

{% block htmltitle %}Ethik-Kommission der Medizinischen Universität Wien{% endblock %}

{% block content %}
<div id="header_public">
  <a href="/"><h1>Ethikkommission Wien</h1></a> 
</div>

<div id="wrapper">
	
	<h2>Registrierung</h2>
	<form action="" method="post">
	    
	    <table>
	        <tr><th>Anrede:</th><td>{% if data.gender == 'w' %}Frau{% else %}Herr{% endif %}</td></tr>
	        <tr><th>Vorname:</th><td>{{ data.first_name }}</td></tr>
	        <tr><th>Nachname:</th><td>{{ data.last_name }}</td></tr>
	        <tr><th>E-Mail:</th><td>{{ data.email }}</td></tr>
	        {{ form.as_table }}
	    </table>
	    <input type="submit" value="Registrieren" />
	</form>

</div>

{% endblock %}
