{% extends 'public.html' %}
{% load i18n %}

{% block content %}

<div id="wrapper">
<h1>Ethik Kommission Wien</h1>
  <div class="form_public">
	<form action="" method="post">
	    
    <p><label>Anrede</label> {% if data.gender == 'w' %}Frau{% else %}Herr{% endif %}</p>
	  <p><label>Vorname</label> {{ data.first_name }}</p>
    <p><label>Nachname</label> {{ data.last_name }}</p>
    <p><label>E-Mail</label> {{ data.email }}</p>
	        {{ form.as_p }}
	    <input type="submit" value="Registrieren" />
	</form>

</div>

{% endblock %}
