{% extends 'base.html' %}

{% block htmltitle %}Ethik-Kommission der Medizinischen Universität Wien{% endblock %}

{% block content %} <!-- usertoolbar -->

<p>
    Sie haben Ihre E-Mailadresse {{ existing_user.email }} bereits registriert - der Benutzername lautet "{{ existing_user.username }}". 
</p>
<p>
    <a href="{% url ecs.users.views.login %}">Zum Login ..</a>
</p>
<p>
    Sollten sie Ihr Passwort vergessen haben, können Sie <a href="{% url ecs.users.views.reset_password %}">ein neues Passwort vergeben</a>.
</p>

{% endblock %}
