{% extends 'public.html' %}
{% load i18n %}

{% block content %}

    {{ block.super }}

    <div class="alert alert-danger">
        <p>Ihre E-Mailadresse {{ existing_user.email }} ist bereits registriert.</p>
        <p><a href="{% url 'ecs.users.views.login' %}" class="alert-link">Zum Login ..</a></p>
        <p>Sollten Sie Ihr Passwort vergessen haben oder noch keines gesetzt haben, können Sie <a href="{% url 'ecs.users.views.request_password_reset' %}" class="alert-link">ein neues Passwort vergeben</a>.</p>
    </div>

{% endblock %}
