{% extends 'base.html' %}
{% load i18n %}

{% block htmlcss %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/public.css" />
{% endblock %}

{% block htmltitle %}Ethik-Kommission der Medizinischen Universität Wien{% endblock %}

{% block content %}
<div id="header_public">
  <a href="/"><h1>Ethikkommission Wien</h1></a> 
</div>

<div id="wrapper">
	
	<p>Sie haben Ihre E-Mailadresse {{ existing_user.email }} bereits registriert.</p>
	<p><a href="{% url ecs.users.views.login %}">Zum Login ..</a></p>
	<p>Sollten sie Ihr Passwort vergessen haben, können Sie <a href="{% url ecs.users.views.request_password_reset %}">ein neues Passwort vergeben</a>.</p>

</div>
{% endblock %}
