{% extends 'public.html' %}
{% load i18n %}

{% block content %}

<div id="wrapper">
<h1>Ethik Kommission Wien</h1>
  <div class="form_public">

	<h2>Registrierungs-Link ungültig</h2>
	<p>Die Gültigkeitsdauer Ihres Registrierungs-Link ist abgelaufen.</p>
    <p>Beachten Sie, dass der Registrierungs-Link innerhalb von 24 Stunden verwendet werden muß.</p>
    <p>Um einen neuen Registrierungs-Link zu erhalten klicken Sie <a href="{% url ecs.users.views.register %}">hier</a>.</p> 
  </div>
</div>

{% endblock %}
