{% load core %}
{{ formset.management_form }}
<table id="{{ formset.prefix }}_formset" class="inline_formset">
    <thead>
    <tr>
        <th></th>
        {% for field in formset|empty_form %}
            {% if not field.is_hidden and not field.html_name|endswith:'-DELETE' %}
                {% with field|get_field_info as field_info %}
                <th class="label">
                    {{ field_info.label|default:field.label }}
                    {% if field_info.number %}
                        <span class="paperform_number">{{ field_info.number }}</span>
                    {% endif %}
                    {% if field_info.help_text %}
                    <span class="help_text">
                        {{ field_info.help_text }}
                    </span>
                    {% endif %}
                </th>
                {% endwith %}
            {% endif %}
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for form in formset.forms %}
    <tr class="form">
        {% include "forms/tables/row.html" %}
    </tr>
    {% empty %}
        {% if not readonly %}
            {% with formset|empty_form as form %}
                <tr class="form template">
                    {% include "forms/tables/row.html" %}
                </tr>
            {% endwith %}
        {% endif %}
    {% endfor%}
    </tbody>
</table>
