<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="CONTENT-TYPE" content="text/html; charset=utf-8">
<style type="text/css">
      @page {
      size: a4;
      margin: 1cm;
      margin-bottom: 3cm;
      @frame footer {
      -pdf-frame-content: footer;
      bottom: 2cm;
      margin-left: 1cm;
      margin-right: 1cm;
      height: 1cm;
      }
      @frame footerpage {
      -pdf-frame-content: footerpage;
      bottom: 2cm;
      margin-left: 18cm;
      margin-right: 1cm;
      height: 1cm;
      }
      }
      div.header { text-align:center; width:18cm; border:1px solid #000 }
    </style>
</head>
<body>

</body>
</html>
