{% load core %}

<form action="{{ request.path }}" method="post" class="form_main open-in-widget">
    {% csrf_token %}
    <h3>Neuer TOP</h3>
    <div>
        {% for field in form %}
            {% include "bootstrap/form_field.html" %}
        {% endfor %}
    </div>
    <input class="btn btn-primary" type="submit" value="Speichern" />
    <a class="btn btn-danger open-in-widget" href="{% url 'ecs.meetings.views.timetable_editor' meeting_pk=meeting.pk %}">
        Abbrechen (zurück zur Sitzung)
    </a>
</form>
