{% load core i18n %}

{% if running_optimization %}
  <h1>Es läuft derzeit eine Optimierung!</h1>
{% endif %}
<div id="meeting_editor">
    {% if not readonly %}
        <ol class="options">
            <li><a class="open-in-widget" href="{% url ecs.meetings.views.add_free_timetable_entry meeting_pk=meeting.pk %}">Termin hinzufügen</a></li>
            <li><a class="open-in-widget" href="{% url ecs.meetings.views.optimize_timetable meeting_pk=meeting.pk,algorithm='ga' %}">Optimieren</a></li>
        </ol>
    {% endif %}
    <div class="waiting_time">
    Wartezeit: 
        sum={{ meeting.metrics.waiting_time_total|simple_timedelta_format|default:'-' }},
        avg={{ meeting.metrics.waiting_time_avg|simple_timedelta_format|default:'-' }}, 
        max={{ meeting.metrics.waiting_time_max|simple_timedelta_format|default:'-' }}, 
        min={{ meeting.metrics.waiting_time_min|simple_timedelta_format|default:'-' }},
        var={{ meeting.metrics.waiting_time_variance|simple_timedelta_format|default:'-' }},
    </div>
    <div class="constraints_hurt">Verletzte Einschränkungen: {{ meeting.metrics.constraint_violation_total }}</div>
    <ol id="timetable">
    {% for entry in meeting %}
        <li id="entry_{{ entry.pk }}" class="entry{% if entry.is_break %} break{% endif %}{% if not entry.submission %} free{% endif %}">
            <span class="dragHandle">#{{ entry }} {% if not readonly %}<span class="icon_drag">DRAG ME</span>{% endif %}</span>
            <h3>
                {{ entry.start|date:'H:i' }} - {{ entry.end|date:'H:i' }}
                {{ entry.title }}
                {% if entry.submission %}
                    {{ entry.submission|ec_number }} {{ entry.submission.project_title_display|smart_truncate:40 }}
                {% endif %}
            </h3>
            {% with entry|last_recessed_vote as vote %}{% if vote %}<span>({% trans "Recessed" %}, {% if vote.result == '3a' %}{% trans "not examined" %}{% else %}{% trans "examined" %}{% endif %})</span>{% endif %}{% endwith %}
            {% if not readonly %}
                {% if not entry.submission %}
                    <a class="open-in-widget" class="remove" href="{% url ecs.meetings.views.remove_timetable_entry meeting_pk=meeting.pk,entry_pk=entry.pk %}">X</a>
                {% endif %}
                <form action="{% url ecs.meetings.views.update_timetable_entry meeting_pk=meeting.pk,entry_pk=entry.pk %}" method="post" class="open-in-widget>
                    <input type="text" value="{{ entry.duration|simple_timedelta_format }}" name="duration" class="duration"/>
                    <input type="text" value="{{ entry.optimal_start|default:'' }}" name="optimal_start" class="optimal_start"/>
                </form>
            {% endif %}
            {% if entry.is_expedited %}E{% endif %} {% if entry.is_retrospective %}R{% endif %} {% if entry.is_thesis %}T{% endif %}
            {% if not entry.is_break %}
            <span>Teilnehmer: 
                {% for user in entry.users %}{{ user }}{% if not forloop.last %}, {% endif %}{% endfor %}
            </span>
            {% else %}
            <span>
                Brötchen: {% trans 'before' %}: {{ entry.broetchen.0 }}, {% trans 'waiting' %}: {{ entry.broetchen.1 }}, {% trans 'after' %}: {{ entry.broetchen.2 }}
            </span>
            {% endif %}
        </li>
    {% endfor %}
    </ol>
    <div id="userlist">
        <h5>Teilnehmer ({{ meeting.users_with_constraints|length }})</h5>
        <ul>
            {% for user in meeting.users_with_constraints %}
                <li><span class="user">{{ user }}</span>
                    <div class="info">
                    {% with meeting.metrics.waiting_time_per_user|getitem:user as waiting_time %}
                        {% if waiting_time %}
                            <span class="waiting_time">Wartezeit: {{ waiting_time|simple_timedelta_format }}</span>
                        {% endif %}
                    {% endwith %}
                    {% if user.constraints %}
                        <ul class="constraints">
                            {% for constraint in user.constraints %}
                                <li><span class="constraint_status">{{ meeting.metrics.constraint_violations|getitem:constraint|yesno:'1,0' }}</span>{{ constraint.start_time|time:"H:i" }} - {{ constraint.end_time|time:"H:i" }} ({{ constraint.get_weight_display }})</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if not readonly %}
                        <span class="contraints_edit"><a class="open-in-widget" href="{% url ecs.meetings.views.edit_user_constraints meeting_pk=meeting.pk,user_pk=user.pk %}">Einschränkungen bearbeiten</a></span>
                    {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<script type="text/javascript">
window.addEvent('domready', function(){
{% if running_optimization %}
    setTimeout(function() {
      window.location.reload();
    }, 10000);
{% else %}
    function getSortableIndex(el){
        return $('timetable').getChildren().indexOf(el);
    }
    var dndInfo = {
        startIndex: null
    };
    $$('.constraint_status').each(function(span){
        var color = '#ff0000';
        if(parseFloat(span.innerHTML) == 0){
            color = '#00ff00';
        }
        span.setStyle('background-color', color);
    });
    $$('.entry form input').each(function(input){
        input.addEvent('keydown', function(e){
            if(e.code == 13){ // enter
                input.getParent('form').submit();
            }
        });
    });
    {% if not readonly %}
    new Sortables('timetable', {
        clone: true,
        opacity: 0.5,
        revert: true,
        handle: '.dragHandle',
        onStart: function(el, clone){
            clone.setStyle('z-index', 100);
            dndInfo.startIndex = getSortableIndex(clone);
        },
        onComplete: function(el){
            var toIndex = getSortableIndex(el);
            var fromIndex = dndInfo.startIndex;
            dndInfo.startIndex = null;
            if(fromIndex != toIndex && fromIndex !== null){
                var widget = $('timetable_tab').getElement('.widget').retrieve('ecs.widgets.Widget');
                widget.load('{% url ecs.meetings.views.move_timetable_entry meeting_pk=meeting.pk %}?from_index=' + fromIndex + '&to_index=' + toIndex);
            }
        }
        {% endif %}
    });
{% endif %}
});
</script>
