{% extends 'core.html' %}
{% load core %}

{% block title %}ECS Elektronische Einreichung{% endblock %}

{% block headertitle %}
    Spezialisten für {{ meeting.title }} am {{ meeting.start|date:'d.m.Y H:i' }}
{% endblock %}

{% block content %}
<form action="" method="post">
    <ul>
    {% for cat, form in forms.iteritems %}
        <li>
            <span class="mc_toggle">
                {{ cat }} 
                [{{ form.submissions|length }} Einreichungen{%if form.instance.board_member %}, {{ form.instance.board_member }}{% endif %}]
            </span>
            <ul class="mc_element">
                <li>Einreichungen: 
                {% for submission in form.submissions %}
                     <a href="{% url ecs.core.views.readonly_submission_form submission_form_pk=submission.current_submission_form.pk %}">{{ submission }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
                </li>
                <li>
                    {{ form.board_member }}
                </li>
            </ul>
        </li>
    {% endfor %}
    </ul>
    <input type="submit" value="Speichern" />
</form>
{% endblock %}

{% block jsbottom %}
  {{ block.super }}
  <script type="text/javascript">
    (function(){
    window.addEvent('domready', function(){
      var AccordionObject = new Accordion($$('.mc_toggle'), $$('.mc_element'));
    });
    })();
  </script>
{% endblock %}

{% block menuSelection %}meetings{% endblock %}

