{% load core i18n %}
<html>
<body>
{% block content %}
    <p>
{% if recipient.ecs_profile.gender == 'f' %}{% blocktrans with recipient as recipient %}Dear(f) {{ recipient }}{% endblocktrans %}{% else %}{% blocktrans with recipient as recipient %}Dear(m) {{ recipient }}{% endblocktrans %}{% endif %}
    </p>

    <p>
{% blocktrans with meeting.start|date:'d.m.Y, H:i' as meeting_start and time as time %}
Sie sind eingeladen für die Sitzung der Ethik-Kommission
am {{ meeting_start }} Uhr, sine tempore
im Büro der Ethik-Kommission, Borschkegasse 8b/6. Stock, 1090 Wien.
Ihre Answesenheit ist zeitplanmäßig von {{ time }} Uhr erforderlich.
Bitte kommen Sie unbedingt eine halbe Stunde vor Ihrer geplanten Teilnahme.
Berücksichtigen Sie bitte, dass ihre Teilnahme auch über das Ende des
angegebenen Zeitfensters erforderlich sein kein.
{% endblocktrans %}
    </p>

    <p>
{% blocktrans%}
Mit freundlichen Grüßen,<br />
    Ethik-Kommission der MedUni Wien
{% endblocktrans %}
    </p>
{% endblock %}
</body>
</html>
