{% load core i18n %}
<html>
<body>
{% block content %}
    <p>
{% if recipient.ecs_profile.gender == 'f' %}{% blocktrans with recipient as recipient %}Dear(f) {{ recipient }}{% endblocktrans %}{% else %}{% blocktrans with recipient as recipient %}Dear(m) {{ recipient }}{% endblocktrans %}{% endif %}
<br />
<br />
Anbei senden wir Ihnen das Protokoll der Sitzung vom {{ meeting.start|date:'d.m.Y' }}.<br />
<br />
<br />
Mit freundlichen Grüßen,<br />
<br />
das Team der Ethik-Kommission
    </p>
{% endblock %}
</body>
</html>
