{% load core i18n %}
<html>
<body>
{% block content %}
    <p>
{% if recipient.ecs_profile.gender == 'f' %}{% blocktrans with recipient as recipient %}Dear(f) {{ recipient }}{% endblocktrans %}{% else %}{% blocktrans with recipient as recipient %}Dear(m) {{ recipient }}{% endblocktrans %}{% endif %}
    </p>

    <p>
        Anbei senden wir Ihnen das Protokoll der Sitzung vom {{ meeting.start|date:'d.m.Y' }}.
    </p>

    <p>
{% blocktrans%}
Mit freundlichen Grüßen,<br />
    Ethik-Kommission der MedUni Wien
{% endblocktrans %}
    </p>
{% endblock %}
</body>
</html>
