{% load core i18n meetingutils %}
<html>
<body>
{% block content %}
    <p>
{% if recipient.profile.gender == 'f' %}{% blocktrans with recipient as recipient %}Dear(f) {{ recipient }}{% endblocktrans %}{% else %}{% blocktrans with recipient as recipient %}Dear(m) {{ recipient }}{% endblocktrans %}{% endif %}<br />
<br />
<br />
Sie sind zur Teilnahme an der Sitzung der {% ec_name %} am {{ meeting.start|date:'d.m.Y, H:i' }} Uhr s.t. eingeladen.<br />
<br />
Ort der Sitzung:<br />
{% db_setting 'meeting_address' as address %}
{{ address|linebreaksbr }}<br />
<br />
Das voraussichtliche Ende ist {{ meeting.end|datetimeround:30|date:'d.m.Y, H:i' }} Uhr.<br />
<br />
{% db_setting 'contact_email' as email %}
Sie können auf diese Nachricht mit der Antwortfunktion ihres Emailprogrammes antworten, diese gehen an <a href="mailto:{{ email }}">"{{ email }}"</a>.<br />
<br />
<br />
{% db_setting 'signature_block' as signature_block %}
{{ signature_block|linebreaksbr }}
    </p>
{% endblock %}
</body>
</html>
