{# notification_new01.html #}

{% extends 'core_new.html' %}

{% block htmltitle %}ECS Elektronische Einreichung{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ MEDIA_URL }}core/css/notification_new.css" media="screen"/>
{% endblock %}

{% block headertitle %}
<h1>Meldungen zur laufenden Studie(n)</h1>
{% endblock %}

{% block headernav %}
{% endblock %}


{% block content %}
{% if object %}
<table>
<tr><th>Submission</th><td>{{ object.submission.sets.get.submissionform.project_title }}</td></tr>
<tr><th>Protokoll Nr.</th><td>{{ object.submission.sets.get.submissionform.protocol_number }}</td></tr>
<tr><th>Pr&uuml;fer</th><td>{{ object.form.investigator }}</td></tr>
<tr><th>Grund warum noch nicht begonnen</th><td>{{ object.form.reason_for_not_started }}</td></tr>
<tr><th>Angeworbene Versuchspersonen:</th><td>{{ object.form.recruited_subjects }}</td></tr>

</table>

<!--
reason_for_not_started = models.TextField(null=True)
    recruited_subjects = models.IntegerField(null=True)
    finished_subjects = models.IntegerField(null=True)
    aborted_subjects = models.IntegerField(null=True)
    SAE_count = models.IntegerField(null=True)
    SUSAR_count = models.IntegerField(null=True)
    runs_till = models.DateField(null=True)
    finished_on = models.DateField(null=True)
    aborted_on = models.DateField(null=True)
    
    comments = models.TextField(default="")
    
    extension_of_vote = models.BooleanField(default=False)
    signed_on = models.DateField(null=True)
-->

{{ object.form.get }}
{% else %}
    <p>No notification???</p>
{% endif %}

{% endblock %}
