<html>
  <head>
    <title>Antragsformuular</title>
    <style type="text/css">
      @page {
      size: a4;
      margin: 1cm;
      @frame footer {
      -pdf-frame-content: footer;
      bottom: 2cm;
      margin-left: 1cm;
      margin-right: 1cm;
      height: 1cm;
      }
      @frame footerpage {
      -pdf-frame-content: footerpage;
      bottom: 2cm;
      margin-left: 18cm;
      margin-right: 1cm;
      height: 1cm;
      }
      }
      div.header { text-align:center; width:18cm; border:1px solid #000 }
    </style>
  </head>
  <body>
    <div class="header"><br/>Antrag<br/>
      <table ><tr><td style="border-top-style:none" align="left">Version 6.0 vom 03.07.2009</td><td align="right">Bitte immer die aktuelle Version verwenden (http://ethikkommissionen.at)!</td></tr></table>
    </div>

    <center>
      Dieses Formular soll für Einreichungen bei &ouml;sterreichischen Ethikkommissionen verwendet werden. <br/>
      Es setzt sich aus einem allgemeinen Teil A - Angaben zur Studie und zum Sponsor - <br/>
      und aus einem speziellen Teil B - Angaben zu der/den einzelnen Pr&uuml;fstelle(n) - zusammen. <br/>
      Bei Einreichungen für mehrere Zentren (Pr&uuml;fer) muss nur der Teil B an das jeweilige Zentrum angepasst werden.
    </center>
    
    <div id="footer">
      Antragsformular - &Ouml;sterreichische Ethikkommissionen, Version 6.0, 03.07.2009
    </div>
    <div id="footerpage">
      Seite <pdf:pagenumber>
    </div>
  </body>
</html>
