<html>
  <head>
    <title>Antragsformuular</title>
    <style type="text/css">
      @page {
      size: a4;
      margin: 1cm;
      @frame footer {
      -pdf-frame-content: footer;
      bottom: 2cm;
      margin-left: 1cm;
      margin-right: 1cm;
      height: 1cm;
      }
      @frame footerpage {
      -pdf-frame-content: footerpage;
      bottom: 2cm;
      margin-left: 18cm;
      margin-right: 1cm;
      height: 1cm;
      }

      } 
    </style>
  </head>
  <body>
    Hello World!
  </body>
</html>
