<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Antragsformuular</title>
    <style type="text/css">
      @page {
      size: a4;
      margin: 1cm;
      @frame footer {
      -pdf-frame-content: footer;
      bottom: 2cm;
      margin-left: 1cm;
      margin-right: 1cm;
      height: 1cm;
      }
      @frame footerpage {
      -pdf-frame-content: footerpage;
      bottom: 2cm;
      margin-left: 18cm;
      margin-right: 1cm;
      height: 1cm;
      }
      }
      div.header { text-align:center; width:18cm; border:1px solid #000 }
    </style>
  </head>
  <body>
    <div class="header"><br/>Antrag<br/>
      <table ><tr><td style="border-top-style:none" align="left">Version 6.0 vom 03.07.2009</td><td align="right">Bitte immer die aktuelle Version verwenden (http://ethikkommissionen.at)!</td></tr></table>
    </div>

    <center>
      Dieses Formular soll für Einreichungen bei &ouml;sterreichischen Ethikkommissionen verwendet werden. <br/>
      Es setzt sich aus einem allgemeinen Teil A - Angaben zur Studie und zum Sponsor - <br/>
      und aus einem speziellen Teil B - Angaben zu der/den einzelnen Pr&uuml;fstelle(n) - zusammen. <br/>
      Bei Einreichungen für mehrere Zentren (Pr&uuml;fer) muss nur der Teil B an das jeweilige Zentrum angepasst werden.
    </center>

    <table border=1>
      <tr>
	<td align=left valign=top><span style="font-size:small">Adresse der Ethikkommission (optional)</span><br/>An die<br/>Ethikkommission<br/>der Medizinischen Universität Wien<br/>Borschkegasse 8b<br/>1090 Wien<br/></td>
	<td align=left valign=top><span style="font-size:small">Raum für Eingangsstempel, EK-Nummer, etc.</span></td>
      </tr>
    </table>
    <center><span style="font-weight:bold; font-size:large"><br/>ANTRAG AUF BEURTEILUNG EINES KLINISCHEN FORSCHUNGSPROJEKTES<br/></span>
      für folgende Prüfer bei folgenden österreichischen Ethikkommissionen:<br/>
    </center>
    <ul>
      <li>Bitte alle Ethikkommissionen eintragen, an die der Antrag gesendet wird (Kurzbezeichnung!)</li>
      <li>Im Falle einer multizentrischen Arzneimittelstudie ist die Leitethikkommission als erste anzuführen!</li>
    </ul>
    <table border=1 style="width:18cm">
      <tr>
	<th>Zuständige Ethikkommission</th><th> Prüfer (lokaler Studienleiter)</th>
      </tr>
      {% for inv in submission_form.investigators.all %}
      <tr>
	<td valign=center>{{ inv.ethics_commission.name }}</td><td valign=center>{{ inv.name }}</td>
      </tr>
      {% endfor %}
    </table>
    <br/>
    <div class="header"><br/>Teil A</div><br/>
    1. Allgemeines <br/>
    1.1. Projekttitel: <b> {{ submission_form.project_title }}</b><br/>
    <table border=0>
      <tr>
	<td align=left valign=top>1.2. Protokollnummer/-bezeichnung:</td>
	<td align=left valign=top><b>{{ submission_form.protocol.version }}</b></td>
	<td align=left valign=top>1.2.1 EudraCT-Nr.:</td>
	<td align=left valign=top><b>{{ submission_form.eudract_number }}</b></td>
      </tr>
      <tr>
	<td align=left valign=top>1.3. Datum des Protokolls:</td>
	<td align=left valign=top><b>{{ submission_form.protocol.date }}</b></td>
	<td align=left valign=top>1.3.1 ISRCTN-Nr.:</td>
	<td align=left valign=top></td>
      </tr>
    </table>
    <table border=0>
      <tr>
	<td align=left valign=top style="width:5cm">1.4. Daten der beiliegenden Amendments:</td>
	<td align=left valign=top>1.4.1. Nr.</td>
	<td align=left valign=top><b>Wie</b></td>
	<td align=left valign=top>1.4.2. Datum:</td>
	<td align=left valign=top><b>sind</b></td>
      </tr>
      <tr>
	<td align=left valign=top></td>
	<td align=left valign=top>1.4.3. Nr.</td>
	<td align=left valign=top><b>die</b></td>
	<td align=left valign=top>1.4.4. Datum:</td>
	<td align=left valign=top><b>im</b></td>
      </tr>
      <tr>
	<td align=left valign=top></td>
	<td align=left valign=top>1.4.5. Nr.</td>
	<td align=left valign=top><b>Modell</b></td>
	<td align=left valign=top>1.4.6. Datum:</td>
	<td align=left valign=top><b>kodiert?</b></td>
      </tr>
    </table>



    <div id="footer">
      Antragsformular - &Ouml;sterreichische Ethikkommissionen, Version 6.0, 03.07.2009
    </div>
    <div id="footerpage">
      Seite <pdf:pagenumber>
    </div>
  </body>
</html>
