{% extends 'core.html' %}
{% load core %}

{% block htmltitle %}ECS Elektronische Einreichung{% endblock %}

{% block headertitle %}
<h1>Liste aller Meetings</h1>
{% endblock %}

{% block headernav %}
{% endblock %}

{% block content %}
<div id="meeting_assistant">
    <div class="left">
        <div class="info">
            TOPs: {{ top.meeting|length }}
            offene TOPs: {{ top.meeting.open_tops.count }}
            besprochene TOPs: {{ top.meeting. }}
        </div>
        <div class="navigation">
            {% if top.next_open %}
                <a href="{% url ecs.core.views.meeting_assistant meeting_pk=top.meeting.pk,top_pk=top.next_open.pk %}">Nächstes offenes TOP ({{ top.next_open.index|add:1 }})</a>
            {% endif %}
            {% if top.previous_open%}
                <a href="{% url ecs.core.views.meeting_assistant meeting_pk=top.meeting.pk,top_pk=top.previous_open.pk %}">Vorheriges offenes TOP ({{ top.previous_open.index|add:1 }})</a>
            {% endif %}
        </div>
    </div>
    
    <form id="meeting_assitant_form" action="" method="post">
        <input id="id_executive_review_required" type="hidden" name="executive_review_required" value="" />
        <input id="id_autosave" type="hidden" name="autosave" value="" />
        <fieldset>
            <legend>TOP {{ top.index|add:1 }}, {{ submission.ec_number|default:top.title }}</legend>
            {{ submission.project_title|default:top.title }}
            <span class="meta">
                Geplante Startzeit: {{ top.start|date:'H:i:s' }} Uhr, Geplante Dauer: {{ top.duration|simple_timedelta_format }}
            </span>
        </fieldset>
        <fieldset>
            <legend>Votum</legend>
            <div>
                {% if form.result.errors %}
                    <span class="errors">{{ form.result.errors }}</span>
                {% endif %}
                {{ form.result }}
            </div>
            {{ form.text }}
        </fieldset>
        <div class="buttons">
            <a id="complete_executive" href=""{% if vote and form|form_value:'executive_review_required' %} class="selected"{% endif %}>Fertig<span class="details">Executive Review</span></a>
            <a id="complete_office" href=""{% if vote and not form|form_value:'executive_review_required' %} class="selected"{% endif %}>Fertig<span class="details">Office Review</span></a>
            <a id="save" href="">Nur Speichern<span class="details">Nicht abgeschlossen</span></a>
        </div>
    </form>
    
    <div class="right">
    </div>
</div>
{% endblock %}

{% block menuSelection %}meetings{% endblock %}

{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript">
        window.addEvent('domready', function(){
            ecs.setupForms();
            var meetingAssitantForm = $('meeting_assitant_form');
            $('complete_executive').addEvent('click', function(){
                $('id_executive_review_required').value = '1';
                meetingAssitantForm.submit();
                return false;
            });
            $('complete_office').addEvent('click', function(){
                $('id_executive_review_required').value = '0';
                meetingAssitantForm.submit();
                return false;
            });
            $('save').addEvent('click', function(){
                $('id_autosave').value = '1';
                meetingAssitantForm.submit();
                return false;
            });
        });
    </script>
{% endblock %}
