{% load core i18n %}
<html>
<body>
{% block content %}
    <p>
{% blocktrans with recipient as recipient %}
Sehr geehrte/r {{ recipient }},
{% endblocktrans %}
    </p>

    <p>
{% blocktrans with meeting.start|date:'d.m.Y, H:i' as meeting_start and time as time %}
Sie sind eingeladen für die Sitzung der Ethik-Kommission
am {{ meeting_start }} Uhr, sine tempore
im Büro der Ethik-Kommission, Borschkegasse 8b/6. Stock, 1090 Wien.
Ihre Answesenheit ist zeitplanmäßig vom {{ time }} Uhr erforderlich.
Bitte kommen unbedingt eine halbe Stunde vor Ihrer geplannten Teilnahme.
Berücksichtigen Sie bitte, dass ihre Teilnahme auch über das Ende des
angegebenen Zeitfensters erforderlich sein kein.
{% endblocktrans %}
    </p>

    <p>
{% blocktrans%}
Mit freundlichen Grüßen,
    Ethik-Kommission der MedUni Wien
{% endblocktrans %}
    </p>
{% endblock %}
</body>
</html>
