{% extends 'core.html' %}
{% load core i18n userutils %}

{% block headernav %}
    <div class="tab_header_groups">
        <a href="#tabs_overview">{% trans "Overview" %}</a>
        {% if user|is_member_of:"EC-Office" and not meeting.ended %}
            <a href="#tabs_planning">{% trans "Planning" %}</a>
        {% endif %}
    </div>
    <div id="tabs_overview" class="tab_headers collapse">
        <a href="#status_tab">{% trans "Status" %}</a>
        {% if user|has_flag:'is_internal' %}
            <a href="#open_tasks_tab">{% trans "Open Tasks" %}</a>
            <a href="#tops_tab">{% trans "TOPs" %}</a>
        {% endif %}
        {% if user|has_flag:'is_internal' or user|has_flag:'is_board_member' or user|has_flag:'is_resident_member' %}
            <a href="#submissions_tab">{% trans "Submissions" %}</a>
        {% endif %}
    </div>
    {% if user|is_member_of:"EC-Office" and not meeting.ended %}
        <div id="tabs_planning" class="tab_headers collapse">
            <a href="#experts_tab"{% if active == 'experts' %} class="active"{% endif %}>{% trans "Spezialistenzuordnung" %}</a>
            <a href="#timetable_tab"{% if active == 'timetable' %} class="active"{% endif %}>{% trans "Timetable" %}</a>
            <a href="#assistant_tab"{% if active == 'assistant' %} class="active"{% endif %}>{% trans "Sitzungsassistent" %}</a>
        </div>
    {% endif %}

    {{ block.super }}
{% endblock %}

{% block htmltitle %}{{ meeting.title|default:"<em>Unbenannte Sitzung</em>" }} | {{ block.super }}{% endblock %}
{% block headertitle %}{{ meeting.start|date:'d.m.Y, H:i' }} Uhr: {{ meeting.title|default:"<em>Unbenannt</em>" }}{% endblock %}

{% block content %}
<div id="tabs">
    <div id="status_tab" class="collapse">
        {% include 'meetings/tabs/status.html' %}
    </div>
    {% if user|has_flag:'is_internal' %}
        <div id="open_tasks_tab" class="collapse">
            <div data-widget-url="{% url 'ecs.meetings.views.open_tasks' meeting_pk=meeting.pk %}"></div>
        </div>
        <div id="tops_tab" class="collapse">
            <div data-widget-url="{% url 'ecs.meetings.views.tops' meeting_pk=meeting.pk %}"{% if not meeting.ended %} data-widget-reload-interval="10"{% endif %}></div>
        </div>
    {% endif %}
    {% if user|has_flag:'is_internal' or user|has_flag:'is_board_member' or user|has_flag:'is_resident_member' %}
        <div id="submissions_tab" class="collapse">
            <div data-widget-url="{% url 'ecs.meetings.views.submission_list' meeting_pk=meeting.pk %}"{% if not meeting.ended %} data-widget-reload-interval="10"{% endif %}></div>
        </div>
    {% endif %}

    {% if user|is_member_of:"EC-Office" and not meeting.ended %}
        <div id="experts_tab" class="collapse">
            {% include 'meetings/tabs/experts.html' %}
        </div>
        <div id="timetable_tab" class="collapse">
            <div data-widget-url="{% url 'ecs.meetings.views.timetable_editor' meeting_pk=meeting.pk %}"></div>
        </div>
        <div id="assistant_tab" class="collapse">
            <div data-widget-url="{% url 'ecs.meetings.views.meeting_assistant' meeting_pk=meeting.pk %}"></div>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block menuSelection %}meetings{% endblock %}

{% block jsbottom %}
  {{ block.super }}
    <script type="text/javascript">
        $(function(){
            new ecs.TabController('.tab_header_groups a');
            ecs.setupWidgets();

            $('a.send_emails').click(function(ev) {
                ev.preventDefault();
                var href = $(this).attr('href');
                ecs.confirm({
                    question: '{% trans 'Do you want to send the E-mails?' %}',
                    ok: '{{ _("Send")|escapejs }}',
                    cancel: '{{ _("Don't Send")|escapejs }}',
                    success: function() {
                        window.location.href = href;
                    }
                });
            });
        });
    </script>
{% endblock %}
