{% load i18n core widget_tweaks %}

<div id="expedited_reviewer_invitation" class="my-1">
    <form class="open-in-widget" action="{{ request.path }}" method="post">
        {% csrf_token %}
        <div class="DateTimeField input-group">
            {% render_field form.start class+="form-control" error_class="form-control-danger" %}
            <span class="input-group-btn">
                <input class="btn btn-primary" type="submit" value="{% trans 'Send Invitations' %}" />
            </span>
        </div>
    </form>
    {% if meeting.expedited_reviewer_invitation_sent_for %}
        <div class="mt-1">
            {% with meeting.expedited_reviewer_invitation_sent_for as sent_for %}
                {% with meeting.expedited_reviewer_invitation_sent_at as sent_at %}
                    Letzter kommunizierter Termin: {{ sent_for|date:'d.m.Y H:i' }}
                    (verschickt am {{ sent_at|date:'d.m.Y' }})
                {% endwith %}
            {% endwith %}
        </div>
    {% endif %}
</div>

<script type="text/javascript">
    $(function(){
        var container = $('#expedited_reviewer_invitation');
        ecs.setupFormFieldHelpers(container);
        var form = container.find('form');
        form.find('input[type="submit"]').click(function(ev) {
            ev.preventDefault();
            ecs.confirm({
                question: '{% trans 'Do you want to send the E-mails?' %}',
                ok: '{{ _("Send")|escapejs }}',
                cancel: '{{ _("Don't Send")|escapejs }}',
                success: function() {
                    form.submit();
                }
            });
        });
    });
</script>
