{% load i18n core %}

<div id="expedited_reviewer_invitation">
    <form class="open-in-widget" action="{{ request.path }}" method="post">
        {% csrf_token %}
        <ol>
        {% for field in form %}
            {% include 'forms/field.html' %}
        {% endfor %}
        </ol>
        <input type="submit" value="{% trans 'Send Invitations' %}"/>
    </form>
    <div>
        {% if meeting.expedited_reviewer_invitation_sent_for %}
            {% with meeting.expedited_reviewer_invitation_sent_for as sent_for %}
            {% with meeting.expedited_reviewer_invitation_sent_at as sent_at %}
                Letzter kommunizierter Termin: {{ sent_for|date:'d.m.Y H:i' }} (verschickt am {{ sent_at|date:'d.m.Y' }})
            {% endwith %}
            {% endwith %}
        {% endif %}
    </div>
</div>

<script type="text/javascript">
    $(function(){
        var container = $('#expedited_reviewer_invitation');
        ecs.setupFormFieldHelpers(container);
        var form = container.find('form');
        form.find('input[type="submit"]').click(function(ev) {
            ev.preventDefault();
            ecs.confirm({
                question: '{% trans 'Do you want to send the E-mails?' %}',
                ok: '{{ _("Send")|escapejs }}',
                cancel: '{{ _("Don't Send")|escapejs }}',
                success: function() {
                    form.submit();
                }
            });
        });
    });
</script>
