{% extends 'core.html' %}
{% load core %}

{% block title %}ECS Elektronische Einreichung{% endblock %}

{% block headertitle %}
    Neues Meeting
{% endblock %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data" class="form_main">
    <div>
    <ol>
        {% for field in form %}
            {% include "forms/field.html" %}
        {% endfor %}
    </ol>
    </div>
    <input type="submit" value="Speichern" />
</form>
{% endblock %}

{% block menuSelection %}meetings{% endblock %}
{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript">
        window.addEvent('domready', ecs.setupForms);
    </script>
{% endblock %}
