{% extends 'core.html' %}
{% load core i18n %}

{% block htmltitle %}{% if not meeting %}{% trans "new meeting" %}{% else %}{% trans "edit meeting" %}{% endif %} | {{ block.super }}{% endblock %}
{% block headertitle %}{% if not meeting %}{% trans "new meeting" %}{% else %}{% trans "edit meeting" %}{% endif %}{% endblock %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data" class="form_main">
    {% csrf_token %}
    <div>
    <ol>
        {% for field in form %}
            {% include "forms/field.html" %}
        {% endfor %}
      <li><input type="submit" value="Speichern" /></li>
    </ol>
    </div>
</form>
{% endblock %}

{% block menuSelection %}meetings{% endblock %}
{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript">
        jQuery(ecs.setupForms);
    </script>
{% endblock %}
