{% extends 'core.html' %}
{% load core i18n widget_tweaks %}

{% block htmltitle %}{% if not meeting %}{% trans "new meeting" %}{% else %}{% trans "edit meeting" %}{% endif %} | {{ block.super }}{% endblock %}
{% block headertitle %}{% if not meeting %}{% trans "new meeting" %}{% else %}{% trans "edit meeting" %}{% endif %}{% endblock %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data" class="form_main">
    {% csrf_token %}
    <div class="row">
        {% for field in form %}
            <div class="col-md-6 mt-1">
                {% include 'bootstrap/form_field.html' %}
            </div>
        {% endfor %}
        <div class="col-md-6 offset-md-3 mt-1">
            <input class="btn btn-primary btn-block" type="submit" value="Speichern" />
        </div>
    </div>
</form>
{% endblock %}

{% block menuSelection %}meetings{% endblock %}
{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript">
        $(ecs.setupForms);
    </script>
{% endblock %}
