{% extends 'core.html' %}
{% load core i18n %}

{% block headertitle %}
    {% trans "Reschedule Submission" %}
{% endblock %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data" class="form_main">
<h3>{{ submission }}</h3>
    <div>
    <ol>
        {% for field in form %}
            {% include "forms/field.html" %}
        {% endfor %}
    </ol>
    </div>
    <span class="button"><input type="submit" value="{% trans "Save and return to study" %}" /></span>
</form>
{% endblock %}

{% block menuSelection %}meetings{% endblock %}
{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript">
        window.addEvent('domready', ecs.setupForms);
    </script>
{% endblock %}
