{% extends 'core.html' %}
{% load core i18n %}

{% block headertitle %}
    {% trans "Reschedule Submission" %}
{% endblock %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data" class="form_main">
    <h3>{{ submission }}</h3>
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input class="btn btn-primary" type="submit" value="{% trans "Save and return to study" %}" />
</form>
{% endblock %}

{% block menuSelection %}meetings{% endblock %}
{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript">
        $(ecs.setupForms);
    </script>
{% endblock %}
