{% extends 'meetings/detail.html' %}
{% load core i18n userutils %}

{% block meeting_detail %}

<h2>Voten des Meetings {{ meeting }}</h2>
<ul>
{% for d in votes_list|dictsort:'top_index' %}
  <li>
    {{ d.top }}: 
    {% if d.vote %}
      {{ d.vote }}
        {% if user|is_member_of:"EC-Signing Group" %}
            {% if vote.signed_at %}
                <a href="{% url ecs.core.views.download_signed_vote vote_pk=d.vote.pk %}" target="_blank">Ansehen</a>
            {% else %}
                <a href="{% url ecs.core.views.vote_sign vote_pk=d.vote.pk %}" target="_blank">Signieren</a>
            {% endif %}
        {% endif %}
    {% else %}
      ohne Votum
    {% endif %}
  </li>
{% endfor %}
</ul>

{% endblock %}

{% block menuSelection %}{% endblock %}
