{% extends 'core.html' %}

{% block htmltitle %}ECS Signatur der Voten{% endblock %}

{% block headertitle %}
Liste aller Voten des Meetings {{ meeting }}
{% endblock %}

{% block headernav %}
{% endblock %}

{% block content %}

<h2>Voten des Meetings {{ meeting }}</h2>
<ul>
{% for top, votes in votes_dict.items %}
  <li>
    {{ top }}
    <ul>
    {% for vote in votes %}
      <li>
        {{ vote }}
        (<a href="{% url ecs.core.views.vote_pdf meeting_pk=meeting.pk vote_pk=vote.pk %}" target="_blank">Ansehen</a>
        | <a href="{% url ecs.core.views.vote_sign meeting_pk=meeting.pk vote_pk=vote.pk %}" target="_blank">Signieren</a>)
      </li>
    {% empty %}
	Ohne Votum
    {% endfor %}
    </ul>
  </li>
{% endfor %}
</ul>

{% endblock %}

{% block menuSelection %}{% endblock %}
