{% extends 'core.html' %}

{% block htmltitle %}ECS Signatur der Voten{% endblock %}

{% block headertitle %}
<h1>Liste aller Voten des Meetings {{ meeting }}</h1>
{% endblock %}

{% block headernav %}
{% endblock %}

{% block content %}

<h2>Voten des Meetings {{ meeting }}</h2>
<ul>
  {% for vote in votes %}
    <li>
      {{ vote.pk }}
        (<a href="{% url ecs.core.views.vote_pdf meeting_pk=meeting.pk vote_pk=vote.pk %}" target="_blank">Ansehen</a>
        | <a href="{% url ecs.core.views.vote_sign meeting_pk=meeting.pk vote_pk=vote.pk %}" target="_blank">Signieren</a>)
    </li>
  {% endfor %}
</ul>

{% endblock %}

{% block menuSelection %}{% endblock %}
