{% extends 'pdf/skeleton.html' %}

{% block title %}Votum{% endblock %}

{% block inline_css %}
    {{ block.super }}
    <style type="text/css">
        body, #content {
            width: auto;
        }
    </style>
{% endblock %}

{% block content %}
<center><p><b>
{% if vote.top %}
    Sitzung der Ethik-Kommission am {{ vote.top.meeting.start|date:'d.m.Y' }}, {{ vote.top }}:
{% else %}
    Votum:
{% endif %}
</b></p></center>

<p>
    <b>EK Nr:</b> <b>{{ vote.get_ec_number }}</b><br />
    <b>Projekttitel:</b> {{ submission.project_title_display }}<br />
    <b>Antragsteller:</b> {{ form.submitter }}<br />
    <b>Institution:</b> {{ form.submitter_organisation }}<br />
    <b>Sponsor:</b> {{ form.sponsor_name }}<br />
</p>

<h4>Die Kommission fasst folgenden Beschluss:</h4>

<p>{% include 'votes/pdf/vote_result.inc' with result=vote.result %}<p>

{% if past_votes %}
    {% for vote in past_votes %}
        <b>Ergänzende Kommentare {% if vote.top %} der Sitzung am {{ vote.top.meeting.start|date:'d.m.Y' }}{% endif %}:</b><br>
        <p>{{ vote.text|linebreaksbr }}</p>
    {% endfor %}
    {{ submission.current_published_vote.text|linebreaksbr }}
{% endif %}

{% if vote.text %}
  <b>Ergänzende Kommentare{% if vote.top %} der Sitzung am {{ vote.top.meeting.start|date:'d.m.Y' }}{% endif %}:</b><br />
  <p>
    {{ vote.text|linebreaksbr }}
  </p>
{% endif %}
{% endblock %}
