{% extends 'core.html' %}
{% load i18n userutils %}

{% block htmltitle %}{% trans "PKI" %} | {{ block.super }}{% endblock %}

{% block headertitle %}{% trans "PKI" %}{% endblock %}

{% block content %}
    <table class="table table-sm">
        <thead>
            <tr>
                <th>User</th>
                <th>CN</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for cert in certs %}
                <tr class="{% if cert.revoked_at %}revoked{% endif %}">
                    <td>{{ cert.user }}</td>
                    <td>{{ cert.cn }}</td>
                    <td>
                        {% if not cert.revoked_at %}
                        <form action="{% url 'ecs.pki.views.revoke_cert' cert_pk=cert.pk %}" method="post">
                            {% csrf_token %}
                            <input class="btn btn-danger" type="submit" value="{% trans 'Revoke' %}" />
                        </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if user|is_member_of:'EC-Signing' %}
        <a class="btn btn-outline-primary" href="{% url 'ecs.pki.views.create_cert' %}">
            {% trans 'Create new certificate' %}
        </a>
    {% endif %}
{% endblock %}
