{% extends 'core.html' %}
{% load i18n userutils %}

{% block htmltitle %}{% trans "PKI" %} | {{ block.super }}{% endblock %}

{% block headertitle %}{% trans "PKI" %}{% endblock %}

{% block content %}

{% if user|is_member_of:'EC-Signing' %}
    <a href="{% url 'ecs.pki.views.create_cert' %}">{% trans 'Create new certificate' %}</a>
{% endif %}

<table class="cert_list">
    <tr>
        <th>User</th>
        <th>CN</th>
        <th></th>
    </tr>
    {% for cert in certs %}
        <tr class="{% if cert.revoked_at %}revoked{% endif %}">
            <td>{{ cert.user }}</td>
            <td>{{ cert.cn }}</td>
            <td>
                {% if not cert.revoked_at %}
                <form action="{% url 'ecs.pki.views.revoke_cert' cert_pk=cert.pk %}" method="post">
                    {% csrf_token %}
                    <a class="submit_parent">{% trans 'Revoke' %}</a>
                </form>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}

{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript">
        $(function(){
            ecs.setupSubmitLinks('a.submit_parent');
        });
    </script>
{% endblock %}
