{% extends 'core.html' %}
{% load i18n %}

{% block htmltitle %}{% trans "PKI" %} | {{ block.super }}{% endblock %}

{% block headertitle %}{% trans "PKI" %}{% endblock %}

{% block content %}
    <a href="{% url 'ecs.pki.views.cert_list' %}">
        <span class="fa fa-backward"></span>
        {% trans "Back to the certificate list" %}
    </a>

    <p>
        <form action="" method="post" class="form_main" autocomplete="off">
            {% csrf_token %}
            <div>
            <ol>
                {% for field in form %}
                    {% include "forms/field.html" %}
                {% endfor %}
            </ol>
            </div>
            <input class="btn btn-primary" type="submit" value="{% trans 'Create Certificate' %}" />
        </form>
    </p>
{% endblock %}

{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript">
        $(function(){
            $('#id_user').select2();
        });
    </script>
{% endblock %}

