{% extends 'core.html' %}
{% load i18n %}

{% block htmltitle %}{% trans "PKI" %} | {{ block.super }}{% endblock %}

{% block headertitle %}{% trans "PKI" %}{% endblock %}

{% block content %}
<div>
<form action="" method="post" class="form_main" id="cert_form" autocomplete="off">
    {% csrf_token %}
    <div>
    <ol>
        {% for field in form %}
            {% include "forms/field.html" %}
        {% endfor %}
    </ol>
    </div>
    <span class="button"><input type="submit" value="{% trans 'Create Certificate' %}" /></span>
</form>
</div>
{% endblock %}

{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript">
        $(function(){
            $('#cert_form select[data-ajax--url]').select2();
        });
    </script>
{% endblock %}

