/* pdfviewer.css */

* {
  margin: 0;
  padding: 0;
}

.pv {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
  color: black;
  background: white;
}

.pv_main {
  /* height and width set by js */
}

.pv_header {
}

.pv_title {
  font-size: 14pt;
}

.pv_pages {
  float: left;
  color: black;
  background: #ddf;
}

.pv_page img {
  /* height, width set by js */
  border-width: thin;
  border-style: solid;
  border-color: black;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}
