{# core.html #}

{% extends 'base.html' %}

{% block htmltitle %}Ethik Kommission Wien{% endblock %}
		
{% block jshead %} {# enqueue javasript #}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.3.2.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.7.2.custom.min.js"></script>
{% endblock %} 
		
{% block usermenu %}
  <ul>
    <li><a href="/core/">&Uuml;bersicht</a></li>
    <li><a href="/core/">Studien</a></li>
    <li>
      <a href="/core/">Studien Meldungen</a>
      <ul>
        <li><a href="/core/">offene Meldungen</a></li>
        <li><a href="/core/notification/new/">neue Meldung</a></li>
        <li><a href="/core/">vergangene Meldungen</a></li>
      </ul>
    </li>
    <li><a href="/core/">Konversationen</a></li>
    <li><a href="/core/">zuletzt bearbeitet</a></li>
    <li><a href="/core/">vorgemerkte T&auml;tigkeiten</a></li>
  </ul>
{% endblock %}
