{% extends 'base.html' %}

{% block htmlcss %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}core/css/core.css" />
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL}}MooEditable/Assets/MooEditable/MooEditable.css" />
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL}}MooDialog/css/MooDialog.css" media="screen" />
{% endblock %}

{% block account %} 
  <a href=""><img src="{{ MEDIA_URL }}core/images/user.png" alt="user"/></a> 
  {{ user.get_full_name }} | {% comment %} <a href="">Profil</a> | {% endcomment %} <a href="/accounts/logout">Logout</a>
  <p>
  {% comment %}
  <a href=""><img src="{{ MEDIA_URL }}core/images/search.png" alt="search"/></a> 
  <a href=""><img src="{{ MEDIA_URL }}core/images/help.png" alt="help"/></a>
  {% endcomment %}
  <a href="" class="feedback_trigger"><img src="{{ MEDIA_URL }}images/feedback.png" alt="feedback"/></a>
  </p> 
{% endblock %}

{% block usertoolbar %} 
{% endblock %}
        
{% block usermenu %}
  <ul>
    <li><a href="{% url ecs.core.views.index %}">Übersicht</a></li>
    <li>
      <span class="togglers">Studien</span>
      <ul class="elements">
	<li><a href="{% url ecs.core.views.submission_form_list %}">Eingereichte und Neue</a></li>
        <li><a href="{% url ecs.core.views.create_submission_form %}">neuer Antrag</a></li>
      </ul>
    </li>
    <li>
      <span class="togglers">Studien Meldungen</span>
      <ul class="elements">
	<li><a href="{% url ecs.core.views.notification_list %}">Offene Meldungen</a></li>
        <li><a href="{% url ecs.core.views.select_notification_creation_type %}">neue Meldung</a></li>
      </ul>
    </li>
    <li>
      <span class="togglers">Sitzungen</span>
      <ul class="elements">
        <li><a href="{% url ecs.core.views.meeting_list %}">Sitzungen</a></li>
        <li><a href="{% url ecs.core.views.create_meeting %}">neue Sitzung</a></li>
      </ul>
    </li>
    <!--<li><a href="#">Konversationen</a></li>
    <li><a href="#">zuletzt bearbeitet</a></li>
    <li><a href="#">vorgemerkte Tätigkeiten</a></li>-->
  </ul>
{% endblock %}

{% block headernav %}
    {% block header_actions %}
    {% endblock %}
{% endblock %}

{% block jsbottom %}
  {{ block.super }}
  <script type="text/javascript" src="{{ MEDIA_URL}}MooEditable/Source/MooEditable/MooEditable.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}/MooDialog/Overlay.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}/MooDialog/MooDialog.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}/MooDialog/MooDialog.Iframe.js"></script>
  <script type="text/javascript">
    window.addEvent('domready', function(){
      var toggles = $$('.togglers');
      var content = $$('.elements');
      var AccordionObject = new Accordion(toggles, content);

      var feedback_triggers = $(document.body).getElements('a.feedback_trigger');
      var feedback_handler = function() { 
        new MooDialog.Iframe('https://ecsdev.ep3.at/project/ecs/attachment/ticket/1/AAA-feedback-new_4.png',{
        title: 'Feedback',
        size: {
        width: 700,
        height: 400
        }});
        return false;
      };
      feedback_triggers.addEvent('click', feedback_handler);
    });
  </script>
{% endblock %}
