{# index.html #}

{% extends 'core.html' %}

{% block title %}ECS dev menu{% endblock %}

{% block content %}
<h1>Options</h1>

<h2>Submissions</h2>
<ul>
  <li><a href="submission/">show submissions</a></li>
  <li><a href="submission/create_random/">create random submission</a></li>
  <li><a href="submission/new/">enter submission record</a></li>
</ul>

<h2>Notifications</h2>
<ul>
  <li><a href="notification/">show notifications</a></li>
  <li><a href="notification/create_random">create random notification</a></li>
  <li><a href="notification/new">enter notification record</a></li>
</ul>
{% endblock %}
