{# notification_new01.html #}

{% extends 'core_new.html' %}

{% block htmltitle %}ECS Elektronische Einreichung{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ MEDIA_URL }}core/css/notification_new.css" media="screen"/>
{% endblock %}

{% block headertitle %}
  <h1>Neue Meldung zur laufenden Studie(n)</h1>
{% endblock %}

{% block headernav %}
  <ul>
    <li><a href="../new">Studien und Meldungsart</a></li>
    <li><a href="../new2">Meldung</a></li>
    <li><a href="../new3">Unterlagen</a></li>
  </ul>
{% endblock %}

{% block content %}
  <form action="" method="post">

    <div class="notification">
      <h2>Auswahl der betreffenden Studie(n)</h2>
      <ul>
        <li><input type="checkbox" name="submission" value="{{ last_active_submission.id }}" />letzt aktive Einreichung ({{ last_active_submission.code }})</li>
      {% if submissions %}
      {% for submission in submissions %}
        <li><input type="checkbox" name="submission" value="{{ submission.id }}" />{{ submission.code }}</li>
      {% endfor %}
      {% else %}
        <li>(keine)</li>
      {% endif %}
      </ul>
    </div>

    <div class="notification">
      <h2>Meldungstyp</h2>
      <select name="notificationtype" size="1">
        <option value="n0">Informationsmeldung</option>
        <option value="n1">Protokoll&auml;nderung</option>
        <option value="n2">Nebenwirkungsmeldung</option>
        <option value="n3">Verl&auml;ngerung des Votums</option>
        <option value="n4">sonstige</option>
      </select>
      <div class="notification-submit">
        <input type="submit" value="weiter">
      </div>
    </div>

  </form> 
{% endblock %}
