{# notification.html #}

{% extends 'base.html' %}

{% block title %}ECS Elektronische Einreichung{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ MEDIA_URL_CORE }}css/notification_new3.css" media="screen"/>
{% endblock %}
{% block js %}
  <script type="text/javascript" src="{{ MEDIA_URL_CORE }}js/notification_new3.js"></script>
{% endblock %}

{% block content %}
<div id="head">
  <h1>Neue Protokoll&auml;nderung zur laufenden Studie (EK-343/2009): HR-NBL-1/SIOPEN</h1>

  <p>A randomized, open-label, multicenter phase II study to investigate the efficiency
     and safety of two dose levels of the human monoclonal antibody MT201 administered
     intravenously to patients with some medical issue (MT201-202)</p>

  <div id="tabs">
    <ul>
      <li><a href="#tabs-1">Studien und Meldungsart</a></li>
      <li><a href="#tabs-2">Meldung</a></li>
      <li><a href="#tabs-3">Unterlagen</a></li>
    </ul>
    <div id="tabs-1"></div>
    <div id="tabs-2"></div>
    <div id="tabs-3"></div>
  </div>

</div>

<div id="n3s1">
  <h2>F&uuml;r diese Meldung bereits eingereichte Unterlagen:</h2>
  <table>
    <tr><td><img src="{{ MEDIA_URL_CORE }}images/icon-folder.png" alt="folder icon "/> &Auml;nderungen zur bestehenden Studie</td></tr>
    <tr><td><img src="{{ MEDIA_URL_CORE }}images/icon-triangle.png" alt="triangle icon"/> Patienteninformation</td></tr>
    <tr><td>-- <img src="{{ MEDIA_URL_CORE }}images/icon-doc.png" alt="doc icon"/> Neue Version <em>"Information f&uuml;r Jugendliche"</em></td></tr>
    <tr><td>-- <img src="{{ MEDIA_URL_CORE }}images/icon-doc.png" alt="doc icon"/> &Auml;nderungen <em>"Information f&uuml;r Jugendliche"</em></td></tr>
    <tr><td><img src="{{ MEDIA_URL_CORE }}images/icon-triangle.png" alt="triangle icon"/> Sonstige Unterlagen</td></tr>
    <tr><td>-- <img src="{{ MEDIA_URL_CORE }}images/icon-doc.png" alt="doc icon"/> <em>"Begleitbrief"</em></td></tr>
  </table>
</div>

<div id="n3s2">
  <h2>Speichere neue Unterlage:</h2>
  <table>
    <tr><td>Patienteninformation</td></tr>
    <tr><td>Covering Letter</td></tr>
    <tr><td>Studienprotokoll (Pr&uuml;fplan)</td></tr>
    <tr><td>Versicherungsbest&auml;ttigung</td></tr>
    <tr><td>Investigator's Brochure</td></tr>
    <tr><td>CRF</td></tr>
    <tr><td>Principal Investigator's Curriculum Vit&aelig;</td></tr>
    <tr><td>Unterlagen gem&auml;&szlig; EU-Direktive 2001/20/EG</td></tr>
    <tr><td>Conflict of Interest</td></tr>
    <tr><td>sonstige</td></tr>
  </table>
</div>

<div id="n3s3">
  <h2>Bezeichnung der Unterlage:</h2>
  (Textfeld)
</div>

<div id="n3s4">
  <h2>Version vom:</h2>
  <input id="datepicker" type="text">
</div>

<div id="n3s5">
  <h2>Beenden:</h2>
  <a href="">Jetzt hochladen!</a>
</div>

{% endblock %}
