{# notification_new03.html #}

{% extends 'core_new.html' %}

{% block htmltitle %}ECS Elektronische Einreichung{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ MEDIA_URL }}core/css/notification_new.css" media="screen"/>
{% endblock %}

{% block headertitle %}
{% ifequal notificationtype 'n1' %}
  <h1>Neue Protokoll&auml;nderung zur laufenden Studie (EK-343/2009): HR-NBL-1/SIOPEN</h1>
{% else %}{% ifequal notificationtype 'n2' %}
  <h1>Meldung einer mutmasslichen unerwarteten schwerwiegenden Nebenwirkung (SUSAR) zur laufenden Studie (EK-343/2009): HR-NBL-1/SIOPEN</h1>
{% endifequal %}{% endifequal %}

  <p>A randomized, open-label, multicenter phase II study to investigate the efficiency
     and safety of two dose levels of the human monoclonal antibody MT201 administered
     intravenously to patients with some medical issue (MT201-202)</p>
{% endblock %}

{% block headernav %}
  <ul>
    <li><a href="../new">Studien und Meldungsart</a></li>
    <li><a href="../new2">Meldung</a></li>
    <li><a href="../new3">Unterlagen</a></li>
  </ul>
{% endblock %}

{% block content %}
  <form action="" method="post" enctype="multipart/form-data">
                
    <div class="notification">
      <h2>F&uuml;r diese Meldung bereits eingereichte Unterlagen:</h2>
      <ul>
      {# first iteration: stash docs here, later group listing into doctypes #}
      {% if docs %}
      {% for doc in docs %}
      {% if doc.description %}
        <li><em>"{{ doc.description }}"</em> vom {{ doc.versiondate }}</li>
      {% else %}
        <li>Dokument vom {{ doc.versiondate }}</li>
      {% endif %}
      {% endfor %}
      {% else %}
        <li>(keine Unterlagen)</li>
      {% endif %}
      </ul>
    </div>

    <div class="notification">
      <h2>Speichere neue Unterlage:</h2>
      <select name="doctype" size="1">
        <option value="d0">Patienteninformation</option>
        <option value="d1">Covering Letter</option>
        <option value="d2">Versicherungsbest&auml;tigung</option>
        <option value="d3">Investigator's Brochure</option>
        <option value="d4">CRF</option>
        <option value="d5">Principal Investigator's Curriculum Vit&aelig;</option>
        <option value="d6">Unterlagen gem&auml;&szlig; EU-Direktive 2001-20-EG</option>
        <option value="d7">Conflict of Interest</option>
        <option value="d8">Sonstige</option>
      </select>

      <h2>Bezeichnung der Unterlage:</h2>
      <input type="text" name="description" size="20" maxlength="20">

      <h2>Version vom:</h2>
      <input id="datepicker" type="text" name="versiondate" size="20">

      <h2>Datei hochladen</h2>
      <input type="file" name="fileupload" size="20" maxlength="100000" accept="text/*">
      <div class="notification-submit">
        <input type="submit" name="upload" value="Jetzt hochladen!">
      </div>
      <div class="notification-submit">
        <input type="submit" name="finish" value="Diese Meldung abschlie&szlig;en">
      </div>
    </div>
              
  </form> 
        
{% endblock %}
