{# notification.html #}

{% extends 'core.html' %}

{% block title %}ECS Elektronische Einreichung{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ MEDIA_URL }}core/css/notification_new3.css" media="screen"/>
{% endblock %}
{% block js %}
  <script type="text/javascript" src="{{ MEDIA_URL }}core/js/notification_new3.js"></script>
{% endblock %}

{% block content %}
<div id="head">
  <h1>Neue Protokoll&auml;nderung zur laufenden Studie (EK-343/2009): HR-NBL-1/SIOPEN</h1>

  <p>A randomized, open-label, multicenter phase II study to investigate the efficiency
     and safety of two dose levels of the human monoclonal antibody MT201 administered
     intravenously to patients with some medical issue (MT201-202)</p>

  <div id="tabs">
    <ul>
      <li><a href="#tabs-1">Studien und Meldungsart</a></li>
      <li><a href="#tabs-2">Meldung</a></li>
      <li><a href="#tabs-3">Unterlagen</a></li>
    </ul>
    <div id="tabs-1"></div>
    <div id="tabs-2"></div>
    <div id="tabs-3"></div>
  </div>

</div>

<div id="n3s1">
  <h2>F&uuml;r diese Meldung bereits eingereichte Unterlagen:</h2>
  <ol id="selectable1">
    <li class="ui-widget-content ui-selected"><img src="{{ MEDIA_URL }}core/images/icon-folder.png" alt="folder icon "/> &Auml;nderungen zur bestehenden Studie</li>
    <li class="ui-widget-content"><img src="{{ MEDIA_URL }}core/images/icon-triangle.png" alt="triangle icon"/> Patienteninformation</li>
    <li class="ui-widget-content"><- <img src="{{ MEDIA_URL }}core/images/icon-doc.png" alt="doc icon"/> Neue Version <em>"Information f&uuml;r Jugendliche"</em></li>
    <li class="ui-widget-content"><- <img src="{{ MEDIA_URL }}core/images/icon-doc.png" alt="doc icon"/> &Auml;nderungen <em>"Information f&uuml;r Jugendliche"</em></li>
    <li class="ui-widget-content"><img src="{{ MEDIA_URL }}core/images/icon-triangle.png" alt="triangle icon"/> Sonstige Unterlagen</li>
    <li class="ui-widget-content"><- <img src="{{ MEDIA_URL }}core/images/icon-doc.png" alt="doc icon"/> <em>"Begleitbrief"</em></li>
  </table>
</div>

<div id="n3s2">
  <h2>Speichere neue Unterlage:</h2>
  <ol id="selectable2">
    <li class="ui-widget-content ui-selected">Patienteninformation</li>
    <li class="ui-widget-content">Covering Letter</li>
    <li class="ui-widget-content">Studienprotokoll (Pr&uuml;fplan)</li>
    <li class="ui-widget-content">Versicherungsbest&auml;ttigung</li>
    <li class="ui-widget-content">Investigator's Brochure</li>
    <li class="ui-widget-content">CRF</li>
    <li class="ui-widget-content">Principal Investigator's Curriculum Vit&aelig;</li>
    <li class="ui-widget-content">Unterlagen gem&auml;&szlig; EU-Direktive 2001/20/EG</li>
    <li class="ui-widget-content">Conflict of Interest</li>
    <li class="ui-widget-content">Sonstige</li>
  </ol>
</div>

<div id="n3s3">
  <h2>Bezeichnung der Unterlage:</h2>
  (Textfeld)
</div>

<div id="n3s4">
  <h2>Version vom:</h2>
  <input id="datepicker" type="text">
</div>

<div id="n3s5">
  <h2>Beenden:</h2>
  <a href="../new4/">Jetzt hochladen!</a>
</div>

{% endblock %}
