{# notification.html #}

{% extends 'core_new.html' %}

{% block htmltitle %}ECS Elektronische Einreichung{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ MEDIA_URL }}core/css/notification_new.css" media="screen"/>
{% endblock %}

{% block headertitle %}
  <h1>Neue Protokoll&auml;nderung zur laufenden Studie (EK-343/2009): HR-NBL-1/SIOPEN</h1>

  <p>A randomized, open-label, multicenter phase II study to investigate the efficiency
     and safety of two dose levels of the human monoclonal antibody MT201 administered
     intravenously to patients with some medical issue (MT201-202)</p>
{% endblock %}

{% block headernav %}
    <ul>
      <li><a href="../new">Studien und Meldungsart</a></li>
      <li><a href="../new2">Meldung</a></li>
      <li><a href="../new3">Unterlagen</a></li>
    </ul>
{% endblock %}

{% block content %}

	<form action="" method="" accept-charset="utf-8">
		
		<div class="notification">
			
			<h2>F&uuml;r diese Meldung bereits eingereichte Unterlagen:</h2>
			<ul>
				<li>&Auml;nderungen zur bestehenden Studie</li>
				<li>Patienteninformation
					<ul>
						<li>Neue Version <em>"Information f&uuml;r Jugendliche"</em></li>
						<li>&Auml;nderungen <em>"Information f&uuml;r Jugendliche"</em></li>
					</ul>
				</li>
				<li>Sonstige Unterlagen
					<ul>
						<li><em>"Begleitbrief"</em></li>
					</ul>
				</li>
			</ul>
			
		</div>
		
		<div class="notification">
			
			<h2>Speichere neue Unterlage:</h2
			
			<select>
				<option>Patienteninformation</option>
				<option>Covering Letter</option>
				<option>Versicherungsbest&auml;tigung</option>
				<option>Investigator's Brochure</option>
				<option>CRF</option>
				<option>Principal Investigator's Curriculum Vit&aelig;</option>
				<option>Unterlagen gem&auml;&szlig; EU-Direktive 2001-20-EG</option>
				<option>Conflict of Interest</option>
				<option>Sonstige</option>
			</select>
			
			<h2>Bezeichnung der Unterlage:</h2>
			
			<textarea rows="10" cols="40"></textarea>
			
			<h2>Version vom:</h2>
			
			<input id="datepicker" type="text">
			
		</div>
			
		<div class="notification-submit">
			
		  <a href="#">Hochladen</a>
		  
		</div>
		
	</form>	
	
{% endblock %}