{# notification.html #}

{% extends 'base.html' %}

{% block title %}ECS Elektronische Einreichung{% endblock %}

{% block content %}
<div id="head">
  <h1>Neue Protokoll&auml;nderung zur laufenden Studie (EK-343/2009): HR-NBL-1/SIOPEN</h1>

  <p>A randomized, open-label, multicenter phase II study to investigate the efficiency
     and safety of two dose levels of the human monoclonal antibody MT201 administered
     intravenously to patients with some medical issue (MT201-202)</p>

  <table>
    <tr>
    <td>Studien und Meldungsart</td>
    <th>Meldung</th>
    <td>Unterlagen</td>
    </tr>
  </table>
</div>

<div id="n2s1">
  <h2>Protokollnummer (falls vorhanden):</h2>

  (Protokoll-Nr.)
</div>

<div id="n2s2">
  <h2>Begr&uuml;ndung / Stellungnahme:</h2>

  (Editor)
</div>

<div id="n2s3">
  <h2>Unterlagen</h2>
  <a href="../new3/">Gehe zu den Unterlagen</a>
</div>

{% endblock %}
