{# notification_new02.html #}

{% extends 'core_new.html' %}

{% block htmltitle %}ECS Elektronische Einreichung{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ MEDIA_URL }}core/css/notification_new.css" media="screen"/>
{% endblock %}

{% block headertitle %}
{% ifequal notificationtype 'n1' %}
  <h1>Neue Protokoll&auml;nderung zur laufenden Studie (EK-343/2009): HR-NBL-1/SIOPEN</h1>
{% else %}{% ifequal notificationtype 'n2' %}
  <h1>Meldung einer mutmasslichen unerwarteten schwerwiegenden Nebenwirkung (SUSAR) zur laufenden Studie (EK-343/2009): HR-NBL-1/SIOPEN</h1>
{% endifequal %}{% endifequal %}

  <p>A randomized, open-label, multicenter phase II study to investigate the efficiency
     and safety of two dose levels of the human monoclonal antibody MT201 administered
     intravenously to patients with some medical issue (MT201-202)</p>
{% endblock %}

{% block headernav %}
  <ul>
    <li><a href="../new">Studien und Meldungsart</a></li>
    <li><a href="../new2">Meldung</a></li>
    <li><a href="../new3">Unterlagen</a></li>
  </ul>
{% endblock %}

{% block content %}
<form action="" method="post">

  <div class="notification">
    <h2>Protokollnummer (falls vorhanden):</h2>
    <input type="text" name="protocolnumber" value="{{ protocolnumber }}" tabindex="3" size="28" id="">
  </div>
               
  <div class="notification">
    <h2>Begr&uuml;ndung / Stellungnahme:</h2>
    <textarea name="statement" cols="40" rows="8">{{ statement }}</textarea>
    <div class="notification-submit">
      <input type="submit" value="Meldung speichern und weiter">
    </div>
  </div>

</form> 
{% endblock %}

