{% load i18n core userutils %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {% if submission %}
        <h4 class="modal-title">{% blocktrans with submission|ec_number as ec_number %}Scratchpad for submission {{ ec_number }}{% endblocktrans %}</h4>
    {% else %}
        <h4 class="modal-title">{% trans "Scratchpad" %}</h4>
    {% endif %}
</div>

<div class="modal-body">
    <form id="scratchpad_form" action="{% url 'ecs.scratchpad.views.popup' scratchpad_pk=scratchpad.pk %}{% if submission %}?submission={{ submission.pk }}{% endif %}" method="post">
        {% csrf_token %}
        {{ form.text }}
    </form>

    <span class="modified_at">{% blocktrans with scratchpad.modified_at|date:"d.m.Y, H:i:s" as modified_at %}Last Change: {{ modified_at }}{% endblocktrans %}</span>
    {# do not remove classes from buttons or anywhere else! #}
</div>

<div class="modal-footer">
    <a class="btn btn-secondary" href="{% url 'ecs.scratchpad.views.popup_list' %}" role="button">{% trans "Show all my scratchpads" %}</a>
    <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "Save and close" %}</button>
</div>

{% if user|has_flag:'is_internal' %}
    <script type="text/javascript">
        new ecs.textarea.TextArea('.modal-content textarea[name="text"]', [
            ecs.textarea.toolbarItems.boilerplate(
                "{{ _('Insert Boilerplate')|escapejs }}",
                "{% url 'ecs.boilerplate.views.select_boilerplate' %}"
            )
        ], {update_height: false});
    </script>
{% endif %}
