{% extends "notifications/creation/base.html" %}

{% block fields %}
    {{ block.super }}
    
    <div class="field">
        {{ form.reason_for_not_started.label_tag }}
        {{ form.reason_for_not_started }}
        {% if form.reason_for_not_started.errors %}
        <div class="errors">
            {{ form.reason_for_not_started.errors }}
        </div>
        {% endif %}
    </div>
    <div class="field">
        {{ form.recruited_subjects.label_tag }}
        {{ form.recruited_subjects }}
        {% if form.recruited_subjects.errors %}
        <div class="errors">
            {{ form.recruited_subjects.errors }}
        </div>
        {% endif %}
    </div>
    <div class="field">
        {{ form.finished_subjects.label_tag }}
        {{ form.finished_subjects }}
        {% if form.finished_subjects.errors %}
        <div class="errors">
            {{ form.finished_subjects.errors }}
        </div>
        {% endif %}
    </div>
    <div class="field">
        {{ form.aborted_subjects.label_tag }}
        {{ form.aborted_subjects }}
        {% if form.aborted_subjects.errors %}
        <div class="errors">
            {{ form.aborted_subjects.errors }}
        </div>
        {% endif %}
    </div>
    <div class="field">
        {{ form.SAE_count.label_tag }}
        {{ form.SAE_count }}
        {% if form.SAE_count.errors %}
        <div class="errors">
            {{ form.SAE_count.errors }}
        </div>
        {% endif %}
    </div>
    <div class="field">
        {{ form.SUSAR_count.label_tag }}
        {{ form.SUSAR_count }}
        {% if form.SUSAR_count.errors %}
        <div class="errors">
            {{ form.SUSAR_count.errors }}
        </div>
        {% endif %}
    </div>
    <div class="field datefield">
        {{ form.runs_till.label_tag }}
        {{ form.runs_till }}
        {% if form.runs_till.errors %}
        <div class="errors">
            {{ form.runs_till.errors }}
        </div>
        {% endif %}
    </div>
    <div class="field datefield">
        {{ form.finished_on.label_tag }}
        {{ form.finished_on }}
        {% if form.finished_on.errors %}
        <div class="errors">
            {{ form.finished_on.errors }}
        </div>
        {% endif %}
    </div>
    <div class="field datefield">
        {{ form.aborted_on.label_tag }}
        {{ form.aborted_on }}
        {% if form.aborted_on.errors %}
        <div class="errors">
            {{ form.aborted_on.errors }}
        </div>
        {% endif %}
    </div>
    <div class="field checkbox">
        {{ form.extension_of_vote.label_tag }}
        {{ form.extension_of_vote }}
        {% if form.extension_of_vote.errors %}
        <div class="errors">
            {{ form.extension_of_vote.errors }}
        </div>
        {% endif %}
    </div>
{% endblock %}