{% extends 'db/xhtml2pdf/skeleton.html' %}

{% block title %}Einladung zur Sitzung der Ethik-Kommission am {{ meeting.start|date:'d.n.Y' }} {% endblock %}

{% block content %}
    {% load core %}
    {% include 'db/xhtml2pdf/ec_head.inc' %}
    <div align="center" style="font-weight:bold;font-size:large;">
    Sehr geehrte/r Frau/Herr {{ recipient }}, <br />
    sie sind eingeladen für die Sitzung der Ethik-Kommission am<br />
    {{ meeting.start|date:'d.m.Y, H:i' }} Uhr, sine tempore<br />
    im B&uuml;ro der Ethik-Kommission, Borschkegasse 8b/6. Stock, 1090 Wien<br />
    </div>
    
    Anbei finden sie die vorläufige Agenda.<br />
    <br />
    Mit freundlichen Grüßen,<br />
       Ethikkommission der MedUni wien<br />
    
{% endblock %}


