{% extends "core.html" %}

{% block menuSelection %}overview{% endblock %}

{% block htmltitle %}ECS Dashboard{% endblock %}

{% block headertitle %}
    <h1>Dashboard</h1>
{% endblock %}

{% block content %}
  <div class="form main">
    {% include "dashboard/messages.inc" %}
    {% include "dashboard/tasks.inc" %}
  </div>
{% endblock %}

{% block jsbottom %}
  {{ block.super }}
  <script type="text/javascript">
    window.addEvent('domready', function(){
        $$('a.popup').each(function(link){
            link.addEvent('click', function(){
                new MooDialog.Iframe(link.href, {
                    title: 'Nachricht',
                    size: {width: 700, height: 400}
                });
                return false;
            });
        });
    });
  </script>
{% endblock %}

