/* general colors */

$dark-grey: #333;
$light-grey: #999;
$grey: #666;
$cold-grey: #ccc;

$link-blue: #2B558E;

$red: #ff0000;

/* general background colors */

$light-brown-bg: #F8F8EF;
$middle-light-brown-bg: #EFEFDD; // used e.g. for zebra odd
$middle-dark-brown-bg: #E8E8D8; // used e.g. for zebra even
$light-blue: #D8E6EF; // used for header backgrounds


/* border colors */

$light-brown-border: #EBDFC3;

/* navigation colors */

$mainnav-bg: #B7D4E5;
$link-lightblue: #E2EAF0;

$navitem-error-red-bg: #FB6464;
$navitem-error-orange-bg: #FF8000;

$readonly-mainnav-bg: #C7C5BB;
$readonly-navitem-bg: #DDDAC8;
$readonly-navitem-sub-active: #F2F0E5;


/* error colors */

$error-red: ;
$error-orange: ;