/* user administration */

.administration_detail .useradministration_choose li {
  list-style: none;
}
.administration_detail .user_list {
  margin-top: 30px;
}
.administration_detail .user_list tr:nth-child(2n+1) {
  background-color: #ffffdf;
  border: 1px solid black;
}
.administration_detail .user_list tr:nth-child(2n) {
  background-color: #efefd1;
}
.administration_detail .user_list tr td {
  padding: 0px 10px;
}

