/* user administration */

#content .administration_detail ul {
	margin: 0 0 20px;
	padding: 5px;
}
.administration_detail .useradministration_choose li {
  list-style: none;
	margin-bottom: 5px;
}
.useradministration_choose label {
  font-weight: bolder;
}
.administration_detail .user_list {
  margin: 30px 0px;
}
.administration_detail .user_list th {
  background: #ebe8d0;
  border-bottom: 1px solid #eddfbf;
}
.administration_detail .user_list td {
  border-bottom: 1px solid #eddfbf;
}
.administration_detail .user_list tr td {
  padding: 0px 10px;
}
.useradministration_choose label {
	display: inline-block;
	width: 100px;
}
.useradministration_choose input[type=submit] {
  margin-left: 102px;
}
