/* user administration */

#content .administration_detail ul {
	margin: 0 0 20px;
	padding: 5px;
}
.administration_detail .useradministration_choose li {
  list-style: none;
	margin-bottom: 5px;
}
.administration_detail .user_list {
  margin: 30px 0px;
}
.administration_detail .user_list th {
  background: #eee;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.administration_detail .user_list td {
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.administration_detail .user_list tr:nth-child(2n+1) {
  background-color: #ffffdf;
  border: 1px solid black;
}
.administration_detail .user_list tr:nth-child(2n) {
  background-color: #efefd1;
}
.administration_detail .user_list tr td {
  padding: 0px 10px;
}
.useradministration_choose label {
	display: inline-block;
	width: 100px;
}
