@import "ecs/variables.scss";

.ecs-Autocomplete{
    position: relative;
    
    .choices {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 20px;
        height: auto;
        z-index: 1000;
        color: $black;
        background: $middle-dark-brown-bg;
        border: 1px solid #B7B7B7;
        min-width: 300px;
        max-width: 500px;
        
        & > div {
            display: block;
            padding: 3px 5px;
            color: $grey-20;
            border-bottom: 1px solid #B7B7B7;
            
            &:hover, &.highlight{
                background: $grey-20;
                color: $white;
                cursor: pointer;
            }
        }
    }
    
    .message_display .input li & {
        display: inline-block;
    }
}

/* textbox list mods */

#content .textboxlist {
  display: inline-block;
  width: 250px;
}
#task_main .textboxlist {
  width: auto;
}
#content .textboxlist ul {
  margin: 0;
}
.textboxlist-bits {
  border: 1px solid #B7B7B7;
}
.textboxlist-autocomplete-result {
  background: $middle-dark-brown-bg;
  border-bottom: 1px solid #B7B7B7;
}
li.textboxlist-bit-box:nth-child(odd) ,
li.textboxlist-bit-box:nth-child(even) {
  background: $middle-dark-brown-bg;
}
li.textboxlist-bit-box {
  padding: 0 20px 0 5px;
}

#task_main li.textboxlist-autocomplete-result,
.form_main.readonly li.textboxlist-autocomplete-result {
  float: none;
  display: block;
  margin-bottom: 0;
}
.message_display li.textboxlist-bit {
  padding-right: 20px;
}
.textboxlist-autocomplete {
  z-index: 100;
}
#content .textboxlist-autocomplete-result-focus {
  background: $grey-20;
  color: $white;
}
#content .textboxlist-autocomplete-highlight {
  color: $grey-20;
}
.textboxlist-autocomplete,
#task_main .textboxlist-autocomplete {
  min-width: 300px !important;
}
