.ecs-Autocomplete{
    position: relative;
    
    .choices {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 20px;
        height: auto;
        z-index: 1000;
        color: #000;
        background: #E8E8D8;
        border: 1px solid #B7B7B7;
        min-width: 300px;
        max-width: 500px;
        
        & > div {
            display: block;
            padding: 3px 5px;
            color: #333;
            border-bottom: 1px solid #B7B7B7;
            
            &:hover, &.highlight{
                background: #333;
                color: #fff;
            }
        }
    }
    
    .message_display .input li & {
        display: inline-block;
    }
}
