
.ecs-Autocomplete{
    position: relative;
}

.ecs-Autocomplete .choices{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 20px;
    height: auto;
    z-index: 1000;
    background-color: #fff;
    color: #000;
}

.ecs-Autocomplete .choices > div{
    padding: 2px;
    color: #666;
}

.ecs-Autocomplete .choices > div:hover{
    color: #000;
}

.ecs-Autocomplete .choices > div.highlight{
    background-color: #CCD9E6;
}