/* margin and padding to zero, because of ecaxt aligning tags */

* {
  margin: 0;
  padding: 0;
	vertical-align: baseline;
}


/* structure */

body {
  background: white;
  overflow: auto;
}
#container {
  position: absolute;
  width: 100%;
  height: 100%;
}
#header {
  position: absolute;
  right: 220px;
  top: 0;
  left: 0;
  z-index: 101;
  background: #d8e6ef;
  padding: 10px;
  display: block;
  border-bottom: 1px solid #B5CFDF;
}
#headertitle {
  float: left;
  width: 90%;
  display: block;
  margin-bottom: 5px;
  text-shadow: 0 1px 2px #fff;
}
#headernav {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  background: #d8e6ef;
  font-size: 14px;
}
#content {
  position: absolute;
  top: 41px;
  right: 220px;
  bottom: 0px;
  left: 0px;
  display: block;
  background: #fff;
  overflow-x: hidden;
  overflow-y: auto;
}
.innerwrap {
  display: block;
  margin: 10px;
  padding: 10px;
  border: 1px solid #d8e6ef;
  background: #f9feff;
  min-width: 700px;
}
#sidebar {
  position: absolute;
  top: 0;
  bottom: 0; 
  right: 0;
  width: 220px; /*Width of frame div*/
  height: 100%;
  overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
  color: #333;
  background: #f6f6e9;
}

/* content-specific */

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
#content h1 {
  display: block;
  font-size: 20px;
  letter-spacing: 1px;  
  margin-bottom: 20px;
  font-weight: lighter;
}
#content h2, #task_main h2 {
  display: block;
  font-size: 18px;
  letter-spacing: 1px;  
  margin-bottom: 20px;
  font-weight: lighter;
}
#content h3, #task_main h3 {
  position: relative;
  display: block;
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 10px;
}
#content h4 {
  display: block;
  font-size: 14px;
	font-weight: lighter;
  margin-bottom: 5px;
}
#content h5 {
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
}
.form_main h3 {
  padding: 10px;
  margin: -10px -10px 0;
  background: #f4fafb;
  border-bottom: 1px solid #d8e6ef;
}
#content p {
  margin-bottom: 20px;
}
#content a {
  text-decoration: none;
  color: #2b558e;
}
#content a:hover {
  text-decoration: underline;
}
a {
  outline: 0;
	cursor: pointer;
}
#content ul {
  margin: 0 0 20px 30px;
}
input, textarea, #content select {
  border: 1px solid #999;
  padding: 2px;
  font-family: Arial, Helvetica, sans-serif;
}
select {
  border: 1px solid #999;
  font-family: Arial, Helvetica, sans-serif;
}
#content table {
  margin: 0 0 10px 0;
}
#content table, #content th, #content td {
  text-align: left;
}
#content th, #content td {
  padding: 2px 3px;
	vertical-align: top;
}
input[type=submit], .cancel a {
  display: block;
  color: #fff;
  background: #333;
  cursor: pointer;
  padding: 3px 5px;
  margin-top: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
input[type=submit]:active, .cancel a:active {
  background: #eee;
  color: #333;
}
#content .cancel a {
  color: #fff;
  font-size: 12px;
  vertical-align: middle;
  line-height: 18px;
  margin-top: 10px;
  border: 1px solid #999;
}
#content .cancel a:hover {
  text-decoration: none;
}

/* header */

#header {
  color: #333;
  background: #D8E6EF;
}
#header h1 {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  letter-spacing: 1px;
}

/* sidebar */

#logo, #account, #usertoolbar, #usermenu {
  width: 200px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
#logo {
  height: 53px;
  background: #fff;
}
#account {
  min-height: 80px;
}
#usertoolbar {
  min-height: 10px;
  background: #ededdc;
}
#usermenu {
  min-height: 300px;
  border-bottom: none;
}
#usermenu .elements {
  display: none;
}
#sidebar ul {
  list-style-type: none;
}
#sidebar li {
	font-size: 14px;
  line-height: 22px;
}
#sidebar li li {
  margin-left: 10px;
  font-size: 10pt;
  border-left: 1px solid #e3e3bf;
}
#sidebar img {
  border: none;
}
#sidebar p {
  margin: 10px 0;
}
#sidebar a, #sidebar .togglers  {
  text-decoration: none;
  color: #2b558e;
}
#toggle_sidebar_button {
  position: absolute;
  top: 223px;
  right: 20px;
  z-index: 200;
}
#toggle_sidebar_button a.toggle_sidebar {
  width: 24px;
  height: 22px;
  display: block;
  text-indent: -9999px;
	background: url(/static/images/icons.png) -324px -135px no-repeat;
	border: 1px solid #666;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}


/* general links */

#sidebar a, a img {
  text-decoration: none;
  border: none !important;
}

.profile_data td, .profile_data th {
  vertical-align: top;
}

/* fullscreen editor */

.ecs-DragDropFrameOverlay {
  background-color: #ff0000;
  opacity: 0.5;
  position: absolute;
}
.ecs-FullscreenEditor {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #cccccc;
  z-index: 1000001;
}
.ecs-FullscreenEditor textarea {
  width: 90%;
  height: 90%;
  margin: 20px;
  background-color: #ffffff;
}
.ecs-FullscreenEditor .ecs-TextAreaToolbar {
  margin: 20px 20px 0;
}
