/* margin and padding to zero, because of ecaxt aligning tags */
* {
  margin: 0;
  padding: 0;
}


/* structure */

body {
  background: white;
  overflow: hidden;
  height: 100%; 
  max-height: 100%;
}
#header {
  position: absolute;
  right: 220px;
  top: 0;
  left: 0;
  min-height: 100px;
  z-index: 101;
  background: #d8e6ef;
  padding: 10px 10px 0;
  display: block;
}
#headertitle {
  float: left;
  width: 85%;
  display: block;
}
#headertext {
  float: left;
  width: 85%;
  display: block;
}
#headernav {
  float: left;
  display: block;
  width: 85%;
  padding: 5px 0;
  background: #d8e6ef;
  font-size: 11pt;
}
*html #header, *html #headernav  {
  width: 100%;
}
#content {
  position: absolute;
  top: 100px;
  right: 220px;
  bottom: 0;
  left: 0;
  background: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px;
}

#sidebar {
  position: absolute;
  top: 0;
  bottom: 0; 
  right: 0;
  width: 220px; /*Width of frame div*/
  height: 100%;
  overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
  color: #333;
  background: #f6f6e9;
}

#logo, #account, #usertoolbar, #usermenu {
  width: 200px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
#logo {
  height: 53px;
  background: #fff;
}
#account {
  background: #f5f5d2;
  min-height: 80px;
}
#usertoolbar {
  min-height: 10px;
}
#usermenu {
  background: #f5f5d2;
  min-height: 300px;
}

#usermenu .elements {
  display: none;
}


/* content-specific */

body {
  font-family: Arial, Helvetica, sans-serif;
}
#content h1 {
  display: block;
  font-size: 1.6em;
  margin-bottom: 20px;
  font-weight: lighter;
}
#content h2 {
  display: block;
  font-size: 1.4em;
  margin-bottom: 20px;
  font-weight: lighter;
}
#content h3 {
  display: block;
  font-size: 1.2em;
  font-weight: lighter;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}
#content h4 {
  display: block;
  font-size: 1em;
  margin-bottom: 10px;
}
#content p {
  margin-bottom: 20px;
}
#content a {
  text-decoration: none;
  color: #2b558e;
}
#content a:hover {
  text-decoration: underline;
}


/* header */

#header {
  color: #333;
  background: #D8E6EF;
}
#headertitle h1 {
  font-size: 12pt;
  margin-bottom: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#headertext p {
  font-size: 10pt;
  line-height: 14pt;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* sidebar */

#sidebar ul {
  list-style-type: none;
}
#sidebar li {
  line-height: 16pt;
}
#sidebar li li {
  margin-left: 15px;
}
#sidebar img {
  border: none;
}
#sidebar p {
  margin: 10px 0;
}
#sidebar a {
  text-decoration: none;
  color: #2b558e;
}



/* general links */

#sidebar a, a img {
  text-decoration: none;
  border: none !important;
}

