@import "ecs/variables.scss";

/* structure */

body {
    background: white;
    overflow: auto;
}

#header {
    z-index: 101;
    background: $lightblue;
    padding: 10px;
    border-bottom: 1px solid #B5CFDF;
    position: relative;
}

#headertitle {
    width: 86.5%;
    display: block;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: normal;
}

#headernav {
    position: relative;
    display: block;
    width: 100%;
    background: $lightblue;
    font-size: 14px;
}

/* general content-specific */

#content {
    background: $white;
}

#content h2 {
    margin-bottom: 1rem;
}

.innerwrap img,
.innerwrap a img {
    margin: 0 0 1rem 1rem;
}

.inline_formset td {
    padding: 0;
}

ol {
    @include field-list;
}

/* input fields and buttons */

input:not(.form-control):not(.btn),
input[type=file]:not(.form-control),
textarea:not(.form-control),
select:not(.form-control) {
    border: 1px solid #b7b7b7;
}

input[type=submit]:not(.btn),
.cancel a,
a.button_submit,
#content a.button_submit {
    display: inline-block;
    color: $grey-20;
    background: #ddd url(/static/images/button_bg.png) repeat-x;
    cursor: pointer;
    border: 1px solid #bbb;
    border-radius: 3px;
}

input[type=submit]:not(.btn):active,
#content .cancel a:active,
a.button_submit:active,
#content a.button_submit:active {
    background: #ddd url(/static/images/button_active_bg.png) repeat-x;
}
.cancel {
    display: block;
}

input[type=submit]:not(.btn):hover,
#content .cancel a:hover,
a.button_submit:hover,
#content a.button_submit:hover {
    text-decoration: none;
    border: 1px solid $grey-60;
}

.profile_data td, .profile_data th {
    vertical-align: top;
}

.form_main .cancel a {
    margin-left: 240px;
}
