@import "ecs/variables.scss";

.billing_list {
    margin-bottom: 20px;
    
    li {
       clear: both;
       display: block;
       padding: 5px 8px; 
    }
    
    input[type=checkbox] {
        display: block;
        float: left;
    }

    .indent {
        display: block;
        margin-left: 20px;
        vertical-align: top;
    }
}

