#boilerplate textarea {
  width: 400px;
}
#boilerplate input[type=submit] {
  margin-left: 50px;
}
.boilerplate_selector {
  display: none;
  position: absolute;
  width: 300px;
  height: auto;
  left: 240px;
  background: #fff;
  border: 3px solid #B7D4E5;
}
.boilerplate_selector a {
  display: block;
  color: #000;
  max-height: 30px;
  overflow: hidden;
  padding: 2px;
}
.boilerplate_selector a:nth-child(2n) {
  background: #eee;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.boilerplate_selector a:hover {
  text-decoration: none;
  background: #B7D4E5;
}
.boilerplate_selector .resultlist {
  max-height: 200px;
  overflow: auto;
}
.boilerplate_selector input[type=text] {
  width: 290px;
  height: 20px;
  padding: 5px;
  display: block;
}
.boilerplate {
  margin: 20px 0;
}
#content .boilerplate h4 {
  display: inline-block;
  font-size: 16px;
}
.boilerplate_text {
  padding: 10px;
  border: 1px solid #999;
  background: #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px
}
