@import "ecs/variables.scss";

#thread_list_filter {
    display: flex;
    justify-content: space-around;
}

/* Communication Thread */

.communication_thread {
    .card.message pre.card-text {
        white-space: pre-wrap;
    }
}
