* {
  margin: 0;
  padding: 0;
}
.form_main .message ol li {
  display: block;
  clear: both;
  list-style-type: none;
  margin-bottom: 10px;
  font-size: 9pt;
}
.form_main .message ol li label {
  display: block;
  width: 100px;
  margin: 0 10px 10px 0;
  text-align: right;
  float: left;
}
.form_main .message ol li textarea {
  height: 16em;
  display: block;
  width: 30em;
}
.form_main .message input, .form_main message textarea {
  border: 1px solid #999;
  padding: 2px;
}
.message_display {
  display: block;
}
.message_display form {
  width: 500px;
}
.message_display .item {
  position: relative;
}
.message_display ol {
	margin-top: 10px;
}
.message_display ol li {
  list-style: none;
	padding: 3px 5px;
}
.message_display li {
  margin-bottom: 2px;
}
.message_display h3 {
  display: block;
  font-weight: lighter;
  margin-bottom: 10px;
}
.message_display label {
  display: inline-block;
  width: 100px;
  font-weight: bolder;
  vertical-align: top;
}
.message_display .actions {
  width: 20px;
  height: 70px;
  position: absolute;
  right: 0px;
  top: 0;
  padding: 10px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.message_display pre {
  margin: 10px 0;
  padding: 10px;
  background: #fff;
  border: 1px solid #C6C9CB;
  -moz-box-shadow: 1px 1px 0 #d8d8d8;
}
.message_display .actions a {
  display: inline-block;
  margin-bottom: 5px;
}
.message_display img, .messages_overview img {
  vertical-align: middle;
}
.thread_list_choose {
	margin-bottom: 10px;
}
table.messages .threadstart {
  border-top: 1px solid #cccccc;
}
#content .messages_header, #content .messages th, #content .messages td {
  padding: 5px;
}


/* icons */

.icon_read, .icon_bump, .icon_answer, .icon_delegate, .icon_done, .icon_sort {
  display: inline-block;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
}
.icon_read {
  background: url(/static/images/icons.png) -160px -128px no-repeat;
}
.icon_bump {
  background: url(/static/images/icons.png) -240px -128px no-repeat;
}
.icon_answer {
  background: url(/static/images/icons.png) -160px -64px no-repeat;
}
.icon_delegate {
  background: url(/static/images/icons.png) -240px -208px no-repeat;
}
.icon_done {
  background: url(/static/images/icons.png) -0 -160px no-repeat;
}
.icon_sort {
  background: url(/static/images/icons.png) 0 -208px no-repeat;
}
