* {
  margin: 0;
  padding: 0;
}
.form_main .message ol li {
  display: block;
  clear: both;
  list-style-type: none;
  margin-bottom: 10px;
  font-size: 12px;
}
.form_main .message ol li label {
  display: block;
  width: 100px;
  margin: 0 10px 10px 0;
  text-align: right;
  float: left;
}
.form_main .message ol li textarea {
  height: 16em;
  display: block;
  width: 30em;
}
.form_main .message input, .form_main message textarea {
  border: 1px solid #999;
  padding: 2px;
}
.message_display {
  display: block;
}
.message_display form {
  width: 100%;
  padding: 10px 0;
}
.message_display #id_subject {
  width: 400px;
}
.message_display #id_text, .communication_thread #id_text {
  display: block;
  width: 500px;
  min-height: 180px;
}
.message_display .form #id_text {
  margin-left: 100px;
}
.message_display .item {
  position: relative;
}
.message_display ol {
	margin-top: 10px;
}
.message_display ol li {
  list-style: none;
	padding: 3px 5px;
}
.message_display li {
  margin-bottom: 2px;
}
.message_display h3 {
  display: block;
  font-weight: lighter;
  margin-bottom: 10px;
}
.message_display label {
  display: inline-block;
  font-weight: bolder;
  vertical-align: middle;
  min-width: 100px;
}
.message_display .actions {
  width: 20px;
  height: 70px;
  position: absolute;
  right: 0px;
  top: 0;
  padding: 10px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.message_display pre {
  margin: 10px 0;
  padding: 10px;
  background: #fff;
  border: 1px solid #C6C9CB;
  -moz-box-shadow: 1px 1px 0 #d8d8d8;
}
.message_display .actions a {
  display: inline-block;
  margin-bottom: 5px;
}
.message_display img, .messages_overview img {
  vertical-align: middle;
}
.message_display select {
  display: inline-block;
  margin-left: 10px;
}
.message_display .ecs-TextAreaToolbar {
  display: inline-block;
}
#content .message_display .form ul {
  display: inline-block;
  margin: 0;
}
.message_display .form .input {
  display: inline-block;
}
.thread_list_choose {
	margin-bottom: 10px;
}
table.messages .threadstart {
  border-top: 1px solid #cccccc;
}
#content .messages_header, #content .messages th, #content .messages td {
  padding: 5px;
}

/* icons */

.icon_read, .icon_bump, .icon_answer, .icon_delegate, .icon_done, .icon_sort, .icon_send {
  display: inline-block;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
}
.icon_read {
  background: url(/static/images/icons.png) -160px -128px no-repeat;
}
.icon_bump {
  background: url(/static/images/icons.png) -240px -128px no-repeat;
}
.icon_answer {
  background: url(/static/images/icons.png) -160px -64px no-repeat;
}
.icon_delegate {
  background: url(/static/images/icons.png) -240px -208px no-repeat;
}
.icon_done {
  background: url(/static/images/icons.png) -0 -160px no-repeat;
}
.icon_sort {
  background: url(/static/images/icons.png) 0 -208px no-repeat;
}
.icon_send {
  background: url(/static/images/icons.png) -160px -48px no-repeat;
}

/* Communication Thread */

#communication_tab .messages li {
  padding: 2px 5px;
}
ul.thread {
  list-style-type: none;
  margin: 20px 0px !important;
}

.thread > .message {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #fff;
  border: 1px solid #999;
  padding: 10px;
  margin-bottom: 2px;
}
.thread > .message.collapsed {
  border-radius-bottom-left: 0px;
  border-radius-bottom-right: 0px;
  -webkit-border-radius-bottom-left: 0px;
  -webkit-border-radius-bottom-right: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0px;
  margin-bottom: -5px;
}

/* head */

.thread > .message > .head {
  border-bottom: 1px solid #999;
  cursor: pointer;
}
.thread > .message.collapsed > .head {
    border: none;
}
.thread > .message > .head > .preview_text {
  margin-left: 5px;
  color: #777;
}
.thread > .message > .head > .time {
  float: right;
  color: #777;
}
.thread > .message > .head > .preview_text {
  display: none;
}
.thread > .message.collapsed > .head > .preview_text {
  display: inline;
}

/* body */

.thread > .message > .body {
  margin-top: 10px;
  white-space: pre-wrap;
  overflow: hidden;
}
.thread > .message.collapsed > .body {
  display: none;
}
.communication_thread form.send {
  margin: 20px 0px;
}
.communication_thread .expand_collapse {
  float: right;
  margin-top: -15px;
}


