@import "ecs/variables.scss";

.message_display {
    .ecs-TextAreaToolbar {
        display: inline-block;
        margin-left: 10px;
        vertical-align: bottom;

        a {
            margin: 0 10px 0 0;
        }
    }
}


#thread_list_filter,
.thread_list_choose,
.messages_header .sort_options {
    display: inline;
}
.thread_list_choose,
.messages_header .sort_options {
    margin-right: 10px;
    background: $beige;
    border-radius: 3px;
}
.thread_list_choose {
    padding: 7px 3px 5px 8px;
}
.messages_header .sort_options {
    padding: 7px 8px 5px;
}
.thread_list_choose label {
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}


/* Communication Thread */

.communication_thread {
    .related_thread {
        display: block;
        text-align: left;
        margin: -15px 10px 0 0;
    }
    .ecs-TextAreaToolbar {
        display: inline-block;
        margin-left: 10px;
        vertical-align: bottom;
    }
    .card.message pre.card-text {
        white-space: pre-wrap;
    }
}
