/* headernav */

.tab_header_groups {
  position: relative;
  margin-bottom: 0;
}
.tab_header_groups li {
  display: inline-block;
  line-height: 24px;
}
.tab_headers {
  position: absolute;
  left: 0;
  line-height: 30px;
  background: #B7D4E5;
  width: 84%;
  padding: 2px 5px;
  border-radius: 0 5px 5px 5px;
  -moz-border-radius: 0 5px 5px 5px;
  -webkit-border-radius: 0 5px 5px 5px;
}
.tab_header_groups li a {
  text-decoration: none;
  padding: 4px 7px;
  background: #f4f4f4;
  color: #2b558e;
	font-weight: bolder;
  margin-right: 3px;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  text-shadow: 0 1px 2px #fff;
}
.tab_headers li a, #headernav li.readonly_review a {
  text-decoration: none;
  padding: 3px 5px;
  border: 1px solid #b7d4e5;
  background: #e2eaf0;
  color: #2b558e;
	font-weight: normal;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-shadow: 0 0 0 #fff;
}
.tab_header_groups li a.active {
  background: #b7d4e5;
  color: #2b558e;
}
.tab_headers .active a, #headernav li.readonly_review.active a {
  background: #2b558e;
  border-bottom: #2b558e;
  color: #e2eaf0;
}
.tab_header_groups li a.errors {
  background: #fb6464;
  color: #fff !important;
  border: 1px solid #ff0000;
  text-shadow: 0 1px 2px #FB6464;
}
.tab_header_groups a.active.errors, .tab_headers .active.errors a {
  color: #fff;
  background: #ff8000;
}
.tab_headers li a.delete_row {
  border: none;
  background: url(/static/images/icons.png) 0 -128px no-repeat;
  width: 16px;
  height: 16px;
  padding: 0px;
  position: relative;
  top: 3px;
  display: inline-block;
  overflow: hidden;
  text-indent: -1000px;
}
.tab_headers .errors a {
  background: #fb6464;
  color: #fff !important;
  border: 1px solid #ff0000;
}
.tab_headers .disabled a {
  background-color: #ccccdd;
  color: #999999;
}
.header_actions {
  position: absolute;
  right: 10px;
  top: 0;
  padding: 5px;
  display: block;
  width: 100px;
  text-align: center;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.header_actions a {
  padding: 2px 3px;
  margin-bottom: 3px;
  display: block;
  cursor: pointer;
  z-index: 100;
  color: #333;
  font-size: 12px;
  text-decoration: none;
  background: #f4f4f4;
  border: 1px solid #999;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.header_actions a:active {
  background: #eee;
}
.header_actions a:hover {
  text-decoration: none;
}
.header_actions .button_save {
  background: #f4f4f4;
  border: 1px solid #999;  
}
.header_actions .button_save_change {
  background: #999;
  border: 1px solid #666;  
}
.header_actions .button_validate {
  background: #f4f4f4;
  border: 1px solid #999;
}
.header_actions .button_validate_valid_error {
  background: #f84205;
  border: 1px solid #d03704;  
}
.header_actions .button_validate_valid {
  background: #71ce09;
  border: 1px solid #5ca907;  
}
.header_actions .button_submit {
  background: #54aade;
  border: 1px solid #7bc4f0;
}
.header_actions .button_submit_valid {
  background: #84cefb;
  border: 1px solid #61b6e9;
}

/* readonly */

.readonly input[disabled], .readonly textarea[disabled], .readonly select[disabled], .readonly .rte_display {
  color: #333;
  background: #e4e4e4;
  font-family: Arial, Helvetica, sans-serif;
}
.readonly .tab_header_groups li a {
  text-decoration: none;
  padding: 4px 7px;
  color: #cfcfcf;
  background: #666;
  margin-right: 3px;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  text-shadow: 0 1px 2px #333;
}
.readonly .tab_header_groups li a.active {
  background: #C7C5BB;
  color: #333;
  text-shadow: 0 1px 2px #fff;
}
.readonly .tab_headers {
  position: absolute;
  left: 0;
  line-height: 30px;
  background: #C7C5BB;
  width: 86%;
  padding: 2px 5px;
  border-radius: 0 5px 5px 5px;
  -moz-border-radius: 0 5px 5px 5px;
  -webkit-border-radius: 0 5px 5px 5px;
}
.readonly .tab_headers li a {
  text-decoration: none;
  padding: 3px 5px;
  border: 1px solid #bbb;
  background: #dddac8;
  color: #333;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-shadow: 0 0 0 #fff;
}
.readonly .tab_headers li.active a {
  border: 1px solid #bbb;
  background: #f2f0e5;
  color: #333;
}
.checklist_review_tab textarea {
  margin-left: 240px;
} 
.readonly .checklist_review_tab textarea {
  margin-left: 0;
} 
.checklist_review_tab input {
  display: none;
}

/* sidebar */

#logo small {
  position: absolute;
  top: 57px;
  right: 5px;
	left: 10px;
  z-index: 1000;
  width: 215px;
}
#account {
  font-size: 14px;
}
.user_data {
  display: block;
  float: left;
  margin-bottom: 10px;
}
.user_icon {
  float: left;
  width: 30px;
}
.user_name {
  position: relative;
  float: left;
  width: 163px;
  height: 43px;
}
.user_logout {
  position: absolute;
  top: 30px;
  right: 10px;
}
#sidebar .user_logout a {
  color: #800000;
	font-size: 13px;
}
.icon_help, .icon_feedback, .icon_workflow, .user_icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  margin-right: 3px;
}
.icon_help {
  background: url(/static/images/icons.png) -320px -160px no-repeat;
}
.icon_feedback {
  background: url(/static/images/icons.png) -320px -32px no-repeat;
  margin-left: 3px;
}
.icon_workflow {
  background: url(/static/images/icons.png) -320px -64px no-repeat;
}
.icon_diff {
  display: inline-block;
  width: 16px;
  height: 16px;
  padding-right: 5px;
  background: url(/static/images/icons.png) -80px -240px no-repeat;
}
.user_icon {
  background: url(/static/images/icons.png) -320px 0 no-repeat;
}
.togglers, .main_item {
  display: block;
  cursor: pointer;
  border-bottom: 1px solid #e3e3bf;
}
.togglers {
   padding: 1px 3px;
}
#usermenu a {
  display: block;
  padding: 1px 3px;
}
#usermenu a:hover, .togglers:hover {
  background: #e3e3bf;
}
.searchbox {
  display: block;
  width: 190px;
  float: left;
  margin-bottom: 10px;
}
.searchbox input[type=text] {
  display: inline-block;
  width: 150px;
}
.searchbox input[type=submit] {
  float: right;
  display: inline-block;
  width: 26px;
  height: 22px;
  margin: 0;
  background: #ccc url(/static/images/icons.png) -324px -198px no-repeat;
  border: 1px solid #999;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  text-indent: -9999px;
}
#userswitcher_form select {
  width: 190px;
  font-size: 10pt;
}

/* table border definitions */

/*
#status_tab table, #involved_parties_tab table, .messages table, .meeting_detail table, .task_back_log table, .profile table, table.notif_meta table, table.notification table {
  background: #fff;
} 
*/
#status_tab th, #involved_parties_tab th, .messages th, .meeting_detail th, .task_back_log th, .profile th, table.notif_meta th, table.notification th {
  background-color: #ebe8d0;
  border-bottom: 1px solid #eddfbf;
  border-collapse: collapse;
}
#status_tab td, #involved_parties_tab td, .messages td, .meeting_detail td, .task_back_log td, .profile td, table.notif_meta td, table.notification td {
  border-bottom: 1px solid #eddfbf;
}
.task_back_log tr.closed td {
  color: #999;
}
.task_back_log tr.deleted {
  color: #ff0000;
  text-decoration: line-through;
}
.task_back_log tr.deleted td {
  color: #999;
}
#content #status_tab table table {
  margin: -3px 0 3px;
}

/* content */

li.ModelChoiceField select {
  width: 20em;
}
td.TypedChoiceField select {
  width: 6em;
}
li.TypedChoiceField select {
  width: 12em;
}
li.NullBooleanField select {
  width: 8em;
}
li.TypedChoiceField ul{
  float: left;
}
li.TypedChoiceField ul > li label{
  float: none;
  margin-left: none;
}
.paginator {
  margin: 5px 0 15px 10px;
  display: block;
}
.paginator img {
  vertical-align: middle;
}
#upload_button {
  float: right;
  background: #333;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}

/* form layout */

.form_main #tabs {
  clear: both;
}
.form_main .field {
  margin-bottom: 30px;
}
.form_main .field h2, .form_main .tab h2, .form_main .field h3, .form_main .tab h3 {
  letter-spacing: 1px;
  line-break: normal;
}
.form_main table, .form_main ol, .form_main select, .form_main option, .form_main input, .form_main textarea {
  font-size: 12px;
}
.form_main ol {
  display: inline-block;
  width: 100%;
}
.form_main ol li {
  display: block;
  clear: both;
}
.form_main ol li textarea {
  height: 40px;
}
.form_main ol li label, .form_main ol li input[type=text], .form_main ol li textarea, .form_main ol li select {
  float: left;
  display: block;
	margin-bottom: 10px;
}
.form_main ol li.focus {
  background-color: #eeeeff;
}
.form_main ol li label {
  width: 220px;
  padding: 0 10px;
  text-align: right;
}
.form_main th.label {
  text-align: left;
}
.errorlist {
  clear: both;
  list-style-type: none;
}
.form_main ul.errorlist li {
  margin-left: 220px;
  margin-bottom: 5px;
  color: #ff0000;
}
.errorlist li {
  color: #ff0000;
  padding: 5px;
  border: 1px solid #ff0000;
  max-width: 250px;
}
.form_main table td li {
  margin: 0px;
  float: none;
}
.form_main ol li.BooleanField {
  padding-left: 240px;
}
.form_main ol li.BooleanField label {
  width: 400px;
  display: inline-block;
  float: none;
  padding-left: 1em;
  text-align: left;
}
.form_main ol li.BooleanField label:after {
  content: none;
}
.form_main ol li.BooleanField input {
  display: inline-block;
  float: left;
}
.form_main .field input.subchoice {
  margin-left: 30px;
}
.form_main ol li div.input {
  float: left;
}
.form_main ol li .notes {
  font-size: 0.9em;
  color: #666666;
  padding-left: 10px;
}
.form_main th.label .notes {
  display: block;
}
.form_main ol li .help_text {
  margin: 0 0 10px 230px;
  display: block;
  clear: both;
  color: #666;
  padding-left: 10px;
}
.form_main ol li.BooleanField .help_text {
  clear: both;
  margin: 10px 0 0 20px;
  height: 15px;
  display: block;
  clear: both;
  color: #666;
}
.inline_formset .form {
  position: relative;
  margin-top: 20px;
}
#content .inline_formset td {
	padding: 0;
}
.form ol {
  margin: 10px;
  list-style-type: none;
}
.form .notes {
  margin: 0 5px;
}
tr.form td {
  vertical-align: top;
}
.form_main .investigator .field a.delete_row,
.inline_formset .form a.delete_row {
  background: url(/static/images/icons.png) -240px -336px no-repeat;
  height: 16px;
  width: 20px;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  text-indent: -9999px;
  margin-left: -2px;
}
div.inline_formset .form a.delete_row {
  display: block;
  height: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.form_main a.add_row, #meeting_constraint_editor a.add_row {
  background: url(/static/images/icons.png) -240px -320px no-repeat;
  width: auto;
  height: 16px;
  /*display: inline-block;*/
  overflow: visible;
  cursor: pointer;
  text-indent: -9999px;
  padding-left: 20px;
}
table.inline_formset td {
  vertical-align: top;
}
.form_main table.inline_formset td ul.errorlist li {
  margin-left: 0px;
}
#content .form_main table.inline_formset td ul.errorlist {
  margin-left: 0px;
  width: 100%;
}
.required.errors textarea, .required.errors input[type=text], #content .required.errors select {
	border: 1px solid red;
}
#meeting_constraint_editor a.add_row {
  margin-left: 2px;
}

.form_main ul.investigator_list li a {
    text-decoration: none;
    color: #2b558e !important;
}
.form_main ul.investigator_list li.active a {
    color: #e2eaf0 !important;
}
.form_main ul.investigator_list li.readonly a {
    color: #333333 !important;
}
.form_main ul.investigator_list li.errors a {
    color: #ffffff !important;
}

.form_main .investigator_header {
  position: relative;
}
#content .form_main ul.investigator_list {
  margin: 0 0 0 -5px;
}
.form_main ul.investigator_list li {
  display: inline-block;
  margin: 2px;
  line-height: 20px;
  padding: 0px 5px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #B7D4E5;
  background-color: #e2eaf0;
}
#content .form_main ul.investigator_list li a:hover {
  text-decoration: none;
}

.form_main ul.investigator_list li.active {
  background-color: #2b558e;
}
.form_main ul.investigator_list li.readonly {
  border: 1px solid #bbbbbb;
  background-color: #dddac8;
}
.form_main ul.investigator_list li.readonly.active {
  background-color: #f2f0e5;
}
.form_main ul.investigator_list li.errors {
  border: 1px solid #ff0000;
  background-color: #fb6464;
}
.form_main ul.investigator_list li.errors.active {
  background-color: #ff8000;
}
.form_main .investigator_list_clear {
  height: 20px;
}
.form_main .investigator_list a.add_centre,
.form_main .investigator_header a.delete_row {
  display: inline-block;
  overflow: visible;
  width: auto;
  height: 16px;
  text-indent: 0px;
  margin-left: 0;
  padding-left: 20px;
  padding-right: 10px;
  cursor: pointer;
  line-height: 14px;
}
.form_main .investigator_list a.add_centre {
  background: url(/static/images/icons.png) -240px -320px no-repeat;
}
.form_main .investigator_header a.delete_row {
  background: url(/static/images/icons.png) -240px -336px no-repeat;
  position: absolute;
  top: 13px;
  left: 150px;
  padding: 0 5px 0 20px;
}

fieldset.disabled {
  display: none;
}
.form_main ol li .mooeditable-container {
  border: 1px solid #666666;
  margin-left: 240px;
  overflow: hidden;
}
.form_main ol li .mooeditable-ui-toolbar .toolbar-item,
.form_main ol li .mooeditable-ui-toolbar .toolbar-separator {
  margin-left: 0px;
}
.form_main ol li .mooeditable-iframe{
}
.form_main ol li .rte_display {
  display: block;
  width: 350px;
  margin-left: 240px;
  padding: 10px;
  margin-bottom: 10px;
  min-height: 60px;
  background-color: #fff;
  border: 1px solid #999;
}
.form_main ol li .rte_display p {
  margin: 0 !important;
  padding: 0 !important;
  line-height: 18px;
  display: block;
}
.form_main ol li .rte_display * {
  margin: 0px;
  padding: 0px;
  left: 0px;
  text-indent: 0px;
}
.form_main ol li .rte_display blockquote{
  margin-left: 30px;
}
.form_main ol li .paperform_number,
.form_main h3 .paperform_number {
  color: #666666;
  font-size: 10px;
}
.form_main ol li .paperform_number:before,
.form_main h3 .paperform_number:before {
  content: "[";
}
.form_main ol li .paperform_number:after,
.form_main h3 .paperform_number:after {
  content: "]";
}

.form_main li.max10 input { width: 60px;}
.form_main li.max20 input { width: 100px;}
.form_main li.max40 input { width: 200px;}
.form_main li.max60 input { width: 340px;}

.form_main .wide {
  width: 300px;
}
.form_main .narrow {
  width: 200px;
}
.form_main .small {
  width: 120px;
}
.form_main .textboxlist-bit {
  list-style-type: none;
  clear: none;
}
.form_main .textboxlist {
  width: 90%;
}
.form_main .textboxlist ul {
  background: #fff;
}
.form_main .textboxlist-autocomplete {
  margin: -20px  0 0 240px;
}
#content .form_main tr.version:nth-of-type(2) td {
  background: #eee;
}
.textboxlist-autocomplete ul {
  margin: 0 !important;
}
.ecs-TextAreaToolbar a {
	margin-right: 10px;
}

/* specific formset styles */

#measure_formset textarea,
#routinemeasure_formset textarea {
  height: 20px;
  width: 90%;
}
.form_main ol li .datepicker_toggler {
  position: absolute;
  text-indent: -9999px; 
  background: url(/static/images/icons.png) -80px 0 no-repeat;
  height: 16px;
  width: 16px;
  margin-left: 5px;
}
.form_main .star {
  margin: 0 5px 0 3px;
  font-size: 14px;
}
.form_main #id_start_1, .form_main #id_deadline_1, .form_main #id_deadline_diplomathesis_1 {
  margin-left: 30px;
}
.form_main textarea{
    /* Note: Textareas must have a css-defined width. Otherwise, the autogrowing textarea widget has problems to determine the correct width. */
    width: 400px; 
}
.form_main textarea#id_project_title, .form_main textarea#id_german_summary {
  height: 90px;
}
.form_main input#id_title {
  width: 350px;
}
.form_main td.15em textarea {
  width: 250px;
}
.form_main input[type=submit] {
  margin: 20px 10px 10px 240px;
}
.form_main input[type=submit].hidden {
  display: none;
}

/* paginator icons */

.first_page, .prev_page, .next_page, .last_page {
  display: inline-block;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
}
.first_page {
  background: url(/static/images/icons.png) -240px -80px no-repeat;
}
.prev_page {
  background: url(/static/images/icons.png) -240px -48px no-repeat;
}
.next_page {
  background: url(/static/images/icons.png) -240px -32px no-repeat;
}
.last_page {
  background: url(/static/images/icons.png) -240px -64px no-repeat;
}

/* documents */

.doclist {
  background: #eee;
  border: 1px solid #ccc;
  padding: 10px;
}
.doclist h4 {
  background-repeat: no-repeat;
}
.doclist .list_item {
  display: block;
  margin: 0 0 10px 5px;
  background-repeat: no-repeat; 
}
.doclist .list_item .status:before {
  content: "[";
}
.doclist .list_item .status:after {
  content: "]";
}

/* notifications */

.notification_list ol {
  list-style: none;
}
.notification_list li {
  padding: 5px;
  margin-bottom: 10px;
}
.notification_list, .overview {

}

#content ol.submission_list {
  list-style: none;
  margin-bottom: 20px;
}
#content ol.submission_list h3 {
  margin-bottom: 5px;
  font-weight: normal;
  padding: 0;
  border-bottom: none;
}
content ol.submission_list h3 .ecnr {
  float: left;
  display: inline-block;
  width: 80px;
  font-weight: bold;
  margin-left: -80px;
}
#content ol.submission_list li {
  padding: 10px;
}
content ol.submission_list li .actions {
  margin-bottom: 5px;
}
#content ol.submission_list li .info {
}


.checklist_field { 
  visibility: visible; 
}
.checklist_field_hidden { 
  visibility: hidden; 
}

/* list cycles */

#content ol.submission_list li:nth-of-type(1) ,
.submission_list li:nth-of-type(1) ,
.submission_item:nth-of-type(1) ,
.notification_list li:nth-of-type(1) ,
.dashboard_widget .messages li:nth-of-type(1) ,
.messages li:nth-of-type(1) ,
.message_display li:nth-of-type(1) ,
.attachments li:nth-of-type(1) ,
.dashboard_widget .messages li:nth-of-type(1) ,
.dashboard_widget .submission_widget_list li:nth-of-type(1) ,
.task_item:nth-of-type(1) ,
#task_form li:nth-of-type(1) {
  border-top: 1px solid #eddfbf;
}
#content ol.submission_list li:nth-child(odd) ,
.submission_list li:nth-child(odd) ,
.submission_item:nth-child(odd) ,
.notification_list li:nth-child(odd) ,
.dashboard_widget .messages li:nth-child(odd) ,
.messages li:nth-child(odd) ,
.message_display li:nth-child(odd) ,
.attachments li:nth-child(odd) ,
.dashboard_widget .messages li:nth-child(odd) ,
.dashboard_widget .submission_widget_list li:nth-child(odd) ,
.administration_detail .user_list tr:nth-child(odd) ,
.task_item:nth-child(odd) ,
#task_form li:nth-child(odd) {
  background-color: #EFEFDD;
  border-bottom: 1px solid #eddfbf;
}
#content ol.submission_list li:nth-child(even) ,
.submission_list li:nth-child(even) ,
.submission_item:nth-child(even) ,
.notification_list li:nth-child(even) ,
.dashboard_widget .messages li:nth-child(even) ,
.messages li:nth-child(even) ,
.message_display li:nth-child(even) ,
.attachments li:nth-child(even) ,
.dashboard_widget .messages li:nth-child(even) ,
.dashboard_widget .submission_widget_list li:nth-child(even) ,
.administration_detail .user_list tr:nth-child(even) ,
.task_item:nth-child(even) ,
#task_form li:nth-child(even) {
  background-color: #E8E8D8;
  border-bottom: 1px solid #eddfbf;  
}
#content ol.submission_list li:hover,
.submission_list li:hover,
.submission_item:hover,
.notification_list li:hover,
.dashboard_widget .messages li:hover,
.messages li:hover,
.attachments li:hover,
.dashboard_widget .messages li:hover,
.dashboard_widget .submission_widget_list li:hover,
.administration_detail .user_list tr:hover,
.task_item:hover,
#task_form li:hover,
#content .messages tr:hover {
  background-color: #eee;
}
