@import "ecs/variables.scss";

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content-container {
    overflow: auto;
    flex: 2 0 0%;
}

#scratchpad {
    display: none;
    flex-direction: column;
    background-color: white;
    overflow-y: auto;
    flex: 1 0 0%;
    border-color: rgba(0, 0, 0, .125);
    border-style: solid;
    border-width: 1px 0 0 0;

    form {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        .ecs-TextAreaToolbar {
            margin-top: -3rem;
        }

        textarea {
            flex-grow: 1;
            resize: none;
        }
    }
}

@media (min-width: 1200px) {
    body {
        flex-direction: row;
    }
    #scratchpad {
        width: 500px;
        height: 100%;
        border-width: 0 0 0 1px;
    }
}


/* headernav */

.tab_headers {
    a {
        &.disabled {
            color: $grey-60;
        }
    }
}

/* table border definitions */

.meeting_detail th,
.catalogue_list th {
    background-color: #ebe8d0;
    border-bottom: 1px solid $wheatbrown;
    border-collapse: collapse;
}
.meeting_detail td,
.billing_summary td,
.catalogue_list td {
    border-bottom: 1px solid $wheatbrown;
}
.task_back_log tr.deleted {
    text-decoration: line-through;
}


/* content */

.ecs-TextAreaToolbar {
    display: block;
    a {
        margin: 0 10px 5px 0;
    }
}

/* documents */

.document_upload {
    ol {
        margin: 10px 0px;
    }
    input[type="submit"].error {
        background: $red;
    }
    .warning {
        display: none;
    }
    progress {
        display: none;
    }
}

/*
 * select2 styling
 *
 * XXX: Our stylesheets contain some overzelous selectors, so we have to
 * reset styles for select2.
 */

.select2-container {
    padding: 0 !important;
    display: inline-block !important;
    .selection {
        display: inline !important;
        padding: 0 !important;
        .select2-selection {
            padding: 0 !important;
            .select2-selection__rendered,
            .select2-selection__arrow,
            .select2-selection__placeholder {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }
    .dropdown-wrapper {
        padding: 0 !important;
    }
    ul {
        margin: 0 !important;
    }
}

select[data-ajax--url] {
    min-width: 250px;
}

nav.navbar .navbar-brand img {
    width: auto;
    max-height: 50px;
}

/* dashboard task widgets */

.no-flex-grow {
    flex-grow:0 !important;
}

/* document diff view */

.text-black {
    color: #000;
}
