@import "ecs/variables.scss";

/* headernav */

input[disabled]:not(.btn) {
    background-color: #d4d0c8;
    color: $black;
}

.tab_header_groups {
    position: relative;
    margin-bottom: 0;
}

.tab_header_groups a,
.tab_headers a {
    display: inline-block;
    text-decoration: none;
    padding: 4px 7px;
    background: #f4f4f4;
    color: $royalblue-dark;
    font-weight: bolder;
    margin-right: 3px;
    border-radius: 5px 5px 0 0;

    &.active {
        background: $lightskyblue;
        color: $royalblue-dark;
    }

    &.errors {
        background: $brick-red;
        color: #fff !important;
    }
}

.tab_header_groups a.active.errors,
.tab_headers a.active.errors  {
    color: $white;
    background: $orange;
}

.tab_headers {
    background: $lightskyblue;
    width: 84%;
    padding: 5px;
    border-radius: 0 5px 5px 5px;
    margin-bottom: 0;

    a {
        padding: 3px 5px;
        background: $skyblue;
        color: $white;
        font-weight: normal;
        border-radius: 3px;

        &.active {
            background: $lightskyblue-light;
            color: $royalblue-dark;
        }

        &.errors {
            background: $brick-red;
            color: #fff !important;
        }

        &.disabled {
            background-color: $grey-80;
            color: $grey-60;
        }
    }
}

.header_actions {
    position: absolute;
    right: 10px;
    top: 0;
    padding: 5px;
    display: block;
    width: 100px;
    text-align: center;
    border-radius: 5px;

    a {
        padding: 2px 3px;
        margin-bottom: 3px;
        display: block;
        cursor: pointer;
        z-index: 100;
        color: $grey-20;
        font-size: 12px;
        background: $grey-95;
        border: 1px solid $grey-70;
        border-radius: 3px;
    }
    a:active {
        background: $grey-90;
        color: $grey-20;
    }
    a:hover {
        text-decoration: none;
        border: 1px solid $grey-70;
    }
    .button_save {
        background: $grey-95;
        border: 1px solid $lightskyblue;
    }
    .button_save_change {
        background: $grey-60;
        border: 1px solid $lightskyblue;
    }
    .last_save {
        font-size: 85%;
    }
    .button_submit {
        background: #54aade;
        border: 1px solid #7bc4f0;
        color: $white;
        margin: 0px;
    }
    .button_submit_valid {
        background: #84cefb;
        border: 1px solid #61b6e9;
    }
}

/* table border definitions */

.meeting_detail th,
.profile th,
table.notif_meta th,
table.notification th,
.catalogue_list th {
    background-color: #ebe8d0;
    border-bottom: 1px solid $wheatbrown;
    border-collapse: collapse;
}
.meeting_detail td,
.profile td,
table.notif_meta td,
table.notification td,
.billing_summary td,
.catalogue_list td {
    border-bottom: 1px solid $wheatbrown;
}
.task_back_log tr.deleted {
    text-decoration: line-through;
}


/* content */

.ecs-TextAreaToolbar {
    display: block;
    a {
        margin: 0 10px 5px 0;
    }
}


/* specific formset styles */

#measure_formset textarea,
#routinemeasure_formset textarea {
    height: 20px;
    width: 90%;
}


/* documents */

.doclist {
    background: #eee;
    border: 1px solid $grey-80;
    padding: 10px;

    h4 {
        display: block;
        background-repeat: no-repeat;
        font-weight: normal;
        font-size: 14px;
        padding-bottom: 1px;
        margin-bottom: 2px !important;
    }
    .list_item {
        display: block;
        margin-bottom: 5px;
        padding: 1px 3px;
        background: $grey-90;
    }
    .list_item span.doc_name:before {
        content: " | ";
    }
    .list_item .status:before {
        content: "[";
    }
    .list_item .status:after {
        content: "]";
    }
}

.document_upload {
    ol {
        margin: 10px 0px;
    }
    input[type="submit"].error {
        background: $red;
    }
    .warning {
        display: none;
    }
    progress {
        display: none;
        width: 50em;
    }
}

/*
 * list cycles
 * XXX: This should all be replaced with bootstrap's table-striped class. Sigh.
 */

.dashboard_widget .submission_widget_list li:nth-of-type(1) ,
#meeting_list li:nth-of-type(1) ,
.billing_list li:nth-of-type(1) ,
.billing_summary tr:nth-of-type(1) {
    border-top: 1px solid $wheatbrown;
}

.dashboard_widget .submission_widget_list li:nth-child(odd) ,
.administration_detail .user_list tr:nth-child(odd) ,
#meeting_list li:nth-child(odd) ,
.billing_list li:nth-child(odd) ,
.billing_summary tr:nth-child(odd) {
    background: $beige;
    border-bottom: 1px solid $wheatbrown;
}

.dashboard_widget .submission_widget_list li:nth-child(even) ,
.administration_detail .user_list tr:nth-child(even) ,
#meeting_list li:nth-child(even) ,
.billing_list li:nth-child(even) ,
.billing_summary tr:nth-child(even) {
    background: $beige-dark;
    border-bottom: 1px solid $wheatbrown;
}

.dashboard_widget .submission_widget_list li:hover,
.administration_detail .user_list tr:hover,
#meeting_list li:hover,
.billing_list li:hover,
.billing_summary tr:hover {
    background: #fefefe;
}

/* filter list */

#submission_list_filter {
    display:flex;
    justify-content:space-around;
}

/*
 * select2 styling
 *
 * XXX: Our stylesheets contain some overzelous selectors, so we have to
 * reset styles for select2.
 */

.select2-container {
    padding: 0 !important;
    display: inline-block !important;
    .selection {
        display: inline !important;
        padding: 0 !important;
        .select2-selection {
            padding: 0 !important;
            .select2-selection__rendered,
            .select2-selection__arrow,
            .select2-selection__placeholder {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }
    .dropdown-wrapper {
        padding: 0 !important;
    }
    ul {
        margin: 0 !important;
    }
}

select[data-ajax--url] {
    min-width: 250px;
}

nav.navbar {
    display:flex;
    align-items:center;
}

nav.navbar .navbar-brand img {
    width: auto;
    max-height: 50px;
}
