@import "ecs/variables.scss";

#dashboard {
    display: block;
    float: left;
    margin: -11px 0 0 -11px;
    width: 103%;
    background: #fff;

    .left_column, .right_column{
        display: inline-block;
        float: left;
        width: 50%;
    }

    h3 {
        display: inline-block;
        line-height: 20px;
    }
}

.dashboard_widget {
    display: block;
    float: left;
    border: 1px solid $light-brown-border;
    padding: 10px;
    background: $light-brown-bg;
    border-radius: 5px;
    margin: 0 10px 10px 0;
    width: 92%;
    min-width: 340px;

    td {
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .messages, .submission_widget_list{
        list-style: none;
        & > li{
            clear: both;
            position: relative;
        }
    }
    
    .messages{
        & > li{
            height: auto;
            padding: 5px 30px;
            overflow: hidden;

            .head {
                display: block;
                padding-bottom: 5px;
                margin-left: -27px;
            }

            .title {
                font-weight: bold;
            }
        }
    }
    
    .submission_widget_list li {
        padding: 5px 20px 5px 5px;
    }
    
    .messages_header {
        display: inline-block;
        background: $middle-light-brown-bg;
        border-radius: 3px;
        padding: 3px 5px !important;
        margin-bottom: 5px;
    }

    .actions {
        display: block;
        position: absolute;
        right: 3px;
        top: 5px;
        
        a {
            display: inline-block;
            margin: 0px 5px;
        }
    }
    
    img {
        vertical-align: middle;
    }
}

