/* dashboard */

#dashboard {
  display: block;
  float: left;
  margin: -11px 0 0 -11px;
  width: 103%;
  background: #fff;
}
#dashboard .left_column, #dashboard .right_column {
  display: inline-block;
	float: left;
	width: 50%;
}
.dashboard_widget {
  display: block;
  float: left;
  border: 1px solid #D8E6EF;
  padding: 10px;
  background-color: #f6f6e9;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 0 10px 10px 0;
  width: 92%;
  min-width: 340px;
}
.dashboard_widget h3 {
  margin-bottom: 10px;
}
.dashboard_widget td {
  padding-left: 5px;
  padding-right: 5px;
}
.dashboard_widget .messages,
.dashboard_widget .submission_widget_list {
  list-style: none;
}
.dashboard_widget .messages_header {
  margin-bottom: 5px;
}
.dashboard_widget .messages > li,
.dashboard_widget .submission_widget_list  > li {
  clear: both;
  position: relative;
}
.dashboard_widget .messages > li {
  height: auto;
  padding: 5px 30px;
  overflow: hidden;
}
.dashboard_widget .submission_widget_list  > li {
  padding: 5px 10px;
}
.dashboard_widget .unread {
  display: inline-block;
  background: url(/static/images/icons.png) -160px -32px no-repeat;
  width: 16px;
  height: 16px;
  margin-left: -20px;
}
.dashboard_widget .messages > li .head {
  display: block;
  padding-bottom: 5px;
  margin-left: -27px;
}
.dashboard_widget .messages > li .title {
  font-weight: bold;
}
.dashboard_widget .actions {
  display: block;
  position: absolute;
  right: 0px;
  top: 10px;
}
.dashboard_widget .actions a {
  display: inline-block;
  margin: 0px 5px;
}
.dashboard_widget img {
  vertical-align: middle;
}
