@import "ecs/variables.scss";

.field_history .change {
  padding: 5px;
  
  .diff{
      .inserted, .deleted{
          display: inline;
      }
  }
}

ul.diff {
  list-style: none;
  
  li{
      margin-bottom: 10px;
  }
}

.diff{
    .deleted, .inserted{
        display: block;
    }
    .deleted{
        color: #d50000;
    }
    .inserted{
        color: #00a400;
    }
    .indent {
        margin-left: 20px;
    }
    
    .elem {
        border: 1px solid;
        padding: 10px;
        margin: 10px;
    }
    
    .field {
        display: block;
        margin-bottom: 5px;
    }

    .item {
        margin: 5px 10px 0;
        padding: 5px;
        background: #fff;
        border: 1px dotted $cold-grey;
        
        .title{
            display: inline-block;
            font-size: 16px;
            padding-bottom: 5px;
        }

        .item .title{
            font-size: 14px;
        }
    }

    .atomic {
        display: block;
        margin: 5px 10px 0;

        & > div {
            display: inline;
        }
    }
}


#content .diff_toggles {
    margin-bottom: 10px;

    a {
        display: inline-block;
        padding: 3px 8px;
        margin: 10px 5px 10px 0;
        background: $grey;
        text-align: center;
        font-size: 12px;
        clear: both;  
        color: #fff;
        border-radius: 3px;

        &:hover{
            text-decoration: none;
            background: $dark-grey;
        }
    }
}

