/* submission diff */

ul.diff {
  list-style: none;
}
.diff .deleted {
  color: #ff0000;
}
.diff .inserted {
  color: #00ff00;
}
.diff .indent {
  margin-left: 20px;
}
ul.diff li {
  margin-bottom: 10px;
}
.diff .elem {
  border: 1px solid;
  padding: 10px;
  margin: 10px;
}
.diff_toggles {
  margin: 15px;
}

