/* submission diff */

ul.diff {
  list-style: none;
}
.diff .deleted {
  display: block;
  color: #d50000;
}
.diff .inserted {
  display: block;
  color: #00a400;
}
.diff .indent {
  margin-left: 20px;
}
ul.diff li {
  margin-bottom: 10px;
}
.diff .elem {
  border: 1px solid;
  padding: 10px;
  margin: 10px;
}
#content .diff_toggles {
  margin-bottom: 10px;
}
#content .diff_toggles a {
  display: inline-block;
  padding: 3px 8px;
  margin: 10px 5px 10px 0;
  background: #666;
  text-align: center;
  font-size: 12px;
  clear: both;  
  color: #fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
#content .diff_toggles a:hover {
  text-decoration: none;
  background: #333;
}
.diff .field {
  display: block;
  margin-bottom: 5px;
}
.diff .item {
  margin: 5px 10px 0;
  padding: 5px;
  background: #fff;
  border: 1px dotted #cccccc;
}
.diff .atomic {
  display: block;
  margin: 5px 10px 0;
}
.diff .item .title {
  display: inline-block;
  font-size: 16px;
  padding-bottom: 5px;
}

.diff .item .item .title {
  font-size: 14px;
}

.diff .atomic > div {
  display: inline;
}
