@mixin field-list{
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    list-style: none;
}

#content ol {
    /* FIXME: is this necessary ? */
    @include field-list;
}

.errorlist {
  clear: both;
  list-style-type: none;
}
.errorlist li {
  color: red;
  padding: 5px;
  background: #FAE5E3;
  border: 1px solid #F4CECB;
  border-radius: 3px;
}

.form_main {
    #tabs {
        clear: both;
    }

    .field {
        margin-bottom: 30px;
        
        input.subchoice {
            margin-left: 30px;
        }
    }
    
    .field h2, .field h3, .tab h2, .tab h3{
        letter-spacing: 1px;
        line-break: normal;
    }
    
    table, ol, select, option, input, textarea{
        font-size: 12px;
    }
    
    .paperform_number{
        color: #666666;
        font-size: 10px;
        
        &:before{
            content: "[";
        }
        
        &:after{
            content: "]";
        }
    }
    
    .wide { width: 300px;}
    .narrow { width: 200px;}
    .small { width: 120px;}
    
    tr.version:nth-of-type(2) td {
        background: #eee;
    }
    
    ol{
        @include field-list;
        li{
            display: block;
            clear: both;
            
            &.focus{
                background-color: #eeeeff;
            }
            
            &.required.errors {
                textarea, input[type=text], select {
                    border: 1px solid red;
                }
            }
            
            &.max10 input { width: 60px;}
            &.max20 input { width: 100px;}
            &.max40 input { width: 200px;}
            &.max60 input { width: 340px;}

            label, input[type=text], input[type=file], textarea, select{
                float: left;
                display: block;
                margin-bottom: 10px;
            }

            textarea{
                height: 40px;
            }

            label{
                width: 220px;
                padding: 0 10px;
                text-align: right;
            }
            
            th.label{
                text-align: left;
            }
            
            div.input {
                float: left;
            }
            
            .notes {
                font-size: 0.9em;
                color: #666666;
                padding-left: 10px;
            }
            
            .help_text {
                margin: 0 0 3px 230px;
                display: block;
                clear: both;
                color: #666;
                padding-left: 10px;
            }
            
            &.BooleanField{
                padding-left: 240px;
                
                input{
                    display: inline-block;
                    float: left;
                }
                
                label{
                    width: 400px;
                    display: inline-block;
                    float: none;
                    padding-left: 1em;
                    text-align: left;
                    
                    &:after {
                      content: none;
                    }
                }

                .help_text {
                    clear: both;
                    margin: 10px 0 0 20px;
                    height: 15px;
                    display: block;
                    clear: both;
                    color: #666;
                }
            }
        }
    }
    
    table td li{
        margin: 0px;
        float: none;
    }
    
    th.label .notes {
      display: block;
    }
    
    ul.errorlist li {
        margin-left: 220px;
        margin-bottom: 5px;
        color: red;
    }
}


.inline_formset .form {
  position: relative;
  margin-top: 20px;
}
#content .inline_formset td {
	padding: 0;
}
.form ol {
  margin: 10px;
  list-style-type: none;
}
.form .notes {
  margin: 0 5px;
}
tr.form td {
  vertical-align: top;
}
.form_main .investigator .field a.delete_row,
.inline_formset .form a.delete_row {
  background: url(/static/images/icons.png) -240px -336px no-repeat;
  height: 16px;
  width: 20px;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  text-indent: -9999px;
  margin-left: -2px;
}
div.inline_formset .form a.delete_row {
  display: block;
  height: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.form_main a.add_row, 
#meeting_constraint_editor a.add_row {
  background: url(/static/images/icons.png) -240px -320px no-repeat;
  width: auto;
  height: 16px;
  /*display: inline-block;*/
  overflow: visible;
  cursor: pointer;
  text-indent: -9999px;
  padding-left: 20px;
}
table.inline_formset td {
  vertical-align: top;
}
.form_main table.inline_formset td ul.errorlist li {
  margin-left: 0px;
}
#content .form_main table.inline_formset td ul.errorlist {
  margin-left: 0px;
  width: 100%;
}

#meeting_constraint_editor a.add_row {
  margin-left: 2px;
}

.form_main ul.investigator_list li a {
    text-decoration: none;
    color: #2b558e !important;
}
.form_main ul.investigator_list li.active a {
    color: #e2eaf0 !important;
}
.form_main ul.investigator_list li a {
    color: #333333 !important;
}
.form_main ul.investigator_list li.errors a {
    color: #ffffff !important;
}

.form_main .investigator_header {
  position: relative;
}
#content .form_main ul.investigator_list {
  margin: 0 0 0 -5px;
}
.form_main ul.investigator_list li {
  display: inline-block;
  margin: 2px;
  line-height: 20px;
  padding: 0px 5px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #B7D4E5;
  background-color: #e2eaf0;
}
#content .form_main ul.investigator_list li a:hover {
  text-decoration: none;
}

.form_main ul.investigator_list li.active {
  background-color: #2b558e;
}
.form_main ul.investigator_list li {
  border: 1px solid #bbbbbb;
  background-color: #dddac8;
}
.form_main ul.investigator_list li.active {
  background-color: #f2f0e5;
}
.form_main ul.investigator_list li.errors {
  border: 1px solid #ff0000;
  background-color: #fb6464;
}
.form_main ul.investigator_list li.errors.active {
  background-color: #ff8000;
}
.form_main .investigator_list_clear {
  height: 20px;
}
.form_main .investigator_list a.add_centre,
.form_main .investigator_header a.delete_row {
  display: inline-block;
  overflow: visible;
  width: auto;
  height: 16px;
  text-indent: 0px;
  margin-left: 0;
  padding-left: 20px;
  padding-right: 10px;
  cursor: pointer;
  line-height: 14px;
}
.form_main .investigator_list a.add_centre {
  background: url(/static/images/icons.png) -240px -320px no-repeat;
}
.form_main .investigator_header a.delete_row {
  background: url(/static/images/icons.png) -240px -336px no-repeat;
  position: absolute;
  top: 13px;
  left: 150px;
  padding: 0 5px 0 20px;
}

fieldset.disabled {
  display: none;
}