#help_body {
  padding: 10px;
  font-size: 14px;
  line-height: 20px;
}
#help h1 {
  display: block;
  font-size: 22px;
  letter-spacing: 1px;  
	padding: 10px 20px;
  font-weight: lighter;
	background: #d8e6ef;
  border-bottom: 1px solid #B5CFDF;
}
#help_content h2,
#help_preview h2 {
  display: block;
  font-size: 18px;
  letter-spacing: 1px;  
  margin-bottom: 20px;
  font-weight: lighter;
}
#help_content h3 {
  display: block;
  font-size: 16px;
  letter-spacing: 1px;  
  margin: 10px 0;
  font-weight: lighter;
}
#help_nav {
	display: block;
	padding: 10px 20px;
	background: #eee;
	font-size: 14px;
	border-bottom: 1px solid #ddd;
}
#help_content {
	margin: 10px;
}
#help_content ul,
#help_preview ul {
  margin: 0 0 20px 20px;
}
#help p,
#help_preview p,
.help_edit,
#help_content .location {
	display: block;
	margin-bottom: 20px;
}
#help_content .upperalpha {
  list-style-type: upper-alpha;
}
#help_content hr {
  margin: 10px 0;
}
#help_content img {
	max-width: 600px;
  float: left;
  margin: 0 10px 20px 0;
}
#help_overlay {
  z-index: 100000;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
}
#help_content .dir, #help_content .title, #help_content .options {
	margin-bottom: 10px;
}
#help_content .title input {
  width: 100%;
  font-size: 20px;
}
#help_content .text textarea {
  font-family: monospace;
  font-size: 14px;
  width: 100%;
  height: 100%;
}
#help_content .location {
  color: #666666;
  font-size: 80%;
}
#help_content form {
  width: 70%;
}
#help_content table {
	padding: 5px;
  background: #f6f6e9;
	text-align: left;
	width: 100%;
}
#help_content th {
	width: 80px;
}

#help_iframe {
  width: 100%;
  height: 100%;
  border: none;
}

#help_attachments {
  width: 240px;
  position: absolute;
  right: 0px;
  top: 100px;
}

#help_attachments > .list > div {
  position: relative;
  width: 200px;
  height: 100px;
  margin: 5px 5px 5px 0;
	padding: 10px;
  border: 1px solid #ddd;
  -moz-user-select: none;
}
#help_attachments > .list > div img {
  max-width: 100px;
  float: left;
  -moz-user-select: none;
}

#help_attachments .slug {
  display: block;
  -moz-user-select: none;
}

#help_attachments iframe {
  border: none;
  width: 100%;
  height: 100%;
}

#help_preview {
  overflow: auto;
  position: absolute;
  z-index: 100;
  background-color: #ffffff;
}

.restructuredtext {
	padding: 10px 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.restructuredtext img,
#help_preview img {
  max-width: 600px;
}

.restructuredtext ul, .restructuredtext ol {
  margin-left: 2em;
}

#help_content ul.errorlist {
  margin: 10px 0;
  color: red;
  font-weight: bolder;
}
