@import "ecs/variables.scss";

#help_top {
    display: block;
    height: 40px;
    background: $lightblue;
    border-bottom: 1px solid #B5CFDF;
}
#help_logo {
    float: left;
    display: block;
    width: 60px;
    height: 20px;
    background: $white;
    padding: 10px;
    border-right: 1px solid #B5CFDF;
}
.help_button {
    display: block;
    float: left;
    margin: 3px 0 0 5px;
}
#help_title {
    display: inline-block;
    height: 20px;
    margin: 12px 0 0 5px;
    font-size: 14px;
    font-weight: bolder;
}
#help_search {
    float: left;
    clear: both;
    width: 100%;
    
    .searchbox form {
        display: block;
        width: 290px;
        background: $white;
        height: 30px;
        padding: 10px 10px 0 0;
    }
    
    input[type=text] {
        display: inline-block;
        width: 250px;
    }
    
    input[type=submit] {
        display: inline-block;
        text-indent: -9999px;
    }
}

#help_body {
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
}

#help h1 {
    display: block;
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: lighter;
}

.help_overview a {
    position: absolute;
    top: 8px;
    right: 100px;
    display: block;
    border-radius: 3px;
    background-color: $lightskyblue-light;
    border: 1px solid $lightskyblue;
    padding: 3px 7px;
    font-size: 14px;
}
.help_review_overview a {
    position: absolute;
    top: 8px;
    right: 240px;
    display: block;
    border-radius: 3px;
    background-color: $lightskyblue-light;
    border: 1px solid $lightskyblue;
    padding: 3px 7px;
    font-size: 14px;
}

.help_overview a:hover, .help_search a:hover, .help_review_overview a:hover {
  text-decoration: none;
  background: $royalblue-dark;
  color: $white;
}
.help_search a {
  position: absolute;
  top: 8px;
  right: 30px;
  display: block;
  border-radius: 3px
  background-color: $lightskyblue-light;
  border: 1px solid $lightskyblue;
  padding: 3px 7px;
  font-size: 14px;
}
#help_content h2,
#help_preview h2 {
  display: block;
  font-size: 18px;
  letter-spacing: 1px;  
  margin-bottom: 20px;
  font-weight: lighter;
  clear: both;
}

#help_nav {
    padding: 5px 20px;
  height: 15px;
    background: #eee;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
}
#help_nav .help_review_status.ready_for_review {
    color: #0000ff;
}
#help_nav .help_review_status.review_ok {
    color: #00ff00;
}
#help_nav .help_review_status.review_fail {
    color: $red;
}
.nav_left {
  float: left;
}
.nav_right {
  display: block;
  float: right;
}
#help_content {
  margin: 10px;
  max-width: 900px;
}
#help_content ul,
#help_preview ul {
  margin: 0 0 15px 20px;
}
#help p,
#help_preview p,
.help_edit,
#help_content .location {
  display: block;
  margin-bottom: 10px;
}
.help_edit,
#help_content .location {
  float: left;
  margin-right: 10px;
}

#help_content {
    h3 {
        display: block;
        font-size: 16px;
        letter-spacing: 1px;
        margin: 10px 0;
        font-weight: lighter;
    }
    
    blockquote p {
        margin-bottom: 5px;
    }
    .first {
        font-weight: bolder;
        margin: 10px 0;
    }
    hr {
        margin: 10px 0;
    }
    img {
        max-width: 600px;
        display: inline-block;
        float: none;
        margin: 0px;
    }
    
    .dir, .title, .options {
        margin-bottom: 10px;
    }
    
    .dir{
        input, select{
            margin-bottom: 10px;
        }
    }
    
    .title input {
        width: 100%;
        font-size: 20px;
    }
    
    .text textarea {
        font-family: monospace;
        font-size: 14px;
        width: 100%;
        height: 100%;
    }
    
    .location {
        color: $grey-40;
    }
    
    table {
        padding: 5px;
        background: #eee;
        text-align: left;
        width: 100%;
        border: 1px solid #ddd;
    }

    th {
        width: 80px;
    }
    dt {
        font-weight: bold;
    }
    dd {
        margin-left: 10px;
    }

    ul.errorlist {
        margin: 10px 0;
        color: red;
        font-weight: bolder;
    }
}

#help_overlay {
  z-index: 100000;
  position: absolute;
  top: 0;
  left: 0;
  background: $white;
}
#help_iframe {
  width: 100%;
  height: 100%;
  border: none;
}

#help_attachments {
  width: 250px;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 80px;
  padding: 10px;
  background: #eee;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  
    .list { 
        div {
          position: relative;
          width: 200px;
          height: 100px;
          margin: 5px 5px 5px 0;
          padding: 10px;
          border: 1px solid #ddd;
          -moz-user-select: none;
        }
        div img {
          max-width: 100px;
          float: left;
          -moz-user-select: none;
        }
    }
    
    .slug {
      display: block;
      -moz-user-select: none;
    }
    iframe {
      border: none;
      width: 100%;
      height: 100%;
    }
}

#help_preview {
    overflow: auto;
    position: absolute;
    z-index: 100;
    background-color: $white;

    img {
        max-width: 600px;
    }
}

.restructuredtext {
    margin: 10px 0;
    padding: 10px 0;
    border-top: 2px solid $grey-80;
    border-bottom: 2px solid $grey-80;
    
    img{
        max-width: 600px;
    }
    ol, ul{
        margin-left: 2em;
    }
}

