#help{
    padding: 10px;
}

#help_overlay{
    z-index: 100000;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #ffffff;
}

#help_iframe{
    width: 100%;
    height: 100%;
    border: none;
}

#help_content{
}

#help_content .title input{
    width: 100%;
    font-size: 2em;
}

#help_content .text textarea{
    font-family: monospace;
    font-size: 12pt;
    width: 100%;
    height: 100%;
}

#help_content .location{
    color: #666666;
    font-size: 80%;
}

#help_content form{
    width: 70%;
}

#help_attachments {
    width: 240px;
    position: absolute;
    right: 0px;
    top: 80px;
}

#help_attachments > .list > div{
    position: relative;
    width: 200px;
    height: 100px;
    margin: 5px;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    -moz-user-select: none;
}
#help_attachments > .list > div img{
    width: 100px;
    float: left;
    -moz-user-select: none;
}

#help_attachments .slug{
    font-size: 70%;
    display: block;
    -moz-user-select: none;
}

#help_attachments iframe{
    border: none;
    width: 100%;
    height: 100%;
}

#help_preview{
    overflow: auto;
    position: absolute;
    z-index: 100;
    background-color: #ffffff;
}

.restructuredtext img,
#help_preview img{
    max-width: 300px;
}
