@import "ecs/variables.scss";

@mixin icon_bg {
    display: inline-block;
    background-image: url(/static/images/icons.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
}
@mixin icon_bg_16 {
    display: inline-block;
    background-image: url(/static/images/icons.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
    width: 16px;
    height: 16px;
}
@mixin icon_bg_32 {
    display: inline-block;
    background-image: url(/static/images/icons.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
    width: 32px;
    height: 32px;
}

.icon_help,
.user_icon,
#scratchpad_button,
#scratchpad_button.empty {
    @include icon_bg_32;
    margin-right: 3px;
}
.icon_help {
    background-position: -320px -160px
}
.user_icon {
    background-position: -320px 0;
}
#scratchpad_button {
    background-position: -320px -288px;
}
#scratchpad_button.empty {
    background-position: -320px -256px;
}

.submission_inprogress, .submission_resubmission, .submission_b2_resubmission, .submission_review {
    @include icon_bg_16;
    margin-right: 3px;
}

.submission_inprogress {
    background-position: 0 -688px;
}
.submission_resubmission,
.submission_b2_resubmission {
    background-position: 0 -112px;
}
.submission_review {
    background-position: 0 -672px;
}

.dashboard_widget .unread {
    @include icon_bg_16;
    background-position: -160px -32px;
    margin-left: -20px;
}
