/* meeting list */

#meeting_list ol {
  list-style: none;
}
#meeting_list li {
  margin-bottom: 10px;
}

/* meeting_editor */

#meeting_editor {
	position: relative;
	display: inline-block;
	width: 100%;
}
#meeting_editor #userlist {
	position: absolute;
	top: 0;
	right: 0;
	width: 210px;
  background-color: #eee;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#meeting_editor #userlist ul {
	list-style: none;
	margin: 0;
	padding: 2px;
}
#meeting_editor #userlist li {
  border-top: 1px solid #ffffff;
  padding: 5px;
}
#meeting_editor #userlist h5 {
	padding: 5px;
	margin-bottom: 5px;
}
#meeting_editor #userlist .info {
  background-color: #ffffff;
  font-size: 0.8em;
}
#meeting_editor #userlist .info .constraints {
  margin-bottom: 0px;
}
#meeting_editor #userlist .info .constraints li {
  padding: 0px;
}
#meeting_editor .constraint_status {
  width: 10px;
  height: 10px;
  text-indent: -20px;
  display: block;
  float: left;
  overflow: hidden;
}
#meeting_editor #userlist .constraints {
  list-style: none;
  margin-left: 0px;
}
#meeting_editor #timetable {
	float: left;
  list-style: none;
  width: 535px;
  margin: 0px;
}
#meeting_editor #timetable li {
	font-size: 12px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
#meeting_editor .entry {
  border: 1px solid #eee;
  margin-bottom: 3px;
  display: block;
  height: 80px;
  background-color: #fff;
  position: relative;
}
#meeting_editor .entry.free {
  background-color: #eff1f5;
}
#meeting_editor .entry.break {
  background-color: #ffffcc;
}
#meeting_editor .entry a.remove {
  position: absolute;
  top: 0px;
  right: 0px;
  display: inline-block;
  width: 16px;
  height: 16px;
  text-indent: -200px;
  overflow: hidden;
  background: url(/static/images/icons.png) 0 -144px no-repeat;
}
#meeting_editor .entry .dragHandle {
  float: left;
  padding: 5px;
  margin-right: 5px;
  width: 50px;
  background-color: #B7D4E5;
  height: 70px;
  border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
}
#meeting_editor .entry input.duration {
  width: 5em;
}
#meeting_editor .entry input.optimal_start {
  width: 50px;
}
#meeting_editor .entry h3 {
  margin-bottom: 2px;
	font-weight: bolder;
}
#meeting_editor .options li {
	display: inline;
	list-style: none;
}
#meeting_editor .options li:after {
  content: " |";
}
#meeting_editor .options li:last-child:after {
  content: "";
}
#meeting_editor .constraints_hurt, #meeting_editor .waiting_time {
	font-size: 12px;
	margin: 5px 0;
}
.icon_drag {
  display: block;
  text-indent: -9999px;
}
.icon_drag {
  background: url(/static/images/icons.png) -320px -224px no-repeat;
  cursor: move;
  width: 32px;
  height: 32px;
  margin: 5px 0 0 5px;
}

/* participation editor */

#meeting_participation_editor form {
  float: none;
  display: inline;
}
#meeting_participation_editor .entry {
  clear: both;
}
#meeting_participation_editor .entry h2 {
  margin: 0px;
}
#meeting_participation_editor .entry a.remove {
  background: url(/static/images/icons.png) 0 -144px no-repeat;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
  text-indent: -200px;
  overflow: hidden;
  display: inline-block;
}
#meeting_participation_editor .entry a.add {
  background: url(/static/images/icons.png) 0 -128px no-repeat;
  width: 16px;
  height: 16px;
  text-indent: -200px;
  overflow: hidden;
  display: inline-block;
}
#content #meeting_participation_editor .entry a.remove:hover,
#content #meeting_participation_editor .entry a.add:hover  {
  text-decoration: none;
  border-bottom: 0px;
}

#meeting_participation_editor .entry .user_list > span {
  margin-right: 0.5em;
  padding: 2px;
  border: 1px solid #ccccff;
  background-color: #eeeeff;
}

/* constraint editor */

#meeting_constraint_editor {
  width: 800px;
}
#meeting_constraint_editor form ol li {
  width: 100px;
  float: left;
  clear: none;
  display: block;
  height: 50px;
}
#meeting_constraint_editor form ol {
  margin: 0px;
  height: 50px;
}
#meeting_constraint_editor form ol li label {
  width: auto;
  float: none;
  display: block;
  text-align: left;
}
#meeting_constraint_editor form ol li input[type=text] {
  width: 150px;
}
#meeting_constraint_editor form .inline_formset .form {
  padding: 0px;
  clear: both;
}
#meeting_constraint_editor form .inline_formset .form a.delete_row { 
  width: 40px;
  float: right;
  display: block;
}

/* constraint formset */

#constraint_formset {
  width: 800px;
  margin-top: 20px;
}
#constraint_formset th {
  text-align: left;
  width: 200px;
}
#constraint_formset .label {
  padding-bottom: 10px;
}
#constraint_formset th:first-child {
  text-align: left;
  width: 40px;
}
#constraint_formset td {
  text-align: left;  
}
#constraint_formset td:first-child {
  text-align: left;
  width: 40px;
}

/* meeting_assistant */

#meeting_assistant ol li {
  display: block;
  clear: both;
  list-style-type: none;
  margin-bottom: 5px;
}
#meeting_assistant {
	display: inline-block;
  width: 100%;
}
#meeting_assistant .navigation,
#meeting_assistant .info {
  display: block;
  width: 100%;
  float: left;
  border-top: 1px solid #ccc;
  padding: 5px 0;
  margin: 5px 0;
}
#meeting_assistant .meeting_assistant_nav {
  width: 180px;
	float: left;
  padding: 10px;
}
#meeting_assistant .meta {
  display: block;
  font-size: 0.8em;
  margin-top: 10px;
}
#meeting_assistant h3 {
  padding: 5px;
}
#meeting_assistant .navigation h4 {
  font-size: 12px;
}
#meeting_assistant #meeting_assistant_body {
  float: left;
  width: 70%;
  padding: 5px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
#meeting_assistant_form {
  float: left;
  width: 70%;
  padding-right: 10px;
  border-right: 1px solid #ccc
}
#meeting_assistant_body .reviews {
  float: left;
  width: 25%;
  margin-top: 10px;
}
#meeting_assistant .buttons {
  display: block;
  float: left;
  margin-top: 10px;
  width: 100%;
}
#meeting_assistant .buttons ul {
  float: left;
  width: 100%;
  margin-left: 10px;
}
#meeting_assistant .buttons ul li {
  list-style: none;
  display: block;
  float: left;
  clear: both;
  font-size: 12px;
  padding: 0;
}
#meeting_assistant .buttons a {
  display: block;
  float: left;
  border: 1px solid #ccc;
  background: #666;
  color: #fff;
  margin: 5px 0;
  padding: 5px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
#meeting_assistant .buttons a:hover {
  text-decoration: none;
  background: #333;
}
#meeting_assistant .buttons a.selected {
  background-color: #71ce09;
}
#meeting_assistant .buttons a .details {
  display: block;
  font-size: 10px;
}
#meeting_assistant .button a, #meeting_assistant .navigation a {
  display: block;
  padding: 3px;
  margin-bottom: 5px;
  background: #666;
  text-align: center;
  font-size: 12px;
  clear: both;  
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
#meeting_assistant .navigation a {
  display: block;
  background: #ccc;
  color: #333;
}
#meeting_assistant .navigation a {
  font-size: 10px;
}
#meeting_assistant .button a:hover, #meeting_assistant .navigation a:hover {
  text-decoration: none;
  background: #333;
}
#meeting_assistant .navigation a:hover {
  text-decoration: none;
  background: #999;
  color: #fff;
}
.reviews a.textblock {
  display: block;
  clear: both;
  font-size: 12px;
}
#meeting_assistant textarea {
  width: 98%;
}
#meeting_assistant .search {
  float: left;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-top: 10px;
  padding: 10px 0;
	width: 100%;
}
#meeting_assistant .search input[type=text] {
	display: inline-block;
  width: 110px;
	margin-top: 2px;
}
#meeting_assistant .search input[type=submit] {
	display: inline-block;
  width: 60px;
  font-size: 12pxt;
	margin: 0;
}
#meeting_assistant ul li {
  list-style: none
}
#meeting_assistant .reviews li {
  display: block;
  padding: 5px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-weight: bolder;
  color: #fff;
}
#meeting_assistant .reviews li.absent {
  background-color: #cccccc;
}
#meeting_assistant .reviews li.positive {
  background-color: #31eb10;
}
#meeting_assistant .reviews li.positive.comments {
  background-color: #77ff00;
}
#meeting_assistant .reviews li.negative {
  background-color: #ff0000;
}
#meeting_assistant .reviews li.negative.comments {
  background-color: #ff7700;
}
#meeting_assistant .reviews li.incomplete {
  background-color: #cccccc;
}
#meeting_assistant_body .reviews a:hover {
  text-decoration: none;
}
