@import "ecs/variables.scss";

/* meeting list */

#meeting_list ol {
    list-style: none;

    li {
        margin-bottom: 10px;
    }
}

/* experts */

#experts_tab ol li {
    margin-bottom: 10px;
    list-style: none;

    span {
        display: block;
        margin-bottom: 5px;
    }
}

/* meeting_editor */

#meeting_editor {
    position: relative;
    display: inline-block;
    width: 100%;

    #userlist {
        position: absolute;
        top: 0;
        right: 0;
        width: 210px;
        background-color: #eee;
        border-radius: 3px;
        border: 1px solid #ddd;
        
        ul {
            list-style: none;
            margin: 0;
            padding: 2px;
            
            li {
                border-top: 1px solid $grey-80;
                padding: 5px;
            }
        }
        
        h4 {
            padding: 5px;
            margin-bottom: 2px;
        }
        
        .constraints {
            list-style: none;
            margin-left: 0px;
        }
        
        .info {
            background-color: $white;
            font-size: 0.8em;
            
            .constraints {
                margin-bottom: 0px;
                
                li {
                    padding: 0px;
                }
            }
        }
    }
    
    .constraint_status {
        width: 10px;
        height: 10px;
        text-indent: -20px;
        display: block;
        float: left;
        overflow: hidden;
    }
    
    #timetable {
        float: left;
        list-style: none;
        width: 530px;
        margin: 0;
        
        li {
            font-size: 12px;
            border-radius: 3px;
            border: 1px solid #ddd;
        }
    }
    
    .entry {
        border: 1px solid #eee;
        margin-bottom: 3px;
        display: block;
        height: 80px;
        background-color: $white;
        position: relative;

        h4 {
            margin-bottom: 2px;
            padding-right: 20px;
        }

        &.free {
            background-color: #eff1f5;
        }

        &.break {
            background-color: #ffffcc;
        }

        &.violates_constraint {
            background-color: #ff0000;
        }

        a.remove {
            position: absolute;
            top: 0px;
            right: 0px;
            display: inline-block;
            width: 16px;
            height: 16px;
            overflow: hidden;
            background: url(/static/images/icons.png) 0 -192px no-repeat;
            margin: 2px 2px 0 0;
        }
        
        .dragHandle {
            float: left;
            padding: 5px;
            margin-right: 5px;
            width: 50px;
            background-color: $lightskyblue;
            height: 70px;
            border-radius: 3px 0 0 3px;
            -moz-border-radius: 3px 0 0 3px;
            -webkit-border-radius: 3px 0 0 3px;
        }
        
        input.duration {
            width: 5em;
        }
        
        input.optimal_start {
            width: 50px;
        }
    }
    
    .options li {
        display: inline;
        list-style: none;
        
        &:after{
            content: " |";
        }
        
        &:last-child:after {
          content: "";
        }
    }
    
    .constraints_hurt, .waiting_time {
        font-size: 12px;
        margin: 5px 0;
    }
    
}

.icon_drag {
    display: block;
    text-indent: -9999px;
}

.icon_drag {
    background: url(/static/images/icons.png) -320px -224px no-repeat;
    cursor: move;
    width: 32px;
    height: 32px;
    margin: 5px 0 0 5px;
}


/* participation editor */

#meeting_participation_editor {
    form {
        float: none;
        display: inline;
    }

    .entry {
        clear: both;

        h2 {
            margin: 0px;
        }
        
        a.remove {
            background: url(/static/images/icons.png) 0 -144px no-repeat;
            width: 16px;
            height: 16px;
            position: relative;
            top: 3px;
            text-indent: -200px;
            overflow: hidden;
            display: inline-block;
            
            &:hover{
                text-decoration: none;
                border-bottom: 0px;
            }
        }
        
        a.add {
            background: url(/static/images/icons.png) 0 -128px no-repeat;
            width: 16px;
            height: 16px;
            text-indent: -200px;
            overflow: hidden;
            display: inline-block;
            
            &:hover{
                text-decoration: none;
                border-bottom: 0px;
            }
        }
        
        .user_list > span {
            margin-right: 0.5em;
            padding: 2px;
            border: 1px solid $grey-80;
            background-color: #eeeeff;
        }
    }
}

/* constraint editor */

#meeting_constraint_editor {
    width: 800px;

    form {
        ol {
            margin: 0px;
            height: 50px;

            li {
                width: 100px;
                float: left;
                clear: none;
                display: block;
                height: 50px;
                
                label {
                    width: auto;
                    float: none;
                    display: block;
                    text-align: left;
                }
                
                input[type=text] {
                    width: 150px;
                }
            }
        }

        .inline_formset .form {
            padding: 0px;
            clear: both;
            
            a.delete_row { 
                width: 40px;
                float: right;
                display: block;
            }
        }
    }
    
    a.add_row {
      margin-left: 2px;
    }
}


/* constraint formset */

#constraint_formset {
  width: 800px;
  margin-top: 20px;
  
  th {
      text-align: left;
      width: 200px;
      
      &:first-child {
        text-align: left;
        width: 40px;
      }
  }
  
  td {
      text-align: left;
      
      &:first-child {
        text-align: left;
        width: 40px;
      }
  }
  
  .label {
    padding-bottom: 10px;
  }
}


/* meeting_assistant */

#meeting_assistant {
    display: table;
    width: 100%;

    ol li {
        display: block;
        clear: both;
        list-style-type: none;
        margin-bottom: 5px;
    }
    
    ul li {
      list-style: none
    }
    
    .navigation, .info {
        display: block;
        width: 100%;
        float: left;
        border-top: 1px solid $grey-80;
        padding: 5px 0;
        margin: 5px 0;
    }
    
    .navigation h4 {
        font-size: 12px;
    }
    
    .meeting_assistant_nav {
        width: 180px;
        float: left;
        padding: 10px;
    }
    
    .meta {
        display: block;
        font-size: 0.8em;
        margin-top: 10px;
    }
    
    h3 {
        padding: 5px;
    }
    
    #meeting_assistant_body {
        position: relative;
        display: table-row;
        float: left;
        width: 71%;
        padding: 5px;
        background: $white;
        border: 1px solid #ddd;
        border-radius: 5px;
        
        h3 {
            margin-bottom: 5px;
        }

        .inline_element {
            display: block;
            margin: 5px 10px;
            padding: 5px;

            ul {
                margin: 0 0 0 5px;
                li {
                    padding: 2px 0;
                }
            }
        }

        .odd {
            background: $middle-light-brown-bg;
        }

        .even {
            background: $middle-dark-brown-bg;
        }

        input[type=submit] {
            margin: 10px;
        }
        
        .column {
            display: table-cell;
            margin-top: 10px;
            vertical-align: top;
            max-width: 250px;
            min-width: 140px;
        }
        
        .column_main {
            display: table-cell;
            min-width: 350px;
            max-width: 500px;
            padding-right: 5px;
            border-right: 1px solid $grey-80;
            
            .ecs-TextAreaToolbar {
                margin-left: 20px;
            }
            .boilerplate_selector {
                left: 20px;
            }
        }
        
        .reviews, .column_main form {
            display: inline-block;
        }
        .column_main form {
            padding: 5px;
        }
    }
    
    .buttons {
        display: block;
        float: left;
        width: 100%;
        
        ul {
            float: left;
            width: 100%;
            margin-left: 10px;
            
            li {
                list-style: none;
                display: block;
                float: left;
                clear: both;
                font-size: 12px;
                padding: 0;
            }
        }
        
        a {
            display: block;
            float: left;
            background: $grey-40;
            color: $white;
            margin: 0 0 5px;
            padding: 5px;
            border-radius: 3px;
            
            &:hover {
                text-decoration: none;
                background: $grey-20;
            }
            
            &.selected {
                background: #71ce09;
                color: #253D0A;
            }
            
            .details {
              display: block;
              font-size: 10px;
            }
        }
    }
    
    .search {
        float: left;
        border-top: 1px solid $grey-80;
        border-bottom: 1px solid $grey-80;
        margin-top: 10px;
        padding: 10px 0;
        width: 100%;
        
        input[type=text] {
            display: inline-block;
            width: 140px;
        }
        
        input[type=submit] {
            background: url("/static/images/icons.png?38c54595d43f") no-repeat scroll -324px -198px $grey-80;
            border: 1px solid $grey-60;
            border-radius: 0;
            display: inline-block;
            float: right;
            height: 22px;
            margin: 0;
            text-indent: -9999px;
            width: 26px;
        }
    }
    
    .preview {
        display: inline-block;
        text-indent: -9999px;
        background: url(/static/images/icons.png) 0 -1056px no-repeat;
        width: 16px;
        height: 16px;
    }
}

#meeting_assistant_form textarea {
    border: 1px solid #ddd;
    width: 90%;
    margin: 0 0 10px 10px;
}

#content .meeting_assistant_block {
    float: left;
    width: 100%;
  
        ul {
          display: block;
          margin: 0 0 20px 10px;
        }
        .block_left, .block_right {
            display: block;
            float: left;
        }
        .block_left {
            margin-right: 10px;
        }
}

#meeting_assistant .button a, 
#meeting_assistant .navigation a {
    display: block;
    padding: 3px;
    margin-bottom: 7px;
    background: $grey-40;
    text-align: center;
    font-size: 12px;
    clear: both;  
    color: $white;
    border-radius: 3px;

    &:hover{
        text-decoration: none;
        background: $grey-20;
    }
}

#meeting_assistant .navigation a {
    background: $grey-80;
    color: $grey-20;
    font-size: 10px;

    &:hover {
        text-decoration: none;
        background: $grey-20;
        color: $white;
    }
}

#meeting_assistant .reviews {
    a:hover {
        text-decoration: none;
    }
    
    a.textblock {
        display: block;
        clear: both;
        font-size: 12px;
        padding: 2px 4px;
        margin-top: 2px;
        background: #efefef;
        border-radius: 3px;
    }

    ul {
        margin: 5px;
    
        li {
            display: block;
            padding: 3px;
            margin-bottom: 5px;
            border-radius: 3px;
            font-weight: bolder;
        
            &.absent {
                background: #ededed;
                border: 1px solid $grey-80;
            }
        
            &.positive {
                background: #CDFC97;
                border: 1px solid #8bf82b;
                color: #253D0A;
            
                &.comments {
                    background: #E3FFC4;
                    border: 1px solid #8bf82b;
                    color: #253D0A;
                }
            }
        
            &.negative {
                background: #FCBBB5;
                border: 1px solid red;
                color: #3F0000; 
            
                &.comments {
                    background: #F9D4C7;
                    border: 1px solid #df430d;
                    color: #3F0000;
                }
            }
        
            &.incomplete {
                background: #ededed;
                border: 1px solid $grey-80;
                color: $black;
            }
        }
    }
}

#meeting_comments_form {
    padding: 10px;

    textarea {
        float: left;
        width: 400px;
    }
    
    input[type="submit"] {
        float: left;
        clear: both;
    }
}

.task_back_log {
  margin-bottom: 20px;
}
