body.pdfviewer{
    overflow: auto;
}

body.pdfviewer .hidden{
    display: none;
}

#pdfviewer{
    float: left;
}

#pdfviewer .header{
    background-color: #222222;
    color: #ffffff;
    opacity: 0.8;
    font-size: 11px;
    padding: 10px;
}

#pdfviewer .header .location{
    display: inline-block;
    float: right;
}

#pdfviewer .body{
    float: left;
    position: relative;
}

#pdfviewer .page{
    float: left;
    border: 1px solid transparent;
    background-repeat: no-repeat;
    position: relative;
    overflow: visible;
}

#pdfviewer .page.current{
    border-color: #99ccff;
}

#pdfviewer .page.loading{
    background-position: 5px 5px;
    background-image: url(/static/images/loading.gif);
}

#pdfviewer .page > .info{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 10%;
    display: none;
    text-align: center;
    vertical-align: bottom;
    z-index: 1;
}

#pdfviewer .page > .annotationOverlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000066;
    opacity: 0.1;
    z-index: 10;
}

#pdfviewer .page:hover{
    border-color: #cc0000;
}

#pdfviewer .page:hover > .info{
    display: block;
}

#pdfviewer .screen.i1x1 .page:hover > .info{
    display: none;
}

#pdfviewer .viewport{
    margin-left: 60px;
    margin-right: 60px;
    float: left;
}

#pdfviewer a.next{
    right: 0px;
}
#pdfviewer a.previous{
    left: 0px;
}

#pdfviewer a.next, #pdfviewer a.previous{
    display: block;
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: 100;
    overflow: hidden;
    color: #ffffff;
    opacity: 0.2;
    font-size: 30px;
}

#pdfviewer a.next > b{
    -moz-transform: rotate(90deg);
}

#pdfviewer a.previous > b{
    -moz-transform: rotate(-90deg);
}

#pdfviewer a.next:hover, body.pdfviewer a.previous:hover{
    background-color: #cccc00;
}

#pdfviewer .screen{
    float: left;
    position: relative;
}

#pdfviewer .screen .row{
    float: left;
    clear: both;
}

body.pdfviewer #navigation{
    background-color: #222222;
    -moz-border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -270px;
    margin-top: -170px;
    width: 500px;
    height: 300px;
    padding: 20px;
    opacity: 0.9;
    color: #ffffff;
    z-index: 10000;
    font-size: 90%;
}

#pdfviewer .annotation{
    position: absolute;
    left: 0px;
    overflow: visible;
    width: 100%;
    z-index: 20;
}

#pdfviewer .annotation > .overlay{
    position: absolute;
    background-color: #ffff00;
    opacity: 0.2;
    border: 1px solid transparent;
}

#pdfviewer .annotation:hover > .overlay{
    border: 1px dotted #ff0000;
    opacity: 0.3;
}

#pdfviewer .annotation > .overlay > .resizeHandle{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 10px;
    height: 10px;
    background-color: #ff0000;
}

#pdfviewer .annotation > .overlay > .dragHandle{
    position: absolute;
    width: 100%;
    height: 100%;
}

#pdfviewer .annotation > .marker{
    position: absolute;
    left: 100%;
    width: 7px;
    height: 7px;
    border: 2px solid #000000;
    background-color: #ffff00;
    opacity: 0.5;
    margin-left: -11px;
}

#pdfviewer .annotation:hover > .text{
    display: block;
}

body.pdfviewer .annotationDisplay{
    position: fixed;
    width: 300px;
    height: 200px;
    left: 50%;
    top: 50%;
    margin-left: -170px;
    margin-top: -120px;
    padding: 20px;
    z-index: 1000;
}
body.pdfviewer .annotationDisplay > .background{
    position: absolute;
    margin: -20px;
    width: 100%;
    height: 100%;
    background-color: #222222;
    opacity: 0.8;
    -moz-border-radius: 20px;
    z-index: 1;
}

body.pdfviewer .annotationDisplay > .content{
    width: 300px;
    height: 200px;
    position: absolute;
    z-index: 2;
}

body.pdfviewer .annotationDisplay textarea{
    width: 280px;
    padding: 10px;
    height: 150px;
}

body.pdfviewer .annotationDisplay a{
    color: #99ddff;
    border: 1px solid #666666;
    padding: 3px;
    display: inline-block;
    float: right;
    margin: 3px;
    margin-right: 0px;
}

body.pdfviewer .annotationDisplay a:hover{
    border-color: #99ddff;
}

body.pdfviewer .cover{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9000;
}

body.pdfviewer .searchPopup input{
    font-size: 14px;
    padding: 3px;
    margin: 3px;
}
body.pdfviewer .searchPopup .results{
    color: #99ddff;
    margin: 3px;
    font-size: 13px;
    overflow: auto;
    height: 160px;
    clear: both;
}

body.pdfviewer .searchPopup .results div{
    margin-bottom: 3px;
    padding: 3px;
}
body.pdfviewer .searchPopup .results div:hover{
    background-color: #222222;
}

body.pdfviewer .searchPopup .results .highlighted{
    background-color: #000000;
    color: #ffffff;
}

body.pdfviewer .popup > a.close{
    position: absolute;
    top: -10px;
    right: 0px;
    color: #ffffff;
    z-index: 1000;
    border: none;
    font-size: 30px;
    display: inline-block;
}

body.pdfviewer .popup > a.close:hover{
    text-decoration: none;
    color: #cc0000;
}

body.pdfviewer .popup span.label{
    color: #ffffff;
}

body.pdfviewer .slider{
    width: 200px;
    height: 8px;
    background-color: #ffffff;
    opacity: 0.9;
}

body.pdfviewer .slider .knob{
    width: 8px;
    height: 8px;
    background-color: #cc0000;
}
