body.pdfviewer{
    overflow: auto;
    background-color: #000;
}

body.pdfviewer .hidden{
    display: none;
}

#pdfviewer{
    margin: auto;
    width: 800px;
    position: relative;
}

#pdfviewer #menubutton{
    position: absolute;
    top: 8px;
    left: 10px;
    z-index: 200;
    width: 19px;
    height: 19px;
    display: inline-block;
    text-align: center;
    padding: 6px 10px 10px 6px;
    font-size: 28px;
    line-height: 21px;
    color: #666;
    border-radius: 19px;
    border: 1px solid #999;
    box-shadow: 1px 1px 0px #fff;
    background-color: rgba(0, 0, 0, 0.05);
    text-shadow: #fff 1px 1px 0px;
}

#pdfviewer #menubutton:hover{
    background-color: rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

#pdfviewer .header{
    color: #000;
    font-size: 15px;
    padding: 10px;
    padding-left: 60px;
    position: relative;
    background-color: #ccd9e6;
    text-shadow: #fff 1px 1px 0px;
    box-shadow: 0px 1px 3px #999;
    z-index: 100;
}

#pdfviewer .header .details{
    font-size: 11px;
    color: #666;
}

#pdfviewer .header .location{
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
}

#pdfviewer .body{
    border-top: 1px solid #fff;
    float: left;
    position: relative;
    background-color: #444;
}

#pdfviewer .page{
    float: left;
    border: 1px solid transparent;
    background-repeat: no-repeat;
    position: relative;
    overflow: visible;
}

#pdfviewer .page.current{
    border-color: #88bbdd;
}

#pdfviewer .page.current > .info{
    display: block;
    color: #88bbdd;
}

#pdfviewer .i1x1 .page.current{
    border: none;
}

#pdfviewer .page.loading{
    background-position: 5px 5px;
    background-image: url(/static/images/loading.gif);
}

#pdfviewer .page > .info{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 10%;
    display: none;
    text-align: center;
    vertical-align: bottom;
    z-index: 1;
}

#pdfviewer .page > .annotationOverlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000066;
    opacity: 0.1;
    z-index: 10;
}

#pdfviewer .page > .annotationOverlay .ecs-DragDropFrameOverlay{
    background-color: #ffff00;
    border: 1px dashed #ff0000;
    opacity: 1;
}

#pdfviewer .page:hover{
    border: 1px dashed #ccd9e6;
}

#pdfviewer .page:hover > .info{
    display: block;
}

#pdfviewer .screen.i1x1 .page:hover > .info{
    display: none;
}

#pdfviewer .viewport{
    float: left;
}

#pdfviewer a.next{
    right: 0px;
}
#pdfviewer a.previous{
    left: 0px;
}

#pdfviewer a.next, #pdfviewer a.previous{
    display: block;
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: 100;
    overflow: hidden;
    color: #ffffff;
    opacity: 0.2;
    font-size: 30px;
}

#pdfviewer a.next > b{
    -moz-transform: rotate(90deg);
}

#pdfviewer a.previous > b{
    -moz-transform: rotate(-90deg);
}

#pdfviewer a.next:hover, body.pdfviewer a.previous:hover{
    background-color: #ccd9e6;
}

#pdfviewer .screen{
    float: left;
    position: relative;
}

#pdfviewer .screen .row{
    float: left;
    clear: both;
}

body.pdfviewer #navigation{
    background-color: #222222;
    -moz-border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -270px;
    margin-top: -170px;
    width: 500px;
    height: 300px;
    padding: 20px;
    opacity: 0.9;
    color: #ffffff;
    z-index: 10000;
    font-size: 90%;
}

#pdfviewer .annotation{
    position: absolute;
    left: 0px;
    overflow: visible;
    width: 100%;
    z-index: 20;
}

#pdfviewer .annotation > .overlay{
    position: absolute;
    background-color: #ffff00;
    opacity: 0.2;
    border: 1px solid transparent;
}

#pdfviewer .annotation:hover > .overlay{
    border: 1px dotted #ff0000;
    opacity: 0.3;
}

#pdfviewer .annotation > .overlay > .resizeHandle{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 10px;
    height: 10px;
    background-color: #ff0000;
}

#pdfviewer .annotation > .overlay > .dragHandle{
    position: absolute;
    width: 100%;
    height: 100%;
}

#pdfviewer .annotation > .marker{
    position: absolute;
    left: 99%;
    width: 8px;
    height: 8px;
    border: 2px solid #88bbdd;
    background-color: #fff;
    border-radius: 6px;
    opacity: 0.5;
    margin-left: -11px;
}

#pdfviewer .annotation.foreign > .overlay,
#pdfviewer .annotation.foreign > .marker{
    background-color: #00ffff;
}

#pdfviewer .annotation:hover > .text{
    display: block;
}

body.pdfviewer .annotationDisplay{
    position: fixed;
    width: 300px;
    height: 200px;
    left: 50%;
    top: 50%;
    margin-left: -170px;
    margin-top: -120px;
    padding: 20px;
    z-index: 1000;
}
body.pdfviewer .annotationDisplay > .background{
    position: absolute;
    margin: -20px;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.8;
    -moz-border-radius: 10px;
    z-index: 1;
}

body.pdfviewer .annotationDisplay > .content{
    width: 300px;
    height: 200px;
    position: absolute;
    z-index: 2;
}

body.pdfviewer .annotationDisplay textarea{
    width: 280px;
    padding: 10px;
    height: 150px;
}

body.pdfviewer .annotationDisplay.foreign textarea{
    height: 130px;
}

body.pdfviewer .annotationDisplay .authorInfo{
    display: none;
    height: 18px;
    background-color: #ffffff;
    border: 1px solid #999999;
    border-bottom: none;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 2px;
    width: 280px;
    font-size: 90%;
    font-style: italic;
}

body.pdfviewer .annotationDisplay.foreign .authorInfo{
    display: block;
}

body.pdfviewer .annotationDisplay a{
    color: #99ddff;
    border: 1px solid #666666;
    padding: 3px;
    display: inline-block;
    float: right;
    margin: 3px;
    margin-right: 0px;
}

body.pdfviewer .annotationDisplay a:hover{
    border-color: #99ddff;
}

body.pdfviewer .cover{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9000;
}

body.pdfviewer .searchPopup input{
    font-size: 14px;
    padding: 3px;
    margin: 3px;
}
body.pdfviewer .searchPopup .results{
    color: #99ddff;
    margin: 3px;
    font-size: 13px;
    overflow: auto;
    height: 160px;
    clear: both;
}

body.pdfviewer .searchPopup .results div{
    margin-bottom: 3px;
    padding: 3px;
}
body.pdfviewer .searchPopup .results div:hover{
    background-color: #222222;
}

body.pdfviewer .searchPopup .results .highlighted{
    background-color: #000000;
    color: #ffffff;
}

body.pdfviewer .popup > a.close{
    position: absolute;
    top: -10px;
    right: 0px;
    color: #ffffff;
    z-index: 1000;
    border: none;
    font-size: 30px;
    display: inline-block;
}

body.pdfviewer .popup > a.close:hover{
    text-decoration: none;
    color: #cc0000;
}

body.pdfviewer .popup span.label{
    color: #ffffff;
}

body.pdfviewer .slider{
    width: 200px;
    height: 8px;
    background-color: #ffffff;
    opacity: 0.9;
}

body.pdfviewer .slider .knob{
    width: 8px;
    height: 8px;
    background-color: #cc0000;
}


body.pdfviewer .popup input{
    background-color: #444;
    border: 1px solid transparent;
    display: inline-block;
    -moz-box-shadow: none;
    color: #fff;
    -moz-border-radius: 3px;
}

/* search popup */
body.pdfviewer .popup.search{
    height: 200px;
}

body.pdfviewer .popup.gotoPage input{
    width: 60px;
    margin-left: 10px;
}

/* goto page popup */
body.pdfviewer .popup.gotoPage{
    height: 30px;
    width: 220px;
    font-size: 15px;
}

body.pdfviewer .popup.gotoPage input::-moz-selection,
body.pdfviewer .popup input:focus{
    background-color: #2E1428;
}

/* menu popup */
body.pdfviewer .popup.menu,
body.pdfviewer .popup.menu > .content{
    width: 312px;
    height: 312px;
}
body.pdfviewer .popup.menu a.close{
    display: none;
}
body.pdfviewer .popup.menu a{
    float: left;
    display: block;

    width: 100px;
    height: 70px;
    padding: 0px;
    padding-top: 30px;

    font-size: 14px;
    background-color: #ccd9e6;
    text-align: center;
    border-radius: 3px;
    color: #000;
    text-shadow: 1px 1px 0px #fff;
    border: none;
    margin: 2px;
}

body.pdfviewer .popup.menu a:hover{
    background-color: #C1CDDA;
    text-decoration: none;
}



