@import "ecs/variables.scss";

.readonly {
    input[disabled]:not(.form-control),
    textarea[disabled]:not(.form-control),
    select[disabled]:not(.form-control) {
        color: $grey-20;
        background: #e4e4e4;
        font-family: Arial, Helvetica, sans-serif;
    }

    textarea:not(.form-control) {
        margin-left: 240px;
    }

    /* tab headers - TODO: remove after scrollspy implementation */
    .tab_header_groups a {
        color: $grey-80;
        background: $grey-40;

        &.active {
            background: $grey-ochre-dark;
            color: $grey-20;
        }
    }

    .tab_headers {
        background: $grey-ochre-dark;

        a {
            background: $grey-ochre;
            color: $grey-20;

            &.active {
                background: $grey-ochre-light;
            }

            &.readonly_review {
                background: $lightskyblue-light;
                color: $royalblue-dark;
            }
        }
    }
}

/* pre fields should wrap */
.form_main.readonly {
    ol li {
        display: block;
        float: left;
        margin-bottom: 10px;

        label {
            padding: 0;
            padding-left: 0;
        }
    }

    ol li label,
    .field li label{
        text-align: left;
        vertical-align: baseline;
        width: 260px;
        float: left;
        clear: none;
    }

    ol li.BooleanField {
        padding-left: 0;
    }

    pre:not(.card-text) {
        white-space: pre-wrap;
    }

    .CharField pre:not(.card-text),
    .EmailField pre:not(.card-text),
    .IntegerField pre:not(.card-text) {
        display: inline-block;
        background-color: $white;
        font-style: normal;
        line-height: 1.5;
        border: 1px solid $grey-60;
        padding: 3px 5px;
        max-width: 700px;

        table & {
            margin-left: 0;
        }

        &.empty {
            background-color: #dddddd;
        }

        li &.oneline, td &{
            float: left;
            padding: 4px;
            display: block;
            margin-bottom: 4px;
            position: relative;
            top: -4px;
        }

        &.multiline {
            width: auto;
            margin: 0 0 20px 0;
        }

        em {
            color: $grey-20;
        }
    }
}

.boilerplate_selector input {
    display: block !important;
}
