/* submission widget */

#submission_widget {
  padding: 5px;
}
#submission_list_filter {
  margin-bottom: 10px;
}
.submission_list_choose {
  border-bottom: 1px solid #eddfbf;
}
.submission_list_choose input[type=checkbox] {
  position: absolute;
  top: 5px;
}
.submission_list_choose label {
  display: inline-block;
  margin: 0 5px 5px;
  cursor: pointer;
}
.submission_list_choose li {
  display: inline;
  list-style: none;
  margin-left: 14px;
}
#content ul.submission_list_choose, ul.submission_list_choose {
  position: relative;
  margin: 0 0 3px;
  line-height: 16px;
  padding: 3px 0 0;
}
.submission_new, .submission_next_meeting, .submission_b2, .submission_amg, .submission_mpg, .submission_thesis, .submission_other {
  width: 16px;
  height: 16px;
  padding-left: 20px;
  padding-bottom: 1px;
}
.submission_new {
  background: url(/static/images/icons.png) -80px -256px no-repeat;
}
.submission_next_meeting {
  background: url(/static/images/icons.png) -80px -80px no-repeat;
}
.submission_b2 {
  background: url(/static/images/icons.png) -240px -192px no-repeat;
}
.submission_amg {
  background: url(/static/images/icons.png) 0 -496px no-repeat;
}
.submission_mpg {
  background: url(/static/images/icons.png) 0 -512px no-repeat;
}
.submission_thesis {
  background: url(/static/images/icons.png) 0 -480px no-repeat;
}
.submission_other {
  background: url(/static/images/icons.png) 0 -64px no-repeat;
}

.annotation .text {
  white-space: pre-wrap;
  overflow: hidden;
  max-width: 700px;
  margin-left: 20px;
}

