/* submission widget */

#submission_widget {
  padding: 5px;
}
#submission_list_filter {
  margin-bottom: 10px;
}
#submission_list_filter input[type=checkbox] {
  margin-top: 5px;
}
#submission_list_filter label {
  display: inline-block;
  margin: 5px 5px 3px 1px;
  width: 55px;
  cursor: pointer;
}
#submission_widget a, #submission_widget li, #submission_widget label, #submission_widget table {
  font-size: 10pt;
}
.submission_item:nth-child(odd) {
  background-color: #FFFFDF;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #ccc;
}
.submission_item:nth-child(even) {
  background-color: #EFEFD1;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #ccc;
}
.submission_new, .submission_next_meeting, .submission_b2, .submission_amg, .submission_mpg, .submission_thesis, .submission_other {
  padding-left: 20px;
}
.submission_new {
  background: url(/static/images/core/clipboard-list.png) no-repeat top left;
}
.submission_next_meeting {
  background: url(/static/images/core/alarm-clock--arrow.png) no-repeat top left;
  width: 80px !important;
}
.submission_b2 {
  background: url(/static/images/core/arrow-step-over.png) no-repeat top left;
}
.submission_amg {
  background: url(/static/images/core/pill.png) no-repeat top left;
}
.submission_mpg {
  background: url(/static/images/core/bandaid.png) no-repeat top left;
}
.submission_thesis {
  background: url(/static/images/core/book-brown.png) no-repeat top left;
}
.submission_other {
  background: url(/static/images/core/question-frame.png) no-repeat top left;
}

.submission_list_choose {
  border-bottom: 1px solid #ccc;
}

