.tag {
    display: inline-block;
    font-weight: bold;
    padding: .2em .5em;
    border-radius: .5em;
    display: inline-block;
    margin: .3em .2em 0 0;
    font-size: .9em;

    a {
        color: inherit !important;
    }
}
