@import "ecs/variables.scss";

#headerworkflow {
    float: left;
    width: 85%;
    border: 1px solid #B5CFDF;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 3px;
    margin-top: 5px;
    margin-bottom: -5px;
    top: -3px;
    background: #f4f4f4;
}

#toggle_headerworkflow {
    position: absolute;
    bottom: 15px;
    left: 0px;
    padding: 10px 1px;
    background: #B5CFDF;
    border: 1px solid $white;
    border-right: none;
    border-radius: 3px 0 0 3px;
    text-decoration: none;
    
    &.collapsed {
        border-radius: 0 3px 3px 0;
        border: 1px solid $white;
        background: #B5CFDF;
    }
}

.task_bookmark {
    margin-top: 10px;
}

/* TaskForm */

#task_form {
    font-size: 12px;

    ul {
        float: left;
        display: block;
        width: 100%;

        li {
            list-style-type: none;
            float: left;
            padding-top: 3px;
            margin-right: 10px;
        }
    }

    .errors {
        color: $red;
    }

    .lockInfo {
        display: inline-block;
        background-color: $yellow-dark;
        padding: 3px 5px;
        border-radius: 3px;
        border: 1px solid $yellow-extra-dark;
        margin: 5px 0;
    }
    label, input[type=radio], textarea, select {
        float: left;
    }

    textarea, select {
        margin-bottom: 10px;
    }

    input[type=radio] {
        margin: 3px 5px 10px 5px;
    }
    
    input[type=submit] {
        position: relative;
        display: block;
        /*float: right;*/
        margin: 0;
        z-index: 10;
        top: -2px;
    }
    
    .task_indent {
        clear: both;
        margin-left: 90px;
        float: left;
        display: block;
        min-height: 30px;
        label {
            display: inline-block;
            margin-right: 5px;
        }
    }

    .task_delegate_assign {
        label {
            margin: 3px 5px 0 10px;
        }
        select {
            margin-bottom: 0;
        }
        textarea {
            display: inline-block;
            float: left;
            min-height: 60px;
            width: 300px;
            clear: both;
        }
    }
}

.task_message .ecs-TextAreaToolbar {
  clear: both;
}
.show_all {
  margin-bottom: 10px;
}

/* TaskList */

.task_list {
    margin: 12px 0 10px;
    
      .task_item ul form,
      .task_item ul a.preview {
        display: inline-block;  
      }
}
#task_list_filter {
    margin-bottom: 10px;
}

#task_main.task_full .task_list_choose {
  display: inline-block;
  border-bottom: none;
  margin: 0 5px 5px 0;
  background: $middle-light-brown-bg;
  border-radius: 3px;
  padding: 5px 3px 0 8px;
  
    &.task_select {
      display: block;
    }
    .task_sorting {
      padding: 4px 6px 2px 0;
    }
}

.task_list_choose {
    border-bottom: 1px solid $wheatbrown;
    
    label {
        display: inline-block;
        margin: 0 5px 5px 0;
        cursor: pointer;
    }
    
    li {
        display: inline;
        list-style: none;
    }
}

#task_main .task_list_choose select {
  padding: 0 !important;
  width: 150px;
}
#task_main h4 {
  font-size: 14px;
  margin-bottom: 6px;
}

.task_item {
    background-color: #EFEFD1;
    padding: 5px;
    li {
        float: left;
        display: inline;
        margin-right: 10px;
        padding: 2px 0;
    }
}

#content ul.task_list_choose, ul.task_list_choose {
  position: relative;
  margin: 0 0 3px;
  line-height: 16px;
  padding: 3px 0 0;
}

.task_type_nr {
  display: inline-block;
  min-width: 30px;
  max-width: 50px;
  text-align: center;
  padding: 2px;
  font-size: 12px;
  background: #DDD4D4;
  border-radius: 3px;
}
