/* TaskForm */

#task_form {
  padding: 10px;
  font-size: 12px;
  max-width: 650px;
}
#task_form ul {
  float: left;
  display: block;
  width: 100%;
}
#task_form li {
  list-style-type: none;
  display: block;
  float: left;
  width: 100%;
  clear: both;
  padding-top: 3px;
}
#task_form .errors {
  color: #ff0000;
}
#task_form .lockInfo {
  background-color: #ffff00;
}
#task_form label, #task_form input[type=radio], #task_form textarea, #task_form select {
  float: left;
}
#task_form input[type=radio], #task_form textarea, #task_form select {
  margin-bottom: 10px;
}
#task_form input[type=radio] {
  margin: 3px 5px 10px 5px;
}
#task_form input[type=submit] {
  position: relative;
  display: block;
}
#task_form .task_indent {
  clear: both;
  margin-left: 90px;
  float: left;
  display: block;
  min-height: 30px;
}
#task_form .task_indent label {
  margin-right: 5px;
}
#task_form .task_delegate_assign label {
  margin: 3px 5px 0 10px;
}
#task_form .task_delegate_assign select {
  margin-bottom: 0;
}
#task_form .task_indent textarea {
  height: 150px;
}
.show_all {
  margin-bottom: 10px;
}
.task_complete, .task_reject, .task_delegate, .task_ask {
  display: inline-block;
  width: 16px;
  height: 16px;
  padding-left: 5px;
}
.task_complete {
  background: url(/static/images/icons.png) 0 -160px no-repeat;
}
.task_reject {
  background: url(/static/images/icons.png) -240px -160px no-repeat;
}
.task_delegate {
  background: url(/static/images/icons.png) -240px -208px no-repeat;
}
.task_ask {
  background: url(/static/images/icons.png) 0 -224px no-repeat;
}

/* TaskList */

.task_list {
  margin-bottom: 10px;
}
#task_list_filter {
  margin-bottom: 10px;
}
.task_list_choose {
  border-bottom: 1px solid #eddfbf;
}
.task_list_choose label {
  display: inline-block;
  margin: 0 5px 5px;
  cursor: pointer;
}
#task_main .task_list_choose select {
  padding: 0 !important;
  width: 150px;
}
.task_list_choose input[type=checkbox] {
  position: absolute;
  top: 5px;
}
.task_list_choose li {
  display: inline;
  list-style: none;
  margin-left: 14px;
}
.task_item {
  background-color: #EFEFD1;
  padding: 5px;
}
.task_item li {
  float: left;
  display: inline;
  margin-right: 10px;
  padding: 2px 0;
}
#content ul.task_list_choose, ul.task_list_choose {
  position: relative;
  margin: 0 0 3px;
  line-height: 16px;
  padding: 3px 0 0;
}
.task_type_nr {
  display: inline-block;
  min-width: 30px;
  max-width: 50px;
  text-align: center;
  padding: 2px;
  font-size: 12px;
  background: #DDD4D4;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.task_list .preview {
  display: inline-block;
  text-indent: -9999px;
  background: url(/static/images/icons.png) 0 -1056px no-repeat;
  width: 16px;
  height: 16px;
}

a {
  text-decoration: none;
  color: #2b558e;
}
a:hover {
  text-decoration: underline;
}

.task_mine, .task_assigned, .task_open, .task_proxy, .task_amg, .task_mpg, .task_thesis, .task_other {
  width: 16px;
  height: 16px;
  padding-left: 16px;
  padding-bottom: 1px;
  margin-right: 5px;
}
.task_mine {
  background: url(/static/images/icons.png) 0 -16px no-repeat;
}
.task_assigned {
  background: url(/static/images/icons.png) -80px -320px no-repeat;
}
.task_open {
  background: url(/static/images/icons.png) 0 0 no-repeat;
}
.task_proxy {
  background: url(/static/images/icons.png) 0 -48px no-repeat;
}
.task_amg {
  background: url(/static/images/icons.png) 0 -496px no-repeat;
}
.task_mpg {
  background: url(/static/images/icons.png) 0 -512px no-repeat;
}
.task_thesis {
  background: url(/static/images/icons.png) 0 -480px no-repeat;
}
.task_other {
  background: url(/static/images/icons.png) 0 -64px no-repeat;
}
