@import "ecs/variables.scss";

#headerworkflow {
    width: 85%;
    border: 1px solid #B5CFDF;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    background: #f4f4f4;
}

.task_bookmark {
    margin-top: 10px;
}

.task_message .ecs-TextAreaToolbar {
    clear: both;
}
.show_all {
    margin-bottom: 10px;
}

/* TaskList */

.task_item ul form {
    display: inline-block;
}

.task_full .task_list_choose {
    display: inline-block;
    margin: 0 5px 5px 0;
    background: $beige;
    border-radius: 3px;
    padding: 5px 3px 0 8px;
}

.task_list_choose {
    padding: 3px 0 0;
}
