@import "ecs/variables.scss";

.task_bookmark {
    margin-top: 10px;
}

/* TaskList */

.task_full .task_list_choose {
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 3px 0 0;
    background: $beige;
    border-radius: 3px;
    padding: 5px 3px 0 8px;
}
