{% extends 'base.html' %}
{% load i18n %}

{% block jshead %}
{% endblock %}

{% block jsbotom %}
{% endblock %}

{% block htmlcss %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/login.css" />
{% endblock %}

{% block header %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
<div class="wrapper">
  <h1></h1>
  <p><strong>Seite nicht gefunden!</strong></p>
  <p>
      Dies kann verschiedene Ursachen haben wie beispielsweise die Abgabe ihrer Funktion als Einreicher an einen anderen Einreicher oder den Ablauf Ihrer temporären Leseberechtigung. 
      Falls sie denken, dass dies ein Irrtum ist, kontaktieren Sie die Ethikkommission unter der Adresse <a href="mailto:ethik-kom@meduniwien.ac.at">ethik-kom@meduniwien.ac.at</a> 
      mit Angabe der EK-Nummer und Ihrer Funktion (falls es sich um eine Studie handelt). 
  </p>
  <p><a href="/"> Klicken Sie hier</a> um zur Hauptseite zu wechseln</p>
</div>
{% endblock %}

