{% extends 'base.html' %}
{% load i18n %}

{% block jshead %}
{% endblock %}

{% block jsbotom %}
{% endblock %}

{% block htmlcss %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ecs/public.css" />
{% endblock %}


{% block header %}
{% endblock %}
{% block sidebar %}
{% endblock %}

{% block content %}
<div id="header_public">
  <div class="header_inner">
    <a href="/"><img src="/static/images/logo.png" /></a>
  </div>
</div>

<div class="wrapper_404">
  <div class="wrapper_404_inner">
    <div class="content">
      <h1>Fehler 404 - Seite nicht gefunden!</h1>
      <p>
          Dies kann verschiedene Ursachen haben, wie beispielsweise die Abgabe ihrer Funktion als Einreicher an einen anderen Einreicher oder den Ablauf Ihrer temporären Leseberechtigung. 
          Falls sie denken, dass dies ein Irrtum ist, kontaktieren Sie die Ethikkommission unter der Adresse <a href="mailto:ethik-kom@meduniwien.ac.at">ethik-kom@meduniwien.ac.at</a> 
          mit Angabe der EK-Nummer und Ihrer Funktion (falls es sich um eine Studie handelt). 
      </p>
      <p>Um zur Hauptseite zu wechseln <a href="/" class="button_submit">klicken Sie hier</a></p>
    </div>
  </div>
</div>
{% endblock %}


