<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    </head>
    <body>
      <div id="content">
        <div class="innerwrap">
          <div class="wrapper">
              <p><strong>Entschuldigung,</p><p>ein Fehler ist aufgetreten !</strong></p>
              <p>Der Fehler wurde protokolliert.</p>
              {% if request.sentry.id %}
              <p>Um auf diesen Fehler Bezug zu nehmen notieren Sie sich die Nummer <strong>{{ request.sentry.id }}</strong>.</p>
              {% endif %}
              <p><a href="/"> Klicken Sie hier</a> um zur Hauptseite zu wechseln</p>          
          </div>
        </div>
      </div>         
    </body>
</html>

