<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    </head>
    <body>
      <div id="content">
        <div class="innerwrap">
          <div class="wrapper">
              <p><strong>Ups,</p><p>ein Fehler ist aufgetreten !</strong></p>
              <p>Eine Nachricht wurde an das Entwicklerteam geschickt.</p>
              <p><a href="/"> Klicken Sie hier</a> um zur Hauptseite zu wechseln</p>          
          </div>
        </div>
      </div>         
    </body>
</html>

