{% extends 'shell.html' %}

{% load version_tag %}

{% block htmlbody %}
<div id="container">

	  <div id="header">
        {% block header %}
            <div id="headertitle">
                <h1>{% block headertitle %}{% endblock %}</h1>
            </div>
            <div id="headertext">
                {% block headertext %}
                {% endblock %}
            </div>
            <div id="headernav">
                {% block headernav %}
                {% endblock %}
                {% block header_actions %}
                {% endblock %}
            </div>
        {% endblock %}
	  </div>

    <div id="content">
	    {% block content %}
	    {% endblock %}
    </div>

    <div id="toggle_sidebar_button"><a href="#" id="toggle_sidebar" title="Sidebar verstecken/wiederherstellen"><img src="{{ MEDIA_URL }}/images/toggle.png" alt="toggle sidebar"/></a></div>
  
    <div id="sidebar">
        {% block sidebar %}
            <div id="logo">
                {% block logo %}
                    <img src="{{ MEDIA_URL }}/images/logo.png" alt="EC- Meduni Wien"/>
                    <small>{% current_version %}</small>
                {% endblock %}
            </div>
            <div id="account">
                {% block account %}
                {% endblock %}
            </div>
            <div id="searchbox">
                {% block searchbox %}
                {% endblock %}
            </div>
            <div id="usertoolbar">
                {% block usertoolbar %}
                {% endblock %}
            </div>
            <div id="usermenu">
                {% block usermenu %}
                {% endblock %}
            </div>
        {% endblock %}
    </div>
    
    <div id="footer">
        {% block footer %}
        {% endblock footer %}
    </div>
  
</div>
{% endblock %}

{% block jsbottom %}
    {{ block.super }}
  <script type="text/javascript">
    function getHeaderHeight(){
        var h = 0;
        $$('.tab_header_groups .tab_headers').each(function(ul){
            var ulHeight = ul.getHeight();
            if(ulHeight > h){
                h = ulHeight;
            }
        });
        return h;
    }
    function set_content_position() {
      var header_height = getHeaderHeight();
      $$('#content')[0].setStyle('top', ''+header_height+'px');
    }
    

    function set_tab_height() {
      var tab_height = getHeaderHeight();
      $$('.tab_header_groups')[0].setStyle('margin-bottom', ''+tab_height+'px');
      $$('.tab_headers')[0].setStyle('margin-bottom', ''+tab_height+'px');
      $$('#content')[0].setStyle('margin-top', ''+tab_height+'px');
    }


    window.addEvent('domready', function() {
    $('toggle_sidebar').addEvent('click', function() {
      var sidebar = $$('#sidebar')[0];
      var header = $$('#header')[0];
      var content = $$('#content')[0];
      if (sidebar.isVisible()) {
        sidebar.hide();
        header.setStyle('right', '0px');
        content.setStyle('right', '0px');
      } else {
        sidebar.show();
        header.setStyle('right', '220px');
        content.setStyle('right', '220px');
      }
      });
    });

    set_content_position();
    set_tab_height();
    
  </script>
{% endblock %}


