<!--Force IE6 into quirks mode with this comment tag-->

{% block htmltype %}
<?xml version="1.0" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% endblock %}

<html>
    <head>

        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        
        {% block htmlmeta %} {# Additional META tags should follow here #}
        {% endblock %}
        
        <title>{% block htmltitle %}Title{% endblock %}</title>
    
        
        {% block htmlcss %} {# additional css, please block.super it  #}    
            <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL}}css/base.css" />
            <link rel="stylesheet" href="{{ MEDIA_URL}}css/datepicker.css" media="screen"/>
            <link rel="stylesheet" href="{{ MEDIA_URL}}css/Roar.css" media="screen"/>
            <link rel="stylesheet" href="{{ MEDIA_URL}}feedback/css/feedback.css" media="screen"/>
        {% endblock %} 
        
        {% block jshead %} {# enqueue javasript, please block.super it #}
        {% endblock %} 
        
    </head>

    <body>
        {% include 'feedback.html' %}

        <div id="header">
                        
        {% block header %}
            
            <div id="headertitle">
            
            <h1>
            {% block headertitle %}
            
            {% endblock %}
            </h1>
            
            </div>
            
            <div id="headertext">
            
            {% block headertext %}
            
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            
            {% endblock %}
            
            </div>
            
            <div id="headernav">
            
            {% block headernav %}
               headernav
            {% endblock %}
              
            </div>
        
        {% endblock %}
        
        </div>

                           
        <div id="sidebar">
            
            {% block sidebar %}
                
    
                <div id="logo">
                    
                {% block logo %}
                    
                <img src="{{ MEDIA_URL }}/images/logo.png" alt="Meduni Wien"/>
                
                {% endblock %}
                    
                </div>
                
                <div id="account">
                
                {% block account %}
                
                    <p>eingeloggt als Max Mustermann</p>
                    <p>Profil | Logout</p>
                    
                {% endblock %}
                    
                </div>
                
                <div id="usertoolbar">
                
                {% block usertoolbar %}
                
                    Toolbar 
                    
                {% endblock %}
                    
                </div>
                
                <div id="usermenu">
                
                {% block usermenu %}
                
                {% endblock %}
                    
                </div>
            
        
            {% endblock %} {# sidebar #}    
            
        </div>

        
        <div id="content">          
                
            <div class="innertube">
                                        
            {% block content %}
                
            {% endblock %} {# content #}    
                
            </div>
                        
        </div>

        <div id="footer">

            {% block jsbottom %} {# enqueue additional javasript, please block.super it #}
                 <script type="text/javascript" src="{{ MEDIA_URL }}js/mootools-1.2.4-core.js"></script>
                 <script type="text/javascript" src="{{ MEDIA_URL }}js/mootools-1.2.4.4-more.js"></script>
                 <script type="text/javascript" src="{{ MEDIA_URL }}js/datepicker.js"></script>
                 <script type="text/javascript" src="{{ MEDIA_URL }}js/Roar.js"></script>
                 {% include 'feedback-jsbottom.html' %}
            {% endblock %}
        </div>
        
    </body>

</html>
