{% extends 'base.html' %}
{% load compress %}
{% load i18n %}

{% block account %} 
  <div class="user_icon"><a href="{% url ecs.users.views.profile %}"><img src="{{ MEDIA_URL }}images/core/user.png" alt="user"/></a></div> 
  <div class="user_name"><a href="{% url ecs.users.views.profile %}">{{ user.get_full_name|default:user.username }}</a></div>
  <div class="user_options">{% comment %} <a href="">Profil</a> | {% endcomment %} <a href="/accounts/logout">Logout</a></div>
  {% load userswitcher %}
  {% userswitcher %}
  <p>
  {% comment %}
  <a href=""><img src="{{ MEDIA_URL }}images/core/search.png" alt="search"/></a> 
  {% endcomment %}
  <a href="" id="help_button" class="help_trigger"><img src="{{ MEDIA_URL }}images/core/help.png" alt="help"/></a>
  <a href="" id="feedback_button" class="feedback_trigger"><img src="{{ MEDIA_URL }}images/feedback.png" alt="feedback" title="Feedback" /></a>
  </p> 
{% endblock %}

{% block searchbox %}
  <div class="searchbox">
    <form action="{% url ecs.core.views.submission_form_list %}" method="get" enctype="multipart/form-data">
      <input type="text" name="keyword" value="{% block quicksearch_keyword %}{% endblock %}"/>
      <input type="submit" value="" title="suchen" />
    </form>
  </div>
{% endblock %}

{% block usertoolbar %} 
  <a href="" id="workflow_button" class="workflow_trigger"><img src="{{ MEDIA_URL }}images/core/workflow.png" alt="workflow" title="Workflow" /></a>
{% endblock %}
        
{% block usermenu %}
  <ul>
    <li><a href="{% url ecs.dashboard.views.view_dashboard %}">{% trans "Dashboard" %}</a></li>
    <li>
      <span class="togglers">{% trans "Studies" %}</span>
      <ul class="elements">
          <li><a href="{% url ecs.core.views.submission_form_list %}">Eingereichte und Neue</a></li>
          <li><a href="{% url ecs.core.views.create_submission_form %}">Neuer Antrag</a></li>
          <li><a href="{% url ecs.core.views.import_submission_form %}">Import</a></li>
          <li><a href="{% url ecs.billing.views.submission_billing %}">Gebühren</a></li>
          <li><a href="{% url ecs.billing.views.external_review_payment %}">Gutachter Bezahlung</a></li>
      </ul>
    </li>
    <li>
      <span class="togglers">{% trans "Study Notifications" %}</span>
      <ul class="elements">
	<li><a href="{% url ecs.notifications.views.notification_list %}">Offene Meldungen</a></li>
        <li><a href="{% url ecs.notifications.views.select_notification_creation_type %}">neue Meldung</a></li>
      </ul>
    </li>
    <li>
      <span class="togglers">{% trans "Meetings" %}</span>
      <ul class="elements">
        <li><a href="{% url ecs.meetings.views.meeting_list %}">Sitzungen</a></li>
        <li><a href="{% url ecs.meetings.views.create_meeting %}">neue Sitzung</a></li>
      </ul>
    </li>
    <li>
      <span class="togglers">{% trans "Demo" %}</span>
      <ul class="elements">
          <li><a href="{% url ecs.communication.views.send_message %}">Neue Nachricht</a></li>
          <li><a href="{% url ecs.users.views.pending_approval_userlist %}">Unbestätigte Benutzer</a></li>
          <li><a href="{% url ecs.users.views.indisposed_userlist %}">{% trans 'Indisposed Users' %}</a></li>
          <li><a href="{% url ecs.audit.views.log "html" %}">{% trans 'Audit Trail' %}</a></li>
      </ul>
    </li>
    <li>
      <span class="togglers">{% trans "Recent Activities" %}</span>
      {% load tracking %}
      {% get_tracking_history as history %}
      <ul class="elements" style="font-size:0.9em">
          {% for entry in history %}
              <li><a href="{{ entry.url }}">{{ entry.timestamp|date:'H:i:s' }} Uhr: {{ entry.title }} ({{ entry.view.path }})</a></li>
          {% endfor %}
      </ul>
  </ul>
{% endblock %}

{% block headernav %}
    {% if user.ecs_profile.indisposed %}
    <div>
      {% url ecs.users.views.profile as profile_url %}
      {% blocktrans with profile_url as profile_url %}
          You are currently marked indisposed. To reclaim your tasks, please visit your <a href="{{ profile_url }}">profile</a>.
      {% endblocktrans %}
    </div>
    {% endif %}
{% endblock %}

{% block jsbottom %}
  {{ block.super }}
  <script type="text/javascript">
    function get_origin() {
      {% comment %}
      // TODO either inject origin from application page or develop an URL scheme which allows solid inference by algorithm
      //
      // Counter example:
      // When used on the "new submission" page the code turns 
      //
      //   http://ecsdev.ep3.at:8081/core/submission_form/new/6c8a98e534294bdf8ba558a037fcb9f8/
      //
      // into 
      //
      //   http-3A-2F-2Fecsdev.ep3.at-3A8081-2Fcore-2Fsubmission_form-2Fnew-2F6c8a98e534294bdf8ba558a037fcb9f8-2F
      //
      // where the feedback is grouped by this origin string but the id 6c8a98e534294bdf8ba558a037fcb9f8 will
      // prevent usable grouping. => we replace the volatile <hex id> with static 'id' string
      {% endcomment %}
      var re_id_axe = /[0-9a-f]{32}/;
      var x = encodeURIComponent(window.location.href).replace(/-/g, "--").replace(/%/g, "-").replace(re_id_axe, 'id');
      return x;
    }

    var accordionitem_name = '{% block menuSelection %}overview{% endblock %}';
    var accordion_items = {
      'overview': -1,
      'submissions': 0,
      'notifications': 1,
      'meetings': 2,
      'demo': 3
    };
    var accordionitem = accordion_items[accordionitem_name];
    if(typeof(accordionitem) === 'undefined') {
      var accordionitem = accordion_items['overview'];
    }
    
    function maxlength(e) {
      if (e.control || e.alt || e.meta ||
          e.key === 'up' || e.key === 'down' || e.key === 'left' || e.key === 'right' ||
          e.key === 'backspace' || e.key === 'delete' || e.key === 'esc') {
        return true;
      }

      var max = e.target.className.match(/maxlength-(\d*)/)[1];
      return (e.target.value.length < max);
    }

    window.addEvent('domready', function(){

      $$('textarea.maxlength').each(function(el) {
        el.addEvent('keypress', maxlength);
      });

      // accordions
      var toggles = $$('.togglers');
      var content = $$('.elements');      

      $$('#usermenu .elements').show();
      var AccordionObject = new Accordion(toggles, content, { display: accordionitem });

      // feedback system
      var feedback_triggers = $(document.body).getElements('a.feedback_trigger');
      var feedback_handler = function(event) { 
        event.stop();
        var url = '/feedback/input/i/1/' + get_origin() + '/';
        // TODO: fix for feedback and userswitcher target (should display original_user)
        new ecs.Dialog(url, {
          title: 'Feedback von {% if request.original_user %}{{ request.original_user.get_full_name }}{% else %}{{ user.get_full_name }}{% endif %}',
          size: {
          width: 700,
          height: 400 }
        });
      };
      feedback_triggers.addEvent('click', feedback_handler);
      
      // single login popup
      {% if user.ecs_profile.get_single_login_enforced %}
        ecs.messages.alert('{% trans 'Single Login enforced' %}', '{% trans 'The old session is now void.' %}');
      {% endif %}
      
      // message popups
      {% load communication tasks %}
      {% fetch_messages as new_messages %}
      {% fetch_tasks as new_tasks %}
      var newMessages = [{% for message in new_messages %}{'sender': '{{ message.sender|escapejs }}', 'subject': '{{ message.subject|escapejs }}'}{% if not forloop.last %}, {% endif %}{% endfor %}];
      var newTasks = [{% for task in new_tasks %}{'__unicode__': '{{ task|escapejs }}'}{% if not forloop.last %}, {% endif %}{% endfor %}];
      newMessages.each(function(msg){
          ecs.messages.alert('Neue Nachricht', '<b>{subject}</b> von {sender}'.substitute(msg));
      });
      newTasks.each(function(task){
          ecs.messages.alert('Neuer Task', '<b>{__unicode__}</b>'.substitute(task));
      });
      
      {% for message in messages %}
          ecs.messages.alert('{{ message.tags|escapejs }}', '{{ message|escapejs }}')
      {% endfor %}
      
      // workflow popups
      
      ecs.showWorkflowPopup = function(options){
          var url = '{% url ecs.tasks.views.my_tasks %}?url={{ request.path|urlencode }}{% if submission_form %}&submission={{ submission_form.submission_id }}{% endif %}';
          if(options && options.url){
              url = options.url;
          }
          var dialog = new ecs.Dialog(url, {
              title: 'Workflow',
              size: {width: 700, height: 400}
          });
      };
      
      $('workflow_button').addEvent('click', function(){
          ecs.showWorkflowPopup();
          return false;
      });
      
      $('help_button').addEvent('click', function(e){
          var link = $(e.target);
          var url = '{% url ecs.help.views.find_help view_pk=request.tracking_data.view.pk %}';
          if(e.shift){
              url = '{% url ecs.help.views.edit_help_page view_pk=request.tracking_data.view.pk %}';
          }
          if(window.location.hash){
              url += window.location.hash.substring(1) + '/';
          }
          //window.location.href = url;
          var windowSize = $(window).getSize();
          var overlay = new Element('div', {id: 'help_overlay'});
          var iframe = new Element('iframe', {id: 'help_iframe', src: url});
          overlay.appendChild(iframe);
          overlay.setStyles({width: windowSize.x, height: windowSize.y});
          iframe.onload = function(){
              iframe.contentWindow.close = function(){
                  overlay.dispose();
              };
          };
          document.body.appendChild(overlay);
          return false;
      });
      
      
      new BugShot();
    });
  </script>
{% endblock %}
