{% extends 'base.html' %}
{% load compress %}
{% load i18n userutils core %}

{% block account %}
  <div class="user_data">
    <div class="user_icon"><a href="{% url ecs.users.views.profile %}">User</a></div> 
    <div class="user_name"><a href="{% url ecs.users.views.profile %}">{{ user }}</a>
      <span class="user_logout"><a href="/accounts/logout">Logout</a></span>
    </div>
    
  </div>
  {% load userswitcher %}
  {% userswitcher %}
{% endblock %}

{% block usertoolbar %}
  <div class="searchbox">
    <form action="{% url ecs.core.views.submission_forms %}" method="get" enctype="multipart/form-data">
      <input type="text" name="keyword" value="{% block quicksearch_keyword %}{% endblock %}"/>
      <input type="submit" value="" title="suchen" />
    </form>
  </div>
  <a href="{% url ecs.tasks.views.popup %}?url={{ request.path|urlencode }}{% if submission_form %}&amp;submission={{ submission_form.submission_id }}{% endif %}" id="workflow_button" class="open-in-popup icon_workflow">workflow</a>
  <a href="" id="help_button" class="help_trigger icon_help">help</a>
  <a href="" id="feedback_button" class="feedback_trigger icon_feedback">feedback</a>
{% endblock %}
        
{% block usermenu %}
  <ul>
    <li class="main_item"><a href="{% url ecs.dashboard.views.view_dashboard %}">{% trans "Dashboard" %}</a></li>
    <li class="main_item"><a href="{% url ecs.communication.views.threads %}">{% trans "Communication" %}</a></li>
    <li class="main_item"><a href="{% url ecs.tasks.views.list %}">{% trans "Tasks" %}</a></li>
    <li>
      <span class="togglers">{% trans "Studies" %}</span>
      <ul class="elements">
          {% if user|has_flag:"internal" or user|is_member_of:"EC-Thesis Review Group" %}
              <li><a href="{% url ecs.core.views.submission_forms %}">{% trans "All Studies" %}</a></li>
          {% endif %}
          {% if user|assigned_submissions_count %}
              <li><a href="{% url ecs.core.views.assigned_submission_forms %}">{% trans "Assigned Studies" %}</a></li>
          {% endif %}
          {% if user|my_submissions_count %}
              <li><a href="{% url ecs.core.views.my_submission_forms %}">{% trans "My Studies" %}</a></li>
          {% endif %}
          <li><a href="{% url ecs.core.views.create_submission_form %}">{% trans "New Submission" %}</a></li>
          {% if user|has_flag:"approved_by_office" %}
              <li><a href="{% url ecs.core.views.import_submission_form %}">{% trans "Import" %}</a></li>
          {% endif %}
      </ul>
    </li>
    <li>
      <span class="togglers">{% trans "Study Notifications" %}</span>
      <ul class="elements">
          <li><a href="{% url ecs.notifications.views.all_notifications %}">{% trans 'All Notifications' %}</a></li>
          <li><a href="{% url ecs.notifications.views.open_notifications %}">{% trans 'Open Notifications' %}</a></li>
          <li><a href="{% url ecs.notifications.views.answered_notifications %}">{% trans 'Answered Notifications' %}</a></li>
          <li><a href="{% url ecs.notifications.views.select_notification_creation_type %}">{% trans 'New Notification' %}</a></li>
      </ul>
    </li>
    {% if user|has_flag:"internal" or user|has_flag:"board_member" %}
        <li>
          <span class="togglers">{% trans "Meetings" %}</span>
          <ul class="elements">
                <li><a href="{% url ecs.meetings.views.next %}">{% trans "Next Meeting" %}</a></li>
                {% if user|has_flag:"internal" %}
                    <li><a href="{% url ecs.meetings.views.upcoming_meetings %}">{% trans "Upcoming Meetings" %}</a></li>
                    <li><a href="{% url ecs.meetings.views.past_meetings %}">{% trans "Past Meetings" %}</a></li>
                    {% if user|is_member_of:"EC-Office" %}
                        <li><a href="{% url ecs.meetings.views.create_meeting %}">{% trans "New Meeting" %}</a></li>
                    {% endif %}
                    <li><a href="{% url ecs.fastlane.views.list %}">{% trans "Fast Lane Meetings" %}</a></li>
                    {% if user|is_member_of:"EC-Office" %}
                        <li><a href="{% url ecs.fastlane.views.new %}">{% trans "New Fast Lane Meeting" %}</a></li>
                    {% endif %}
                {% endif %}
          </ul>
        </li>
    {% endif %}
    {% if user|has_flag:"internal" or user|has_flag:"executive_board_member" %}
        <li>
          <span class="togglers">{% trans "Administration" %}</span>
          <ul class="elements">
                {% if user|has_flag:"internal" %}
                    <li><a href="{% url ecs.users.views.administration %}">{% trans "User Administration" %}</a></li>
                    <li><a href="{% url ecs.billing.views.submission_billing %}">Gebühren</a></li>
                    <li><a href="{% url ecs.billing.views.external_review_payment %}">Gutachter Bezahlung</a></li>
                {% endif %}
                <li><a href="{% url ecs.boilerplate.views.list_boilerplate %}">{% trans 'Boilerplate' %}</a></li>
                {% if user|has_flag:"executive_board_member" %}
                    <li><a href="{% url ecs.audit.views.log "html" %}">{% trans "Audit Trail" %}</a></li>
                {% endif %}
          </ul>
        </li>
    {% endif %}
    <li>
      <span class="togglers">{% trans "Demo" %}</span>
      <ul class="elements">
      {% if user.is_superuser %}
           <li><a href="{% url sentry.views.index %}">{% trans "Sentry ErrorLog" %}</a></li>
      {% endif %}
      </ul>
    </li>
    {% comment %}
    <li>
      <span class="togglers">{% trans "Recent Activities" %}</span>
      {% load tracking %}
      {% get_tracking_history as history %}
      <ul class="elements" style="font-size:0.9em">
          {% for entry in history %}
              <li><a href="{{ entry.url }}">{{ entry.timestamp|date:'H:i:s' }} Uhr: {{ entry.title }} ({{ entry.view.path }})</a></li>
          {% endfor %}
      </ul>
    </li>
    {% endcomment %}
  </ul>
{% endblock %}

{% block headernav %}
    {% if user.ecs_profile.indisposed %}
    <div>
      {% url ecs.users.views.profile as profile_url %}
      {% blocktrans with profile_url as profile_url %}
          You are currently marked indisposed. To reclaim your tasks, please visit your <a href="{{ profile_url }}">profile</a>.
      {% endblocktrans %}
    </div>
    {% endif %}
{% endblock %}

{% block jsbottom %}
  {{ block.super }}
  <script type="text/javascript">
    function get_origin() {
      {% comment %}
      // TODO either inject origin from application page or develop an URL scheme which allows solid inference by algorithm
      //
      // Counter example:
      // When used on the "new submission" page the code turns 
      //
      //   http://ecsdev.ep3.at:8081/core/submission_form/new/6c8a98e534294bdf8ba558a037fcb9f8/
      //
      // into 
      //
      //   http-3A-2F-2Fecsdev.ep3.at-3A8081-2Fcore-2Fsubmission_form-2Fnew-2F6c8a98e534294bdf8ba558a037fcb9f8-2F
      //
      // where the feedback is grouped by this origin string but the id 6c8a98e534294bdf8ba558a037fcb9f8 will
      // prevent usable grouping. => we replace the volatile <hex id> with static 'id' string
      {% endcomment %}
      var re_id_axe = /[0-9a-f]{32}/;
      var x = encodeURIComponent(window.location.href).replace(/-/g, "--").replace(/%/g, "-").replace(re_id_axe, 'id');
      return x;
    }

    var accordion_choices = [
        'submissions',
        'notifications',
{% if user|has_flag:"internal" or user|has_flag:"board_member" %}
        'meetings',
{% endif %}
{% if user|has_flag:"internal" or user|has_flag:"executive_board_member" %}
        'administration',
{% endif %}
        'demo'
    ];

    var accordionitem_name = '{% block menuSelection %}overview{% endblock %}';
    var accordion_items = {
      'overview': -1,
      'communication': -1,
      'tasks': -1,
    };

    for(var i=0; i < accordion_choices.length; i++) {
        accordion_items[accordion_choices[i]] = i;
    }

    var accordionitem = accordion_items[accordionitem_name];
    if(typeof(accordionitem) === 'undefined') {
      var accordionitem = accordion_items['overview'];
    }
    
    function maxlength(e) {
      if (e.control || e.alt || e.meta ||
          e.key === 'up' || e.key === 'down' || e.key === 'left' || e.key === 'right' ||
          e.key === 'backspace' || e.key === 'delete' || e.key === 'esc') {
        return true;
      }

      var max = e.target.className.match(/maxlength-(\d*)/)[1];
      return (e.target.value.length < max);
    }

    window.addEvent('domready', function(){

      $$('textarea.maxlength').each(function(el) {
        el.addEvent('keypress', maxlength);
      });

      // accordions
      var toggles = $$('.togglers');
      var content = $$('.elements');      

      $$('#usermenu .elements').show();
      var AccordionObject = new Accordion(toggles, content, { show: accordionitem , duration: 200});

      // feedback system
      var feedback_triggers = $(document.body).getElements('a.feedback_trigger');
      var feedback_handler = function(event) { 
        event.stop();
        var url = '/feedback/input/i/1/' + get_origin() + '/';
        // TODO: fix for feedback and userswitcher target (should display original_user)
        new ecs.Dialog(url, {
          title: 'Feedback von {% if request.original_user %}{{ request.original_user }}{% else %}{{ user }}{% endif %}',
          size: {
          width: 700,
          height: 400 }
        });
      };
      feedback_triggers.addEvent('click', feedback_handler);
      
      // single login popup
      {% if user.ecs_profile.get_single_login_enforced %}
        ecs.messages.alert('{% trans 'Single Login enforced' %}', '{% trans 'The old session is now void.' %}');
      {% endif %}
      
      // message popups
      {% load communication tasks %}
      {% fetch_messages as new_messages %}
      {% fetch_tasks as new_tasks %}
      var newMessages = [{% for message in new_messages %}{'sender': '{{ message.sender|escapejs }}', 'subject': '{{ message.thread.subject|escapejs }}'}{% if not forloop.last %}, {% endif %}{% endfor %}];
      var newTasks = [{% for task in new_tasks %}{'__unicode__': '{{ task|escapejs }}'}{% if not forloop.last %}, {% endif %}{% endfor %}];

      var message_popup_body = '';
      newMessages.each(function(msg) {
        message_popup_body += '<strong>{subject}</strong> - {sender}<br />\n'.substitute(msg);
      });

      {% if new_messages|length %}
        ecs.messages.alert('{% trans "New Messages" %} ({{ new_messages|length }})', message_popup_body);
      {% endif %}

      newTasks.each(function(task){
          ecs.messages.alert('Neuer Task', '<strong>{__unicode__}</strong>'.substitute(task));
      });
      
      {% for message in messages %}
          ecs.messages.alert('{{ message.tags|escapejs }}', '{{ message|escapejs }}')
      {% endfor %}
      
      // workflow popups
      
      $('help_button').addEvent('click', function(e){
          var link = $(e.target);
          var url = '{% url ecs.help.views.find_help view_pk=request.tracking_data.view.pk %}';
          if(e.shift){
              url = '{% url ecs.help.views.edit_help_page view_pk=request.tracking_data.view.pk %}';
          }
          if(window.location.hash){
              url += '?anchor=' + encodeURIComponent(window.location.hash.substring(1));
          }
          var win = window.open(url, 'ecshelp');
          win.focus();
          return false;
      });
      
      camera.install();
      new camera.Camera({
          'class': 'bugshot',
          'url': '/bugshot/',
          'title': 'BugShot',
          'form': '<div><input type="text" name="summary" value="" /></div>'+
          '<div>Owner: <input type="text" name="owner" value="" /></div>'+
          '<div>Priority: <input type="text" name="priority" value="" /></div>'+
          '<div><textarea name="description"></textarea></div>',
          onShow: function(self){
              self.overlay.getElement('textarea').value = "URL: " + window.location.href + "\n\n== Reproduction == \n\n== Expected == \n\n== Screenshot ==\n[[Image(screenshot." + self.options.format + ", 400px)]]\n";
              self.overlay.getElement('input[type=text]').value = "[bugshot] ";
          },
          keyTrigger: function(e){
              return (e.meta || e.control) && e.key == ':';
          }
      });
      
      new camera.Camera({
          'class': 'bugshot',
          'url': '/help/screenshot/',
          'title': 'Help Screenshot',
          'form': '<div><input type="text" name="slug" /></div>',
          keyTrigger: function(e){
              return (e.alt && e.shift && e.key == '—') || ((e.meta || e.control) && e.key == ';');
          }
      });
    });
  </script>
{% endblock %}
