{% extends 'shell.html' %}
{% load alert compress i18n userutils core scratchpad userswitcher staticfiles version_tag %}

{% block htmlbody %}
    <div id="container">
        <div id="header">
            <h1 id="headertitle">{% block headertitle %}{% endblock %}</h1>
            <div id="headernav">
                {% block headernav %}
                    {% if user.profile.is_indisposed %}
                    <div>
                      {% url 'ecs.users.views.profile' as profile_url %}
                      {% blocktrans with profile_url as profile_url %}
                          You are currently marked indisposed. To reclaim your tasks, please visit your <a href="{{ profile_url }}">profile</a>.
                      {% endblocktrans %}
                    </div>
                    {% endif %}
                {% endblock %}
            </div>
            {% block header_actions %}
            {% endblock %}

            {% if request.task_management.form %}
                <a id="toggle_headerworkflow" title="{% trans 'Task Management Widget verstecken/wiederherstellen' %}">&lt;</a>
                <div id="headerworkflow">
                {% with request.task_management.form as form %}
                    {% include 'tasks/manage_task.html' %}
                {% endwith %}
                </div>
            {% endif %}
        </div>

        <div id="content">
            <div class="innerwrap">
                {% for message in messages %}
                    <div class="alert alert-{{ message.level|level2alert }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}

                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    <div id="sidebar">
        <div id="logo">
            <img src="{% url 'ecs.core.views.logo' %}" alt="Logo"/>
            <small>{% current_version %}</small>
        </div>
        <div id="account">
            <div class="user_data">
                <span class="fa fa-user"></span>
                <a href="{% url 'ecs.users.views.profile' %}">{{ user }}</a>
                <a class="user_logout" href="/accounts/logout">Logout</a>
            </div>
            {% userswitcher %}
        </div>
        <div id="usertoolbar">
            <form action="{% url 'ecs.core.views.submissions.all_submissions' %}" method="get">
              <div class="searchbox input-group input-group-sm">
                <input type="text" class="form-control" name="keyword" value="{% block quicksearch_keyword %}{% endblock %}"  placeholder="Suche" />
                <span class="input-group-btn">
                  <button class="btn btn-secondary fa fa-search" type="submit"></button>
                </span>
              </div>
            </form>
            <a href="" id="help_button" class="help_trigger fa fa-question-circle-o fa-2x text-info" title="{% trans "Click here to get help." %}"></a>
            {% get_scratchpad as scratchpad %}
            <a href="{% url 'ecs.scratchpad.views.popup' %}{% if submission %}?submission={{ submission.pk }}{% endif %}" class="fa fa-sticky-note{% if not scratchpad or scratchpad.is_empty %}-o{% endif %} fa-2x text-info scratchpad" title="{% if submission %}{% blocktrans with submission|ec_number as ec_number %}Show my scratchpad for submission {{ ec_number }}{% endblocktrans %}{% else %}{% trans "Show my scratchpad" %}{% endif %}"></a>
            {% if user.profile.is_internal %}
              {% get_breadcrumbs as crumbs %}
              {% if crumbs %}
              <div class="breadcrumbs">
                {% for submission in crumbs %}
                  <a href="{% url 'view_submission' submission_pk=submission.pk %}">{{ submission|ec_number }}{% if not forloop.last %},{% endif %}</a>
                {% endfor %}
              </div>
              {% endif %}
            {% endif %}
        </div>
        <div id="usermenu">
            <nav class="nav nav-pills nav-stacked">
                <a class="nav-link dashboard" href="{% url 'ecs.dashboard.views.view_dashboard' %}">{% trans "Dashboard" %}</a>
                <a class="nav-link communication" href="{% url 'ecs.communication.views.list_threads' %}">{% trans "Communication" %}</a>
                {% if user.profile.show_worklow_widget %}
                    <a class="nav-link tasks" href="{% url 'ecs.tasks.views.task_list' %}">{% trans "Tasks" %}</a>
                {% endif %}
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle submissions" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Studies" %}</a>
                    <div class="dropdown-menu">
                        {% if user.profile.is_internal %}
                            <a class="dropdown-item" href="{% url 'ecs.core.views.submissions.all_submissions' %}">{% trans "All Studies" %}</a>
                        {% endif %}
                        {% if user|has_assigned_submissions %}
                            <a class="dropdown-item" href="{% url 'ecs.core.views.submissions.assigned_submissions' %}">{% trans "Assigned Studies" %}</a>
                        {% endif %}
                        {% if user|has_submissions %}
                            <a class="dropdown-item" href="{% url 'ecs.core.views.submissions.my_submissions' %}">{% trans "My Studies" %}</a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'ecs.core.views.submissions.create_submission_form' %}">{% trans "New Submission" %}</a>
                        <a class="dropdown-item" href="{% url 'ecs.core.views.submissions.import_submission_form' %}">{% trans "Import" %}</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle notifications" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Study Notifications" %}</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'ecs.notifications.views.open_notifications' %}">{% trans 'Open Notifications' %}</a>
                        <a class="dropdown-item" href="{% url 'ecs.notifications.views.select_notification_creation_type' %}">{% trans 'New Notification' %}</a>
                    </div>
                </div>
                {% if user.profile.is_internal or user.profile.is_board_member or user.profile.is_resident_member or user.profile.is_omniscient_member %}
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle meetings" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Meetings" %}</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'ecs.meetings.views.next' %}">{% trans "Next Meeting" %}</a>
                            {% if user.profile.is_internal or user.profile.is_resident_member or user.profile.is_omniscient_member %}
                                <a class="dropdown-item" href="{% url 'ecs.meetings.views.upcoming_meetings' %}">{% trans "Upcoming Meetings" %}</a>
                            {% endif %}
                            {% if user.profile.is_internal %}
                                <a class="dropdown-item" href="{% url 'ecs.meetings.views.past_meetings' %}">{% trans "Past Meetings" %}</a>
                            {% endif %}
                            {% if user|is_member_of:"EC-Office" %}
                                <a class="dropdown-item" href="{% url 'ecs.meetings.views.create_meeting' %}">{% trans "New Meeting" %}</a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                {% if user.profile.is_internal %}
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle administration" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Administration" %}</a>
                        <div class="dropdown-menu">
                            {% if user|is_member_of:"EC-Office" or user|is_member_of:"EC-Executive Board Member" %}
                                <a class="dropdown-item" href="{% url 'ecs.users.views.administration' %}">{% trans "User Administration" %}</a>
                                <a class="dropdown-item" href="{% url 'ecs.billing.views.submission_billing' %}">{% trans "Accounting of fees" %}</a>
                                <a class="dropdown-item" href="{% url 'ecs.billing.views.external_review_payment' %}">Gutachter Bezahlung</a>
                                <a class="dropdown-item" href="{% url 'ecs.core.views.administration.advanced_settings' %}">{% trans 'Advanced Settings' %}</a>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'ecs.statistics.views.stats' %}">{% trans 'Statistics' %}</a>
                            <a class="dropdown-item" href="{% url 'ecs.boilerplate.views.list_boilerplate' %}">{% trans 'Boilerplates' %}</a>
                            {% if user|is_member_of:'EC-Signing' or user|is_member_of:'EC-Office' %}
                                <a class="dropdown-item" href="{% url 'ecs.pki.views.cert_list' %}">{% trans 'PKI' %}</a>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'ecs.tags.views.index' %}">{% trans "Tags" %}</a>
                        </div>
                    </div>
                {% endif %}
            </nav>
        </div>
    </div>
{% endblock %}

{% block jsbottom %}
  {{ block.super }}
  <script type="text/javascript">
    $(function(){
      var selected = '{% block menuSelection %}dashboard{% endblock %}';
      $('#usermenu .nav-link.' + selected).addClass('active');

      {% if request.task_management.form %}
          ecs.init_task_form();
      {% endif %}

      window.openHelpPage = function(ev) {
          if (ev)
              ev.preventDefault();

          {% if request.tracking_data.view %}
              var url = '{% url 'ecs.help.views.find_help' view_pk=request.tracking_data.view.pk %}';
              if(ev && ev.shiftKey){
                  url = '{% url 'ecs.help.views.edit_help_page' view_pk=request.tracking_data.view.pk %}';
              }
              if(window.location.hash){
                  url += '?anchor=' + encodeURIComponent(window.location.hash.substring(1));
              }
          {% else %}
              var url = '{% url 'ecs.help.views.index' %}';
          {% endif %}
          var win = window.open(url, 'ecshelp');
          win.focus();
      };
      
      $('#help_button').click(window.openHelpPage);

      $('#userswitcher_input').select2({placeholder: null});

      $(document).on('click', 'a.scratchpad', function(ev) {
          ev.preventDefault();

          var modal = ecs.popup();
          modal.find('.modal-content').load($(this).attr('href'), function() {
              var textarea = modal.find('textarea[name="text"]');
              var len = textarea.val().length;
              textarea.focus();
              textarea.get(0).setSelectionRange(len, len);
          });

          modal.on('hide.bs.modal', function() {
              var form = modal.find('form');
              if (form.length)
                  $.post(form.attr('action'), form.serialize());
          });

          modal.on('click', 'a', function(ev) {
              ev.preventDefault();

              var form = modal.find('form');
              if (form.length)
                  $.post(form.attr('action'), form.serialize());

              modal.find('.modal-content').load($(this).attr('href'));
          });
      });

      $.fn.select2.defaults.set('placeholder', '\u2026');
      $.fn.select2.defaults.set('dropdownAutoWidth', true);
    });
  </script>
{% endblock %}
