{% extends "base.html" %}

{% block htmltitle %} Ethik-Kommission 

{% endblock %}

{% block htmlmeta %}  

{% endblock %}

{% block htmlcss %} 

{% endblock %}

{% block jshead %}

{% endblock %}

			{% block headertitle %}
						
			<h1>Review 1, bestimme Studientyp, und weitere (EK 343/2009):  HRNBL1-SIOPEN</h1>
			<p>A randomised, open-label, multicenter phase II study to investigate the efficacy and safety of two does levels of the human monoclonal antibody MT201 administered intravenously to patients with some medical issue (MT201-202)</p>
			
			{% endblock %}
			
			{% block headernav %}
			
				<ul>
					<li>&Uuml;bersicht</li>
					<li>Einreichung</li>
					<li>Checklisten</li>
					<li>Votum</li>
					<li>Meldungen</li>
					<li>Beteiligte</li>
				</ul>
			
			{% endblock %}


				{% block logo %}
					
					Logo

				{% endblock %}
				
				{% block account %}
					
					Account-Info
				
				{% endblock %}
				
				{% block usertoolbar %}
					
					User-Toolbar
				
				{% endblock %}
				
				{% block usermenu %}
					
					User-Menu
					
					<ul>
						<li>&Uuml;bersicht
							<ul>
								<li>aktuelle T&auml;tikeit</li>
								<li>n&auml;chste Schritte</li>
							</ul>
						</li>
						<li>Studien
							<ul>
								<li>aktuelle Einreichung</li>
								<li>neue Einreichung</li>
								<li>alle Einreichungen</li>
								<li>aktive Studien</li>
								<li>beendete Studien</li>
							</ul>
						</li>
						<li>Studien Meldungen
							<ul>
								<li>offene Meldungen</li>
								<li>neue Meldung</li>
								<li>vergangene Meldungen</li>
							</ul>
						</li>
						<li>Konversationen
							<ul>
								<li>alle offene</li>
								<li>zu beantworten</li>
								<li>warte auf</li>
								<li>letzte</li>
								<li>zur Studie</li>
							</ul>
						</li>
					</ul>
					
				{% endblock %}


{% block content %}

				<h2>Test Title</h2>
				
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
				
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

{% endblock %}

{% block jsbottom %}

{% endblock %} 
