{% extends 'base.html' %}

{% block jshead %} {# enqueue javasript #}
  {{ block.super }}
{% endblock %}

{% block jsbottom %}
  {{ block.super }}
  <script type="text/javascript">
    /* indicate what's actually clickable */
    jQuery(function($){
        $('a[href=#]').css('text-decoration', 'line-through');
    });
  </script>
{% endblock %}

{% block htmlcss %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/login.css" />
{% endblock %}

{% block htmltitle %}Ethik-Kommission der Medizinischen Universität Wien{% endblock %}


{% block content %} <!-- usertoolbar -->
  {% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
  {{ form.errors }}
  {% endif %}

<div class="wrapper">
  <h1>Ethikkommission Wien</h1>
    <form class="login_screen" method="post" action="{% url django.contrib.auth.views.login %}">
        <p>{{ form.username.label_tag }}<br />{{ form.username }}</p>
        <p>{{ form.password.label_tag }}<br />{{ form.password }}</p>
  
    <p><input type="submit" value="login" /></p>
    <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>
  <!--
  <p><a href=""><img src="{{ MEDIA_URL }}core/images/feedback.png" /></a></p>  -->
{% endblock %}
