{% extends 'base.html' %}

{% block jshead %} {# enqueue javasript #}
  {{ block.super }}
{% endblock %}

{% block jsbottom %}
  {{ block.super }}
  <script type="text/javascript">
  window.addEvent('domready', function(){
      if(Browser.Engine.name != 'gecko' || Browser.Engine.version < 19){
          $('browser_warning').show();
      }
  });
  </script>
{% endblock %}

{% block htmlcss %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/login.css" />
{% endblock %}

{% block htmltitle %}Ethik-Kommission der Medizinischen Universität Wien{% endblock %}


{% block content %} <!-- usertoolbar -->
  {% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
  {{ form.errors }}
  {% endif %}

<div class="wrapper">
  <h1>Ethikkommission Wien</h1>
    <div id="browser_warning" style="display:none">
        <b>Achtung:</b> Sie verwenden einen zur Zeit nicht unterstützen Webbrowser; 
        Zur korrekten Darstellung brauchen sie <a href="http://www.mozilla-europe.org/de/firefox/">Firefox</a>; 
        Klicken Sie <a href="http://www.mozilla-europe.org/de/firefox/">hier</a> um eine aktuelle Version zu installieren
    </div>
    <form class="login_screen" method="post" action="{% url django.contrib.auth.views.login %}">
        <p>{{ form.username.label_tag }}<br />{{ form.username }}</p>
        <p>{{ form.password.label_tag }}<br />{{ form.password }}</p>
  
    <p><input type="submit" value="login" /></p>
    <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>
{% endblock %}
