{% extends 'shell.html' %}
{% load compress i18n staticfiles %}

{% block htmlcss %}
    {{ block.super }}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href={% static 'css/public.scss' %} />
    {% endcompress %}
{% endblock %}

{% block htmlbody %}
<div id="container">
    <div id="content">
        <div class="innerwrap">
            {% block content %}
                <a href="/">
                    <img class="logo full" src="{% url 'ecs.core.views.logo' %}" alt="Logo"/>
                </a>
            {% endblock %}
        </div>
    </div>

    {% include 'imprint.html' %}
</div>
{% endblock %}
