{% load compress %}
{% block htmltype %}
<!DOCTYPE html>
{% endblock %}

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        {% block htmlmeta %}{% endblock %}
        <title>{% block htmltitle %}Ethik-Kommission der Medizinischen Universität Wien{% endblock %}</title>
        {% block htmlcss %}
            {% compress css %}
                <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}3rd-party/MooEditable/Assets/MooEditable/MooEditable.css" />
                <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}3rd-party/MooDialog/css/MooDialog.css" />
                 {% if use_textboxlist %}
                    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}3rd-party/TextboxList/TextboxList.css" />
                    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}3rd-party/TextboxList/TextboxList.Autocomplete.css" />
                {% endif %}
                <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}3rd-party/datepicker.css" />
                <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}3rd-party/Roar/Roar.css" />
                <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ecs/base.css" />
                <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ecs/core.css" />
                <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ecs/diff.css" />
                <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ecs/meetings.css" />
                <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ecs/communication.css" />
                <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ecs/dashboard.css" />
                <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ecs/search.css" />
                <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ecs/billing.css" />
                <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ecs/help.css" />
                <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ecs/widgets.css" />
                <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ecs/pdfviewer.css" />
                <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ecs/tasks.css" />
                <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ecs/submission.css" />
                <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ecs/administration.css" />
                <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ecs/boilerplate.css" />
                <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL}}camera/camera.css" />
            {% endcompress %}
        {% endblock %}         
        {% block jshead %}{% endblock %}
    </head>
    <body class="{% block htmlbody_class %}{% endblock %}" style="overflow: auto;">
        {% block htmlbody %}{% endblock %}
        {% block jsbottom %}
            {% compress js %}
                 <script type="text/javascript" src="{{ MEDIA_URL }}3rd-party/MooTools/mootools-1.2.4-core.js"></script>
                 <script type="text/javascript" src="{{ MEDIA_URL }}3rd-party/MooTools/mootools-1.2.4.4-more.js"></script>
                 <script type="text/javascript" src="{{ MEDIA_URL }}3rd-party/datepicker.js"></script>
                 <script type="text/javascript" src="{{ MEDIA_URL }}3rd-party/Roar/Roar.js"></script>
                 <script type="text/javascript" src="{{ MEDIA_URL }}3rd-party/GrowingInput.js"></script>
                 {% if use_textboxlist %}
                     <script type="text/javascript" src="{{ MEDIA_URL }}3rd-party/TextboxList/TextboxList.js"></script>
                     <script type="text/javascript" src="{{ MEDIA_URL }}3rd-party/TextboxList/TextboxList.Autocomplete.js"></script>
                 {% endif %}
                 <script type="text/javascript" src="{{ MEDIA_URL }}3rd-party/dbug.js"></script>
                 <script type="text/javascript" src="{{ MEDIA_URL }}3rd-party/MooEditable/Source/MooEditable/MooEditable.js"></script>
                 <script type="text/javascript" src="{{ MEDIA_URL }}3rd-party/MooDialog/Overlay.js"></script>
                 <script type="text/javascript" src="{{ MEDIA_URL }}3rd-party/MooDialog/MooDialog.js"></script>
                 <script type="text/javascript" src="{{ MEDIA_URL }}3rd-party/MooDialog/MooDialog.Iframe.js"></script>
                 <script type="text/javascript" src="{{ MEDIA_URL }}3rd-party/MooDialog/MooDialog.Confirm.js"></script>
                 <script type="text/javascript" src="{{ MEDIA_URL }}3rd-party/MooDialog/MooDialog.Error.js"></script>

                 <script type="text/javascript" src="{{ MEDIA_URL }}js/ecs/__init__.js"></script>
                 <script type="text/javascript" src="{{ MEDIA_URL }}js/ecs/TabController.js"></script>
                 <script type="text/javascript" src="{{ MEDIA_URL }}js/ecs/TabbedForm.js"></script>
                 <script type="text/javascript" src="{{ MEDIA_URL }}js/ecs/InlineFormset.js"></script>
                 <script type="text/javascript" src="{{ MEDIA_URL }}js/ecs/textarea.js"></script>
                 <script type="text/javascript" src="{{ MEDIA_URL }}js/ecs/textarea.toolbarItems.js"></script>
                 <script type="text/javascript" src="{{ MEDIA_URL }}js/ecs/utils.js"></script>
                 <script type="text/javascript" src="{{ MEDIA_URL }}js/ecs/dragdrop.js"></script>
                 <script type="text/javascript" src="{{ MEDIA_URL }}js/ecs/widgets.js"></script>
                 <script type="text/javascript" src="{{ MEDIA_URL }}js/ecs/pdfviewer.js"></script>
                 <script type="text/javascript" src="{{ MEDIA_URL }}js/ecs/communication.js"></script>

                 <script type="text/javascript" src="{{ MEDIA_URL }}camera/camera.js"></script>

             {% endcompress %}
        {% endblock %}
    </body>
</html>
