{% extends 'core.html' %}
{% load core %}

{% block title %}ECS Elektronische Einreichung{% endblock %}

{% block headertitle %}
    Neues Meeting
{% endblock %}

{% block content %}
<div id="meeting_editor">
    <h2>{{ meeting.start|date:'d.m.Y H:i' }}: {{ meeting.title }}</h2>
    <a href="{% url ecs.core.views.add_timetable_entry meeting_pk=meeting.pk %}">Termin hinzufügen</a>
    | <a href="{% url ecs.core.views.add_timetable_entry meeting_pk=meeting.pk %}?break=yes">Pause hinzufügen</a>
    | <a href="{% url ecs.core.views.optimize_timetable meeting_pk=meeting.pk,algorithm='random' %}">Zufällig Sortieren</a>
    <!--| <a href="{% url ecs.core.views.optimize_timetable meeting_pk=meeting.pk,algorithm='brute_force' %}">brute force</a> -->
    | <a href="{% url ecs.core.views.optimize_timetable meeting_pk=meeting.pk,algorithm='ga' %}">Optimieren</a>
    <div class="waiting_time">
    Wartezeit: 
        sum={{ meeting.metrics.waiting_time_total }},
        avg={{ meeting.metrics.waiting_time_avg }}, 
        max={{ meeting.metrics.waiting_time_max }}, 
        min={{ meeting.metrics.waiting_time_min }},
        var={{ meeting.metrics.waiting_time_variance }},
    </div>
    <div>Verletzte Einschränkungen: {{ meeting.metrics.constraint_violation_total }}</div>
    <ul id="timetable">
    {% for entry in meeting %}
        <li id="entry_{{ entry.pk }}" class="entry">
            <div class="dragHandle">#{{ entry.pk }} <span style="color:#ffffff">DRAG ME</span></div>
            <h3>
                {{ entry.start|date:'H:i' }} - {{ entry.end|date:'H:i' }}
                {% if entry.submission %}<a href="#">{{ entry.submission.project_title }}</a>{% endif %}
            </h3>
            <a class="remove" href="{% url ecs.core.views.remove_timetable_entry meeting_pk=meeting.pk,entry_pk=entry.pk %}">remove</a>
            <form action="{% url ecs.core.views.update_timetable_entry meeting_pk=meeting.pk,entry_pk=entry.pk %}" method="post">
                <input type="text" value="{{ entry.duration }}" name="duration" class="duration"/>
            </form>
            <div>Teilnehmer: 
                {% for user in entry.users %}{{ user }}{% if not forloop.last %}, {% endif %}{% endfor %}
            </div>
        </li>
    {% endfor %}
    </ul>
    <div style="position:absolute;right:0px;top:0px; width:200px">
        <h5>Teilnehmer ({{ meeting.users_with_constraints|length }})</h5>
        <ul id="userlist">
            {% for user in meeting.users_with_constraints %}
                <li><a class="user">{{ user }}</a>
                    <div class="info">
                    {% with meeting.metrics.waiting_time_per_user|getitem:user as waiting_time %}
                        {% if waiting_time %}
                            <div class="waiting_time">Wartezeit: {{ waiting_time }}</div>
                        {% endif %}
                    {% endwith %}
                    {% if user.constraints %}
                        <ul class="constraints">
                            {% for constraint in user.constraints %}
                                <li><span class="constraint_status">{{ meeting.metrics.constraint_violations|getitem:constraint|yesno:'1,0' }}</span>{{ constraint.start_time }} - {{ constraint.end_time }} ({{ constraint.weight }})</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <a href="{% url ecs.core.views.meetings.edit_user_constraints meeting_pk=meeting.pk,user_pk=user.pk %}">Einschränkungen bearbeiten</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block jsbottom %}
{{ block.super }}
<script type="text/javascript">
window.addEvent('domready', function(){
    function getSortableIndex(el){
        return $('timetable').getChildren().indexOf(el);
    }
    var dndInfo = {
        startIndex: null
    };
    $$('.constraint_status').each(function(span){
        var color = '#ff0000';
        if(parseFloat(span.innerHTML) == 0){
            color = '#00ff00';
        }
        span.setStyle('background-color', color);
    });
    new Sortables('timetable', {
        clone: true,
        opacity: 0.5,
        revert: true,
        handle: '.dragHandle',
        onStart: function(el, clone){
            clone.setStyle('z-index', 100);
            dndInfo.startIndex = getSortableIndex(clone);
        },
        onComplete: function(el){
            var toIndex = getSortableIndex(el);
            var fromIndex = dndInfo.startIndex;
            dndInfo.startIndex = null;
            if(fromIndex != toIndex && fromIndex !== null){
                window.location.href = '{% url ecs.core.views.move_timetable_entry meeting_pk=meeting.pk %}?from_index=' + fromIndex + '&to_index=' + toIndex;
            }
        }
    });
});
</script>
{% endblock %}
