{% extends 'db/xhtml2pdf/skeleton.html' %}
{% load core %}

{% block title %}Meeting Agenda{% endblock %}

{% block content %}
    {% include 'db/xhtml2pdf/ec_head.inc' %}
    <div align="center" style="font-weight:bold;font-size:large;">
    Tagesordnung<br />
    f&uuml;r die Sitzung der Ethik-Kommission am<br />
    {{ meeting.start|date:'d.m.Y, H:i' }} Uhr, sine tempore<br />
    im B&uuml;ro der Ethik-Kommission, Borschkegasse 8b/6. Stock, 1090 Wien<br />
    </div>
    <pdf:spacer height="1.5cm" />
    
    {% for entry in meeting %}
        <span style="font-weight:bold;">#{{ entry }}</span>
        {% if entry.submission %}
            <span style="font-weight:bold;">EK Nr.</span>
                {{ entry.submission.get_ec_number_display }}<br />
            <span style="font-weight:bold;">Antragsteller:</span>
                {% if form.submitter %}
                    {{ entry.submission.current_submission_form.submitter.first_name }} {{ form.submitter.last_name }} <br/>
                {% else %}
                    {{ entry.submission.current_submission_form.submitter_contact }}
                {% endif %}
            <span style="font-weight:bold;">Einreichende Institution:</span>
                {{ entry.submission.current_submission_form.submitter_organisation }}<br />
            <span style="font-weight:bold;">Projekttitel:</span>
                {{ entry.submission.project_title }}<br />
            <br />
        {% endif %}
    
    {% endfor %}
{% endblock %}

{% block footer %}{{ meeting.title }} {{ meeting.start|date:'d.m.Y' }} TOP{% endblock %}


