{% extends 'db/xhtml2pdf/skeleton.html' %}

{% block title %}Meeting Agenda{% endblock %}

{% block content %}
    {% include 'db/xhtml2pdf/ec_head.inc' %}
    <div align="center" style="font-weight:bold;font-size:large;">
    Sitzung der Ethik-Kommission am<br />
    {{ meeting.start|date:'d.m.Y' }}<br />
    Protokoll<br />
    </div>
    <pdf:spacer height="1.5cm" />
    
    Beginn: {{meeting.start|date:'H:i'}}<br />
    Ende: {{meeting.end|date:'H:i'}}<br />


    {% for entry in meeting %}
        <span style="font-weight:bold;">#{{ entry }}</span>
        {% if entry.submission %}
            <span style="font-weight:bold;">EK Nr.</span>
                {{ entry.submission.ec_number }}<br />
            <span style="font-weight:bold;">Antragsteller:</span>
                {{ entry.submission.get_most_recent_form.submitter_name }}<br />
            <span style="font-weight:bold;">Institut:</span>
                {{ entry.submission.get_most_recent_form.submitter_organisation }}<br />
            <span style="font-weight:bold;">Projekttitel:</span>
                {{ entry.submission.project_title }}<br />
        {% else %}
            <br />
        {% endif %}
        <br />
    
    {% endfor %}
{% endblock %}

{% block footer %}{{ meeting.title }} {{ meeting.start|date:'d.m.Y' }}Protokoll{% endblock %}


