{% extends 'db/xhtml2pdf/skeleton.html' %}

{% block title %}Votum{% endblock %}

{% block content %}
  {% include 'db/xhtml2pdf/ec_head.inc' %}
  <div align="center" style="font-weight: bold; font-size: large;">
    Sitzung der Ethik-Kommission am {{ vote_date }}, {{ vote.top }}:
    <br />
  </div>

<span style="font-weight: bold;">EK Nr: {{ ec_number }}</span> <br/>
<span style="font-weight: bold;">Antragsteller:</span> 
{% if form.submitter %}
	{{ form.submitter.first_name }} {{ form.submitter.last_name }} <br/>
{% else %}
	{{ form.submitter_contact }}
{% endif %}
<span style="font-weight: bold;">Sponsor/CRO:</span> {{ form.sponsor_name }} <br/>
<span style="font-weight: bold;">Einreichende Institution:</span> {{ form.submitter_organisation }}  <br/>
<span style="font-weight: bold;">Projekttitel:</span> {{ form.project_title }} <br/>


<pdf:spacer height="0.5cm" />


Die Stellungnahme der Ethik-Kommission erfolgt aufgrund folgender eingereichter Unterlagen:


<pdf:spacer height="0.5cm" />


<table border="1px">
<tr>
  <td><span style="font-weight: bold;">Dokument</span></td>
  <td><span style="font-weight: bold;">Version/Nr</span></td>
  <td><span style="font-weight: bold;">Datiert</span></td>
</tr>
{% for document in documents %}
<tr>
  <td>{{ document.doctype }}:</td> 
  <td>{{ document.version }}</td>
  <td>{{ document.date|date:"d.m.Y" }}</td>
</tr>
{% empty %}
<tr>
  <td colspan="3">(keine Unterlagen)</td>
</tr>
{% endfor %}
</table>


<pdf:spacer height="0.5cm" />


<div style="font-weight: bold;">Die Kommission fasst folgenden Beschluss (mit X markiert):</div>


<pdf:spacer height="0.5cm" />

<table border="1px">
<tr>
  <td width="3%">[{% if vote.result == '1' or vote.result == '1a' %}X{% else %}&nbsp;&nbsp;{% endif %}]</td>
  <td>Es besteht kein Einwand gegen die Durchführung der Studie.</td>
</tr>
<tr>
  <td>[{% if vote.result == '2' %}X{% else %}&nbsp;&nbsp;{% endif %}]</td>
  <td>Die unten bezeichneten Punkte des Antrages sind entweder noch unerledigt bzw sollten von den Antragstellern geändert/ nachgereicht werden. Nach entsprechender Vorlage/Erledigung kann auch vor der nächsten Ethik-Kommissions Sitzung ein endgültig positiver Beschluß ausgefertigt werden. Der Antrag wird in der nächsten Sitzung der Kommission nicht mehr behandelt. <br/>
    <div style="font-size: small;"><span style="text-decoration: underline;">Achtung:</span> Werden die geforderten Unterlagen von den Antragstellern nicht innerhalb von 3 Sitzungsperioden (ab Datum dieser Sitzung) nachgereicht, gilt der Antrag ohne weitere Benachrichtigung als zurückgezogen und muß gegebenenfalls als Neuantrag eingereicht werden.</div></td>
</tr>
<tr>
  <td>[{% if vote.result == '3' %}X{% else %}&nbsp;&nbsp;{% endif %}]</td>
  <td>Es bestehen Einwände gegen die Durchführung der Studie in der eingereichten Form. Die unten angeführten Punkte sollten von den Antragstellern entsprechend geändert und der Kommission neu vorgelegt werden. Der Antrag wird in der nächsten Sitzung der Kommission nochmals behandelt. <br/>
    <div style="font-size: small;"><span style="text-decoration: underline;">Achtung:</span> Werden die geforderten Unterlagen von den Antragstellern nicht innerhalb von 3 Sitzungsperioden (ab Datum dieser Sitzung) nachgereicht, gilt der Antrag ohne weitere Benachrichtigung als zurückgezogen und muß gegebenenfalls als Neuantrag eingereicht werden.</div></td>
</tr>
<tr>
  <td>[{% if vote.result == '4' %}X{% else %}&nbsp;&nbsp;{% endif %}]</td>
  <td>Der Antrag wird von der Ethik-Kommission abgelehnt.</td>
</tr>
<tr>
  <td>[{% if vote.result == '5' or vote.result == '5a' or vote.result == '5b' %}X{% else %}&nbsp;&nbsp;{% endif %}]</td>
  <td>Der TOP wird bis zur nächsten Sitzung vertagt (Begründung siehe unten)</td>
</tr>
</table> 


<pdf:spacer height="1.0cm" />

{% if vote.text %}
    <pdf:spacer height="0.5cm" />
    <span style="font-weight:bold;">Kommentar:</span><br />
    {{ vote.text|escape}}
{% endif %}


{% if submission.is_amg %}
<pdf:spacer height="0.5cm" />
<span style="font-weight:bold;">"CLOCKSTOP": Die in §41a AMG genannte Frist wird ab dem Sitzungstag bis zum vollständigen Eingelangen der in diesem Votm gefordereten Informationen gehemmt.
</span><br />
{% endif %}

{% if submission.current_submission_form.current_published_vote %}
    <pdf:spacer height="0.5cm" />
    <span style="font-weight:bold;">Letzte:</span><br />
    {{ submission.current_submission_form.current_published_vote.text|escape }}
{% endif %}

{% if submission.is_amg or submission.is_mpg %}
<pdf:spacer height="1.0cm" />
<span style="font-weight:bold;">
    Die Ethik-Kommision geht - rechtlich unverbindlich - davon aus, daß es sich um eine klinische Prüfung gemäß {% if submission.is_amg %}AMG{% endif %}{% if submission.is_amg and submission.is_mpg %}/{% endif %}{% if submission.is_mpg %}MPG{% endif %} handelt.
</span><br />
{% endif %}

<pdf:spacer height="0.5cm" />
<span>
	Mitgliederliste der Ethik-Komission (aktueller Stand am Sitzungstag) beiliegend. Mitglieder der Ethik-Kommission, die für diesen Tagesordnungspunkt als befangen anzusehen waren und daher laut Geschäftsordnung an der Entscheidungsfindung/Abstimmung nicht teilgenommen haben:  
	{% for bef in submission.get_befangene %}	
		{{ bef.first_name }} {{ bef.last_name }}<br/>
	{% empty %}
		<b>keine</b>	
	{% endfor %}
</span><br />
<pdf:spacer height="0.5cm" />
<span>
	<b>ACHTUNG:</b> Unter Berücksichtigung der "ICH-Guideline for Good Clinical Practice" gilt dieser Beschluss <b><u>ein Jahr ab Datum der Ausstellung</b></u>. Gegebenenfalls hat der Antragsteller eine Verlängerung der Gültigkeit mittles Formular für "Meldungen" rechtzeitig vorzulegen. 
</span><br />
<pdf:spacer height="1.0cm" />
    
{% endblock %}

{% block footer %}EK Nr: {{ ec_number }}, {{vote_date }}{% endblock %}

