{% extends "messages/list.html" %}
{% load messages %}

{% block content %}
<div class="messages_overview">
  <div class="messages_header">
    <h2>Outbox ({{ page.paginator.count }})</h2>
    <a class="widget popup" href="{% url ecs.messages.views.send_message %}">Neue Nachricht</a>
    | <img src="{{ MEDIA_URL }}/images/core/sort.png" alt="sortieren" />
      <a class="widget" href="{{ request.path }}?sort={% ifequal sort 'user' %}-{% endifequal %}user">Person</a> 
    | <a class="widget" href="{{ request.path }}?sort={% ifequal sort 'timestamp' %}-{% endifequal %}timestamp">Ältere/Neuere</a>
  </div>
</div>
{{ block.super }}
{% endblock %}

{% block extra_message_table_headers %}
    <th>An</th>
{% endblock %}

{% block extra_message_table_cells %}
    <td>{{ message|receiver_name:request.user }}</td>
{% endblock %}


{% block message_actions %}
    {{ block.super }}
    <a class="api" href="{% url ecs.messages.views.bump_message message_pk=message.pk %}" title="Bump"><img src="{{ MEDIA_URL }}/images/core/arrow-circle.png" alt="bump" /></a>

{% endblock %}
