{% extends "messages/popup.html" %}
{% load messages %}

{% block htmlbody %}
<div class="message_display" style="overflow:auto">
  <h2>{{ thread.subject }}</h2>
  {% for message in page.object_list %}
  <div class="item {% cycle 'even' 'odd' %}">
    <ol>
      <li><strong>Von:</strong> {{ message|sender_name:request.user  }}</li>
      <li><strong>An:</strong> {{ message|receiver_name:request.user }}</li>
      <li><strong>Datum:</strong> {{ message.timestamp|date:'d.m.Y H:i' }} Uhr</li>
      <li><strong>Betreff:</strong> 
          {% if message.thread.submission %}
              {{ message.thread.submission.ec_number }} -
          {% endif %}
          {{ message.thread.subject }}
      </li>
      <li class="actions">
          {% ifequal message.sender request.user %}
              <a class="api" href="{% url ecs.messages.views.bump_message message_pk=message.pk %}" title="Bump"><img src="{{ MEDIA_URL }}/images/core/arrow-circle.png" alt="bump" /></a>
          {% else %}
              <a href="{% url ecs.messages.views.send_message reply_to_pk=message.pk %}" title="Delegieren"><img src="{{ MEDIA_URL }}/images/core/mail-forward.png" alt="delegieren" /></a>
              <a href="{% url ecs.messages.views.send_message reply_to_pk=message.pk %}" title="Antworten"><img src="{{ MEDIA_URL }}/images/core/mail-reply.png" alt="antworten" /> </a>
          {% endifequal %}
          <a class="api" href="{% url ecs.messages.views.close_thread thread_pk=message.thread.pk %}" title="Erledigt"><img src="{{ MEDIA_URL }}/images/core/tick.png" alt="erledigt" /></a>
      </li>
      <li style="border-top: 1px solid #999999">
          <pre>{{ message.text }}</pre>
      </li>
    </ol>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block jsbottom %}
{{ block.super }}
<script type="text/javascript">
    window.addEvent('domready', function(){
        $$('a.api').each(function(link){
            link.addEvent('click', function(){
                var request = new Request({
                    url: link.href,
                    onSuccess: function(){
                        window.close();
                    }
                });
                request.send();
                return false;
            });
        })
    });
</script>
{% endblock %}
