{% load i18n widget_tweaks %}

<form action="{{ request.path }}" method="POST" class="open-in-widget">
    {% csrf_token %}
    <div class="form-group">
        {{ form.text|add_class:'form-control' }}
    </div>
    <button type="submit" class="btn btn-sm btn-primary btn-block">{% trans 'save' %}</button>
</form>

<script type="text/javascript">
    var textarea = $('#{{ form.text.id_for_label }}');
    var button = textarea.parents('form').find('button[type="submit"]');

    var len = textarea.val().length;
    textarea.focus();
    textarea.get(0).setSelectionRange(len, len);

    new ecs.textarea.TextArea(textarea, [
        ecs.textarea.toolbarItems.boilerplate(
            "{{ _('Insert Boilerplate')|escapejs }}",
            "{% url 'ecs.boilerplate.views.select_boilerplate' %}"
        )
    ]);

    function check_empty() {
        var empty = !textarea.val();
        button.prop('disabled', empty);
        textarea.parents('.form-group').toggleClass('has-danger', empty);
    }
    textarea.on('input', check_empty);
    check_empty();

    button.click(function() {
        textarea.off('input', check_empty);
        button.prop('disabled', true);
        button.html('<span class="fa fa-spinner fa-spin"></span>');
    });
</script>
