{% extends 'db/wkhtml2pdf/skeleton.html' %}
{% load core corepdf i18n %}

{% block title %}Meldung{% endblock %}

{% block content %}
    {% include 'db/wkhtml2pdf/ec_head.inc' %}
    <div class="header">
        <h1 style="text-align:center">{% trans 'Notification Answer' %}</h1>
    </div>
    <center>
    <table width="624" border="1" bordercolor="#000000" cellpadding="5" cellspacing="1">
    <col width="215"><col width="84"><col width="84"><col width="195">
    <tr>
        <th width="215" height="24">Ethik-Kommission</th>
        <th width="50">EK-Nummer</th>
        <th width="84">Protokoll-Nr.</th>
        <th width="84">EudraCT-Nr.</th>
        <th width="84">Datum des Votums</th>
        <th width="195">Prüfer</th>
    </tr>
    {% for submission_form in notification.submission_forms.all %}
    <tr>
        <td>{{ submission_form.submission.main_ethics_commission }}</td>
        <td>{{ submission_form.submission.get_ec_number_display }}</td>
        <td>{{ submission_form.submission.current_submission_form.protocol_number|default:'<i>nicht vorhanden</i>' }}</td>
        <td>{{ submission_form.submission.current_submission_form.eudract_number|default:'<i>nicht vorhanden</i>' }}</td>
        <td>{{ submission_form.current_published_vote.signed_at|date:'d.m.Y' }}</td>
        <td>{{ submission_form.submission.primary_investigator.contact }}</td>
    </tr>
    {% endfor %}
    </table>
    </center>

    {% block headitem %}
        <h1>{{ notification.type.name }} vom {{ notification.timestamp|date:'d.m.Y' }}</h1>
    {% endblock %}
    
    <h2>Angaben zum Forschungsprojekt</h2>

    {% block mainitem %}
        <p style="margin-left: 1cm; text-indent: -1cm">
            <b>Studientitel:</b>
            {% for submission_form in notification.submission_forms.all %}
                {{ submission_form.submission.project_title_display }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        <p style="margin-left: 1cm; text-indent: -1cm">
        <b>Begründung/Stellungnahme/Mitteilung</b><br>
        <b>{{ notification.comments|default:"nicht vorhanden" }}</b></p>
    {% endblock %}

    {% block documents %}
        {% if documents %}
        <h2>Anlagen</h2>

        <ol>
            {% block doclist %}
            {% for doc in documents %}
                <li>
                    {{ doc.doctype.name|default:"Sonstige Unterlagen" }}: Version {{ doc.version }} vom {{ doc.date|date:'d.m.Y' }}
                    {% if doc.original_file_name %}(Dateiname: {{ doc.original_file_name|smart_truncate:4 }}){% endif %}
                </li>
            {% endfor %}
            {% endblock %}
        </ol>
        {% endif %}
    {% endblock %}
    
    <div>{{ answer.text }}</div>

{% endblock %}

{% block footer %}Meldungsformular{% endblock %}


