{% extends 'db/wkhtml2pdf/skeleton.html' %}
{% load core corepdf i18n %}

{% block title %}Meldung{% endblock %}

{% block content %}
    {% include 'db/wkhtml2pdf/ec_head.inc' %}
    <div class="header">
        <h1>Antwort zur Meldung vom {{ notification.timestamp|date:'d.m.Y' }}<br/>{{ notification.type.name }}</h1>
    </div>
    
    <div>
        {% block study_info %}
        <h4>Angaben zur Studie</h4>
        {% with notification.submission_forms.all.0 as sf %}
        <p>
            <b>EK Nr:</b> <b>{{ sf.submission.get_ec_number_display }}</b><br />
            <b>Projekttitel:</b> {{ sf.submission.project_title_display }}<br />
            <b>Antragsteller:</b> {{ sf.submitter }}<br />
            <b>Institution:</b> {{ sf.submitter_organisation }}<br />
            <b>Sponsor:</b> {{ sf.sponsor_name }}<br />
        <p>
        {% endwith %}
        {% endblock %}
    </div>

    {% block documents %}
        {% if documents %}
            <h4>Eingereichte Unterlagen</h4>
            {% include 'db/wkhtml2pdf/documents.html' %}
        {% endif %}
    {% endblock %}
    <p style="height:0.5cm"></p>
    <p>{{ answer.text|linebreaksbr }}</p>

    <p></p>
    <p>{% now "d.m.Y" %}</p>
{% endblock %}
