{% extends 'db/notifications/answers/wkhtml2pdf/base.html' %}
{% load i18n %}

{% block headitem %}
{{ block.super }}
  <ul class="list">
    <li>{% trans 'Has the study been started?' %}: {{ notification.study_started|yesno:'Ja,Nein' }}</li>
    {% if not notification.study_started %}
        <li>{% trans 'Reason for not started' %}:{{ notification.reason_for_not_started }}</li>
    {% endif %}
    <li>{% trans 'recruited_subjects' %}: {{ notification.recruited_subjects }}</li>
    <li>{% trans 'finished_subjects' %}: {{ notification.finished_subjects }}</li>
    <li>{% trans 'aborted_subjects' %}: {{ notification.aborted_subjects }}</li>
    <li>{% trans 'SAE_count' %}: {{ notification.SAE_count }}</li>
    <li>{% trans 'SUSAR_count' %}: {{ notification.SUSAR_count }}</li>
  </ul>
{% endblock %}
