{% extends "core.html" %}
{% load core i18n %}

{% block menuSelection %}administration{% endblock %}

{% block htmltitle %}{% trans 'Advanced Settings' %} | {{ block.super }}{% endblock %}

{% block headertitle %}
    {% trans 'Advanced Settings' %}
{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <h2>{% trans 'Vote Receivers' %}</h2>
        {{ ec_formset.management_form }}
        <table>
        {% for form in ec_formset.forms %}
            <tr>
                <td>{{ form.instance }}</td>
                <td>
                    {{ form.id }}{{ form.vote_receiver }}
                    {{ form.vote_receiver.errors }}
                </td>
            </tr>
        {% endfor %}
        </table>
        <input type="submit" value="{% trans 'Save' %}"/>
    </form>
{% endblock %}

{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript">
        $(function(){
            ecs.setupFormFieldHelpers();
        });
    </script>
{% endblock %}
