{% extends "core.html" %}
{% load i18n %}

{% block menuSelection %}dashboard{% endblock %}

{% block htmltitle %}{% trans "Dashboard" %} | {{ block.super }}{% endblock %}

{% block headertitle %}{% trans "Dashboard" %}{% endblock %}
      
{% block content %}
    <div id="dashboard">
        <div class="left_column">
            <div class="dashboard_widget" data-widget-url="{% url 'ecs.communication.views.outgoing_message_widget' %}"></div>
            <div class="dashboard_widget" data-widget-url="{% url 'ecs.core.views.submissions.submission_widget' %}"></div>
        </div>
        <div class="right_column">
            <div class="dashboard_widget" data-widget-url="{% url 'ecs.communication.views.incoming_message_widget' %}"></div>
            {% if user.profile.has_explicit_workflow %}
                <div class="dashboard_widget" data-widget-url="{% url 'ecs.tasks.views.my_tasks' %}"></div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript">
        ecs.setupWidgets();
    </script>
{% endblock %}

