{% extends "core.html" %}
{% load i18n %}

{% block menuSelection %}dashboard{% endblock %}

{% block htmltitle %}{% trans "Dashboard" %} | {{ block.super }}{% endblock %}

{% block headertitle %}{% trans "Dashboard" %}{% endblock %}
      
{% block content %}
    <div class="clearfix">
        <div class="dashboard_widget half {% if user.profile.show_task_widget %}float-left{% else %}mx-auto{% endif %}" data-widget-url="{% url 'ecs.communication.views.dashboard_widget' %}">
        </div>
        {% if user.profile.show_task_widget %}
            <div data-widget-url="{% url 'ecs.tasks.views.my_tasks' %}">
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript">
        ecs.setupWidgets();
    </script>
{% endblock %}

