{% extends "core.html" %}
{% load core %}

{% block content %}
    <h2>Groups</h2>
    <ul>
    {% for group in groups %}
        <li>{{ group.name }}</li>
    {% endfor %}
    </ul>

    <h2>Task Types</h2>
    <table>
        <tr>
            <th>Original</th>
            <th>Translated</th>
        </tr>
        {% for name, trans_name in task_types %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ trans_name }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
