{% extends "shell.html" %}

{% block htmlbody %}

<div id="pdfviewer"></div>

{% endblock %}

{% block jsbottom %}

{{ block.super }}
<script type="text/javascript" src="{{ MEDIA_URL}}js/flext.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL}}MooEditable/Source/MooEditable/MooEditable.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}MooDialog/Source/Overlay.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}MooDialog/Source/MooDialog.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}MooDialog/Source/MooDialog.Iframe.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/ecs/__init__.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/ecs/pdfviewer.js"></script>

<script type="text/javascript">
    $(window).addEvent('domready', function(){
        var viewer = new ecs.pdfviewer.DocumentViewer($('pdfviewer'), {
            pageCount: {{ document.pages }},
            title: '{{ document.parent_object }} ({{ document.original_file_name }})',
            controllers: [
                new ecs.pdfviewer.Controller('5x5', 5, 5),
                new ecs.pdfviewer.Controller('3x3', 6, 2),
                new ecs.pdfviewer.Controller('3x3', 3, 3),
                new ecs.pdfviewer.Controller('1x1', 1, 1)
            ],
            searchURL: '{% url ecs.documents.views.document_search document_pk=document.pk %}'
        });
        
        var IMAGE_TILING = [1, 3, 5];
        var IMAGE_WIDTH = 800; // 768
        var IMAGES = {{ images|safe }};

        IMAGE_TILING.each(function(t){
            viewer.addImageSet(new ecs.pdfviewer.ImageSet({
                sprite: {x: t, y: t}
            }));
        });
        
        IMAGES.each(function(image){
            if(image.width == IMAGE_WIDTH){
                viewer.addImage(image);
            }
        });
        $(document.body).addClass('pdfviewer');
        
        window.addEvent('keydown', function(e){
            viewer.handleKeyPress(e);
        });
        viewer.element.focus();
        viewer.update();
        
        // POS1: first page
        // END: last page
        // s: search
        // ?: help
        // RIGHT: next page
        // LEFT: next page
        // mousewheel: zoom
        
    });
</script>

{% endblock %}