{% extends "shell.html" %}
{% load i18n pdfviewer %}

{% block htmltitle %}
{% if document.parent_object %}{{ document.parent_object }}: {% endif %}{{ document.doctype_name }}
{% endblock %}

{% block htmlmeta %}
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0" />
{% endblock %}

{% block jsbottom %}
<!--<script type="text/javascript" src="https://getfirebug.com/firebug-lite.js"></script>-->
<script type="text/javascript" src="{{ MEDIA_URL }}3rd-party/MooTools/mootools-core-1.4.0-full-nocompat-yc.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}3rd-party/MooTools/mootools-more-1.4.0.1.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}3rd-party/MooToolsCustomEvent/Source/Element.defineCustomEvent.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}3rd-party/MooToolsMobile/Source/Browser/Features.Touch.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}3rd-party/MooToolsMobile/Source/Desktop/Mouse.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}3rd-party/MooToolsMobile/Source/Touch/Click.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}3rd-party/MooToolsMobile/Source/Touch/Touch.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}3rd-party/MooToolsMobile/Source/Touch/Swipe.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}3rd-party/MooToolsMobile/Source/Touch/Touchhold.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}3rd-party/MooToolsMobile/Source/Touch/Pinch.js"></script>

<script type="text/javascript" src="{{ MEDIA_URL }}js/ecs/dragdrop.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/ecs/pdfviewer/__init__.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/ecs/pdfviewer/ImageSet.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/ecs/pdfviewer/Annotation.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/ecs/pdfviewer/DocumentViewer.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/ecs/pdfviewer/Popup.js"></script>

<script type="text/javascript">
    $(window).addEvent('domready', function(){
        {% if document|is_ready %}
            var viewer = new ecs.pdfviewer.DocumentViewer($('pdfviewer'), {
                pageCount: {{ document.pages }},
                title: '{{ document.doctype_name|escapejs }}: {{ document.name|escapejs }} {% if document.parent_object|escapejs %} für {{ document.parent_object|escapejs }}{% endif %}'
                    + '<div class="details">{% trans "Version" %}: {{ document.version|escapejs }}, {% trans "Date" %}: {{ document.date|date:"d.m.Y" }}, {% trans "Filename" %}: {{ document.original_file_name|default:"–"|escapejs }}</div>',
                controllers: [
                    new ecs.pdfviewer.Controller('5x5', 5, 5),
                    new ecs.pdfviewer.Controller('1x1', 1, 1)
                ],
                metaKey: '{{ user.ecs_settings.pdfviewer_settings.metaKey }}',
                searchURL: '{% url ecs.documents.views.document_search_json document_pk=document.pk %}',
                editAnnotationURL: '{% url ecs.pdfviewer.views.edit_annotation document_pk=document.pk %}',
                deleteAnnotationURL: '{% url ecs.pdfviewer.views.delete_annotation document_pk=document.pk %}',
                helpContents: $('navigation'),

                wheelScrollThreshold: 1,
                wheelTimeThreshold: 200, // ms
                swipeDistance: 30, // px
                touchholdDelay: 300, // ms
                pinchThreshold: 0.4,
                touchCenterSize: 100, // px

                shortcuts: [
                    /* in case of conflict, the first shortcut wins */
                    {command: 'toggleHelp',           key: 'space', annotationMode: true},
                    {command: 'toggleAnnotationMode', key: 'a', meta: true,  annotationMode: true},
                    {command: 'quitAnnotationMode',   key: 'esc', annotationMode: true},

                    {command: 'previousPage',       key: 'pageup', top: true},
                    {command: 'scrollToTop',        key: 'pageup'},
                    {command: 'previousPage',       key: '1', top: true},
                    {command: 'scrollToTop',        key: '1'},

                    {command: 'nextPage',           key: 'pagedown', bottom: true},
                    {command: 'scrollToBottom',     key: 'pagedown'},
                    {command: 'nextPage',           key: '9', bottom: true},
                    {command: 'scrollToBottom',     key: '9'},

                    {command: 'selectPreviousPage', key: 'left'},
                    {command: 'firstPage',          key: 'left', shift: true, meta:true},
                    {command: 'previousPage',       key: 'left', meta: true},
                    
                    {command: 'selectNextPage',     key: 'right'},
                    {command: 'nextPage',           key: 'right', meta: true},
                    {command: 'lastPage',           key: 'right', shift:true, meta: true},

                    {command: 'selectNextRow',      key: 'down'},
                    {command: 'lastPage',           key: 'down', shift: true, meta: true},
                    {command: 'nextPage',           key: 'down', meta: true},

                    {command: 'selectPreviousRow',  key: 'up'},
                    {command: 'firstPage',          key: 'up', shift: true, meta: true},
                    {command: 'previousPage',       key: 'up', meta: true},
                    
                    {command: 'cycleIn',            key: 'enter'},
                    
                    {command: 'showSearch',         key: 'f', meta: true},
                    {command: 'showSearch',         key: 's', meta: true},
                    {command: 'showGotoPage',       key: 'g', meta: true},
                    {command: 'toggleMenu',         key: 'm', meta: true, annotationMode: true},
                ],
                gestures: [
                    {command: 'toggleMenu',         gesture: 'touchhold'},
                    {command: 'cycleIn',            gesture: 'pinch'},
                    {command: 'nextPage',           gesture: 'swipe', direction: 'left'},
                    {command: 'previousPage',       gesture: 'swipe', direction: 'right'}
                ]
            });
            
            var IMAGE_TILING = [1, 5];
            var IMAGE_WIDTH = 800; // 768
            var IMAGES = {{ document|images }};

            IMAGE_TILING.each(function(t){
                var bw = t==1 ? 0 : 1;
                viewer.addImageSet(new ecs.pdfviewer.ImageSet({
                    sprite: {x: t, y: t},
                    borderWidths: {top: bw, bottom: bw, left: bw, right: bw}
                }));
            });
            
            IMAGES.each(function(image){
                if(image.width == IMAGE_WIDTH){
                    viewer.addImage(image);
                }
            });
            $(document.body).addClass('pdfviewer');
            
            var USER_ID = {{ request.user.pk }};
            
            {{ document|annotations_for_user:user }}.each(function(a){
                viewer.addAnnotation(a.page_number - 1, new ecs.pdfviewer.Annotation(a.pk, a.text, a.x, a.y, a.width, a.height, a.author__id != USER_ID ? a.author__email : null));
            });

            viewer.gotoAnchor();
            viewer.update();
            
            
            var metaKeySelect = $('metaKeySelect')
            metaKeySelect.addEvent('change', function(){
                viewer.setMetaKey(metaKeySelect.value);
                $$('.metaKey').each(function(mk){
                    mk.innerHTML = metaKeySelect.value.capitalize();
                });
            });
            metaKeySelect.value = '{{ user.ecs_settings.pdfviewer_settings.metaKey }}';
            
            $('navigation').addEvent('touch', function(){
                $('navigation').toggleClass('hidden');
            });

        {% else %}
            setTimeout(function() {
              window.location.reload();
            }, 5000);
        {% endif %}
    });
    
    /*
    {% comment %}
    TODO: Warning, this duplicates get_origin,camera.Camera & camera.install from core.html to get bugshot in pdfviewer
    {% endcomment %}

    function get_origin() {
        var re_id_axe = /[0-9a-f]{32}/;
        var x = encodeURIComponent(window.location.href).replace(/-/g, "--").replace(/%/g, "-").replace(re_id_axe, 'id');
        return x;
     }
    camera.install();
    new camera.Camera({
        'class': 'bugshot',
        'url': '/bugshot/',
        'title': 'PdfBugShot',
        'form': '<div><input type="text" name="summary" value="" /></div>'+
        '<div>Owner: <input type="text" name="owner" value="" /></div>'+
        '<div>Priority: <input type="text" name="priority" value="" /></div>'+
        '<div><textarea name="description"></textarea></div>',
        onShow: function(self){
            self.overlay.getElement('textarea').value = "URL: " + window.location.href + "\n\n== Reproduction == \n\n== Expected == \n\n== Screenshot ==\n[[Image(screenshot." + self.options.format + ", 400px)]]\n";
            self.overlay.getElement('input[type=text]').value = "[bugshot] ";
        },
        keyTrigger: function(e){
            return (e.meta || e.control) && e.key == ':';
        }
    });
    */
</script>

{% endblock %}

{% block htmlbody %}
{% if document|is_ready %}
<div id="pdfviewer"></div>
<div id="navigation" class="hidden">
    <select id="metaKeySelect">
        <option value="">-</option>
        <option value="alt">Alt</option>
        <option value="control">Control</option>
        <option value="meta">Meta</option>
    </select>
    <div><span class="metaKey"></span> + &rarr;: Next Page</div>
    <div><span class="metaKey"></span> + &larr;: Previous Page</div>
    <div><span class="metaKey"></span> + Shift + &rarr;: Last Page</div>
    <div><span class="metaKey"></span> + Shift + &larr;: First Page</div>
    <div><span class="metaKey"></span> + &darr;: Zoom In</div>
    <div><span class="metaKey"></span> + &uarr;: Zoom Out</div>
    <div><span class="metaKey"></span> + A: Enter/Leave Annotation Mode</div>
    <div><span class="metaKey"></span> + G: Goto Page</div>
    <div><span class="metaKey"></span> + F: Search</div>
    <div><span class="metaKey"></span> + 1: Page Up</div>
    <div><span class="metaKey"></span> + 9: Page Down</div>
    <div>ESC: Leave Annotation Mode / Close Annotation Popup</div>
    
    <p>
        Use the mousewheel or arrow keys for scrolling. When the end of a page is reached, scrolling further will load the next page.
    </p>
    <p>
        Annotations: Double click on overlay or single click on marker to edit; drag and drop to move, resize by dragging the lower right cover.
    </p>
</div>
{% else %}
    <h1>{% trans "Your document is not ready yet." %}</h1>
    {% blocktrans %}
        Click <a href="" click="window.location.reload; return false;">here</a> to reload the page.
    {% endblocktrans %}
{% endif %}

{% endblock %}