{% extends 'administration/detail.html' %}
{% load i18n userutils %}

{% block htmltitle %}{% trans "User Administration" %} | {{ block.super }}{% endblock %}

{% block administration_detail %}
<h2>{% trans "List of Users" %} ({{ users.paginator.count }})</h2>

<form action="{{ request.path }}" method="post">
    {% csrf_token %}
    {% for field in filterform.visible_fields %}
        {% include 'bootstrap/form_field.html' with inline=True %}
    {% endfor %}
    {% for hidden in filterform.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    <input class="btn btn-primary" type="submit" value="{% trans 'Search' %}" />
</form>

{% include 'paginator.inc' with page=users %}

<ul class="user_list list-group">
{% for profile in users.object_list %}
    <li class="list-group-item user collapsed{% if profile.profile.is_indisposed %} list-group-item-warning{% endif %}{% if not profile.is_active %} list-group-item-danger{% endif %}">
        <div class="head">
            <strong>
                {{ profile|formal_name }}
                {% if profile.profile.is_phantom %}
                    ({% trans "phantom" %})
                {% endif %}
            </strong>
            <span>{{ profile.email }}</span>
            {% if profile.profile.is_indisposed %}
                <span class="float-right mx-3">[{% trans 'Indisposed' %}]</span>
            {% endif %}
            {% if not profile.is_active %}
                <span class="float-right mx-3">[{% trans 'Inactive' %}]</span>
            {% endif %}
        </div>
        <div class="body">
            <a href="{% url 'ecs.users.views.details' user_pk=profile.pk %}">{% trans 'Edit Details' %}</a>
            | <a href="{% url 'ecs.users.views.indisposition' user_pk=profile.pk %}">
                    {% if profile.profile.is_indisposed %}{% trans "Unmark Indisposed" %}{% else %}{% trans "Mark Indisposed" %}{% endif %}
                </a>
            | <form class="d-inline" action="{% url 'ecs.users.views.toggle_active' user_pk=profile.pk %}" method="post">
                {% csrf_token %}
                <a href="" class="submit_parent">
                    {% if profile.is_active %}
                        {% trans "Deactivate" %}
                    {% else %}
                        {% trans "Activate" %}
                    {% endif %}
                </a>
            </form>
            {% with profile as profile_user %}
                {% with profile_user.profile as profile %}
                    <table class="table table-sm mt-3">
                        <tr><th class="bg-faded">Organisation:</th><td class="w-100">{{ profile.organisation }}</td></tr>
                        <tr><th class="bg-faded">Position:</th><td class="w-100">{{ profile.jobtitle }}</td></tr>
                        <tr><th class="bg-faded">E-Mail:</th><td class="w-100">{{ profile_user.email }}</td></tr>
                        <tr><th class="bg-faded">Telefon:</th><td class="w-100">{{ profile.phone }}</td></tr>
                        <tr><th class="bg-faded">Fax:</th><td class="w-100">{{ profile.fax }}</td></tr>
                        <tr><th class="bg-faded text-nowrap">Adresse/Privatadresse falls Gutachter:</th><td class="w-100">
                            {{ profile.address1 }}<br/>
                            {{ profile.address2 }}<br/>
                            {{ profile.zip_code }} {{ profile.city }}
                        </td></tr>
                        <tr><th class="bg-faded">IBAN:</th><td class="w-100">{{ profile.iban }}</td></tr>
                        <tr><th class="bg-faded">SWIFT-BIC:</th><td class="w-100">{{ profile.swift_bic }}</td></tr>
                        <tr><th class="bg-faded">Sozialversicherungsnummer:</th><td class="w-100">{{ profile.social_security_number }}</td></tr>
                    </table>
                {% endwith %}
            {% endwith %}
        </div>
    </li>
{% endfor %}
</ul>

{% include 'paginator.inc' with page=users %}

{% endblock %}

{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript">
        $(function(){
            var page_input = $('#{{ filterform.page.id_for_label|escapejs }}');

            ecs.setupSubmitLinks('a.submit_parent');

            $('.paginator a').click(function(ev) {
                ev.preventDefault();
                page_input.val($(this).data('page'));
                page_input.parents('form').submit();
            });

            $('ul.user_list .user').each(function() {
                var user = $(this);
                user.find('.head').click(function(ev) {
                    ev.preventDefault();
                    user.toggleClass('collapsed');
                });
            });

            $('#id_groups, #id_task_types, #id_medical_categories').select2();
        });
    </script>
{% endblock %}

