{% extends 'administration/detail.html' %}
{% load i18n %}

{% block user_list %}
<h2>{% trans "List of Users" %} ({{ users|length }})</h2>

<form id="{{ form_id }}" action="" method="post">
    <ul class="useradministration_choose">
        <li><label for="id_approval">{% trans "Approval" %}:</label> {{ filterform.approval }}</li>
        <li><label for="id_group">{% trans "Group" %}:</label> {{ filterform.group }}</li>
</form>

<table>
    <tr>
        <th>{% trans "User" %}</th>
        <th>{% trans "Approval" %}</th>
        <th>{% trans "Indisposed" %}</th>
        <th>{% trans "Active" %}</th>
    </tr>
    {% for user in users %}
        <tr>
            <td>{{ user }}</td>
            <td>
                {% if user.ecs_profile.approved_by_office %}
                    <a href="{% url ecs.users.views.approve user_pk=user.pk %}">{% trans "Revoke Approval" %}</a>
                {% else %}
                    <a href="{% url ecs.users.views.approve user_pk=user.pk %}">{% trans "Approve" %}</a>
                {% endif %}
            </td>
            <td>
                {% if user.ecs_profile.indisposed %}
                    <a href="{% url ecs.users.views.toggle_indisposed user_pk=user.pk %}">{% trans "Unmark Indisposed" %}</a>
                {% else %}
                    <a href="{% url ecs.users.views.toggle_indisposed user_pk=user.pk %}">{% trans "Mark Indisposed" %}</a>
                {% endif %}
            </td>
            <td>
                {% if user.is_active %}
                    <a href="{% url ecs.users.views.toggle_active user_pk=user.pk %}">{% trans "Deactivate" %}</a>
                {% else %}
                    <a href="{% url ecs.users.views.toggle_active user_pk=user.pk %}">{% trans "Activate" %}</a>
                {% endif %}
            </td>
        </tr>
    {% empty %}
        <tr><td colspan="4"><em>{% trans "No Users." %}</em></td></tr>
    {% endfor %}
</table>
{% endblock %}

{% block jsbottom %}
  {{ block.super }}
    <script type="text/javascript">
      window.addEvent('domready', function(){
          $$('#{{ form_id }} input').each(function(input){
              input.addEvent('change', function(){
                  $('{{ form_id }}').submit();
              });
          });
          $$('#{{ form_id }} select').each(function(input){
              input.addEvent('change', function(){
                  $('{{ form_id }}').submit();
              });
          });

          var toggle_collapse = function(){
              var item = this.getParent();
              var lis = item.getElement('ul').getElements('li');
              if(item.hasClass('collapsed')) {
                  this.innerHTML = '{% trans "Collapse" %}';
                  lis.show();
                  lis.pop().hide();
              } else {
                  this.innerHTML = '{% trans "Expand" %}';
                  lis.splice(0, 3);
                  lis.hide();
                  lis.pop().show();
              }
              item.toggleClass('collapsed');
          };
          $$('#task_main .task_item.toggle_collapse').each(function(item){
              var toggler = new Element('a', {
                  'text': 'roflcopter',
                  'events': {
                      'click': toggle_collapse
                  },
                  'styles': {
                      'float': 'right'
                  }
              });
              item.insertBefore(toggler, item.getFirst());
              var elipsis = new Element('li', {
                  'text': '...'
              });
              elipsis.inject(item.getElement('ul'));
              toggle_collapse.apply(toggler);
          });
      });
    </script>
{% endblock %}

