{% extends 'core.html' %}
{% load i18n %}

{% block htmltitle %}{% trans "User Administration" %} | {{ block.super }}{% endblock %}

{% block content %}
<div class="profile">
<a href="{% url ecs.users.views.administration %}">{% trans "Back to the List of Users" %}</a>
{% with profile_user.get_profile as profile %}
    <h2>{{ profile_user }}</h2>
    {% include "users/base_profile.inc" %}

    <form action="" method="post">
        <input type="submit" 
            name="{{ profile.is_approved_by_office|yesno:'retract,approve'}}" 
            value="{{ profile.is_approved_by_office|yesno:'Bestätigung zurückziehen,Bestätigen'}}"
        />
    </form>
</div>
{% endwith %}

{% endblock %}
