{% extends 'core.html' %}
{% load i18n %}

{% block htmltitle %}{% trans "User Administration" %} | {{ block.super }}{% endblock %}

{% block headertitle %}{% trans "Administration" %}{% endblock %}

{% block content %}
<div class="administration_detail form_main">
<h2>{{ form.instance }}</h2>

<p><a href="{% url ecs.users.views.administration %}">{% trans "Back to the List of Users" %}</a></p>
<form action="" method="post">
    <div>
    <ol>
        {% for field in form %}
            {% include "forms/field.html" %}
        {% endfor %}
    </ol>
    </div>
    <span class="button"><input type="submit" value="Speichern" /></span>
</form>
</div>
{% endblock %}

{% block jsbottom %}
  {{ block.super }}
    <script type="text/javascript">
      window.addEvent('domready', function(){
          ecs.setupFormFieldHelpers();
      });
    </script>
{% endblock %}

