{% extends 'core.html' %}
{% load i18n %}

{% block htmltitle %}{% trans "User Administration" %} | {{ block.super }}{% endblock %}

{% block headertitle %}{% trans "Administration" %}{% endblock %}

{% block content %}
<div class="administration_detail form_main">
<h2>{{ form.instance }} ({{ form.instance.email }})</h2>

<p><a href="{% url 'ecs.users.views.administration' %}">{% trans "Back to the List of Users" %}</a></p>
<form action="" method="post">
    {% csrf_token %}
    <ol>
        {% for field in form %}
            {% include "forms/field.html" %}
        {% endfor %}
    </ol>
    <input class="btn btn-sm btn-primary" type="submit" value="{% trans 'Save' %}" />
</form>
</div>
{% endblock %}

{% block jsbottom %}
  {{ block.super }}
    <script type="text/javascript">
      $(function(){
          ecs.setupFormFieldHelpers();
          $('#id_user-groups, #id_user-task_types, #id_user-medical_categories').select2();
      });
    </script>
{% endblock %}

