{% extends 'core.html' %}
{% load i18n %}

{% block htmltitle %}{% trans "User Administration" %} | {{ block.super }}{% endblock %}

{% block headertitle %}{% trans "Administration" %}{% endblock %}

{% block content %}
<div class="administration_detail form_main container">
    <h2>{{ form.instance }} ({{ form.instance.email }})</h2>
    <p>
        <a href="{% url 'ecs.users.views.administration' %}">
            {% trans "Back to the List of Users" %}
        </a>
    </p>
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            {% include "bootstrap/form_field.html" %}
        {% endfor %}
        <div class="row my-2">
            <div class="col-md-6 push-md-3">
                <input class="btn btn-primary btn-block" type="submit" value="{% trans 'Save' %}" />
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block jsbottom %}
  {{ block.super }}
    <script type="text/javascript">
      $(function(){
          ecs.setupFormFieldHelpers();
          $('#id_user-groups, #id_user-task_types, #id_user-medical_categories').select2();
      });
    </script>
{% endblock %}

