{% extends 'core.html' %}
{% load i18n %}

{% block htmltitle %}{% trans "Indisposition" %} - {{ profile_user }} | {{ block.super }}{% endblock %}
{% block headertitle %}{% trans "Indisposition" %} - {{ profile_user }}{% endblock %}

{% block content %}
<div class="container">
    {% with profile_user.profile as profile %}
        <form action="{{ request.path }}" method="POST">
            {% csrf_token %}
            {% for field in form %}
                {% include 'bootstrap/form_field.html' with inline=True %}
            {% endfor %}
            <input class="btn btn-primary" type="submit" value="{% trans 'Save' %}" />
        </form>
    {% endwith %}
</div>
{% endblock %}

{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript">
        $(function(){
            $('#id_communication_proxy').select2({'minimumInputLength': 3});
        });
    </script>
{% endblock %}

{% block menuSelection %}administration{% endblock %}
