{% extends 'base.html' %}
{% load i18n %}

{% block jshead %} {# enqueue javasript #}
  {{ block.super }}
{% endblock %}

{% block htmlcss %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/public.css" />
{% endblock %}


{% block header %}
{% endblock %}
{% block sidebar %}
{% endblock %}


{% block content %} <!-- usertoolbar -->

    <img src="/static/images/logo.png" />
    <div id="browser_warning" style="display:none">
        <strong>Achtung:</strong> Sie verwenden einen zur Zeit nicht unterstützen Webbrowser;<br>
        Zur korrekten Darstellung brauchen sie
        <a href="http://www.mozilla-europe.org/de/firefox/">Firefox</a>,
        <a href="http://www.google.com/chrome/intl/de/landing_tv.html">Chrome</a> oder
        <a href="http://www.apple.com/de/safari/download/">Safari</a> in der jeweils neuesten Version.
    </div>
    <div class="public_area">
      <a href="{% url ecs.core.views.submissions.catalog %}">{% trans 'Public Catalog' %}</a>
    </div>
    <div class="form_public">
      <form method="post" action="">
        {% csrf_token %}
        <p>{{ form.username.label_tag }}{{ form.username }}</p>
        <p>{{ form.password.label_tag }}{{ form.password }}</p>
        <p><input type="submit" value="login" id="login_button"/></p>
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
    {% if form.errors %}
    <p>{% trans 'Your username and password did not match. Please try again.' %}</p>
    {{ form.errors }}
    {% endif %}
    </div>
    <div class="pw_reg">
      <a href="{% url ecs.users.views.register %}">Registrieren</a> | <a href="{% url ecs.users.views.request_password_reset %}">Passwort vergessen</a>
    </div>

{% endblock %}

{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript">
        window.addEvent('domready', function() {
            function is_browser(regex, num) {
                if (regex.test(navigator.userAgent)) {
                    var version = new Number(RegExp.$1);
                    return (version >= num);
                }
                return false;
            }

            if (!is_browser(/Firefox[\/\s](\d+\.\d+)/, 4) &&
                !is_browser(/Chrome[\/\s](\d+)/, 12) &&
                !is_browser(/Version[\/\s](\d+\.\d+).*Safari/, 5)) {
                $('browser_warning').show();
                $('login_button').hide();
            } else {
                $('login_button').focus();
            }
        });
    </script>
{% endblock %}
