{% extends 'base.html' %}
{% load i18n core %}

{% block jshead %} {# enqueue javasript #}
  {{ block.super }}
{% endblock %}

{% block htmlcss %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ecs/public.css" />
{% endblock %}


{% block header %}
{% endblock %}
{% block sidebar %}
{% endblock %}

{% block htmlbody_class %}login{% endblock %}

{% block content %}

    <script type="text/javascript">
    if(top != self){
        top.location.href = '{% url ecs.users.views.login %}';
    }
    </script>
    <img src="/static/images/logo.png" />
    <noscript>
        <div id="script_warning" style="font-size:14pt;line-height:1.2em;">
            <strong style="color:red;">Achtung:</strong> Sie verwenden einen Webbrowser der Javascript deaktiviert hat oder nicht unterst&uuml;tzt.<br />
            Lesen Sie <a href="{{ 'noscript'|help_url }}">hier</a> wie Sie Javascript aktivieren k&ouml;nnen.
        </div>
    </noscript>
    <div id="login_form" style="display:none;">
    {% if not request|is_supported_browser %}
        <div id="browser_warning">
            <strong>Achtung:</strong> Sie verwenden einen zur Zeit nicht unterstützen Webbrowser;<br>
            Zur korrekten Darstellung brauchen sie
            <a href="http://www.mozilla-europe.org/de/firefox/">Firefox</a>,
            <a href="http://www.google.com/chrome/intl/de/landing_tv.html">Chrome</a>,
            <a href="http://www.microsoft.com/austria/windows/ie9/">Explorer 9</a> oder
            <a href="http://www.apple.com/de/safari/download/">Safari</a> in der jeweils neuesten Version.<br>
            <a id="show_login" href="">Ich möchte es trotzdem versuchen.</a>
        </div>
    {% endif %}
    <div class="public_area">
      <a href="{% url ecs.core.views.submissions.catalog %}">{% trans 'Public Catalog' %}</a>
      | <a href="" id="help_button" class="help_trigger">{% trans 'Online Help Pages' %}</a>
    </div>
    <div class="form_public">
      <form method="post" action="" class="login_error" id="login_form">
        {% csrf_token %}
        <p>{{ form.username.label_tag }}{{ form.username }}
            {% if form.username.errors %}{{ form.username.errors}}{% endif %}</p>
        <p>{{ form.password.label_tag }}{{ form.password }}
            {% if form.password.errors %}{{ form.password.errors}}{% endif %}</p>
        <p><input type="submit" value="login" id="login_button"{% if not request|is_supported_browser %} style="display:none;"{% endif %}/></p>
        <input type="hidden" name="next" value="{{ next }}" />
          {% if form.errors %}
          <div class="login_error_msg">
            {% trans 'Your username and password did not match. Please try again.' %}
          </div>
          {% endif %}
      </form>
    </div>
    <div class="pw_reg">
      <a href="{% url ecs.users.views.register %}">Registrieren</a> | <a href="{% url ecs.users.views.request_password_reset %}">Passwort vergessen/zurücksetzen</a>
    </div>
    </div>

{% endblock %}

{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript">
        window.addEvent('domready', function() {
            $("login_form").show();
            window.openHelpPage = function(e){
                {% if request.tracking_data.view %}
                var url = '{% url ecs.help.views.find_help view_pk=request.tracking_data.view.pk %}';
                if(e && e.shift){
                    url = '{% url ecs.help.views.edit_help_page view_pk=request.tracking_data.view.pk %}';
                }
                if(window.location.hash){
                    url += '?anchor=' + encodeURIComponent(window.location.hash.substring(1));
                }
                {% else %}
                var url = '{% url ecs.help.views.index %}';
                {% endif %}
                var win = window.open(url, 'ecshelp');
                win.focus();
                return false;
            };
            $('help_button').addEvent('click', window.openHelpPage);
            var show_login = $('show_login');
            if (show_login) {
                show_login.addEvent('click', function(){$('login_button').show(); return false;});
            }
        });
    </script>
{% endblock %}
