{% extends 'public.html' %}
{% load i18n core helputils staticfiles %}

{% block htmlbody_class %}login{% endblock %}

{% block content %}

    <script type="text/javascript">
    if(top != self){
        top.location.href = '{% url 'ecs.users.views.login' %}';
    }
    </script>
    <img src="{% static 'images/logo.png' %}" />
    <noscript>
        <div id="script_warning" style="font-size:14pt;line-height:1.2em;">
            <strong style="color:red;">Achtung:</strong> Sie verwenden einen Webbrowser der Javascript deaktiviert hat oder nicht unterst&uuml;tzt.<br />
            Lesen Sie <a href="{% help_url 'noscript' %}">hier</a> wie Sie Javascript aktivieren k&ouml;nnen.
        </div>
        <style type="text/css">
            #login_form {
                display: none;
            }
        </style>
    </noscript>
    <div id="login_form">
    {% if not request.ua.is_supported and not request.ua.is_crawler %}
        <div id="browser_warning">
            <strong>Achtung:</strong> Sie verwenden einen nicht unterstützen Webbrowser.<br>
            Zur korrekten Darstellung brauchen sie einen Browser der HTML5 Generation, wie
            <a href="http://www.mozilla-europe.org/de/firefox/">Firefox 4+</a>,
            <a href="http://www.google.com/chrome/intl/de/landing_tv.html">Chrome 12+</a>,
            <a href="http://www.apple.com/de/safari/download/">Safari 5+</a>,
            Internet Explorer 10+ oder neuere.<br>
            Ältere Browser sind nicht geeignet und führen zu Fehlern.<br>
            Neuere/Unbekannte können funktionieren.<br>
            <a id="show_login" href="">Ich möchte es auf eigenes Risiko trotzdem versuchen.</a>
        </div>
    {% endif %}
    <div class="public_area">
      {% if request.tracking_data.view %}
          {% url 'ecs.help.views.find_help' view_pk=request.tracking_data.view.pk as help_page_url %}
      {% else %}
          {% url 'ecs.help.views.index' as help_page_url %}
      {% endif %}
      <a href="{% url 'ecs.core.views.submissions.catalog' %}">{% trans 'Public Catalog' %}</a>
      | <a href="{{ help_page_url }}" target="_blank" class="help_trigger">{% trans 'Online Help Pages' %}</a>
      | <a href="{% help_url 'sitenotice' %}">{% trans 'Site Notice' %}</a>
    </div>
    <div class="form_public">
      <form method="post" action="" class="login_error">
        {% csrf_token %}
        <p>{{ form.username.label_tag }}{{ form.username }}
            {% if form.username.errors %}{{ form.username.errors}}{% endif %}</p>
        <p>{{ form.password.label_tag }}{{ form.password }}
            {% if form.password.errors %}{{ form.password.errors}}{% endif %}</p>
        <p><input type="submit" value="login" id="login_button"{% if not request.ua.is_supported or request.ua.is_crawler %} style="display:none;"{% endif %}/></p>
        <input type="hidden" name="next" value="{{ next }}" />
          {% if form.errors %}
          <div class="login_error_msg">
            {% trans 'Your username and password did not match. Please try again.' %}
          </div>
          {% endif %}
      </form>
    </div>
    <div class="pw_reg">
      <a href="{% url 'ecs.users.views.register' %}">Registrieren</a> | <a href="{% url 'ecs.users.views.request_password_reset' %}">Passwort vergessen/zurücksetzen</a>
    </div>
    </div>

{% endblock %}

{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript">
        $(function() {
            $('#show_login').click(function(ev) {
                ev.preventDefault();
                $('#login_button').show();
            });
        });
    </script>
{% endblock %}
