{% extends 'core.html' %}
{% load i18n %}

{% block content %}
    <div class="container">
        <h2>{% blocktrans %}Profile of {{ user }}{% endblocktrans %}</h2>

        <form action="" method="post">
            {% csrf_token %}
            <h3 class="mb-1">{% trans "Personal details" %}</h3>
                {% for field in form %}
                    {% if field.name == "iban" %}
                        <p>{% trans "If you work for the ethics commission as an external reviewer, you have to fill out the following fields" %}:</p>
                    {% endif %}
                    {% if field.name == "forward_messages_after_minutes" %}
                        <h3>{% trans "Settings" %}</h3>
                    {% endif %}
                    {% include "bootstrap/form_field.html" with inline=True %}
                {% endfor %}
            </table>
            <input class="btn btn-primary" type="submit" value="{% trans 'Save' %}" />
        </form>
    </div>
{% endblock %}
