<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}pdfviewer/css/pdfviewer.css" />
  <title>ECS PDF Viewer</title>
</head>

<body>

<div class="pv">

  <div id="pv_main" class="pv_main" style="">
    <div class="pv_header" style="">
      <div id="pv_title" class="pv_title"></div>
    </div>
    <div class="pv_pages">
      <div id="pv_page" class="pv_page"></div>
      <div id="pv_cursor_0" class="pv_cursor_0"></div>
      <div id="pv_cursor_1" class="pv_cursor_1"></div>
    </div>
  </div>

</div>

<script type="text/javascript" src="{{ MEDIA_URL }}js/mootools-1.2.4-core.js"></script>

<script type="text/javascript">
  window.addEvent('domready', function(){

    var PdfViewer = new Class({

      initialize: function() {
        this.id = '{{ id }}';
        this.page = {{ page }};
        this.pages = {{ pages }};
        this.zoom_index = {{ zoom_index }};
        this.zoom_list = {% autoescape off %}{{ zoom_list }}{% endautoescape %};
        this.zoom_pages = {% autoescape off %}{{ zoom_pages }}{% endautoescape %};
        this.width = {{ width }};
        this.height = {{ height }};
        this.images = {% autoescape off %}{{ images }}{% endautoescape %};
        this.zooms = this.zoom_list.length;
        this.zoom_1_index = this.zoom_list.indexOf('1');
        this.loading = false;
        this.fullscreen_mode = this.detect_fullscreen();
        this.cursor = 0;
        this.offset_x = 9;
        this.offset_y = this.fullscreen_mode ? 5 : 28;
        this.zoom_delta = 1;
        this.subpages = 0;
        this.subpages_x = 0;
        this.subpages_y = 0;
        this.bigpages = 0;
        this.bigpage = 0;
        this.subpage = 0;
        this.subpage_x = 0;
        this.subpage_y = 0;
        this.subpage_width = 0;
        this.subpage_height = 0;
        this.prev_boundary = 0;
        this.next_boundary = 0;
        this.calculate();
        this.set_image();
      },

      detect_fullscreen: function() {
        var fs = $(window).fullScreen;
        return fs;
      },

      calculate: function() {
        this.zoom = this.zoom_list[this.zoom_index];
        this.subpages_x = this.zoom_pages[this.zoom_index][0];
        this.subpages_y = this.zoom_pages[this.zoom_index][1];
        this.subpages = this.subpages_x * this.subpages_y;
        this.bigpages = parseInt((this.pages - 1) / this.subpages) + 1;
        this.bigpage = parseInt((this.page - 1) / this.subpages) + 1;
        this.subpage = this.page - (this.bigpage - 1) * this.subpages;
        this.subpage_y = parseInt((this.subpage - 1) / this.subpages_x);
        this.subpage_x = this.subpage - this.subpage_y * this.subpages_x - 1;
        this.subpage_width = parseInt(this.width / this.subpages_x);
        this.subpage_height = parseInt(this.height / this.subpages_y);
        this.prev_boundary = this.subpages;
        this.next_boundary = this.pages - this.subpages + 1;
      },

      update_title: function() {
        if (this.fullscreen_mode) {
          return;
        }
        var title = $('pv_title');
        var info = 'ID ' + this.id + ', Seite ' + this.page + ' von ' + this.pages;
        if (this.zoom != '1') {
          info += ' (Übersichtsseite ' + this.bigpage + ', Unterseite ' + this.subpage + ')';
        }
        info += ', Zoom ' + this.zoom;
        if (!title.hasChild('pv_title_info')) {
          title.grab(new Element('span', { id: 'pv_title_info', html: info }));
        } else {
          $('pv_title_info').setProperties({ html: info });
        }
        var status = this.loading ? ' lädt ..' : '';
        if (!title.hasChild('pv_title_status')) {
          title.grab(new Element('span', { id: 'pv_title_status', html: status }));
        } else {
          $('pv_title_status').setProperties({ html: status });
        }
      },

      set_cursor: function() {
        var cursor = $('pv_cursor_' + this.cursor);
        cursor.fade('out');
        this.cursor = (this.cursor + 1) % 2;
        cursor = $('pv_cursor_' + this.cursor);
        if (this.zoom == '1') {
          cursor.fade('hide');
        } else {
          cursor.setStyles({
            'top': this.offset_y + this.subpage_y * this.subpage_height,
            'left': this.offset_x + this.subpage_x * this.subpage_width,
            'width': this.subpage_width,
            'height': this.subpage_height
          });
          cursor.fade('show');
        }
      },

      image_loaded: function() {
        this.loading = false;
        if (this.fullscreen_mode) {
          return;
        }
        $('pv_title_status').setProperties({ html: '' });
      },

      set_image: function() {
        var pv_page = $('pv_page');
        var z = this.images[this.zoom];
        if (!$defined(z)) {
          alert('error: no image data for zoom: [' + this.zoom + ']');
          return;
        }
        var p = z[this.bigpage];
        if (!$defined(p)) {
          alert('error: no image data for zoom: [' + this.zoom + '], bigpage: [' + this.bigpage + ']');
          return;
        }
        var src = p['url'];
        var alt = 'Seite ' + this.bigpage + ' von ' + this.bigpages;
        this.loading = true;
        if (!pv_page.hasChild('pv_img')) {
          pv_page.grab(new Element('img', { id: 'pv_img', src: src, width: this.width, height: this.height, alt: alt }));
        } else {
          $('pv_img').setProperties({ src: src, alt: alt });
        }
        this.set_cursor();
        this.update_title();
      },

      set_prev: function() {
        if (this.page <= this.prev_boundary) {
          return;
        }
        this.page -= this.subpages;
        this.bigpage -= 1;
        this.set_image();
      },

      set_next: function() {
        if (this.page >= this.next_boundary) {
          this.set_last();
          return;
        }
        this.page += this.subpages;
        this.bigpage += 1;
        this.set_image();
      },

      set_first: function() {
        if (this.page == 1) {
          return;
        }
        this.page = 1;
        this.calculate();
        this.set_image();
      },

      set_last: function() {
        if (this.page == this.pages) {
          return;
        }
        this.page = this.pages;
        this.calculate();
        this.set_image();
      },

      set_zoom: function(zoom_index) {
        if (zoom_index < 0 || zoom_index >= this.zooms) {
          return;
        }
        this.zoom_index = zoom_index;
        this.calculate();
        this.set_image();
      },

      cycle_zoom: function() {
        if (this.zooms == 1) {
          return;
        }
        var new_zoom_index = this.zoom_index + this.zoom_delta;
        if (new_zoom_index >= this.zooms) {
          this.zoom_delta = -1;
          new_zoom_index = this.zooms - 2;
        } else if (new_zoom_index < 0) {
          this.zoom_delta = 1;
          new_zoom_index = 1;
        }
        this.set_zoom(new_zoom_index); 
      }
    });


    var pdf_viewer = new PdfViewer();


    $('pv_img').addEvent('load', function(event) {
      pdf_viewer.image_loaded();
    });

    var click_handler = function(event) {
      event.stop();
      var x = event.client.x;
      if (x < pdf_viewer.offset_x) {
        pdf_viewer.set_prev();
        return;
      }
      if (x > pdf_viewer.offset_x + pdf_viewer.width) {
        pdf_viewer.set_next();
        return;
      }
      var x = event.client.x - pdf_viewer.offset_x;
      var y = event.client.y - pdf_viewer.offset_y;
      var subpage_x = parseInt(x / pdf_viewer.subpage_width);
      var subpage_y = parseInt(y / pdf_viewer.subpage_height);
      var subpage = subpage_y * pdf_viewer.subpages_x + subpage_x + 1;
      var subpage_delta = subpage - pdf_viewer.subpage;
      var page = pdf_viewer.page + subpage_delta;
      if (page > pdf_viewer.pages) {
        pdf_viewer.set_last();
        return;
      }
      pdf_viewer.page = page;
      pdf_viewer.calculate();
      pdf_viewer.set_cursor();
      pdf_viewer.zoom_index = pdf_viewer.zoom_1_index;
      pdf_viewer.calculate();
      pdf_viewer.set_image();
    };
    $(document).addEvent('click', click_handler);
    $('pv_cursor_0').addEvent('click', click_handler);
    $('pv_cursor_1').addEvent('click', click_handler);

    $(document).addEvent('keydown', function(event) {
      var code = event.code;
      var key = event.key;
      if (code == 33 || key == 'left') {
        event.stop();
        if (code == 33) {
          var y = $(window).pageYOffset;
          var wy = $(window).getSize().y;
          if (y > 0) {
            if (y - wy >= 0) {
              $(window).scrollTo(0, y - wy);
            } else {
              $(window).scrollTo(0, 0);
            }
            return;
          } else {
            if (pdf_viewer.page > pdf_viewer.prev_boundary) {
              $(window).scrollTo(0, pdf_viewer.height - wy);
            }
          }
        }
        pdf_viewer.set_prev();
        return;
      }
      if (code == 34 || key == 'right') {
        event.stop();
        if (code == 34) {
          var y = $(window).pageYOffset;
          var wy = $(window).getSize().y;
          if (y + wy < pdf_viewer.height) {
            $(window).scrollTo(0, y + wy);
            return;
          } else {
            if (pdf_viewer.page < pdf_viewer.next_boundary) {
              $(window).scrollTo(0, 0);
            }
          }
        }
        pdf_viewer.set_next();
        return;
      }
      if (code == 36) {
        event.stop();
        pdf_viewer.set_first();
        return;
      }
      if (code == 35) {
        event.stop();
        pdf_viewer.set_last();
        return;
      }
      if (key == 'esc' || key == 'q') {
        event.stop();
        //alert('exit somehow..');
        return;
      }
      if (key == 'enter') {
        event.stop();
        pdf_viewer.cycle_zoom();
        return;
      }
      if (key == '?' || code == 219) {
        event.stop();
        alert('PDF Viewer Hilfe\n\n' +
              'Eine Seite vor oder zurück blättern:\n' +
              '* [Bild hoch] und [Bild runter] Tasten\n' +
              '* Pfeiltasten [Links] und [Rechts]\n' +
              '* Einzelansicht (Zoomstufe \'1\'): auf linke oder rechte Hälfte einer Seite klicken\n' +
              'Erste Seite mit [Pos1] Taste\n' +
              'Letzte Seite mit [Ende] Taste\n' +
              '[Mausrad], um Zoomstufe zu ändern\n' +
              'Maus [Rechtsklick] oder [Enter], um Zoomstufe zu ändern (auf-/absteigend)\n');
        return;
      }
    });

    $(document.body).addEvent('mousewheel', function(event) {
      event.stop();
      var wheel = event.wheel;
      var new_zoom_index = pdf_viewer.zoom_index - parseInt(wheel);
      pdf_viewer.set_zoom(new_zoom_index);
    });

    $(document.body).addEvent('contextmenu', function(event) {
      event.stop();
      pdf_viewer.cycle_zoom();
    });

    $(window).addEvent('resize', function(event) {
      var fullscreen = pdf_viewer.detect_fullscreen();
      if (fullscreen == pdf_viewer.fullscreen_mode) {
         return;
      }
      if (fullscreen) {
        pdf_viewer.fullscreen_mode = true;
        pdf_viewer.offset_y = 5;
        pdf_viewer.set_cursor();
        var title = $('pv_title');
        if (title.hasChild('pv_title_info')) {
          $('pv_title_info').dispose();
        }
        if (title.hasChild('pv_title_status')) {
          $('pv_title_status').dispose();   
        }
        return;
      } else {
        pdf_viewer.fullscreen_mode = false;
        pdf_viewer.offset_y = 28;
        pdf_viewer.set_cursor();
        pdf_viewer.update_title();
        return;
      }
    });
  });
</script>

</body>

</html>
