<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}pdfviewer/css/pdfviewer.css" />
  <title>ECS PDF Viewer</title>
</head>

<body>

<div class="pv">

  <div class="pv_main" style="">
    <div class="pv_header" style="">
      <span id="pv_title" class="pv_title"></span>
    </div>
    <div class="pv_pages">
      <span id="pv_page" class="pv_page"></span>
    </div>
  </div>

</div>

<script type="text/javascript" src="{{ MEDIA_URL }}js/mootools-1.2.4-core.js"></script>

<script type="text/javascript">
  window.addEvent('domready', function(){

    var PdfViewer = new Class({

      initialize: function() {
        this.id = '{{ id }}';
        this.page = {{ page }};
        this.pages = {{ pages }};
        this.zoom = '{{ zoom }}';
        this.zoom_pages = {{ zoom_pages }};
        this.width = {{ width }};
        this.height = {{ height }};
        this.update_title();
        this.images = {% autoescape off %}{{ images }}{% endautoescape %};
        this.set_image();
      },

      update_title: function() {
        var title = $('pv_title');
        var info = 'ID ' + this.id + ', Seite ' + this.page + ' von ' + this.pages + ', Zoom ' + this.zoom + ' (' + this.zoom_pages + ')';
        var title_info = new Element('span', { id: 'pv_title_info', html: info });
        title.grab(title_info);
      },

      set_image: function() {
        var pv_page = $('pv_page');
        // TODO check parameters zoom, page
        var z = this.images[this.zoom];
        var p = z[this.page];
        var src = p['url'];
        var alt = 'Seite ' + this.page + ' von ' + this.pages;
        var img = new Element('img', { src: src, width: this.width, height: this.height, alt: alt });
        pv_page.grab(img);
      }

    });

    var pdf_viewer = new PdfViewer();

  });
</script>

</body>

</html>
