{% load core corepdf %}

<div class="title">
  <h1>Antrag</h1>
  <p>Version 6.3 vom 25.03.2011</p>
</div>

<div class="infotext">
    Dieses Formular soll für Einreichungen bei &ouml;sterreichischen Ethikkommissionen verwendet werden. <br/>
    Es setzt sich aus einem allgemeinen <span class="underline">Teil A</span> - Angaben zur Studie und zum Sponsor - <br/>
    und aus einem speziellen <span class="underline">Teil B</span> - Angaben zu der/den einzelnen Pr&uuml;fstelle(n) - zusammen. <br/>
    Bei Einreichungen für mehrere Zentren (Pr&uuml;fer) muss nur der Teil B an das jeweilige Zentrum angepasst werden.
</div>

<div class="two_columns">
  
    <div class="column_left">
      <span>Adresse der Ethikkommission (optional)</span>
        <br/>
        An die<br/>
        Ethikkommission<br/>
        der Medizinischen Universität Wien<br/>
        Borschkegasse 8b<br/>
        1090 Wien<br/>

    </div>
    
    <div class="column_right">
       <span>Raum für Eingangsstempel, EK-Nummer, etc. Bitte freilassen!</span>
        {% tcwrap plain %}
           
        {% endtcwrap %}
        
    </div>
  
</div>
 
<center><h2>ANTRAG AUF BEURTEILUNG EINES KLINISCHEN FORSCHUNGSPROJEKTES</h2></center>

<div class="infotext big">
    für folgende Prüfer bei folgenden österreichischen Ethikkommissionen:<br/>
  ► Bitte alle Ethikkommissionen eintragen, an die der Antrag gesendet wird (<strong>Kurzbezeichnung!</strong>) ◄<br/>
  ► Im Falle einer multizentrischen Arzneimittelstudie ist die Leitethikkommission als erste anzuführen! ◄
</div>

<table class="full_width withborders">
    <tr>
        <th>Zuständige Ethikkommission</th>
        <th>Zentrum</th>
        <th>Prüfer (lokale Studienleitung)</th>
    </tr>
    {% for inv in submission_form.investigators.all %}
        <tr>
            <td>{{ inv.ethics_commission.name }}</td>
            <td>{{ inv.organisation }}</td>
            <td>{{ inv.contact }}</td>
        </tr>
    {% endfor %}
</table>
