{% load core corepdf %}

<p>
    Studienkurzbezeichnung: <span class="value">{{ submission_form.project_title }}</span>
</p>

<p>
    Zuständige Ethikkommission: <span class="value">{{ submission_form.main_ethics_commission }}</span>
</p>

<h3>10. Angaben zur Prüferin/zum Prüfer</h3>


<p>
    10.1 Name: <span class="value">{{ inv.contact }}</span>
</p>

<p class="pbi_avoid"> 10.2
Krankenanstalt/Institut/Abteilung: <strong> {{ inv.organisation }} </strong></p>


<table class="full_width withborders">
    <tr>
        <th>10.3 Telefon</th>
        <th>10.4 „Pieps“/Mobil</th>
        <th>10.5 Fax</th>
        <th>10.6 e-mail-Adresse:</th>
    </tr><tr>
        <td><strong>{{ inv.phone }}</strong></td>
        <td><strong>{{ inv.mobile }}</strong></td>
        <td><strong>{{ inv.fax }}</strong></td>
        <td><strong>{{ inv.email }}</strong></td>
    </tr>
</table>


<p class="pbi_avoid">
    10.7 Jus practicandi:{{ inv.jus_practicandi|yesno_checkboxes }}
    10.8 Facharzt für: <span class="value">{{ inv.specialist }}</span>
</p>

<p class="pbi_avoid">
 10.9 Prüfärztekurs: {{ inv.certified|checkbox }} ja {{ inv.certified|not|checkbox }} nein </p>

<p class="pbi_avoid">
 10.10 Sofern relevant:
Präklinische Qualifikation (z.B. Labordiagnostik) bzw. Name der
Verantwortlichen: </p>

    <h3 class="inline">11. Geplante Anzahl der Patient/inn/en bzw. Proband/inn/en <span class="underline">an dieser Prüfstelle:</span></h3>

    <span class="value inline bg_grey">
        {{ inv.subject_count }}
    </span>

    <h3>12. Verantwortliche Mitarbeiter/innen an der klinischen Studie <span style="font-weight:normal">(an Ihrer Prüfstelle)</span></h3>


<table class="full_width withborders">
  <thead>
    <tr>
      <th>Fr/Hr</th>
      <th width="25%">Titel</th>
      <th>Vorname</th>
      <th>Name</th>
      <th>Institution</th>
    </tr>
  </thead>
{% for emp in inv.employees.all %}
  <tbody>
    <tr>
      <td><strong>{{ emp.geschlecht_string }}</strong></td>
      <td><strong>{{ emp.title }}</strong></td>
      <td><strong>{{ emp.surname }}</strong></td>
      <td><strong>{{ emp.firstname }}</strong></td>
      <td><strong>{{ emp.organisation }}</strong></td>
    </tr>
  </tbody>
{% endfor %}
</table>

    <h3>13. Unterschrift der Prüferin/des Prüfers</h3>

<p> Ich bestätige hiermit, dass die in diesem Antrag
gemachten Angaben korrekt sind und dass ich der Meinung bin, dass
die durchführung der studie in Übereinstimmung mit dem Protokoll,
nationalen Regelungen und mit den Prinzipien der Guten Klinischen
Praxis möglich sein wird. </p>

<div class="signature_date">
  <span class="line">Unterschrift der Prüferin/des Prüfers</span>
  <span class="line">Datum</span>
</div>

<br>

<p><em>Bei multizentrischen AMG-Studien
sind die Teile B von der Hauptprüferin/dem Hauptprüfer des
jeweiligen Zentrums zu unterzeichen.</em></p>

<p><em>Alternativ zur Unterschrift auf
den Teilen B können die Unterschriften der Hauptprüfer/innen auch
auf den Unter­schriftenseiten des Protokolls oder der
Prüfärzteverträge vorgelegt werden. Es muss jedenfalls eine
eindeutige &nbsp; durch Unterschrift dokumentierte &nbsp;
Zustimmung aller Hauptprüfer/innen zum Protokoll vorliegen.</em></p>


<div class="infotext">
    !!! Achtung: Teil B ist in jedem Fall vollständig auszufüllen, bei multizentrischen klinischen Prüfungen nach AMG für jedes in Österreich teilnehmende Zentrum separat!!!
</div>
