{% load core corepdf %}

<p>
4.1 Bezeichnung des Produktes: <strong> {{ submission_form.medtech_product_name }} </strong> </p>

<p class="pbi_avoid">
4.2 Hersteller: <strong> {{ submission_form.medtech_manufacturer }} </strong> </p>

<table>
  <tbody>
    <tr><td>
        4.3 Zertifiziert für diese Indikation:
    </td><td class="indented">
        {{ submission_form.medtech_certified_for_exact_indications|checkbox }} ja
        {{ submission_form.medtech_certified_for_exact_indications|not|checkbox }} nein
    </td></tr><tr><td>
        4.4 Zertifiziert, aber für eine andere Indikation: 
    </td><td class="indented">
        {{ submission_form.medtech_certified_for_other_indications|checkbox }} ja 
        {{ submission_form.medtech_certified_for_other_indications|not|checkbox }} nein
    </td></tr><tr><td>
        4.5 Das Medizinprodukt trägt ein CE-Zeichen 
    </td><td class="indented">
        {{ submission_form.medtech_ce_symbol|checkbox }} ja
        {{ submission_form.medtech_ce_symbol|not|checkbox }} nein
    </td></tr>
  </tbody>
</table>
<p>
 4.6 {{ submission_form.medtech_manual_included|checkbox }} Die Produktbroschüre liegt bei.
</p>

<p>
 4.7 Welche Bestimmungen bzw. Normen sind für die Konstruktion und Prüfung des Medizinproduktes
herangezogen worden (Technische Sicherheit): </p>
<p> <strong>{{ submission_form.medtech_technical_safety_regulations }}</strong> </p>

<p>
 4.8 Allfällige Abweichungen von den o.a. Bestimmungen (Normen): </p>
<p> <strong>{{ submission_form.medtech_departure_from_regulations }}</strong> </p>