{% load core corepdf %}
<table class="full_width withborders">
  <tbody>
    <tr>
        <th>Dokument</th>
        <th>Name</th>
        <th>Version/Identifikation</th>
        <th>Datum</th>
    </tr>
    {% for doc in documents %}
    <tr>
        <td>{% ifchanged doc.doctype.name %}<strong>{{ doc.doctype.name }}</strong>{% endifchanged %}</td>
        <td>{% if doc.name %}<strong>{{ doc.name }}</strong>{% endif %}</td>
        <td><strong>{{ doc.version }}</strong></td>
        <td><strong>{{ doc.date|date:'d.m.Y' }}</strong></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</center>


<h4>Name und Unterschrift der Antragstellerin/des Antragstellers</h4>

<p class="pbi_avoid">
 9.1 Name: <strong> {{ submission_form.submitter_contact }} </strong> </p>

<p class="pbi_avoid">
 9.2 Institution/ Firma: <strong> {{ submission_form.submitter_organisation }} </strong> </p>

<p class="pbi_avoid">
 9.3 Position: <strong> {{ submission_form.submitter_jobtitle }} </strong> </p>

<table class="nopadding">
    <tr>
        <td stlye="width: 6cm;">9.4 Antragsteller/in ist</td>
        <td>
            {{ submission_form.submitter_is_coordinator|checkbox }} 9.4.1 koordinierende/r Prüfer/in (multizentrische Studie)
        </td>
    </tr>
    <tr>
        <td>(nur AMG-Studien)</td>
        <td>
            {{ submission_form.submitter_is_main_investigator|checkbox }} 9.4.2 Hauptprüfer/in (monozentrische Studie)
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            {{ submission_form.submitter_is_sponsor|checkbox }} 9.4.3 Sponsor bzw. Vertreter/in des Sponsors
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            {{ submission_form.submitter_is_authorized_by_sponsor|checkbox }} 9.4.4 vom Sponsor autorisierte Person/Organisation 
        </td>
    </tr>
</table>

<p> Ich bestätige hiermit, dass die in diesem
Antrag gemachten Angaben korrekt sind und dass ich der Meinung
bin, dass die Durchführung der Studie in Übereinstimmung mit dem
Protokoll, nationalen Regelun­gen und mit den Prinzipien der Guten
Klinischen Praxis möglich sein wird. </p>

<p style="{% if not submission_form.sponsor_agrees_to_publishing %}text-decoration:line-through{% endif %}">
    Weiters stimme ich mit meiner Unterschrift zu, dass folgende Daten aus meinem Antrag ggf. durch die
    Ethikkommission veröffentlicht werden, um die Anträge nach Zahl und Inhalt transparent zu machen:<br/>
    EK-Nummer, Einreich-Datum, Projekttitel, Hauptprüfer, Sponsor/CRO, weitere Zentren.<br/> 
    <i>(Im Falle der Nicht-Zustimmung bitte diesen Absatz durchzustreichen)</i>
</p>


<div class="signature_date">
  <span class="line">Unterschrift Antragstellerin/des Antragstellers</span>
  <span class="line">Datum</span>
</div>

<div class="infotext">!!! Achtung: Diese Unterschrift ist in jedem Fall erforderlich !!!</div>
