{% load core corepdf %}

<div class="infotext">
    (Hier nur Kurzinformationen in Stichworten, ausführlicher - wenn erforderlich - unter Punkt 7.15 und 7.16)
</div>

<p>8.1 Studiendesign (z.B. doppelblind, randomisiert, kontrolliert, Placebo, Parallelgruppen, multizentrisch)</p>
<table class="nopadding border_bottom">
    <tr>
        <td>{{ submission_form.study_plan_open|checkbox }} 8.1.1 offen </td>
        <td>{{ submission_form.study_plan_randomized|checkbox }} 8.1.2 randomisiert </td>
        <td>{{ submission_form.study_plan_parallelgroups|checkbox }} 8.1.3 Parallelgruppen </td>
        <td>{{ submission_form.is_multicentric|not|checkbox }} 8.1.4 monozentrisch </td>
    </tr>
    <tr>
        <td>{{ submission_form.study_plan_single_blind|checkbox }} 8.1.5 blind </td>
        <td>{{ submission_form.study_plan_controlled|checkbox }} 8.1.6 kontrolliert </td>
        <td>{{ submission_form.study_plan_cross_over|checkbox }} 8.1.7 cross-over </td>
        <td>{{ submission_form.is_multicentric|checkbox }} 8.1.8 multizentrisch </td>
    </tr>
    <tr>
        <td>{{ submission_form.study_plan_double_blind|checkbox }} 8.1.9 doppelblind </td>
        <td>{{ submission_form.study_plan_placebo|checkbox }} 8.1.10 Placebo </td>
        <td>{{ submission_form.study_plan_factorized|checkbox }} 8.1.11 faktoriell </td>
        <td>{{ submission_form.study_plan_pilot_project|checkbox }} 8.1.12 Pilotprojekt</td>
    </tr>
    <tr>
        <td>{{ submission_form.study_plan_observer_blinded|checkbox }} 8.1.13 observer-blinded </td>
        <td colspan="3">{{ submission_form.study_plan_equivalence_testing|checkbox }} 8.1.14 Äquivalenzprüfung</td>
    </tr>
    <tr>
        <td colspan="4">{{ submission_form.study_plan_misc|checkbox }} 8.1.15 Sonstiges: {{ submission_form.study_plan_misc|default_if_none:"" }} </td>
    </tr>
</table>

<p class="pbi_avoid">
 8.1.16 Anzahl der Gruppen: <strong> {{ submission_form.study_plan_number_of_groups|default_if_none:"" }} </strong> </p>

<p class="pbi_avoid">
 8.1.17 Stratifizierung: {{ submission_form.study_plan_stratification|not|checkbox }} nein {{ submission_form.study_plan_stratification|checkbox }} ja: Kriterien: <strong> {{ submission_form.study_plan_stratification|default_if_none:"" }} </strong> </p>

<p class="pbi_avoid">
 8.1.18 Messwiederholungen: {{ submission_form.study_plan_sample_frequency|not|checkbox }} nein {{ submission_form.study_plan_sample_frequency|checkbox }} ja: Zeitpunkte: <strong> {{ submission_form.study_plan_sample_frequency|default_if_none:"" }} </strong> </p>

<p class="pbi_avoid">
 8.1.19 Hauptzielgröße: <strong> {{ submission_form.study_plan_primary_objectives|default_if_none:"" }}  </strong> </p>

<p class="pbi_avoid">
 8.1.20 Nullhypothese(n): <strong> {{ submission_form.study_plan_null_hypothesis|default_if_none:"" }}</strong> </p>

<p class="pbi_avoid">
 8.1.21 Alternativhypothese(n): <strong> {{ submission_form.study_plan_alternative_hypothesis|default_if_none:"" }}</strong> </p>

<p class="pbi_avoid border_bottom">
 8.1.22 Nebenzielgrößen: <strong> {{ submission_form.study_plan_secondary_objectives|default_if_none:"" }} </strong> </p>

<p>8.2 Studienplanung </p>

<p class="pbi_avoid">
Die Fallzahlberechnung basiert auf (Alpha = Fehler 1. Art, Power = 1 – Beta = 1 –
Fehler 2. Art): </p>

<p class="pbi_avoid">
8.2.1 Alpha:  <strong> {{ submission_form.study_plan_alpha|default_if_none:"" }} </strong> 
8.2.2 Power: <strong> {{ submission_form.study_plan_power|default_if_none:"" }} </strong> 
8.2.3 Stat.Verfahren: <strong>  {{ submission_form.study_plan_statalgorithm|default_if_none:"" }}</strong> </p>

<p class="pbi_avoid">
8.2.4 Multiples
Testen: {{ submission_form.study_plan_multiple_test_correction_algorithm|not|checkbox }} nein 
{{ submission_form.study_plan_multiple_test_correction_algorithm|checkbox }} ja:
Korrekturverfahren.: <strong> {{ submission_form.study_plan_multiple_test_correction_algorithm|default_if_none:"" }} </strong> </p>

<p class="pbi_avoid border_bottom">
 8.2.5 Erwartete Anzahl von Studienabbrecher/inne/n
(Drop-out-Quote): <strong> {{ submission_form.study_plan_dropout_ratio|default_if_none:"" }} </strong> </p>

<p class="pbi_avoid">
 8.3 Geplante statistische analyse </p>

<p class="pbi_avoid">
 Population: {{ submission_form.study_plan_population_intention_to_treat|checkbox }} 8.3.1 Intention-to-treat 
{{ submission_form.study_plan_population_per_protocol|checkbox }} 8.3.2 Per Protocol </p>

<p class="pbi_avoid">
8.3.3 Zwischenauswertung: {{ submission_form.study_plan_abort_crit|not|checkbox }} nein {{ submission_form.study_plan_abort_crit|checkbox }} ja: Abbruchkriterien: <strong> {{ submission_form.study_plan_abort_crit|default_if_none:"" }} </strong> </p>

<p class="pbi_avoid border_bottom">
 8.3.4 Geplante statistische Verfahren: 
 <strong> {{ submission_form.study_plan_planned_statalgorithm }}</strong> </p>

<p class="pbi_avoid">
 8.4 Dokumentationsbögen /
Datenmanagement </p>

<p class="pbi_avoid">
8.4.1 Angaben zur
Datenqualitätsprüfung </p>

<p class="pbi_avoid">
  <strong>{{ submission_form.study_plan_dataquality_checking }}</strong></p>

<p class="pbi_avoid">
8.4.2 Angaben zum
Datenmanagement </p>

<p class="pbi_avoid border_bottom">
 <strong>{{ submission_form.study_plan_datamanagement }}</strong></p>

<p class="pbi_avoid">
 8.5 Verantwortliche und
Qualifikation </p>

<p class="pbi_avoid">
8.5.1 Wer führte die
biometrische Planung durch (ggf. Nachweis der
Qualifikation)? </p>

<p class="pbi_avoid">
  <strong>{{ submission_form.study_plan_biometric_planning }}</strong></p>

<p class="pbi_avoid">
8.5.2 Wer wird die
statistische Auswertung durchführen (ggf. Nachweis der
Qualifikation)? </p>

<p class="pbi_avoid border_bottom">
  <strong>{{ submission_form.study_plan_statistics_implementation }}</strong></p>

<p>8.6 Datenschutz </p>
<p>
 8.6.1 Die Datenverarbeitung erfolgt 
 {{ submission_form.study_plan_dataprotection_reason|checkbox }} a) personenbezogen 
 {{ submission_form.study_plan_dataprotection_reason|not|checkbox }} b) indirekt personenbezogen </p>

<table>
    <tr>
    <td>
        8.6.2 Wenn a): &nbsp;
    </td>
    <td>
        Begründung:<span class="value indented">{{ submission_form.study_plan_dataprotection_reason|default_if_none:"" }}</span> 
    </td>
    </tr>
    <tr>
    <td>
        <!-- empty -->
    </td>
    <td>
         DVR-Nummer: <span class="value">{{ submission_form.study_plan_dataprotection_dvr|default_if_none:"" }}</span>
    </td>
    </tr>
</table>

<p>
    8.6.3 Wenn b): Wie erfolgt die Anonymisierung?
    <div class="value">
        {{ submission_form.study_plan_dataprotection_anonalgoritm }}
    </div>
</p>
