{% load core corepdf %}
<table class="full_width">
  <thead>
    <td>
    2.1 Art des Projektes:
    </td>
  </thead>

  <tbody>
  <tr>    
    <td>

    <p>
    {{ submission_form.project_type_non_reg_drug|checkbox }} 2.1.1 Klinische Prüfung eines nicht registrierten <strong>Arzneimittels</strong>
    </p>

    <p>
    {{ submission_form.project_type_reg_drug|checkbox }} 2.1.2 Klinische Prüfung eines registrierten <strong>Arzneimittels</strong>
    </p>

    <div class="indented border_bottom">
        {{ submission_form.project_type_reg_drug_within_indication|checkbox }} 2.1.2.1 gemäß der Indikation 
        {{ submission_form.project_type_reg_drug_not_within_indication|checkbox }} 2.1.2.2 nicht gemäß der Indikation
    </div>

    <p>{{ submission_form.project_type_medical_method|checkbox }} 2.1.3 Klinische Prüfung einer neuen <strong>medizinischen Methode</strong></p>

    <p>{{ submission_form.project_type_medical_device|checkbox }} 2.1.4 Klinische Prüfung eines <strong>Medizinproduktes</strong></p>

    <div class="indented border_bottom">
        {{ submission_form.project_type_medical_device_with_ce|checkbox }} 2.1.4.1 mit CE-Kennzeichnung 
        {{ submission_form.project_type_medical_device_without_ce|checkbox }} 2.1.4.2 ohne CE-Kennzeichnung
        <br/>
        {{ submission_form.project_type_medical_device_performance_evaluation|checkbox }} 2.1.4.3 Leistungsbewertungsprüfung (In-vitro-Diagnostika)
    </div>

    <p class="border_bottom">{{ submission_form.project_type_basic_research|checkbox }} 2.1.5 <strong>Nicht-therapeutische biomedizinische Forschung</strong> am Menschen (Grundlagenforschung)</p>

    <p>{{ submission_form.project_type_genetic_study|checkbox }} 2.1.6 <strong>Genetische Untersuchung</strong></p>

    <p>{{ submission_form.project_type_register|checkbox }} 2.1.10 <strong>Register</strong></p>

    <p>{{ submission_form.project_type_biobank|checkbox }} 2.1.11 <strong>Biobank</strong></p>

    <p class="border_bottom">{{ submission_form.project_type_retrospective|checkbox }} 2.1.12 <strong>Retrospektive Datenauswertung</strong></p>

    <p class="border_bottom">{{ submission_form.project_type_questionnaire|checkbox }} 2.1.13 <strong>Fragebogen Untersuchung</strong></p>

    <p class="border_bottom">{{ submission_form.project_type_psychological_study|checkbox }} 2.1.14 <strong>Psychologische Studie</strong></p>

    <p class="border_bottom">{{ submission_form.project_type_nursing_study|checkbox }} 2.1.15 <strong>Pflegewissenschaftliche Studie</strong></p>

    <p class="border_bottom">{{ submission_form.project_type_non_interventional_study|checkbox }} 2.1.16 <strong>Nicht-interventionelle Studie</strong></p>

    <p class="border_bottom">{{ submission_form.project_type_gender_medicine|checkbox }} 2.1.17 <strong>Gendermedizin</strong></p>

    <p class="border_bottom">{{ submission_form.project_type_misc|checkbox }} 2.1.7 <strong>Sonstiges</strong>(z.B. Diätetik, Epidemiologie, etc.), bitte
    spezifizieren:</p>
    <p class="value">{{ submission_form.project_type_misc|default_if_none:"" }}</p>

    <p class="border_bottom"><strong>Zusatzinformation:</strong> 
    {{ submission_form.project_type_education_context_phd|checkbox }} 2.1.8 <strong>Dissertation</strong>
    {{ submission_form.project_type_education_context_master|checkbox }} 2.1.9 <strong>Diplomarbeit</strong></p>

    </td>
  </tr>
  </tbody>
</table>
