{% load core corepdf %}

<p>6.1. Welche Maßnahmen bzw. Behandlungen werden <b>ausschließlich studienbezogen</b> durchgeführt? </p>

<center>
<table class="full_width withborders">
  <thead>
    <tr>
      <th width="30%">Art</th>
      <th width="20%">Anzahl/Dosis</th>
      <th width="25%">Zeitraum</th>
      <th width="25%">Insgesamt</th>
    </tr>
  </thead>
  {% for m in submission_form.measures_study_specific %}
  <tbody>
    <tr>
      <td><strong>{{ m.type }}</strong></td>
      <td><strong>{{ m.count }}</strong></td>
      <td><strong>{{ m.period }}</strong></td>
      <td><strong>{{ m.total }}</strong></td>
    </tr>
  </tbody>
{% endfor %}
</table>
</center>

<p>6.2. Welche speziellen Untersuchungen (<strong>nur invasive und strahlenbelastende</strong>) werden während des Studienzeitraumes <strong>zu Routinezwecken</strong> durchgeführt: </p>

<table class="full_width withborders">
  <thead>
    <tr>
      <th width="30%">Art</th>
      <th width="20%">Anzahl/Dosis</th>
      <th width="25%">Zeitraum</th>
      <th width="25%">Insgesamt</th>
    </tr>
  </thead>
  {% for m in submission_form.measures_nonspecific %}
  <tbody>
    <tr>
      <td><strong>{{ m.type }}</strong></td>
      <td><strong>{{ m.count }}</strong></td>
      <td><strong>{{ m.period }}</strong></td>
      <td><strong>{{ m.total }}</strong></td>
    </tr>
  </tbody>
  {% endfor %}
</table>

<p> 6.3. Ergänzende Informationen zu studienbezogenen Maßnahmen und alle erforderlichen Abweichungen von der Routinebehandlung: </p>

<div class="value">
    {{ submission_form.additional_therapy_info }}
</div>