{% load core corepdf %}

<p class="pbi_avoid">
3.1 Registrierung in anderen Staaten? {{ submission_form.substance_registered_in_countries|checkbox }} ja {{ submission_form.substance_registered_in_countries|not|checkbox }} nein.
Wenn <strong>ja</strong>, geben Sie an, in welchen: <br>(bitte verwenden Sie englische Landesbezeichnungen) </p>

<p class="pbi_avoid">
<strong> {% for country in submission_form.substance_p_c_t_countries.all %}{{country.name}}{% if not forloop.last %}, {% endif %}{% endfor %} </strong> </p>

<p>
3.2 Liegen über das zu prüfende Arzneimittel bereits aussagekräftige Ergebnisse von klinischen Prüfungen vor? 
{{ submission_form.substance_preexisting_clinical_tries|checkbox }} ja 
{{ submission_form.substance_preexisting_clinical_tries|not|checkbox }} nein </p>

<p> Wenn <strong>ja</strong>, bitte geben Sie folgende Daten
an: </p>

<p class="pbi_avoid">3.2.1
 In welchen Staaten wurden
die Prüfungen durchgeführt: <strong> {% for country in submission_form.substance_p_c_t_countries.all %}{{country.name}}{% if not forloop.last %}, {% endif %}{% endfor %} </strong> </p>

<p>
 3.2.2 Phase: <strong> {{ submission_form.substance_p_c_t_phase }} </strong> (Wenn Studien in mehreren Phasen angeführt sind,
die höchste Phase angeben) </p>

<p>
 3.2.3 Zeitraum: <strong> {{ submission_form.substance_p_c_t_period }} </strong> </p>

<p>
 3.2.4 Anwendungsart(en): <strong> {{ submission_form.substance_p_c_t_application_type }} </strong> </p>

<p>
3.2.5 Wurde(n) die klinische(n) Prüfung(en) gemäß GCP-Richtlinien durchgeführt? 
{{ submission_form.substance_p_c_t_gcp_rules|checkbox }} ja 
{{ submission_form.substance_p_c_t_gcp_rules|not|checkbox }} nein </p>

<p>
 3.2.6 Liegt ein Abschlußbericht vor? 
{{ submission_form.substance_p_c_t_final_report|checkbox }} ja 
{{ submission_form.substance_p_c_t_final_report|not|checkbox }} nein </p>

<p>
 Wenn <strong>ja</strong>, bitte legen
Sie die <strong>Investigator´s Brochure, relevante Daten</strong> oder ein
<strong>Gutachten des Arzneimittelbeirates</strong> bei. </p>


