{% load core corepdf %}

<p>
4.1 Bezeichnung des Produktes: <b> {{ submission_form.medtech_product_name }} </b> </p>

<p style="margin-left: 2.5cm; text-indent: -2.5cm; margin-top: 0.11cm; margin-bottom: 0.07cm; page-break-inside: avoid">
4.2 Hersteller: <b> {{ submission_form.medtech_manufacturer }} </b> </p>

<table>
    <colgroup>
        <col width="1cm" />
        <col/>
    </colgroup>
    <tr><td>
        4.3 Zertifiziert für diese Indikation:
    </td><td>
        {{ submission_form.medtech_certified_for_exact_indications|checkbox }} ja
        {{ submission_form.medtech_certified_for_exact_indications|not|checkbox }} nein
    </td></tr><tr><td>
        4.4 Zertifiziert, aber für eine andere Indikation: 
    </td><td>
        {{ submission_form.medtech_certified_for_other_indications|checkbox }} ja 
        {{ submission_form.medtech_certified_for_other_indications|not|checkbox }} nein
    </td></tr><tr><td>
        4.5 Das Medizinprodukt trägt ein CE-Zeichen 
    </td><td>
        {{ submission_form.medtech_ce_symbol|checkbox }} ja
        {{ submission_form.medtech_ce_symbol|not|checkbox }} nein
    </td></tr>
</table>
<p>
 4.6 {{ submission_form.medtech_manual_included|checkbox }} Die Produktbroschüre liegt bei.
</p>

<p>
 4.7 Welche Bestimmungen bzw. Normen sind für die Konstruktion und Prüfung des Medizinproduktes
herangezogen worden (Technische Sicherheit): </p>
<p> <b>{{ submission_form.medtech_technical_safety_regulations }}</b> </p>

<p>
 4.8 Allfällige Abweichungen von den o.a. Bestimmungen (Normen): </p>
<p> <b>{{ submission_form.medtech_departure_from_regulations }}</b> </p>