{% load core corepdf %}

<h4>6.1. Welche Maßnahmen bzw. Behandlungen werden <b>ausschließlich studienbezogen</b> durchgeführt? </h4>

<center>
<table width="624" border="1" bordercolor="#000000" cellpadding="5"
cellspacing="0">
<col width="169">
<col width="217">
<col width="120">
<col width="76">
<tr>
<th width="169">Art</th>
<th width="217">Anzahl/Dosis</th>
<th width="120">Zeitraum</th>
<th width="76">Insgesamt</th>
</tr>
{% for m in submission_form.measures_study_specific %}
<tr>
<td width="169"><b>{{ m.type }}</b></td>
<td width="217"><b>{{ m.count }}</b></td>
<td width="120"><b>{{ m.period }}</b></td>
<td width="76"><b>{{ m.total }}</b></td>
</tr>
{% endfor %}
</table>
</center>

<h4>6.2. Welche speziellen Untersuchungen (<b>nur invasive und strahlenbelastende</b>) werden während des Studienzeitraumes <b>zu Routinezwecken</b> durchgeführt: </h4>

<center>
<table width="624" border="1" bordercolor="#000000" cellpadding="5" cellspacing="0">
<col width="169">
<col width="217">
<col width="120">
<col width="76">
<tr>
<th width="169">Art</th>
<th width="217">Anzahl/Dosis</th>
<th width="120">Zeitraum</th>
<th width="76">Insgesamt</th></tr>
{% for m in submission_form.measures_nonspecific %}
<tr>
<td width="169"><b>{{ m.type }}</b></td>
<td width="217"><b>{{ m.count }}</b></td>
<td width="120"><b>{{ m.period }}</b></td>
<td width="76"><b>{{ m.total }}</b></td></tr>
{% endfor %}
</table>
</center>

<h4> 6.3. Ergänzende Informationen zu studienbezogenen Maßnahmen und alle erforderlichen Abweichungen von der Routinebehandlung: </h4>

<div class="value">
    {{ submission_form.additional_therapy_info }}
</div>