{% extends 'core.html' %}
{% load core %}

{% block title %}ECS Elektronische Einreichung{% endblock %}

{% block headertitle %}
    Neues Meeting
{% endblock %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data" class="tabbed main">
    <div>
    <ol>
        {% for field in form %}
            {% include "forms/field.html" %}
        {% endfor %}
    </ol>
    </div>
    <span class="button"><input type="submit" value="Speichern" /></span>
</form>
{% endblock %}

{% block jsbottom %}
    var accordionitem = 2;    
    {{ block.super }}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/forms.js"></script>
{% endblock %}
