{% extends 'fastlane/assistant.html' %}
{% load core i18n %}

{% block nav %}
    <div class="button">
        <a href="{% url ecs.fastlane.views.stop_assistant meeting_pk=meeting.pk%}">{% trans "Stop Meeting" %}</a>
    </div>
    <div class="top">
        <a href="{% url ecs.core.views.readonly_submission_form submission_form_pk=top.submission.current_submission_form.pk %}">
            {{ top.submission|ec_number }}
        </a>
        {{ top.submission.project_title }}
    </div>

    <div class="paginator">
        {% if page.has_previous %}
            <a href="{% url ecs.fastlane.views.assistant meeting_pk=meeting.pk page_num=1 %}"><img src="{{ MEDIA_URL }}/images/core/control-skip-180.png" alt="Anfang" title="Anfang" /></a>
            <a href="{% url ecs.fastlane.views.assistant meeting_pk=meeting.pk page_num=page.previous_page_number %}"><img src="{{ MEDIA_URL }}/images/core/control-double-180.png" alt="zurück" title="zurück" /></a>
        {% endif %}
        {{ page.number }} {% trans "of" %} {{ page.paginator.num_pages }}
        {% if page.has_next %}
            <a href="{% url ecs.fastlane.views.assistant meeting_pk=meeting.pk page_num=page.next_page_number %}"><img src="{{ MEDIA_URL }}/images/core/control-double.png" alt="weiter" title="weiter" /></a>
            <a href="{% url ecs.fastlane.views.assistant meeting_pk=meeting.pk page_num=page.paginator.num_pages %}"><img src="{{ MEDIA_URL }}/images/core/control-skip.png" alt="Ende" title="Ende" /></a>
        {% endif %}
    </div>
    <div>
        {% blocktrans with meeting.started|date:'d.m.Y H:i' as started %}
            The meeting started at {{ started }}
        {% endblocktrans %}
    </div>
{% endblock %}

{% block body %}
    <div class="submission">
        <h2>{{ top.submission|ec_number }}</h2>
        <div>{{ top.submission.project_title }}</div>
        <div>
            {% trans "Categories" %}:
            {% for category in top.submission.expedited_review_categories.all %}
                {{ category.name }}
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </div>
    </div>

    <form action="" method="post">
        <table> {{ form.as_table }} </table>
        <input type="submit" value="{% trans "Save" %}" />
    </form>
{% endblock %}

