{% extends 'core.html' %}
{% load core i18n userutils %}

{% block title %}{% trans "ECS Elektronische Einreichung" %}{% endblock %}

{% block headernav %}
    <ul class="tab_header_groups">
        <li>
            <a href="#" class="active">{% trans "Fast Lane Meeting" %}</a>
            <ul class="tab_headers">
                <li><a href="{% url ecs.fastlane.views.status meeting_pk=meeting.pk %}">{% trans "Status" %}</a></li>
                <li><a href="{% url ecs.fastlane.views.participation meeting_pk=meeting.pk %}">{% trans "Participation" %}</a></li>
                <li><a href="{% url ecs.fastlane.views.assistant meeting_pk=meeting.pk %}">{% trans "Assistant" %}</a></li>
            </ul>
        </li>
    </ul>
    {{ block.super }}
{% endblock %}

{% block headertitle %}
    {{ meeting.start|date:'d.m.Y H:i' }} {{ meeting.title|default:"<em>Unbenannt</em>" }}
{% endblock %}

{% block content %}
<div class="fastlane_detail">

{% block fastlane_detail %}
{% endblock %}

</div>
{% endblock %}

{% block menuSelection %}meetings{% endblock %}

{% block jsbottom %}
  {{ block.super }}
    <script type="text/javascript">
        window.addEvent('domready', function(){
            function updateHeaderHeight() {
                var tabHeight = $$('.tab_headers')[0].getHeight();
                if(tabHeight){
                    $$('.tab_header_groups')[0].setStyle('margin-bottom', tabHeight + 'px');
                    $$('.tab_headers')[0].setStyle('margin-bottom', tabHeight + 'px');
                }
                $('content').setStyle('top', $('header').getHeight() + 'px');
            }
            window.addEvent('resize', updateHeaderHeight);
            $('header').setStyle('height', 'auto');
            updateHeaderHeight();
        });
    </script>
{% endblock %}

