{% extends 'core.html' %}
{% load core i18n %}

{% block title %}{% trans "ECS Elektronische Einreichung" %}{% endblock %}

{% block headertitle %}
    {% trans "Participation" %}
{% endblock %}

{% block content %}
<h2>{{ meeting.start|date:'d.m.Y H:i' }} {{ meeting.title }}</h2>

<form action="" method="post">
    {% for form in forms %}
        {{ form.instance.category.name }} {{ form }}
    {% endfor %}
    <input type="submit" value="{% trans "Save" %}" />
</form>

{% endblock %}

{% block jsbottom %}
  {{ block.super }}
  <script type="text/javascript">
    (function(){
    window.addEvent('domready', function(){
      var AccordionObject = new Accordion($$('.mc_toggle'), $$('.mc_element'));
    });
    })();
  </script>
{% endblock %}

{% block menuSelection %}fastlane{% endblock %}

