{% extends "core.html" %}

{% load i18n %}

{% block headertitle %}
    {% trans 'Boilerplates' %}
{% endblock %}

{% block content %}
    <a href="{% url ecs.boilerplate.views.edit_boilerplate %}" class="button_submit">{% trans 'New' %}</a>
    {% for text in texts %}
    <div class="boilerplate">
        <h4>{{ text.slug }}</h4> | <a href="{% url ecs.boilerplate.views.edit_boilerplate text_pk=text.pk %}">{% trans "edit" %}</a>
        <p>Erstellt am {{ text.ctime|date:'d.m.Y' }} um {{ text.ctime|date:'H:i' }} Uhr<br />
           Zuletzt bearbeitet am {{ text.mtime|date:'d.m.Y' }} um {{ text.mtime|date:'H:i' }} Uhr von {{ text.author }} 
            | <a href="{% url ecs.boilerplate.views.delete_boilerplate text_pk=text.pk %}">{% trans 'Delete' %}</a>
        </p>
        <p class="boilerplate_text">{{ text.text }}</p>
    </div>
    {% endfor %}
{% endblock %}



