#
# Shorewall version 4.0 - Sample Rules File for one-interface configuration.
# Copyright (C) 2006 by the Shorewall Team
#
# This library is free software; you can redistribute it and/or
# modify it under the terms of the GNU Lesser General Public
# License as published by the Free Software Foundation; either
# version 2.1 of the License, or (at your option) any later version.
#
# See the file README.txt for further details.
#------------------------------------------------------------------------------------------------------------
# For information on entries in this file, type "man shorewall-rules"
#############################################################################################################
#ACTION         SOURCE          DEST            PROTO   DEST    SOURCE          ORIGINAL        RATE                USER/   MARK
#                                                       PORT    PORT(S)         DEST            LIMIT               GROUP

# ICMP from all
ACCEPT   all     $FW      icmp

# ssh from all
ACCEPT   all     $FW      tcp     22      # ssh

# http & https from all
ACCEPT   all     $FW      tcp     80      # http
ACCEPT   all     $FW      tcp     443     # https

# smtp & smtps from all
ACCEPT   all     $FW      tcp     25      # smtp
ACCEPT   all     $FW      tcp     465     # smtps

# ecs signing (temporary)
#ACCEPT   all     $FW      tcp     4780    # signing
