{% load i18n %}

<div id="task_main">
{% if submission %}
    <h1>{{ submission }}</h1>
{% endif %}
<form id="task_list_filter" action="" method="post">
    <div class="task_list_choose">
        {{ filterform.mine }} <label class="task_mine">{% trans "Mine" %}</label>
        {{ filterform.open }} <label class="task_open">{% trans "Open" %}</label>
        {{ filterform.proxy }} <label class="task_proxy">{% trans "Proxy" %}</label>
    </div>
    <div class="task_list_choose"{% if submission %} style="display:none"{% endif %}>
        {{ filterform.amg }} <label for="id_amg" class="task_amg">{% trans "AMG" %}</label>
        {{ filterform.mpg }} <label for="id_mpg" class="task_mpg">{% trans "MPG" %}</label>
        {{ filterform.thesis }} <label for="id_thesis" class="submission_thesis">{% trans "thesis" %}</label>
        {{ filterform.other }} <label for="id_other" class="task_other">{% trans "Other" %}</label>
    </div>
</form>

{% if accepted_tasks %}
    <div class="task_list">
        <h2>Meine Tasks</h2>
        {% for task in accepted_tasks %}
        {% ifchanged task.task_type %}
            <h3>{{ task.task_type }}</h3>
        {% endifchanged %}
        <div class="task_item">
            {% url ecs.tasks.views.manage_task task_pk=task.pk as manage_url %}
            <a href="{{ task.url|default:manage_url }}" class="{% if task.url %}escape_popup{% else %}widget popup{% endif %}">{{ task.data }}</a>
        </div>
        {% endfor %}
    </div>
{% endif %}

{% if assigned_tasks %}
    <div class="task_list">
        <h2>Mir zugewiesene Tasks</h2>
        {% for task in assigned_tasks %}
            {% ifchanged task.task_type %}
                <h3>{{ task.task_type }}</h3>
            {% endifchanged %}
            <div>
                {{ task.data }}
                    <a href="{{ task.get_preview_url }}">{% trans "Preview" %}</a>
                    | <a href="{% url ecs.tasks.views.accept_task task_pk=task.pk %}" class="widget">{% trans "Accept" %}</a>
                    | <a href="{% url ecs.tasks.views.decline_task task_pk=task.pk %}" class="widget">{% trans "Decline" %}</a>)
            </div>
        {% endfor %}
    </div>
{% endif %}

{% if open_tasks %}
    <div class="task_list">
        <h2>Offene Tasks</h2>
        {% for task in open_tasks %}
            {% ifchanged task.task_type %}
                <h3>{{ task.task_type }}</h3>
            {% endifchanged %}
            {{ task.data }}
            <a href="{{ task.get_preview_url }}">{% trans "Preview" %}</a>
            | <a href="{% url ecs.tasks.views.accept_task task_pk=task.pk %}" class="widget">{% trans "Accept" %}</a>
        {% endfor %}
    </div>
{% endif %}

{% if proxy_tasks %}
    <div class="task_list">
        <h2>{% trans 'Proxy Tasks' %}</h2>
        {% for task in proxy_tasks %}
            {% ifchanged task.task_type %}
                <h3>{{ task.task_type }}</h3>
            {% endifchanged %}
            <a href="{{ task.get_preview_url }}">{% trans "Preview" %}</a>
            | <a href="{% url ecs.tasks.views.accept_task task_pk=task.pk %}" class="widget">{% trans "Accept" %}</a>
        {% endfor %}
    </div>
{% endif %}

{% if not accepted_tasks and not assigned_tasks and not open_tasks and not proxy_tasks %}
    <em>{% trans "There are no tasks for you." %}</em>
{% endif %}
</div>

