{% load core i18n %}
<div class="task_back_log">
    <table>
        <tr>
            <th colspan="2">{% trans "Type of Task" %}</th>
            <th>{% trans "Accepted?" %}</th>
            <th>{% trans "Created At" %}</th>
            <th>{% trans "Closed At" %}</th>
            <th>{% trans "Assigend At" %}</th>
            <th>{% trans "Assigend To" %}</th>
        </tr>
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Groups" %}</th>
            <th></th><th></th>
            <th></th><th></th>
            <th></th>
        </tr>
    {% for task in tasks %}
        <tr class="task{% if task.closed_at %} closed{% endif %}{% if task.deleted_at %} deleted{% endif %}">
            <td>{{ task.task_type }}</td>
            <td>{% for group in task.task_type.groups.all %}{{ group }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
            <td>{{ task.accepted|yesno }}</td>
            <td>{{ task.created_at|date:'d.m.Y H:i' }}</td>
            <td>{% if task.closed_at %}{{ task.closed_at|date:'d.m.Y H:i' }}{% else %}-{% endif %}</td>
            <td>{% if task.assigned_at %}{{ task.assigned_at|date:'d.m.Y H:i' }}{% else %}-{% endif %}</td>
            <td>{% if task.assigned_to %}{{ task.assigned_to }}{% else %}-{% endif %}</td>
        </tr>
    {% endfor %}
    </table>

    <p><span class="icon_comment"></span>{% trans "Closed tasks are grayed out. Deleted tasks are crossed out." %}</p>
</div>
