{% load core i18n widget_tweaks %}

<div class="card card-block m-t-1 m-b-0" id="headerworkflow">
    <h4 class="card-title text-xs-center">{% trans 'Task' %}: {{ form.task }}</h4>

    <form class="clearfix" action="{{ request.path }}" method="post">
	{% csrf_token %}
	{% if form.errors.post_data %}
	    <div class="text-danger">
		Füllen Sie alle benötigten Felder aus um diese Aufgabe abschließen zu können.
	    </div>
	{% endif %}
	{% if form.errors.action %}
	    <div class="text-danger">
		Bitte wählen Sie eine Aktion aus.
	    </div>
	{% endif %}

	{% if not form.task.choices %}
	    <button class="btn btn-success" type="submit" name="task_management-action" value="complete">
		{% trans 'Close' %}
	    </button>
	{% else %}
	    {% for val, label, style in form.task.choices %}
		<button class="btn btn-{{ style }}" type="submit" name="task_management-action" value="complete_{{ forloop.counter0 }}">
		    {{ label }}
		</button>
	    {% endfor %}
	{% endif %}

	<input class="btn btn-secondary" hidden type="submit" name="task_management-save" value="Nur Speichern">

	{% if form.assign_to %}
	    <div class="pull-xs-right">
		<div class="input-group">
		    {{ form.assign_to|add_class:'form-control' }}
		    <div class="input-group-btn">
			<button class="btn btn-secondary" type="submit" name="task_management-action" value="delegate">
			    {% trans 'Delegate' %}
			</button>
		    </div>
		</div>
	    </div>
	{% endif %}

	{{ form.post_data }}
    </form>
</div>
