{% extends "shell.html" %}
{% load i18n %}

{% block htmlbody %}
    {% include 'tasks/compact_list.html' %}
{% endblock %}

{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript">
      window.addEvent('domready', function(){
          $$('#task_list_filter input').each(function(input){
              input.addEvent('change', function(){
                  $('task_list_filter').submit();
              });
          });
          $$('a.escape_popup').each(function(a){
              a.addEvent('click', function(){
                  if(window.parent){
                      window.parent.location.href = a.href;
                      return false;
                  }
                  return true;
              });
          });
      });
    </script>
{% endblock %}