{% extends 'core.html' %}
{% load core i18n %}

{% block htmltitle %}{{ meeting.title }} | {{ block.super }}{% endblock %}

{% block headertitle %}
    Einschränken für {{ participant }} für die Sitzung am {{ meeting.start|date:'d.m.Y' }} ({{ meeting.title }})
{% endblock %}

{% block content %}
<div id="meeting_constraint_editor">
    <div>
        <a href="{% url ecs.meetings.views.meeting_details meeting_pk=meeting.pk %}#timetable_tab">Zurück zur Zeitplanung für dieses Meeting</a>
    </div>
    <form action="" method="post" enctype="multipart/form-data">
        {% include "forms/tables/inline_formset.html" %}
        <span class="button"><input type="submit" value="{% trans "Save" %}" name="submit"/></span>
    </form>
</div>
{% endblock %}

{% block jsbottom %}
{{ block.super }}
<script type="text/javascript">
window.addEvent('domready', function(){
    ecs.setupForms();
    new ecs.InlineFormSet($('constraint_formset'), {
        prefix: '{{ formset.prefix }}',
        canDelete: true
    });
    {% if saved %}
        ecs.messages.alert('{% trans 'form saved' %}', '{% trans 'The constraints have been saved. The constraints will be taken into account when optimizing the timetable.' %}');
    {% endif %}
});
</script>
{% endblock %}
