{% load i18n %}
<html>
<body>
<p>
Wir haben eine Anfrage erhalten, dass Sie Ihr Passwort zurücksetzen wollen.<br />
Es ist uns allerdings kein/e Benutzer/in des Systems unter Ihrer E-Mailaddresse {{ email }} bekannt.<br />
<br />
Wenn Sie das System benutzen wollen, klicken Sie auf den folgenden Link um sich zu registrieren:<br />
<br />
<a href="{{ register_url }}">{{ register_url }}</a><br />
<br />
<br />
Mit freundlichen Grüßen,<br />
<br />
das Team der Ethik-Kommission
</p>
</body>
</html>
