{% extends 'public.html' %}
{% load i18n %}

{% block content %}

<div id="wrapper">
  <div class="form_public">
	<h2>Passwort zurücksetzen fehlgeschlagen</h2>
	<p>Die Gültigkeitsdauer Ihres Passwort Rücksetzungs-Link ist abgelaufen.</p>
    <p>Beachten Sie, dass der Link innerhalb von einer Stunde verwendet werden muß.</p>
    <p><a href="{% url ecs.users.request_password_reset %}">Beantragen Sie dieses Service erneut</a> wenn Sie ihr Passwort zurücksetzen wollen.</p> 
  </div>
</div>

{% endblock %}
