{% load i18n %}
<html>
<body>
<p>Es wurde eine Passwort-Zurücksetzung beantragt.</p>
<p>Klicken Sie auf den folgenden Link um Ihr Passwort zu ändern: <a href="{{ reset_url }}">{{ reset_url }}</a></p>
<p>Falls Sie ihr Passwort nicht ändern wollen ignorieren Sie diese Email, 
dieser Link hat eine Gültigkeitsdauer von einer Stunde und ist danach nicht mehr verwendbar.</p>
<p>
{% blocktrans%}
Mit freundlichen Grüßen,<br />
    Ethik-Kommission der MedUni Wien
{% endblocktrans %}
</p>
</body>
</html>
