{% load i18n %}
<html>
<body>
<p>
Wir haben eine Passwort Rücksetzungsanfrage für Ihre Email Adresse erhalten.<br />
Falls Sie Ihr Passwort nicht ändern wollen, ignorieren Sie diese Email.<br />
<br />
Um ein neues Passwort zu setzen, klicken Sie auf den folgenden Link:<br />
<br />
<a href="{{ reset_url }}">{{ reset_url }}</a><br />
<br />
Der Link hat eine Gültigkeitsdauer von einer Stunde und ist danach nicht mehr verwendbar.<br />
<br />
<br />
Mit freundlichen Grüßen,<br />
<br />
das Team der Ethik-Kommission
</p>
</body>
</html>
