{% load core i18n %}
<html>
<body>
<p>
Wir haben eine Anfrage erhalten, dass Sie Ihr Passwort zurücksetzen wollen.<br />
<br />
Falls Sie Ihr Passwort nicht ändern wollen, ignorieren Sie diese Email.<br />
<br />
Um ein neues Passwort zu setzen, klicken Sie auf den folgenden Link:<br />
<br />
<a href="{{ reset_url }}">{{ reset_url }}</a><br />
<br />
Der Link hat eine Gültigkeitsdauer von einer Stunde und ist danach nicht mehr verwendbar.<br />
<br />
<br />
{% db_setting 'signature_block' as signature_block %}
{{ signature_block|linebreaksbr }}
</p>
</body>
</html>
