{% extends 'base.html' %}
{% load i18n %}

{% block htmlcss %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/public.css" />
{% endblock %}

{% block htmltitle %}Ethik-Kommission der Medizinischen Universität Wien{% endblock %}

{% block content %}
<div id="header_public">
  <a href="/"><h1>Ethikkommission Wien</h1></a> 
</div>

<div id="wrapper">

	<p>Sie haben mit diesem Link bereits Ihr Passwort geändert.</p>
	<p>Sie können sich nun mit dem neuen Passwort <a href="{% url ecs.users.views.login %}">einloggen</a></p>

</div>

{% endblock %}
