{% extends 'db/wkhtml2pdf/skeleton.html' %}
{% load core %}

{% block title %}Meeting Agenda{% endblock %}

{% block content %}
    {% include 'db/wkhtml2pdf/ec_head.inc' %}
    <div align="center" style="font-weight:bold;font-size:12pt;margin-bottom:0.5cm;">
    Tagesordnung<br />
    f&uuml;r die Sitzung der Ethik-Kommission am<br />
    {{ meeting.start|date:'d.m.Y, H:i' }} Uhr, sine tempore<br />
    im B&uuml;ro der Ethik-Kommission, Borschkegasse 8b/6. Stock, 1090 Wien<br />
    </div>
    
    {% for entry in meeting %}
        <span>#{{ entry }}</span>
        {% if entry.submission %}
            <span>EK Nr.</span>
                {{ entry.submission.get_ec_number_display }}<br />
            <span>Antragsteller:</span>
                {% with entry.submission.current_submission_form.submitter as submitter %}
                    {% if not submitter.first_name or not submitter.last_name %}
                        {{ entry.submission.current_submission_form.submitter_contact }}
                    {% else %}
                        {{ submitter }}
                    {% endif %}
                {% endwith %}
                <br />
            <span>Einreichende Institution:</span>
                {{ entry.submission.current_submission_form.submitter_organisation }}<br />
            <span>Projekttitel:</span>
                {{ entry.submission.project_title_display }}<br />
            <br />
        {% endif %}
    {% endfor %}

    {% for i, submission in additional_submissions %}
        <span>#TOP {{ i }}</span>
        <span>EK Nr.</span>
            {{ submission.get_ec_number_display }}<br />
        <span>Antragsteller:</span>
            {% with submission.current_submission_form.submitter as submitter %}
                {% if not submitter.first_name or not submitter.last_name %}
                    {{ submission.current_submission_form.submitter_contact }}
                {% else %}
                    {{ submitter }}
                {% endif %}
            {% endwith %}
            <br />
        <span>Einreichende Institution:</span>
            {{ submission.current_submission_form.submitter_organisation }}<br />
        <span>Projekttitel:</span>
            {{ submission.project_title_display }}<br />
        <br />
    {% endfor %}
{% endblock %}
