{% extends 'db/wkhtml2pdf/skeleton.html' %}
{% load core %}

{% block title %}Meeting Agenda{% endblock %}

{% block content %}
    {% include 'db/wkhtml2pdf/ec_head.inc' %}
    <div align="center" style="font-weight:bold;font-size:12pt;margin-bottom:0.5cm;">
    Sitzung der Ethik-Kommission am {{ meeting.start|date:'d.m.Y' }}<br />
    Protokoll<br />
    </div>

    Beginn: {{meeting.start|date:'H:i'}}<br />
    Ende: {{meeting.end|date:'H:i'}}<br />
    
    {% if meeting.comments %}
    <div>
        {{ meeting.comments|linebreaksbr }}
    </div>
    {% endif %}

    {% for top, vote in tops %}
        <span class="bold">#{{ top }}</span>
        {% if top.submission %}
            <span class="bold">EK Nr.</span> {{ top.submission|ec_number }}<br />
            <span class="bold">Antragsteller:</span>
                {% with top.submission.current_submission_form.submitter as submitter %}
                    {% if not submitter.first_name or not submitter.last_name %}
                        {{ top.submission.current_submission_form.submitter_contact }}
                    {% else %}
                        {{ submitter }}
                    {% endif %}
                {% endwith %}
                <br />
            {% if top.submission.current_submission_form.sponsor_name %}
                <span class="bold">Sponsor/CRO:</span> {{ top.submission.current_submission_form.sponsor_name }}
            {% endif %}<br />
            <span class="bold">Einreichende Institut:</span> {{ top.submission.current_submission_form.submitter_organisation }}<br />
            <span class="bold">Projekttitel:</span> {{ top.submission.project_title_display }}<br />
        {% else %}
            <br />
        {% endif %}

        {% with top.submission as submission %}
            {% if submission %}
                {% include 'meetings/wkhtml2pdf/protocol_submission.inc' %}
            {% endif %}
        {% endwith %}
    {% endfor %}

    {% for i, submission, vote in additional_submissions %}
        <span class="bold">#TOP {{ i }}</span>
        <span class="bold">EK Nr.</span> {{ submission|ec_number }}<br />
        <span class="bold">Antragsteller:</span>
            {% with submission.current_submission_form.submitter as submitter %}
                {% if not submitter.first_name or not submitter.last_name %}
                    {{ submission.current_submission_form.submitter_contact }}
                {% else %}
                    {{ submitter }}
                {% endif %}
            {% endwith %}
            <br />
        {% if submission.current_submission_form.sponsor_name %}
            <span class="bold">Sponsor/CRO:</span> {{ submission.current_submission_form.sponsor_name }}
        {% endif %}<br />
        <span class="bold">Einreichende Institut:</span> {{ submission.current_submission_form.submitter_organisation }}<br />
        <span class="bold">Projekttitel:</span> {{ submission.project_title_display }}<br />

        {% include 'meetings/wkhtml2pdf/protocol_submission.inc' %}
    {% endfor %}

    {% if b1ized.count %}
        <span class="bold">Folgende Tagesordnungspunkte wurden nach der Sitzung vom {{ meeting.start|date:'d.m.Y' }} von der Tagesordnung genommen und sind zwischenzeitlich positiv erledigt:</span><br />

        {% for b1 in b1ized.all %}
            <span class="bold">EK-Nr.: {{ b1.submission|ec_number }} {{ b1.submission.project_title_display }} ({{ b1.submission.current_submission_form.submitter_name }})
        {% endfor %}
    {% endif %}

{% endblock %}
