{% extends 'db/wkhtml2pdf/skeleton.html' %}
{% load core %}

{% block title %}Meeting Agenda{% endblock %}

{% block content %}
    {% include 'db/wkhtml2pdf/ec_head.inc' %}
    <div align="center" style="font-weight:bold;font-size:12pt;margin-bottom:0.5cm;">
    Sitzung der Ethik-Kommission am {{ meeting.start|date:'d.m.Y' }}<br />
    Protokoll<br />
    </div>

    <p>
        Beginn: {{ meeting.start|date:'H:i' }}<br />
        Ende: {{ meeting.end|date:'H:i' }}
    </p>
    
    {% if meeting.comments %}
    <p>
        {{ meeting.comments|linebreaksbr }}
    </p>
    {% endif %}

    {% for top, vote in tops %}
        {% with top.submission as submission %}
            <span class="bold">#{{ top }}</span>
            {% if submission %}
                <span class="bold">EK Nr.</span> {{ submission|ec_number }}<br />
                <span class="bold">Antragsteller:</span>
                    {% with submission.current_submission_form.submitter as submitter %}
                        {% if not submitter.first_name or not submitter.last_name %}
                            {{ submission.current_submission_form.submitter_contact }}
                        {% else %}
                            {{ submitter }}
                        {% endif %}
                    {% endwith %}
                    <br />
                {% if submission.current_submission_form.sponsor_name %}
                    <span class="bold">Sponsor/CRO:</span> {{ submission.current_submission_form.sponsor_name }}
                {% endif %}<br />
                <span class="bold">Einreichendes Institut:</span> {{ submission.current_submission_form.submitter_organisation }}<br />
                <span class="bold">Projekttitel:</span> {{ submission.project_title_display }}<br />
                {% include 'meetings/wkhtml2pdf/protocol_submission.inc' %}
            {% else %}
                <span class="bold">{{ top.title|default:'<i>No title.</i>' }}</span><br />
                <br />
            {% endif %}
        {% endwith %}
    {% endfor %}

    {% if additional_tops %}
        <h2>Weitere TOPs</h2>
        {% for top, vote in additional_tops %}
            {% with top.submission as submission %}
            <span class="bold">#{{ top }}</span>
            <span class="bold">EK Nr.</span> {{ submission|ec_number }}<br />
            <span class="bold">Antragsteller:</span>
                {% with submission.current_submission_form.submitter as submitter %}
                    {% if not submitter.first_name or not submitter.last_name %}
                        {{ submission.current_submission_form.submitter_contact }}
                    {% else %}
                        {{ submitter }}
                    {% endif %}
                {% endwith %}
                <br />
            {% if submission.current_submission_form.sponsor_name %}
                <span class="bold">Sponsor/CRO:</span> {{ submission.current_submission_form.sponsor_name }}
            {% endif %}<br />
            <span class="bold">Einreichendes Institut:</span> {{ submission.current_submission_form.submitter_organisation }}<br />
            <span class="bold">Projekttitel:</span> {{ submission.project_title_display }}<br />

            {% include 'meetings/wkhtml2pdf/protocol_submission.inc' %}
            {% endwith %}
        {% endfor %}
    {% endif %}

    {% if b1ized.exists %}
        <span class="bold">Folgende Tagesordnungspunkte wurden nach der Sitzung vom {{ meeting.start|date:'d.m.Y' }} von der Tagesordnung genommen und sind zwischenzeitlich positiv erledigt:</span><br />
        <br />
        {% for b1 in b1ized.all %}
            {% with b1.get_submission as submission %}
                <span class="bold">EK-Nr.: {{ submission|ec_number }}</span> {{ submission.project_title_display }} ({{ submission.current_submission_form.submitter_organisation }})<br />
                <br />
            {% endwith %}
        {% endfor %}
    {% endif %}

{% endblock %}
