{% extends 'db/wkhtml2pdf/skeleton.html' %}
{% load core %}

{% block title %}Meeting Agenda{% endblock %}

{% block content %}
    {% include 'db/wkhtml2pdf/ec_head.inc' %}
    <div align="center" style="font-weight:bold;font-size:12pt;margin-bottom:0.5cm;">
    Sitzung der Ethik-Kommission am {{ meeting.start|date:'d.m.Y' }}<br />
    Protokoll<br />
    </div>

    Beginn: {{meeting.start|date:'H:i'}}<br />
    Ende: {{meeting.end|date:'H:i'}}<br />
    
    {% if meeting.comments %}
    <div>
        {{ meeting.comments|linebreaks }}
    </div>
    {% endif %}

    {% for top, vote in tops %}
        <span style="font-weight:bold;">#{{ top }}</span>
        {% if top.submission %}
            <span style="font-weight:bold;">EK Nr.</span> {{ top.submission|ec_number }}<br />
            <span style="font-weight:bold;">Antragsteller:</span> {{ top.submission.current_submission_form.submitter_name }}
            {% if top.submission.current_submission_form.sponsor_name %}
                <span style="font-weight:bold;">Sponsor/CRO:</span> {{ top.submission.current_submission_form.sponsor_name }}
            {% endif %}<br />
            <span style="font-weight:bold;">Einreichende Institut:</span> {{ top.submission.current_submission_form.submitter_organisation }}<br />
            <span style="font-weight:bold;">Projekttitel:</span> {{ top.submission.project_title_display }}<br />
        {% else %}
            <br />
        {% endif %}

        {% with top.submission as submission %}
            {% if submission %}
                {% include 'meetings/wkhtml2pdf/protocol_submission.inc' %}
            {% endif %}
        {% endwith %}
    {% endfor %}

    {% for i, submission, vote in additional_submissions %}
        <span style="font-weight:bold;">#TOP {{ i }}</span>
        <span style="font-weight:bold;">EK Nr.</span> {{ submission|ec_number }}<br />
        <span style="font-weight:bold;">Antragsteller:</span> {{ submission.current_submission_form.submitter_name }}
        {% if submission.current_submission_form.sponsor_name %}
            <span style="font-weight:bold;">Sponsor/CRO:</span> {{ submission.current_submission_form.sponsor_name }}
        {% endif %}<br />
        <span style="font-weight:bold;">Einreichende Institut:</span> {{ submission.current_submission_form.submitter_organisation }}<br />
        <span style="font-weight:bold;">Projekttitel:</span> {{ submission.project_title_display }}<br />

        {% include 'meetings/wkhtml2pdf/protocol_submission.inc' %}
    {% endfor %}

    {% if b1ized.count %}
        <span style="font-weight:bold;">Folgende Tagesordnungspunkte wurden nach der Sitzung vom {{ meeting.start|date:'d.m.Y' }} von der Tagesordnung genommen und sind zwischenzeitlich positiv erledigt:</span><br />

        {% for b1 in b1ized.all %}
            <span style="font-weight:bold;">EK-Nr.: {{ b1.submission|ec_number }} {{ b1.submission.project_title_display }} ({{ b1.submission.current_submission_form.submitter_name }})
        {% endfor %}
    {% endif %}

{% endblock %}
