{% extends 'db/wkhtml2pdf/skeleton.html' %}

{% block title %}Votum{% endblock %}

{% block content %}
  <h1>Sitzung der Ethik-Kommission am {{ vote_date }}, {{ vote.top }}:</h1>

<p><b>EK Nr: {{ ec_number }}</b></p>
<p><b>Antragsteller:</b>
{% if form.submitter %}
    {{ form.submitter.first_name }} {{ form.submitter.last_name }} <br/>
{% else %}
    {{ form.submitter_contact }} <br/>
{% endif %}
<b>Sponsor/CRO:</b> {{ form.sponsor_name }} <br/>
<b>Einreichende Institution:</b> {{ form.submitter_organisation }}<br/>
<b>Projekttitel:</b> {{ form.german_project_title|default:form.project_title }}
</p>

<p>Die Stellungnahme der Ethik-Kommission erfolgt aufgrund folgender eingereichter Unterlagen:</p>

<table class="full_width withborders">
  <tbody>
    <tr>
        <th>Dokument</th>
        <th>Name</th>
        <th>Version/Identifikation</th>
        <th>Datum</th>
    </tr>
    {% for doc in documents %}
    <tr>
        <td>{% ifchanged doc.doctype.name %}<strong>{{ doc.doctype.name }}</strong>{% endifchanged %}</td>
        <td>{% if doc.name %}<strong>{{ doc.name }}</strong>{% endif %}</td>
        <td><strong>{{ doc.version }}</strong></td>
        <td><strong>{{ doc.date|date:'d.m.Y' }}</strong></td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4"><em>(keine Unterlagen)</em></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h4>Die Kommission fasst folgenden Beschluss:</h4>

{% if vote.result == '1' %}
    Es besteht kein Einwand gegen die Durchführung der Studie.
{% endif %}

{% if vote.result == '2' %}
    Die unten bezeichneten Punkte des Antrages sind entweder noch unerledigt bzw sollten von den Antragstellern geändert/ nachgereicht werden. Nach entsprechender Vorlage/Erledigung kann auch vor der nächsten Ethik-Kommissions Sitzung ein endgültig positiver Beschluß ausgefertigt werden. Der Antrag wird in der nächsten Sitzung der Kommission nicht mehr behandelt. <br/>
{% endif %}

{% if vote.result == '3a' %}
    Der TOP wird bis zur nächsten Sitzung vertagt.
{% endif %}

{% if vote.result == '3b' %}
    Es bestehen Einwände gegen die Durchführung der Studie in der eingereichten Form. Die unten angeführten Punkte sollten von den Antragstellern entsprechend geändert und der Kommission neu vorgelegt werden. Der Antrag wird in der nächsten Sitzung der Kommission nochmals behandelt. <br/>
{% endif %}

{% if vote.result == '4' %}
    Der Antrag wird von der Ethik-Kommission abgelehnt.
{% endif %}

{% if vote.result == '5' %}
    Der Antrag wurde vom Antragsteller zurückgezogen.
{% endif %}

{% if submission.current_submission_form.current_published_vote %}
    <b>Letzte:</b><br />
    {{ submission.current_submission_form.current_published_vote.text|linebreaksbr }}
{% endif %}

{% if vote.text %}
    <h4>Kommentar:</h4>
    <p>
      {{ vote.text|linebreaksbr}}
    </p>
{% endif %}


{% if submission.current_submission_form.is_amg %}
<p>"CLOCKSTOP": Die in §41a AMG genannte Frist wird ab dem Sitzungstag bis zum vollständigen Eingelangen der in diesem Votm gefordereten Informationen gehemmt.
</p>
{% endif %}

{% if submission.current_submission_form.is_amg or submission.current_submission_form.is_mpg %}
<p>
    Die Ethik-Kommision geht - rechtlich unverbindlich - davon aus, daß es sich um eine klinische Prüfung gemäß {% if submission.current_submission_form.is_amg %}AMG{% endif %}{% if submission.current_submission_form.is_amg and submission.current_submission_form.is_mpg %}/{% endif %}{% if submission.current_submission_form.is_mpg %}MPG{% endif %} handelt.
</p>
{% else %}
<p>
    Die Ethik-Kommision geht - rechtlich unverbindlich - davon aus, daß es sich <b>nicht</b> um eine klinische Prüfung gemäß AMG/MPG handelt.
</p>
{% endif %}

<p>
    Mitgliederliste der Ethik-Kommission (aktueller Stand am Sitzungstag) beiliegend. Mitglieder der Ethik-Kommission, die für diesen Tagesordnungspunkt als befangen anzusehen waren und daher laut Geschäftsordnung an der Entscheidungsfindung/Abstimmung nicht teilgenommen haben:  
    {% for bef in submission.get_befangene %}    
        {{ bef.first_name }} {{ bef.last_name }}<br/>
    {% empty %}
        <b>keine</b>    
    {% endfor %}
</p>
    
{% endblock %}

{% block footer %}
<div id="footer">
  <span class="footer_left">EK Nr: {{ ec_number }}</span>
  <span class="footer_middle">Seite x von y </span>
  <span class="footer_right">Datum der Signierung</span>
</div>
{% endblock %}