<!-- feedback details -->

{% load feedback %}

{% url feedback_input type 1 fb.origin as fb_url %}

<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}feedback/css/feedback.css" />
  <title>Feedback Details</title>
</head>

<body>
  <span class="fb_title">Details</span>

  <ol class="fb_entry">
    <li class "fb_field">
      <div class="fb_field_name">Typ</div>
      <div class="fb_field_value">{{ type|fb_type }}</div>
    </li>
    <li class "fb_field">
      <div class="fb_field_name">Beschreibung</div>
      <div class="fb_field_value">{{ fb.description }}</div>
    </li>
    <li class "fb_field">
      <div class="fb_field_name">Zusammenfassung</div>
      <div class="fb_field_value">{{ fb.summary }}</div>
    </li>
    <li class "fb_field">
      <div class="fb_field_name">Autor</div>
      <div class="fb_field_value">{{ fb.user }}</div>
    </li>
    <li class "fb_field">
      <div class="fb_field_name">Datum</div>
      <div class="fb_field_value">{{ fb.pub_date }}</div>
    </li>
    <li class "fb_field">
      <div class="fb_field_name">Me Too Voten</div>
      <div class="fb_field_value">{% for u in me2_votes %}{{ u }}{% ifequal u fb.user %} <span class="fb_error">data bug!</span>{% endifequal %}{% if not forloop.last %}, {% endif %}{% empty %}(Keine){% endfor %}</div>
    </li>
    <li class "fb_field">
      <div class="fb_field_name">Herkunft</div>
      <div class="fb_field_value">{{ fb.origin|fb_origin }}</div>
    </li>
  </ol>

  <br/>

  <span class="fb_link"><a href="{{ fb_url }}">Weiteres Feedback</a></span>
  <br/>
  <span class="fb_link"><a href="{% url feedback_origins %}">Übersicht</a></span>

</body>

</html>

