<!-- feedback thanks -->

{% load feedback %}
{% url feedback_input type page origin as fb_url %}

<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}feedback/css/feedback.css" />
  <title>Feedback Dank</title>
</head>

<body>

  <div class="fb_title" style="text-align:center;margin:20px 10px;">Vielen Dank für die Meldung {{ type|fb_type_of_your }}!</div>

  <p style="margin-bottom:20px;font-size:10pt;">
    Das Feedback wird von uns schnellstmöglich bearbeitet.<br />
    Bitte haben sie Verständnis wenn es trotzdem zu Wartezeiten von einigen Tagen kommen kann.<br />
    Setzen Sie sich bei einer dringlichen Frist mit der Ethikkommission bezüglich des Feedbacks telefonisch in Verbindung.
  </p>

  <ol class="fb_entry">
    <li class="fb_field">
      <div class="fb_field_name">Feedbacktyp</div>
      <div class="fb_field_value">{{ type|fb_type }}</div>
    </li>
    <li class="fb_field">
      <div class="fb_field_name">Titel</div> 
      <div class="fb_field_value">{{ summary }}</div>
    </li>
    <li class="fb_field">
      <div class="fb_field_name">Beschreibung</div> 
      <div class="fb_field_value">{{ description|linebreaksbr }}</div>
    </li>
  </ol>

  <span class="fb_link" style="margin-top:20px;"><a href="{{ fb_url }}">Weiteres Feedback</a></span>

</body>

</html>

